[2020-01-11 22:33] Mr-Nivek commented on #1524
Claims to Windows Token Service service on all MinRoles causes the health check rule 'Server role configuration isn't correct' to state the server is non-compliant.

Either the health check rule is broken or the documentation needs to be updated. I am leaning towards the health check rule is wrong.

[2020-01-12 13:45] jcgonzalezmartin opened #1675 "Update SharePoint hybrid support to reflect what's the real story in regards SP 2019"
Hybrid support pages should be updated to reflect any concerns in regards of hybrid features with SP 2019. It seems all the pages reflect the support provided by SP 2013 and SP 2016, but nothing about SP 2019 is being said.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 04f79181-8511-5f1f-e227-b3edd79abaf7
* Version In

[2020-01-12 18:16] tseward commented on #1675
What needs to be changed? The features are identical with 2016.

[2020-01-13 00:06] SCCMAdmin commented on #1478
Bummer. Thanks for trying @get-itips .
Fianlly, for future reference what does PR stand for?

[2020-01-13 04:35] scanum commented on #1666
thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us posted he

[2020-01-13 04:35] #1666 closed

[2020-01-13 04:35] scanum commented on #1667
thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us posted he

[2020-01-13 04:35] #1667 closed

[2020-01-13 04:36] scanum commented on #1673
@OfficeGlobal Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-01-13 04:36] scanum commented on #1672
@OfficeGlobal Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-01-13 04:36] scanum commented on #1671
@OfficeGlobal Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-01-13 05:50] dneimke opened #1679 "Updated release notes"
I've noticed that the [release notes](https://docs.microsoft.com/en-us/sharepointmigration/new-and-improved-features-in-the-sharepoint-migration-tool) on the Microsoft Docs site appear to be lagging the actual releases.

The latest version I have is 3.2.115.2.

Is there any chance that these could be updated and include information about fixes that have been included.  For example, I've noticed so

[2020-01-13 07:40] lindspea commented on #1636
@LeonSig thank you for pointing this out and helping improve MS Docs.  I'll look into having the wording changed for clarification.

[2020-01-13 14:13] #1674 closed

[2020-01-13 14:29] get-itips commented on #1478
Pull Request, the way we have to propose changes to articles. 👍

[2020-01-13 16:14] paulewert commented on #1383
@tseward Correct. The information in the instructions for a non-expired certificate were helpful for fixing the issue with some trial-and-error, but the process for fixing an already expired certificate was different. The instructions would be much better if they included directions for _both_ scenarios more defined. Thanks!

[2020-01-13 21:21] MikeTheNomadArchitect opened #1680 "This page needs a diagram"
It would be really helpful to include a diagram (or other graphic) showing the sequence of events (number of days after termination, manager notification, items permanently deleted, etc.)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 762932d1-8eef-ea51-c51d-a40ed88b8237
* Version Independent ID: d0ef71ba-21b3-1352-85b

[2020-01-13 21:34] tseward commented on #1556
@scanum @MarwaMS92 this has been addressed in the new article https://docs.microsoft.com/en-us/sharepoint/hybrid/removing-sharepoint-hybrid-scenarios.

[2020-01-13 22:42] dariomws306 commented on #1382
Hi @paulewert, thank you for your feedback.

I'm agree with @tseward but I have created a Pull Request so in this way the author could approve it or not if he/she thinks this solution is accurate.

[2020-01-13 22:46] #1679 closed

[2020-01-13 22:47] dneimke commented on #1679
Will re-open as linked issue from MS Docs

[2020-01-13 22:48] dneimke opened #1682 "Update release notes and add release date information"
I've noticed that the release notes on the Microsoft Docs site appear to be lagging the actual releases.

The latest version I have is 3.2.115.2 whereas the most recently listed release on the site is 3.2.114.0.

Is there any chance that these could be updated and include information about fixes that have been included. For example, I've noticed some improvements in how permissions are migrated, b

[2020-01-14 14:12] MikePlumleyMSFT commented on #1523
This is covered in the [SharePoint Online Service Description](https://docs.microsoft.com/en-us/office365/servicedescriptions/sharepoint-online-service-description/sharepoint-online-service-description). Hybrid features should work with both SharePoint Standard and SharePoint Enterprise.

[2020-01-14 14:20] drmiru opened #1683 "How to resolve a sharingLink to get the user IDs?"
the docs state: "Friendly name of the user or group that has access to this item. If this is a sharing link, the user name is SharingLink"

How can I resolve the sharing link programatically to get the User IDs / emails behind the sharing link?

[2020-01-14 14:28] filipelteixeira opened #1684 "Contrary to closed issue, StandardLRS should be Standard_LRS"
Page: https://docs.microsoft.com/en-us/sharepoint/administration/sharepoint-server-2016-dev-test-environment-in-azure
Section: Create adVM

On running command as is:
[code]

Documentation on New-AzDiskConfig:
https://docs.microsoft.com/en-us/powershell/module/az.compute/new-azdiskconfig?view=azps-3.3.0

Version on az:
[code]
Powershell version:
[code]

[2020-01-14 16:14] scanum commented on #1680
@MikeTheNomadArchitect Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-01-14 16:14] scanum commented on #1683
@drmiru Could you please link the doc. Thanks

[2020-01-14 16:14] scanum commented on #1684
@filipelteixeira Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-01-14 16:15] scanum commented on #1682
@dneimke Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-01-14 19:50] dariomws306 commented on #1424
Hi @TracyGH, thank you for your feedback.

I think that note is clear, you need to have Azure AD Premium to apply this kind of restrictions. Users without AAD Premium shouldn't enable this.

[2020-01-14 19:52] dariomws306 commented on #1395
Hi @altevid, thank you for your feedback.

@tseward @MikePlumleyMSFT could you help on this issue? Do you think we can add this information? Thanks!

[2020-01-14 20:13] tseward commented on #1395
Typically the cmdlets don't go into this level of detail as the internal implementation may change over time and that information isn't readily surfaced outside of the product group.

[2020-01-15 00:06] jdvuyk commented on #323
Worth more persevering I found that this functionality actually works.  but it takes DAYS and DAYS to take effect.  I believe the best way to trigger the functionality is to wait for a day, reboot then wait for a day.  randomly things seem to appear after that.  Still shockingly terrible?  Yup.  but working? sort of.

[2020-01-15 02:50] carla125 opened #1687 "Permission Reports"
Does SPMT provides reports about Permissions?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5b9a5578-afdc-5a5b-4255-85c4deb33b6c
* Version Independent ID: 92e37fdd-c0d1-2fc0-4c98-989d292fcddf
* Content: [Using the SharePoint Migration Tool Reports - Migrate to SharePoint and OneDrive](https://docs.microsoft.com/en-us/

[2020-01-15 07:06] j0rt3g4 commented on #1544
Hello @scanum
I think that all the information related to this issue is outdated, the article was updated recently by admins and there is a video explaining how to get the features, no more beta or preview, the features are up and running.

[2020-01-15 07:15] j0rt3g4 commented on #1548
Changes were made on  #1688

[2020-01-15 07:33] j0rt3g4 commented on #1554
PR #1689

[2020-01-15 07:53] j0rt3g4 commented on #1559
@BakkerJan  Added the note in the PR #1690  @scanum

[2020-01-15 08:10] j0rt3g4 commented on #1557
#aded information on  #1691

[2020-01-15 08:13] j0rt3g4 commented on #1562
Hello @ScottStauffer, can you clarify what is the issue or what would you like to be changed to the article because it's not clear for us the reason why you create it?
Thank you in advance

[2020-01-15 09:56] lindspea commented on #1636
@kaarins please let me know if we can elaborate on the PowerApps and Flows and if I can add the suggested information in a PR.

[2020-01-15 10:19] lindspea commented on #1442
@scanum can be closed thanks.

[2020-01-15 15:56] Padavid opened #1693 "Show support for SharePoint 2010"
The page says that these can be used for migration from SharePoint 2013 to SPO only. These command and SPMT now support SharePoint 2010 also.

This should be changed: "This article is about the new PowerShell cmdlets based on the SharePoint Migration Tool (SPMT) migration engine. They can be used to move files from SharePoint 2013 on-premises document libraries and list items, and file shares to O

[2020-01-15 19:44] drmiru commented on #1683
https://docs.microsoft.com/en-us/sharepoint/sharing-reports

[2020-01-15 20:26] SLCPS commented on #1454
Wow.

[2020-01-15 20:28] SLCPS commented on #1419
What is the expected time frame for this?

[2020-01-16 00:08] j0rt3g4 commented on #1560
I've verified @BakkerJan  that it does a Silent Merge it has always been like that ... I would replicate it on another account

[2020-01-16 00:57] dneimke opened #1694 "Provide information about where to get help on SPMT"
The [Troubleshooting Page](https://docs.microsoft.com/en-us/sharepointmigration/troubleshooting-common-spmt-issues) is OK, but it is far from comprehensive.

For example, I am consistently getting errors with the following message when I run migrations: `0x01410001 | Packaging Failure: Cannot open the file`.  The message is mentioned on the troubleshooting page, with the following advice:

[code]

[2020-01-16 02:05] scanum commented on #1694
@dneimke thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us

[2020-01-16 02:05] #1694 closed

[2020-01-16 02:05] scanum commented on #1693
@Padavid Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-01-16 02:40] dneimke commented on #1694
Thanks @scanum , will do!

[2020-01-16 17:10] get-itips commented on #1524
Hello @MikePlumleyMSFT
Can you help me confirm if the documentation is wrong?
It seems that running Claims to Windows Token Service service on all MinRoles except custom is non-compliant.. if it is, we should change doc.
Thank you

[2020-01-16 17:50] pacelote opened #1695 "Public access to a folder in a private group?"
The page details how to give access to known individuals and group. It does not describe, however, how to provide PUBLIC access to a folder in a private group.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f9e8d0f1-f6a3-82c0-e46b-974e167fe5b1
* Version Independent ID: 22b0a6c2-2e90-34ab-c3c8-bd7ba721c791
* Content: [C

[2020-01-17 02:39] scanum commented on #1695
@pacelote Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-01-17 07:33] j0rt3g4 commented on #1555
Hello @jbhoward  The description of the issue seems more like a support ticket than a correction on the documentation itself.

[2020-01-17 08:09] j0rt3g4 commented on #1636
Comments taken on PR #1696

[2020-01-17 08:26] j0rt3g4 commented on #1563
Sadly @ScottStauffer  right now that document or article doesn't exist, because that setting is not auditable, other than searching it over the user's interface of the O365 portal.
I'd  recommend you to create a user's voice case on
https://office365.uservoice.com/
or give support to the existing proposals as:
https://office365.uservoice.com/forums/264636-general/suggestions/36627967-hide-specific

[2020-01-17 08:32] j0rt3g4 commented on #1566
Hello @Leif-Frederiksen  The issue is that you're using the wron'g cmdlet to connecto to your SPO site.

Please check
https://docs.microsoft.com/en-us/powershell/sharepoint/sharepoint-online/connect-sharepoint-online?view=sharepoint-ps

the correct command is "Connect-SPOService" and you will be able to get the list of redirections using:

[code]

[2020-01-17 08:52] j0rt3g4 commented on #1619
If a retention policy enables this to take relevance over the deletion process.

So a person can delete a file permanently on outlook but those files are still recoverable using the content search options.

[2020-01-17 08:57] j0rt3g4 commented on #1578
@JonathanHerschel
I think you'd need this cmdlet:
 ´´´Powershell
Connect-SPOService
Get-SPOSite -Template REDIRECTSITE#0
´´´
Actually there's none usersvoice related to this on
https://office365.uservoice.com/

[2020-01-17 08:59] Reeced40 commented on #1476
@lemon-at-ocas Thank you for reaching out. The link seems to be working fine my side. Please let me know if you have anymore questions.

[2020-01-17 09:08] j0rt3g4 commented on #1575
@robertafreese
You can install it using any of these 2 methods

# Direct download
https://www.microsoft.com/download/details.aspx?id=35588

# Using Powershell on a Win10 machine
- Open up Powershell as an administrator, then run:
[code]

[2020-01-17 09:19] Reeced40 commented on #1650
@OfficeGlobal Could this be the correct link that you are looking for? https://docs.microsoft.com/onedrive/deploy-on-windows

[2020-01-17 09:28] j0rt3g4 commented on #1573
Hello @tariqbell  We'll review where this file should be put I've got then already fixed. thank you
[Office_365_Communication_Guide.docx](https://github.com/MicrosoftDocs/OfficeDocs-SharePoint/files/4076108/Office_365_Communication_Guide.docx)

[2020-01-17 09:59] j0rt3g4 commented on #1571
- Removed some extra lines
- Fixed PS Code on PR #1700

[2020-01-17 14:01] MikePlumleyMSFT commented on #1695
@pacelote you can share a folder with people outside the group by using a sharing link. See [Share SharePoint files and folders](https://support.office.com/article/1fe37332-0f9a-4719-970e-d2578da4941c) for details.

[2020-01-17 14:32] donzelch opened #1702 "Nice for overview, but ..."
Practically not usable at all.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c4d14723-ab30-719c-c69d-e42f94a680b5
* Version Independent ID: 182bf188-87f6-f966-4e86-77ef8927905c
* Content: [Introduction to managed metadata - SharePoint Online](https://docs.microsoft.com/en-us/sharepoint/managed-metadata#feedback)
* Con

[2020-01-17 16:30] dataCollegechurch opened #1703 "Search Suggestions"
Can you provide some pics of what this will look like once implemented for the end user?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 393443ee-bbb2-09d5-c16c-2522ca855c57
* Version Independent ID: 44ae935c-f080-d1ce-4c2c-463121fb7911
* Content: [Customize query suggestions in SharePoint search - SharePoint Online](ht

[2020-01-17 16:53] spalmo opened #1704 "Change SPMT v2 to SPMT v3"
Typo on this page: still referring to SharePoint Migration Tool Version 2 which needs to change to Version 3

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 36d01d11-eea9-7f49-693d-25c3fecc6253
* Version Independent ID: 6749a619-2b75-1561-81e9-b45888c58c4b
* Content: [How to use the SharePoint Migration Tool - Migrate t

[2020-01-17 17:10] pacelote commented on #1695
True (and that's what I did) but it forces me to list individuals... one by one (painful, when there are 100+ of them). Instead, I want to make the folder "free for all" under the organization.

[2020-01-17 17:16] MikePlumleyMSFT commented on #1695
You can use a "People in your organization" link to grant access to the folder to anyone in the organization. You can also grant direct access to the folder to the "Everyone except external users" group.

[2020-01-17 23:36] get-itips commented on #1523
Hello @scanum
Question should be covered now, please review and close this thread. Thank you 👍

[2020-01-17 23:37] get-itips commented on #1519
Hello @scanum you can close this now 👍

[2020-01-18 20:49] MarwaMS92 commented on #1556
Thanks so much , this is very helpful 😊

Thanks,
Marwa Mohamed.

From: Trevor Seward<mailto:notifications@github.com>
Sent: Monday, January 13, 2020 11:34 PM
To: MicrosoftDocs/OfficeDocs-SharePoint<mailto:OfficeDocs-SharePoint@noreply.github.com>
Cc: MarwaMS92<mailto:marwa.mohamed992@hotmail.com>; Mention<mailto:mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/OfficeDocs-SharePoint] Rollbac

[2020-01-19 03:19] CharlesYeomans opened #1705 "Wrong Link"
I think the link learn more in:
Having a great search experience is critical for the success of the home site. Learn more
is wrong.
It goes to a partner site, URL:
https://transform.microsoft.com/login?returnUrl=%2Fproducts%2Fmicrosoft-search
You have to be a partner to log in.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-01-20 05:49] scanum commented on #1702
@donzelch Thanks for the feedback, could you please let us know a little bit in more detail what you would like us to update/change? Thanks!

[2020-01-20 05:50] scanum commented on #1703
@dataCollegechurch  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-01-20 05:50] scanum commented on #1704
@spalmo  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-01-20 05:50] scanum commented on #1705
@CharlesYeomans  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-01-20 09:23] OfficeGlobal commented on #1650
@Reeced40 it seems it could be correct link, but I would rather to check with the author of the article  ( @kaarins )

[2020-01-20 10:09] OfficeGlobal opened #1706 "[LOC] Invalid link in an article"
**article name:** upgrade-my-sites-2019
**author:** mikeplum
**URL:** https://docs.microsoft.com/en-us/sharepoint/upgrade-and-update/upgrade-my-sites-2019
___

**Repro steps:**
 1. Go to URL above
 2. Check "Upgrade a site collection" link text (https://support.office.com/article/7f66dfdc-9a3d-4769-8a05-c654e4a27ec2)
 3. Click the link --> 404 error page

**Expected:** link should be updated or re

[2020-01-20 19:54] appieschot commented on #1566
@Leif-Frederiksen you can get the redirect from the status of the response. If you use PowerShell to determine the redirect sites, just read the response. I did a blogpost on reporting on that info that migth come in handy: https://www.cloudappie.nl/remove-orphaned-redirectsites/. I couldn't find another way to determine the redirect status, but this works for my usecase.

[2020-01-20 20:50] frexit opened #1708 "Any timeline on a release in Germany ?"
Any timeline on a release in Germany ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 69433cdb-79fb-e59d-e208-0c1201b74bfa
* Version Independent ID: e69001d7-2292-9f1a-e3d8-cf0afb9b18df
* Content: [B2B Sync](https://docs.microsoft.com/en-us/onedrive/b2b-sync#feedback)
* Content Source: [OneDrive/b2b-sync.md](https://gi

[2020-01-21 02:22] scanum commented on #1708
@frexit thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us p

[2020-01-21 02:22] #1708 closed

[2020-01-21 02:23] scanum commented on #1706
@OfficeGlobal Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-01-21 03:12] AJRus commented on #1326
Where was this addressed? It's still missing.

[2020-01-21 14:43] Leif-Frederiksen commented on #1566
@appieschot  - this is exactly what I was looking for! Thank you very much :-)

Regards
Leif

[2020-01-21 15:05] cmosses opened #1710 "What about Teams sites?"
MS Teams automatically created many subsites, one for each team created in MS Teams. What will happen with them if I do the swap? The page says "Replacing the root site with another site replaces any subsites within the sites." Does that mean all the Teams sites will be lost?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2020-01-21 17:55] tseward commented on #1710
Microsoft Teams creates Site Collections, not subsites.

[2020-01-22 01:35] AJRus commented on #1326
Just a note - you have to be logged in as a sharepoint or global admin to get the Library ID - the documentation does reflect that. I dont believe I missed that in my initial review.

[2020-01-22 03:12] tseward commented on #1326
Any user with access to the library can get the ID.

[2020-01-22 04:08] AJRus commented on #1326
According to the program manager, the Copy Library ID is only available to a tenant admin, and the documentation now reflects that you have to be a Sharepoint or Global admin to obtain it.

[2020-01-22 04:50] tseward commented on #1326
No, that isn't true at all. The library ID is exposed to anyone who can view the library settings (it's part of the URL) and there are other means to get the ID that non-admins can use, e.g. PnP cmdlets.

[2020-01-22 14:02] ChrisGreenacre opened #1711 "Typos..."
Seems to be a fair few typos in "The underlying technologies" section...

 Microsoft-my.shareppoint.com

Sharepoint is spelt wrong, twice.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: df67a6d7-8d87-cd0f-ceba-740727cc2aa7
* Version Independent ID: 0e33e2ed-b837-46b1-c587-0be823f12e5e
* Content: [How sync works](https:

[2020-01-22 16:49] scanum commented on #1711
@ChrisGreenacre Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-01-22 16:49] scanum commented on #1710
@cmosses Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-01-22 16:49] #1710 closed

[2020-01-23 10:54] bafjohnson opened #1712 "Private Channel Document Library Sync"
I have been using the group policy setting "Configure team site libraries to sync automatically" in order to connect users to libraries for teams they are members of. But I cannot make it work for libraries of private channels. Is this expected behaviour? Can anyone recreate this? Many thanks! Happy to post more information if required.

[2020-01-23 18:43] scanum commented on #1712
@bafjohnson thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep

[2020-01-23 18:43] #1712 closed

[2020-01-24 20:58] Canis-Lupis opened #1714 "Has the migration tool changed since this document was last updated?"
I used the migration tool a few months ago to migrate some users' files from their on prem shared drive to their OneDrive.  I used a csv and mapped a drive on my computer to the source files location (Z:\Users).  In the csv, the source for each user was in the format of Z:\Users\[user's share name].  This worked just fine.  Now, however, when I go to run the migration tool, I get an error, "The so

[2020-01-24 21:01] Canis-Lupis commented on #1714
Need to make some typo corrections to my initial posting:
1.  Format was "Z:\[user's share name]" not "Z:\Users[user's share name]."
2. Source drive format was changed to "\\[server]\[share]\[user's share name]" not "\[server][share][user's share name]."

[2020-01-24 21:02] Canis-Lupis commented on #1714
Correction to my correction:
It seems slashes don't show up in text here so just be advised that my drive mappings were in the correct format.

[2020-01-27 03:14] scanum commented on #1714
@Canis-Lupis Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-01-27 14:03] theprez1980 opened #1716 "PST In One Drive Supported with Differential Sync?"
I see this document references PSTs, are they now supported in the cloud with the ongoing deployment of 100GB uploads and Differential Sync support?  In years past, having PSTs in the cloud (OneDrive, etc) was not recommended because of file locking and lack of Differential Sync so that's what's driving the question.  Thx

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2020-01-27 16:43] Balde4 opened #1717 "Multiple sites"
On the script can we target multiple for example 2 sites/groups instead of 1 site name?
$groupNames = 'SiteName1','SiteName2'

[2020-01-27 17:55] eschrader opened #1718 "Permissions"
What permissions are required to access the Secure Store in SPO?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a78da1cd-d47b-3dea-5c7e-7d7ed5061cdf
* Version Independent ID: a92e04f1-723d-f665-d377-fc2eff3a0ba3
* Content: [Create or edit a Secure Store Target Application - SharePoint Online](https://docs.microsoft.com

[2020-01-27 17:59] tseward commented on #1717
Which page are you referring to?

[2020-01-27 18:01] Balde4 commented on #1717
https://docs.microsoft.com/en-us/onedrive/b2b-sync#methods-of-sharing

[2020-01-27 18:10] tseward commented on #1717
Based on the script as-is, no. There would need to be a `foreach` for the $groupName variable. Right now it targets a single Group.

[2020-01-28 13:10] Balde4 commented on #1717
Can you share the updated script based on 2 groupNames?

[2020-01-28 15:48] tseward commented on #1717
Yes, I can update the script.

[2020-01-28 16:09] panjkov opened #1721 "SQL Server Version is missing"
https://docs.microsoft.com/en-us/SharePoint/security-for-sharepoint-server/configure-sql-server-security-for-sharepoint-environments#configuring-a-sql-server-instance-to-listen-on-a-non-default-port

"SQL Server SP1" - in this sentence version of SQL Server is missing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eff

[2020-01-28 16:30] kk-sdsu opened #1722 "Quick Launch Links Open in New Tab"
According to this section https://docs.microsoft.com/en-us/sharepoint/plan-navigation-modern-experience#link-targets I would expect Quick Launch links from other domains to open in a new tab, but this is not the case. In Modern there is no way to make external links in Quick Launch open in a new tab. In Classic we have the Site setting "Navigation" that would allow this feature. This should either

[2020-01-29 01:34] Krytical13 commented on #1484
@get-itips

The real problem is that you and the others who contribute here on Github actually respond.

On UserVoice, I think people don't feel heard...
There will be something on UserVoice with hundreds or thousands of responses,
but silence from MS or this fabled product team you mention..

It's your own fault for being so good at your job lol.

[2020-01-29 11:49] OfficeGlobal commented on #1654
Hello,

The issue is still repro, could you please check it again ?

Thank you

[2020-01-29 12:58] Balde4 commented on #1717
Any update? Once you include the foreach for the 2 groups I will update to cover more groups as this is a very typical use case.

[2020-01-29 14:45] Matt-Mueller-MSFT commented on #1581
Previous comment says, it says this is solved but does not look like the document is updated. When will it be corrected?

[2020-01-29 15:42] j0rt3g4 commented on #1581
Hello @Matt-Mueller-MSFT
I've created a PR (Pull Request, that you can see it as OPEN)
![image](https://user-images.githubusercontent.com/5489996/73371623-8cde2200-427b-11ea-8ee2-4d323101c98c.png)

Actually is reviewed by @JoanneHendrickson  and she needs to MERGE my content and it will be updated in a week after MERGING. it's the way github works.

[2020-01-29 16:26] get-itips commented on #1484
Hello @Krytical13
I can understand your frustration, however, let me tell you that we know that indeed the product group reviews the suggestions created in user voice.

I took the time to browse SharePoint User Voice, and found this thread  [Enable renaming the SPO tenant domain](https://sharepoint.uservoice.com/forums/329214-sites-and-collaboration/suggestions/13217277-enable-renaming-the-site-co

[2020-01-29 16:32] boomalator commented on #1484
At the earth-shattering pace of Cloud Development where UI changes are pushed out weekly, or even daily, that thread is now in it's FOURTH year. It has thousands of votes in support, but untold thousands more users that just think it's common sense to be able to rename a domain. (Active Directory domain rename, for example, was introduced in Windows Server 2003.)

"Working on it" for four years pr

[2020-01-29 16:41] get-itips commented on #1484
The _Working on it_ reply message is from November 15, 2019.

[2020-01-29 17:24] boomalator commented on #1484
Meaning that it takes four years for the Product Group to acknowledge it?

I, personally, doubt very much that it's getting much traction, because I think it would be a pretty major roadmap item to allow tenant name changes or sharepoint vanity URLs.

[2020-01-29 18:19] Krytical13 commented on #1484
@get-itips
Maybe that's something the documentation team can do?
Update the road map? You'd have to be able to find out where to put it on the roadmap internally...
This internal discussion would potentially push the product team to come up with a deadline and (hopefully) deliver?

[2020-01-30 01:54] tseward commented on #1717
@Balde4 keep in mind we edit these docs/scripts as time permits. I personally won't have time prior to this weekend to make the requested edits.

[2020-01-30 04:39] zylantha opened #1724 "This setting also blocks the publishing of SharePoint 2010 workflows"
It should also include SharePoint 2010 workflow publishing as one of the things that this setting breaks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aa561c35-c73d-32d1-a553-5c96ce179a8c
* Version Independent ID: 819af39f-8ee0-e7f8-f591-09d464225e50
* Content: [Allow or prevent custom script - SharePoint Online](htt

[2020-01-30 07:05] PrabhaSP2010 opened #1725 "Unable to Migrate Large Library with 48771 Files and Folder Through SP Migration Tool"
Hi Team,

I am trying to migrate library from SP 2013 to SP Online through SP Migration Tool. The document library has 48771 files and folders.
While trying to migrate the library getting an below error after 60% or 80% or 90%
ScanSharePoint Access Failure - Web issue. Sites:http://sharepoint2013/subsite User: domain\loginname (ErrorCode: 0x02010018)

I have tried 4 times and it is taking every ti

[2020-01-30 07:12] PrabhaSP2010 opened #1726 "Filter out lists with names - SP Migration Tool"
Hi Team,

I am migrating the site from SP 2013 to SP Online by using SPMT.
I am trying to use the setting option **Filter out lists with names** from advanced settings. Able to exclude one library but trying to filter 2 libraries by separating with comma but tool is not excluding with this approach.
Can you please let me know, how do i filter when want to be exclude more than 1 list or library.

[2020-01-30 12:16] get-itips commented on #1478
@scanum Please kindly close this one. Thanks

[2020-01-30 12:18] get-itips commented on #1480
Hello @scanum kindly please close this thread. thanks

[2020-01-30 12:24] get-itips commented on #1481
Hello @kaarins can you guide us here ? Thanks

[2020-01-30 12:24] get-itips commented on #1483
Hello @scanum please kindly close this one. Thanks

[2020-01-30 12:37] get-itips commented on #1484
Hello @Krytical13 How are you? Hope you are doing good.

Our scope of collaboration here is: certain repos in docs.microsoft.com, we do not have influence in Roadmap documentation.
As our only duty here is to maintain and correct documentation, I am afraid I can not help you beyond that, whenever the current feature is changed, I could update the document based on that, however I can not help on t

[2020-01-30 12:38] get-itips commented on #1490
@scanum please kindly close this thread. thanks

[2020-01-30 12:40] get-itips commented on #1492
please @JoanneHendrickson can you step in to confirm if later versions are "supported"? Thank you

[2020-01-30 12:41] get-itips commented on #1494
@scanum kindly close this one, thanks

[2020-01-30 12:45] get-itips commented on #1519
Hello @scanum kindly close this now. thanks

[2020-01-30 12:46] get-itips commented on #1539
@scanum please close this one thanks

[2020-01-30 12:46] get-itips commented on #1534
@scanum  please close this thread. thanks

[2020-01-30 12:58] get-itips commented on #1095
@kaarins could you get the update to this article? Thank you! 👍

[2020-01-30 15:22] #1721 closed

[2020-01-30 18:45] nidelius commented on #1217
We're also wondering about RD Session Host scenarios. Installing the onedrivesetup.exe /alluser is not working for us
 on PoC test of MS Server 2019 RDSH environment

[2020-01-31 00:37] Todd312 commented on #1534
I just found that this is meant to be fixed from another website, however I don't have permission to put in a request to check if this is true. Can anyone please check this and then update this page and thread if it has actually been fixed

https://office365itpros.com/2019/05/02/sharepoint-online-rename-site-names/

"Update: January 2, 2020: Renaming a site used to have an effect on the connection

[2020-01-31 04:52] scanum commented on #1716
@theprez1980  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-01-31 04:52] scanum commented on #1722
@kk-sdsu  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-01-31 04:53] scanum commented on #1724
@zylantha Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-01-31 04:53] scanum commented on #1726
@PrabhaSP2010 thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please kee

[2020-01-31 04:53] #1726 closed

[2020-01-31 04:53] scanum commented on #1725
@PrabhaSP2010 thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please kee

[2020-01-31 04:53] #1725 closed

[2020-01-31 07:44] j0rt3g4 opened #1727 "PS Correction to get only the URLs in a single line instead of a object with property URL."
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4f92a9b5-b3b2-aceb-9813-a3e48bb469ca
* Version Independent ID: 55aa37c6-998b-a8d8-8986-88c4ed868aea
* Content: [Get a list of all user OneDrive URLs in your organization](https://docs.microsoft.com/en-us/onedrive/list-onedrive-urls)
* Content Source: [OneDrive/list-

[2020-01-31 14:23] Chukaka opened #1728 "5TB"
According to this "If your organization has a qualifying Office 365 plan and 5 or more users, you can change the storage space to more than 5 TB.", it should not be possible to proceed with increasing the cap if you do not have the required amount of OD/SPO plan 2s.
However, it is still possible to do so even if you have just a single plan 2 license.

Would the max storage for a given account reve

[2020-01-31 16:22] Balde4 commented on #1717
@tseward, that'll be fine, I ll check back on Monday. Thanks

[2020-01-31 16:24] obhayes opened #1729 "Migration Speeds - Package the Content Section"
In the section where you provide estimates of the type of migration speeds you may achieve, i feel the information is a bit misleading as it talks about the "Maximum speed". In reality what is the "expected speed" customers can expect based on prior stats?  For example, maybe 6 months ago, using SPMT or migration tools from 3rd parties i could see a throughput of 5-10GB per hour into SharePoint On

[2020-02-01 15:43] cuong-tran commented on #839
Mine macbook, running 2 account at same time: 1 personal & 1 is Office360 subscribed.
The account Office360 has File On-Demand turned on and working.
While at same time, same machine, same user, Personal account crashes every time I try turn on File On-Demand.
Weird.

[2020-02-01 16:51] cuong-tran commented on #839
I had same issue. Thing is I have 2 account linked at same time, 1 with File On-Demand working while the other crashes everytime trying to turn on File On-Demand.

Found out the reason is that I sync to a folder on second drive, not the default boot-up system drive. After unlink account then relink again, keep default folder which OneDrive suggests, File On-Demand works, and turned on automaticall

[2020-02-01 17:42] PrabhaSP2010 opened #1731 "SPMT - Error - Failed to Read the file:Could not get all list item versions"
Hi Team,

I am using SPMT (Microsoft SharePoint Migration Tool) to migrate the content from SP 2013 to SP Online.

While migrating the content getting an error message "Failed to Read the   file:Could not get all list item versions" and error code of error is '0x0131000D'.

Can you please let me know, if you have any solution for this error.

[2020-02-01 18:01] tseward commented on #1717
Reading over this script, the `$redirectUrl` value is where the invited user will be directed to upon accepting the invite while the $groupName value is the specified Azure AD Security Group (not a Site, I think that is poor wording).

In other words, the idea here is you create a single AAD Security Group, add it to one or more sites (nested in a SharePoint Group), then send out the invite. The `

[2020-02-01 18:05] tseward commented on #1729
Expected would be too scenario-specific with too many factors to provide a reliable number. Yes, it is filled with unknowns. Since the conditions on the Azure -> SPO/ODfB are automatically throttled based on resource usage in the stamp, available bandwidth, possible service issues, among other factors, providing a hard and fast guide would be virtually impossible.

Unfortunately that is just how S

[2020-02-01 21:51] ingepepe opened #1732 "Owners tab is now Permissions tab"
There is now a disctinction in the details pane: Site Admins vs Site Owners. How does each autopopulate from, or relate to, the Microsoft 365 admin center

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 659548ea-eb6e-8eee-2892-f352512db6a1
* Version Independent ID: 2e0e6017-2b29-e831-ff61-0a798dfb175f
* Content: [Manage

[2020-02-03 02:30] scanum commented on #1728
@Chukaka Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-02-03 02:30] scanum commented on #1732
@ingepepe Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-02-03 02:30] scanum commented on #1729
@obhayes Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-03 02:30] #1729 closed

[2020-02-03 02:31] scanum commented on #1731
@PrabhaSP2010 thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please kee

[2020-02-03 02:31] #1731 closed

[2020-02-03 08:45] prashant1380 commented on #1534
This still does not work at least in our tenant. When we try to drag/drop a file to Teams channel File tab then upload fails.

[2020-02-03 09:17] Balde4 commented on #1717
Can you share the foreach for the 2 AAD Security Groups ($groupNames) so the invited user is added to both groups instead of one group?

[2020-02-03 12:45] JonesMikael opened #1733 "Migration Manager work folder Missing"
“ Migration Manager work folder” is not available, at least not in our tenant. Should add clarification if this is not available in all tenants.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8c58f8a6-488f-7e3b-47f4-f5816801e804
* Version Independent ID: eed21d0d-7343-17eb-2afe-6cba550441a5
* Content: [Migration Manage

[2020-02-03 13:11] MadaNechifor commented on #483
Hello! Are there any news on the global navigation in terms of its availability?

[2020-02-03 15:41] UmrG opened #1734 "Article does not apply to 2016 and 2019."
Hello,
the article "https://docs.microsoft.com/en-us/sharepoint/security-for-sharepoint-server/plan-for-administrative-and-service-accounts" says it applies to 2013, 2016 and 2019.

but when read the same article with "https://docs.microsoft.com/en-us/sharepoint/install/account-permissions-and-security-settings-in-sharepoint-server-2016" you can see some conflicting information specially regarding

[2020-02-03 19:12] jczinger commented on #1534
I renamed an SPO site connected to an MS Team on friday. After about 90 minutes, the team was working correctly. I can browse/add/remove documents from inside of Teams for all channels. I've since deleted the SPO site redirect and re-created a new site on the previous URL. Everything is working as expected.

[2020-02-03 20:18] kenwith commented on #1484
Completely agree with this thread and also voted on the User Voice that was linked: https://sharepoint.uservoice.com/forums/329214-sites-and-collaboration/suggestions/13217277-enable-renaming-the-site-collection-urls

The good news is that it looks like someone from product team responded and they are working on it. Looking forward to updating this documentation when this is possible!

[2020-02-03 20:18] #1484 closed

[2020-02-03 22:50] turpie commented on #1331
Make sure that g.msn.com isn't blocked on your network. We had the msn.com domain blocked at our school (due to the headlines often being unsuitable for young children.)
Once we whitelisted g.msn.com, OneDrive KFM Backup tab started working again.

[2020-02-04 14:57] jebalert opened #1735 "What is not supported?"
Would be helpful to see what SPMT does not support

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2d8dd218-a3cd-85e8-bdea-f491b98e9e48
* Version Independent ID: 1acc3912-f82b-510e-262b-785040d28795
* Content: [What does SPMT support? - Migrate to SharePoint and OneDrive](https://docs.microsoft.com/en-us/sharepointmigra

[2020-02-04 14:59] wizneeraj opened #1736 "Update PowerShell command's comment"
Please clarify what enabling & disabling the feature does to the site as the comments in the PowerShell code are not clear

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8659498a-6c73-763a-31a0-354010572115
* Version Independent ID: dc4c2e96-fb55-67c0-ec7b-6f1f608eb0cb
* Content: [Disable automatic modernization of cla

[2020-02-04 17:44] JoanneHendrickson commented on #1733
Hi Mikael:  Can you contact me directly @jhendr@microsoft.com with the following info:  tenant info, such as TenantID or url, so our dev team can check your environment.

Joanne

[2020-02-05 01:18] hsantan opened #1737 "Missing PerformanceReport.csv"
I didn't find PerformanceReport.csv in this page. Could you provide the detail about this report?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5b9a5578-afdc-5a5b-4255-85c4deb33b6c
* Version Independent ID: 92e37fdd-c0d1-2fc0-4c98-989d292fcddf
* Content: [Using the SharePoint Migration Tool Reports - Migrate to ShareP

[2020-02-05 07:27] fruitybasket commented on #1564
I got stuck in the same situation. May I know the solution for this error message where SPMT says "We are unable to connect to the site you provided".  Any help on this would be appreciated.

[2020-02-05 07:38] Reeced40 commented on #1476
@kaarins

[2020-02-05 07:43] Reeced40 commented on #1653
@OfficeGlobal It looks like the link has been updated. Please check and let me know.

[2020-02-05 08:22] OfficeGlobal commented on #1653
@Reeced40 it seems some redirection was applied on live page. However when I check the article directly in GH repo and search the link text, click on it, it goes to 404 error page

[2020-02-05 16:53] scanum commented on #1734
@UmrG Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-02-05 16:53] scanum commented on #1735
@jebalert Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-02-05 16:53] scanum commented on #1736
@wizneeraj Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-02-05 16:53] scanum commented on #1737
@hsantan Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-02-05 17:57] JoanneHendrickson commented on #1737
I am contacting the product team; will update the content. Thanks!

[2020-02-06 00:37] yoinuma opened #1741 ""Update criteria" section"
The content of the "Update criteria" section is different for each language-specific page.

en-us: "Home page name is Home.aspx’
ja-jp: ホームページの名前は 'default.aspx' です。

Which content is correct?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8659498a-6c73-763a-31a0-354010572115
* Version Independent ID: dc4c2e96-fb55-67c

[2020-02-06 05:45] #1727 closed

[2020-02-06 12:36] wizneeraj opened #1742 "Custom Themes impact"
Please clarify the impact on the sites with custom themes. How will the theme be displayed on the modern home page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8659498a-6c73-763a-31a0-354010572115
* Version Independent ID: dc4c2e96-fb55-67c0-ec7b-6f1f608eb0cb
* Content: [Disable automatic modernization of classic si

[2020-02-06 14:40] jorik99 opened #1743 "Not able to upload JSON file to Migration Manager"
I am trying to use the Migration Manager of SharePoint Online.
A single task is working fine. But if I want to use JSON files for bulk operations it is not working.
I have attached a screenshot.

error message:

_There is a problem with your file. Check your file to see if it is formatted correctly and that it contains less than 1000 tasks._

Who can help me with this issue.
[testjson.txt](https:/

[2020-02-06 15:30] deepayan21 opened #1744 "Clarity required regarding what type of groups"
In this page and article, in this line, "If the principal username on the target site is a group, enter TRUE. If it is not a group, enter FALSE. Required.",
1. Please clarify if the word 'group' means a SharePoint group or an AD group?
2. Is it possible to map an AD group to a SharePoint group in the target site, i.e., all members of the AD group will be populated in a SharePoint group in the targ

[2020-02-06 15:41] tseward commented on #1734
@UmrG technically it does apply, but I can see how it isn't clear. I will provide clarity in the doc regarding accounts.

[2020-02-06 16:23] UmrG commented on #1734
Thanks Trevor , Yes, just a bit clarity will help clients.

[2020-02-06 21:14] mattgaspar opened #1745 "Add Note: Default settings not supported"
Per Microsoft support I was informed there is no way to set the default external sharing settings for new team sites or group sites.
This page makes no mention of that and I think that it would be assumed by most people that whats described in this article would be the way to set the default.

"Like you said it is assumed the organization default settings control the new site creation setting but

[2020-02-07 03:58] scanum commented on #1741
@officeglobal Hi! Could you please help with the following issue? Thanks!

[2020-02-07 03:59] scanum commented on #1742
@wizneeraj Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-02-07 03:59] scanum commented on #1744
@deepayan21 Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-02-07 04:00] scanum commented on #1745
@mattgaspar Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-02-07 04:00] scanum commented on #1743
@jorik99 thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us

[2020-02-07 04:00] #1743 closed

[2020-02-07 13:31] arjunumenon opened #1746 "Unable to Make Default link type as "Existing Access""
We are trying to make the default link type as **Default Link to Existing Access** in SharePoint Site Collection. Part of that when we try to execute the command
`Set-SPOSite -Identity https://mysite.sharepoint.com/ -DefaultLinkToExistingAccess` , we are getting the error `Set-SPOSite : Parameter set cannot be resolved using the specified named parameters.
At line:1 char:1`.

Is it because that th

[2020-02-07 14:12] OfficeGlobal commented on #1741
Working on a fix

[2020-02-07 16:29] UmrG opened #1748 "Starting appfabric service from console can cause other issues."
Many experts have written that starting the service from services console can leave your farm in non working state and in some cases might have to rebuild the SharePoint farm.

This article states : "4. Restart the Distributed Cache service on all cache hosts. To restart the Distributed Cache service, go to Services on Server in Central Administration, and Start the Distributed Cache service on al

[2020-02-09 14:53] ruairidhlc opened #1751 "Maximum throughput value detection"
Regarding the 'Limit the sync client upload rate to a percentage of throughput' setting, can Microsoft advise exactly how the throughput is detected?

I assumed it would be a percent of the NIC's limitations, but it sounds like an internet speed test is carried out - "the maximum throughput value detected by the sync app can sometimes be higher or lower than expected because of the different traff

[2020-02-09 17:05] pdalvi1893 opened #1752 "Using Managed navigation for Application pages in sharepoint"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 733eb6b7-4399-93f1-cbce-a247d42bb793
* Version Independent ID: 88442db6-2065-dfa4-c481-7fc5b6dae806
* Content: [Overview of managed navigation in SharePoint Server](https://docs.microsoft.com/en-us/sharepoint/administration/overview-of-managed-navigat

[2020-02-10 04:42] scanum commented on #1748
@UmrG  Thank you for submitting feedback and contributing to the docs. Please link the documentation you are referring to.

[2020-02-10 04:42] scanum commented on #1751
@ruairidhlc  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-02-10 04:42] scanum commented on #1746
@arjunumenon thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep

[2020-02-10 04:42] #1746 closed

[2020-02-10 14:27] Arknev opened #1753 "Please elaborate on "replaces any subsites""
In the Limitations section of Replace Your Root Site, the following can be found:

 - Replacing the root site with another site replaces any subsites within the sites.

Can you elaborate on what this means? Specifically, if we have a root site with subsites and a separate modern site that also has subsites, will we lose any sites/content. We would like to do a rebuild of an intranet and would like

[2020-02-10 15:02] UmrG commented on #1734
-->**Applies to 2013 , 2016 & 2019**
https://docs.microsoft.com/en-us/sharepoint/security-for-sharepoint-server/plan-for-administrative-and-service-accounts
"If you create additional application pools to host sites, plan for additional application pool identity accounts. The following table describes the application pool identity account."

vs

-->**Applies to 2016 & 2019**.
https://docs.microsoft

[2020-02-10 15:04] tseward commented on #1734
Yep, it's a bit inconsistent :)

[2020-02-10 15:06] UmrG commented on #1748
https://docs.microsoft.com/en-us/sharepoint/administration/manage-the-distributed-cache-service

<--Restart the Distributed Cache service on all cache hosts. To restart the Distributed Cache service, go to Services on Server in Central Administration, and Start the Distributed Cache service on all cache hosts in the farm.-->

[2020-02-10 17:13] OneTechToFixThemAll opened #1755 "Can I implement this with InTune compliance policy?"
Am looking to limit OneDrive client to sync only from corporate laptops, I noticed that this is doable via OneDrive Sync from domain option, but was wondering if I can do something similar using InTune?

[2020-02-10 17:31] OneTechToFixThemAll opened #1756 "Can I implement this with InTune compliance policy?"
I am looking to limit OneDrive client to sync only from corporate laptops, is there a way to achieve the same goal by using InTune compliance polices?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a62d5896-3262-b49f-aeb1-2fe8aceed122
* Version Independent ID: bc621edd-c309-1ccb-bfb8-104eae7204fb
* Content: [Allow sync

[2020-02-10 22:12] Canis-Lupis opened #1757 "Another Error not listed"
Task X, parameter 5. The target list should not be empty.

I figured out this is in regards to column E for anyone using a csv file upload.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cfa08336-690e-0d21-6491-3f14f6d13391
* Version Independent ID: 8927975a-7956-fc72-055e-36603e4eddaf
* Content: [Troubleshooting Share

[2020-02-10 23:33] kaarins commented on #1171
This was fixed some time ago.

[2020-02-10 23:33] #1171 closed

[2020-02-10 23:37] kaarins commented on #1753
@Arknev this feature works at the site collection level, so the entire site collection is archived and replaced with the new site collection. I hope this helps. Thanks

[2020-02-10 23:37] #1753 closed

[2020-02-10 23:37] anyITsolution commented on #1619
I believe the request was to supply us with the powershell commands that you describe can be used when the 30 days have gone by: After seven days, the OneDrive for the deleted user is moved to the site collection recycle bin, where it is kept for 93 days ) will there be an update showing such commands?

[2020-02-11 05:24] scanum commented on #1755
@OneTechToFixThemAll
thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Ple

[2020-02-11 05:24] #1755 closed

[2020-02-11 05:24] scanum commented on #1756
@OneTechToFixThemAll
thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Ple

[2020-02-11 05:24] #1756 closed

[2020-02-11 05:24] scanum commented on #1752
@pdalvi1893
thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep

[2020-02-11 05:24] #1752 closed

[2020-02-11 05:25] scanum commented on #1757
@Canis-Lupis  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-02-11 07:03] OfficeGlobal commented on #1741
@yoinuma , @scanum the article has been HumanTranslated and published live

[2020-02-11 08:47] rainerasbach opened #1759 "Folder names in this article are for SharePoint 2010"
In step 8 of
https://docs.microsoft.com/en-us/sharepoint/search/create-a-custom-dictionary#create-a-custom-dictionary-1 you refer to
%ProgramFiles%\Microsoft Office Servers\14.0\Bin
This should be at least 15.0  for SharePoint 2013 and 16.0 for SharePoint 2016 and 2019

The same is for step 2 in
https://docs.microsoft.com/en-us/sharepoint/search/create-a-custom-dictionary#copy-the-custom-dictionar

[2020-02-11 16:15] danmyhre commented on #1442
This actually does apply to both SharePoint online sites as well as OneDrive for business.  I would recommend that this page be updated to indicate that.

[2020-02-12 00:35] tseward commented on #1748
@UmrG I'm not seeing the issue. The instructions look fine.

[2020-02-12 01:58] scanum commented on #1759
@rainerasbach Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-02-12 22:58] UmrG commented on #1748
Hey Trevor,
Sorry man, You are correct. I over looked section of the article. Please ignore.

[2020-02-13 10:34] Rob3r70 opened #1763 "Renaming SP2019 databases has wrong order with Links databases"
Hi,

Step 5 for renaming SP2019 databases is wrong, because you have to resume Search SA before you can run this command:
Move-SPEnterpriseSearchLinksDatabases -SearchApplication $ssa -TargetStores @($newLinksStoreDB) -Confirm:$false.

If you run it before resuming Search SA, you get an error:
Move-SPEnterpriseSearchLinksDatabases : LinksStoresRefactoring: LinksStoreInput analysis is in state Engi

[2020-02-13 13:03] Rob3r70 opened #1764 "Step 5 in SharePoint 2019 databases will not always work"
Getting databases by the array number will not always work:
$oldLinksStoreDB = ([array]($ssa | Get-SPEnterpriseSearchLinksDatabase))[0]
$newLinksStoreDB = ([array]($ssa | Get-SPEnterpriseSearchLinksDatabase))[1]

Should be corrected to this:
$oldLinksStoreDB = Get-SPEnterpriseSearchLinksDatabase -Identity &lt;oldDbName&gt;
$newLinksStoreDB = Get-SPEnterpriseSearchLinksDatabase -Identity &lt;newDbN

[2020-02-14 01:47] jaxidian opened #1765 "Please address if this will properly survive a sysprep"
If you google/bing `onedrive sysprep`, you'll find the internet is littered with people trying to get OneDrive to survive a sysprep. Please address this scenario in this document. I think it should, but the world would love to know!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 087b8ed9-0b08-88a2-825f-727915801554
* V

[2020-02-14 02:23] jaxidian commented on #1765
Related: This other support page has information that, form all of my testing, is incorrect. The method on that page does *not* survive a sysprep.

https://support.microsoft.com/en-us/help/4459304/unable-to-open-onedrive-on-images-using-sysprep

[2020-02-14 15:39] deepayan21 commented on #1744
@scannum any updates?

[2020-02-14 21:03] MarkWagner opened #1766 "Missing details continued"
On Jul 18, 2019 danmyhre commented:
"Not sure what that link has to do with this, but the page mentions no details on updating language packs. It should be mentioning the sts* vs the wssloc* files, the order you install them in, and if you need to run psconfig only once after both are installed (or after each is installed?), etc."

This document does not address the need (if needed, or not) to ins

[2020-02-15 15:05] m-mygithub opened #1767 "SharePoint Templates - Home Site templates"
In the 'Choose solution components' section it mentions 'Home sites' as a SharePoint site option.  Could not find such a template option in the SharePoint admin center when going to create a site.  It would be nice for this to be updated to reflect options in the SharePoint admin center portal.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2020-02-17 07:09] scanum commented on #1763
@Rob3r70  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-02-17 07:09] scanum commented on #1764
@Rob3r70  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-02-17 07:09] scanum commented on #1765
@jaxidian  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-02-17 07:10] scanum commented on #1766
@MarkWagner  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-02-17 07:10] scanum commented on #1767
@m-mygithub  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-02-17 11:18] deepayan21 commented on #1744
@scanum any updates?

[2020-02-17 13:28] MarkWagner commented on #1766
This is in reference to https://docs.microsoft.com/en-us/sharepoint/upgrade-and-update/install-a-software-update.  I expect this thread is somehow linked to that document but it is not clear from the visibility I have, but just to be clear.  Thank you.

[2020-02-17 22:02] Lou240 commented on #1716
Based on my observations Feb 2020 and with sync client v19.222.1110.0006, .pst files are not supported in differential sync, and I've seen it create many versions of the users .pst file and run the user out of OneDrive (for Business) space of 1TB.

[2020-02-18 11:44] MikePlumleyMSFT commented on #1767
@m-mygithub you can find information about home sites in [Set up a home site for your organization](https://docs.microsoft.com/sharepoint/home-site). I'll add a link to the article.

[2020-02-18 12:48] KarlPower opened #1768 "Saved migrations missing from SharePoint migration tool"
I've run a number of migrations from file shares to SharePoint online over the past week. I've saved the migrations after they completed but this morning when I opened the SharePoint migration tool the option to "Show saved migrations" wasn't available and I wasn't available, I wasn't able to find any of the previous saved migrations so I can't do an incremental migration. This is a serious issue

[2020-02-18 17:14] javnguyen opened #1770 "Missing issue"
I am getting a code 0x0204000E packaging failed due to root source folder doesnt not exist.  I keep getting this about 46% done with migration.

[2020-02-19 04:15] Jabfag2356 opened #1771 "Needs to be more practical and user friendly"
This description needs to be better related to metadata use such as lists with case studies/examples. There is a lot of assumed knowledge. I have just read the SharePoint Maven's metadata blog from 2016 and it was more user friendly. Your metadata jargon, although simple, doesn't seem to gel.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2020-02-19 04:25] jmuehlenbein opened #1772 "Confusing"
I was under the impression that the verification code was in lieu of having a Microsoft account, not in addition to it. According to paragraph two, the recipient of a sharing link must log into their MS account, then enter the verification code, then log into their account again? Also, I'm not clear on the difference between how guests were added previously (a partial guest?)  vs. the new way--as

[2020-02-19 05:00] Jabfag2356 opened #1773 "Diagrams"
I forgot to add diagrams are also very handy for explaining concepts such as the term store hierarchy.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c4d14723-ab30-719c-c69d-e42f94a680b5
* Version Independent ID: 182bf188-87f6-f966-4e86-77ef8927905c
* Content: [Introduction to managed metadata - SharePoint Online](http

[2020-02-19 13:26] pefilice opened #1774 "PACK FAILURE migrating from file system to SharePoint Online"
Result category: PACK FAILURE
Message: Packaging Failure:Unknown error
Error code: 0x0141000B

Logs are attached.
[Logs.zip](https://github.com/MicrosoftDocs/OfficeDocs-SharePoint/files/4225288/Logs.zip)

[2020-02-19 13:34] MikePlumleyMSFT commented on #1772
@jmuehlenbein if the user does have an Office 365 account, they'll be asked to use the passcode the first time the log in, and thereafter can use their regular user name and password. If they don't have an Office 365 account or other Microsoft account, then they can just use the passcode and don't need to get a Microsoft account.

The word "full" is perhaps misleading. It's just a guest account in

[2020-02-19 21:11] frankok opened #1775 "Modify SharePoint app link"
Hi,
By default, the SharePoint app link goes to the https://&lt;tenantname&gt;.sharepoint.com/_layouts/15/sharepoint.aspx page.
Is there any way to modify this? We would very much like it to point to the root home page, i.e. https://&lt;tenantname&gt;.sharepoint.com/.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d22

[2020-02-20 03:14] AJRus opened #1776 "Sync document library on MacOS"
Is it possible to sync a specified sharepoint document library or folder in a library on a Mac with this feature, like you can with GPO and the 'copy library ID' feature for Windows?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 40801de8-cfb0-7f2d-ac91-c7b4b3b8c1f4
* Version Independent ID: 8d2445aa-5934-16fb-6b29-81d

[2020-02-20 09:45] lindspea commented on #1766
@MarkWagner Thanks for pointing that out Mark. I'll have a look and see if I can find anything official that I can add for clarity to the article. Give me a few days.

[2020-02-20 10:06] lindspea commented on #1765
@jaxidian Thank you for reaching out and helping improve MS Docs. Please have a look at this forum discussion and let me know if it helps. There are a few suggestions and links to look at. https://social.technet.microsoft.com/Forums/19c6778b-6a44-4214-a8a1-bc763f795c6f/how-to-provision-apps-before-sysprep

[2020-02-20 10:11] lindspea commented on #1763
@Rob3r70 thank you for reaching out and helping improve MS Docs. Related link https://github.com/MicrosoftDocs/OfficeDocs-SharePoint/issues/1764

[2020-02-20 14:27] stewalshy opened #1778 "Adding guests to AAD when a users shares files or folders"
In the article it states "To ensure that all guests are added to your directory, use the SharePoint and OneDrive integration with Azure AD B2B preview."

This is under the section describing sharing files and folders with recipients who have a Microsoft Account.

Does the preview also create guest accounts for users who are of the following type or do they still just get a verification code even w

[2020-02-20 14:33] MikePlumleyMSFT commented on #1778
@stewalshy Both types of users will get guest accounts in Azure AD. Users with a work or school account will be able to authenticate with their regular user name and password, and those with a non-Microsoft account will authenticate with a pass code, but they will both show up in the directory.

[2020-02-20 15:08] stewalshy commented on #1778
Thanks for the quick reply, that's what I was hoping! It might be worth updating the documentation as I found it slightly confusing due to the fact it was placed under the discussion of Microsoft Accounts only.

[2020-02-20 15:33] stewalshy commented on #1778
Also if I share a site currently I believe it will prompt the recipient to create a Microsoft Account (if they do not already have one for that email address and do not have a work or school account in another AAD tenant). Is that correct?

With the B2B integration, will this remain the same or will the instead be setup with a guest account with OTP?

[2020-02-20 15:57] gherbstman commented on #323
It would be also nice to just have a "sync all users libraries" option that just syncs ALL the SharePoint libraries the user has permissions to.

The Android app already does this.

[2020-02-20 16:04] MDanihy opened #1779 "Doesn't work."
What do you do when your migration tool will not work?  It is only supported on 2008 R2 and above.  The difficulty in working with MS products makes me want to tell our clients to go elsewhere.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8673a55f-50c6-bd98-6b4f-d54db859216d
* Version Independent ID: 571c56c2-0be7-02

[2020-02-20 16:17] MikePlumleyMSFT commented on #1778
With the default experience, sharing a site does require the recipient to have a Microsoft account, but sharing files and folders goes through an OTP experience for those with non-Microsoft accounts. With Azure B2B integration, site sharing is included in the OTP experience, so no need for a Microsoft account.

[2020-02-20 19:25] scanum commented on #1771
@Jabfag2356 Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-02-20 19:25] scanum commented on #1773
@Jabfag2356 Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-02-20 19:25] scanum commented on #1775
@frankok Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-02-20 19:25] scanum commented on #1776
@AJRus Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-02-20 19:25] scanum commented on #1779
@MDanihy Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-02-20 19:26] scanum commented on #1774
@pefilice thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us

[2020-02-20 19:26] #1774 closed

[2020-02-20 19:26] scanum commented on #1770
@javnguyen thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep u

[2020-02-20 19:26] #1770 closed

[2020-02-20 19:26] scanum commented on #1768
@KarlPower thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep u

[2020-02-20 19:26] #1768 closed

[2020-02-20 19:26] scanum commented on #1772
@jmuehlenbein Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-20 19:26] #1772 closed

[2020-02-21 13:09] radityoardi commented on #1320
One of the commands is not clear enough, end up running some unwanted command which leads to deleting the database name object in the SharePoint_Config database.

`Add-SPServerScaleOutDatabase -ServiceApplication $ssa -DatabaseServer <OriginalServerName> [-DatabaseName <NewDbName>]`
`$temp = Get-SPServerScaleOutDatabase -ServiceApplication $ssa`
`Remove-SPServerScaleOutDatabase -Database $temp[0]

[2020-02-21 16:38] jluce512 opened #1781 "Storage Reports"
Currently we have the retention policy set to 30 days we want to change that to 210 days.  What I want to know is where is all the data stored and how does it affect our allocation?  Is the data going to take up SharePoint storage or is it hidden storage on the back end that i'm not aware of.  Is there some way to find out how large our retention repository is?

[2020-02-21 19:35] Anyman99 opened #1782 "Download page not responding"
For days now, the download page for the Microsoft Sharepoint Migration tool has been unresponsive. I have a time-sensitive need to access this tool. Please investigate.

Ed

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 36d01d11-eea9-7f49-693d-25c3fecc6253
* Version Independent ID: 6749a619-2b75-1561-81e9-b45888c58c4b

[2020-02-22 18:42] tseward commented on #1781
Data retention for SharePoint is stored in a library on the same site where the data resides. It will increase your storage usage.

[2020-02-22 18:43] tseward commented on #1775
This isn't something you can change. I'd recommend opening a Uservoice entry at https://sharepoint.uservoice.com to provide this feedback.

[2020-02-22 18:46] tseward commented on #1766
The information is linked at the top of the article already.

[Software updates overview for SharePoint 2016](https://docs.microsoft.com/sharepoint/upgrade-and-update/software-updates-overview)

[2020-02-22 18:48] tseward commented on #1779
You do not have to run the tool on the source machine, it can be run remotely.

[2020-02-22 18:52] frankok commented on #1775
Hi Trevor,

I've already posted the idea on the Office 365 Uservoice:
https://office365.uservoice.com/forums/325347-office-com-home-page/suggestions/39755581-modify-sharepoint-app-link-on-office-com.

Thank you for your feedback!
Kind Regards,
Frank-Ove

[2020-02-22 20:07] ilhancelik commented on #323
I ran it with the steps below.

1. I made the onedrive settings with GPO. (Computer configuration)
2. I have used UNICODE and never changed.
3. In DC, users must be a one-time local admin.

In addition regedit settings (Example);

Windows Registry Editor Version 5.00

[HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\OneDrive]
"FilesOnDemandEnabled"=dword:00000001

[HKEY_LOCAL_MACHINE\SOFTWARE\Polic

[2020-02-23 00:55] LtCmdrKeene commented on #1390
I purchased a new subscription but it didn't let me pick my tenant name. It ended up being called "gibborimproductionscom", which is much longer than I wanted.

[2020-02-24 01:16] vitaprimo opened #1785 "This, for somebody who barely understands federation will be impossible to even follow."
A lot of these articles are repeating some form of an incomplete message over and over while overlapping here and there.

It's beyond me how Microsoft feels it's OK to charge 7G for a product with an almost 10-year old, patched up documentation. This SAML method is explained several other times in the articles on the sidebar, each is inconsistent, vague, with tons of links outside of the articles.

[2020-02-24 06:04] scanum commented on #1782
@Anyman99 Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-02-24 06:04] scanum commented on #1785
@vitaprimo Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-02-24 06:04] scanum commented on #1781
@jluce512 Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-24 06:04] #1781 closed

[2020-02-24 12:24] lindspea commented on #1766
@MarkWagner please see at the top of the article as per @tseward 's comment.

[2020-02-24 14:29] MarkWagner commented on #1766
Thank you

[2020-02-25 09:47] selwyndd21 opened #1787 "one of the link is not properly linked"
In the text "For more information about how to use groups to help manage permissions, see Choose security groups (SharePoint Server 2010)", the url links back to the front page, which is a bit misleading.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6a791cf8-87ec-909b-7f49-0c538f91b021
* Version Independent ID: 50642

[2020-02-25 11:57] thehypebeast commented on #94
Hi, Is it possible to move files between sharepoint online sites? Lets say you have a old sharepoint site and just created a new one and want to move the files there?

[2020-02-25 15:59] TomoharuMisawa opened #1788 "Japanese name is not Home.aspx"
Japanese name is not Home.aspx. but, Japanese default name is ホーム.aspx
it's the home page modernization?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8659498a-6c73-763a-31a0-354010572115
* Version Independent ID: dc4c2e96-fb55-67c0-ec7b-6f1f608eb0cb
* Content: [Disable automatic modernization of classic site home pag

[2020-02-26 02:23] merly-cortez opened #1789 "May we have the diagram please"
May we have the diagram showing how an on-premises Active Directory uses DirSync to feed profile information to the Office 365 Directory Service, which in turns feeds the SharePoint Online profile

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be31bf07-922b-7307-a30e-f09d00fb79f3
* Version Independent ID: a42d0699-1acf

[2020-02-26 18:55] scanum commented on #1787
@selwyndd21  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-02-26 18:55] scanum commented on #1788
@TomoharuMisawa  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-02-26 18:55] scanum commented on #1789
@merly-cortez  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-02-26 18:56] #1789 closed

[2020-02-26 18:56] scanum commented on #1788
@officeglobal Could you please help with this issue? Thanks!

[2020-02-26 18:57] scanum commented on #1095
@kaarins Following up on this issue.

[2020-02-26 18:58] scanum commented on #1122
@sowjanya365 Any updates on this? Thanks

[2020-02-26 18:59] scanum commented on #1217
@kaarins Any updates on this? Thanks!

[2020-02-26 19:00] scanum commented on #1299
@boomalator Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-26 19:00] #1299 closed

[2020-02-26 19:00] scanum commented on #1308
@MikePlumleyMSFT @TroyStarr Following up on this issue. Please let me know if there is anything I can do to help.

[2020-02-26 19:00] scanum commented on #1326
@woodyard Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-26 19:01] scanum commented on #1361
@soyalejolopez Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-26 19:01] #1361 closed

[2020-02-26 19:01] scanum commented on #1375
@alinefmr Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-26 19:01] #1375 closed

[2020-02-26 19:01] scanum commented on #1377
@Marweis Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-26 19:01] #1377 closed

[2020-02-26 19:01] scanum commented on #1379
@NorbertKlein-Ildefeld Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-26 19:01] #1379 closed

[2020-02-26 19:01] scanum commented on #1382
@paulewert Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-26 19:01] #1382 closed

[2020-02-26 19:01] scanum commented on #1383
@paulewert Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-26 19:01] #1383 closed

[2020-02-26 19:02] scanum commented on #1384
@Marweis Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-26 19:02] #1384 closed

[2020-02-26 19:02] scanum commented on #1395
@altevid Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-26 19:02] #1395 closed

[2020-02-26 19:02] scanum commented on #1403
@Padavid Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-26 19:02] #1403 closed

[2020-02-26 19:02] scanum commented on #1404
@Padavid Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-26 19:02] #1404 closed

[2020-02-26 19:02] scanum commented on #1424
@TracyGH Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-26 19:02] #1424 closed

[2020-02-26 19:03] scanum commented on #1435
@kaarins Any updates on this? Thanks!

[2020-02-26 19:03] scanum commented on #1454
@DS2019 Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-26 19:03] #1454 closed

[2020-02-26 19:03] scanum commented on #1470
@Beritknight  We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-26 19:03] #1470 closed

[2020-02-26 19:03] scanum commented on #1474
@BintMi Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-26 19:03] #1474 closed

[2020-02-26 19:04] scanum commented on #1476
@kaarins Following up on this, any updates? Thanks!

[2020-02-26 19:04] scanum commented on #1478
@SCCMAdmin Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-26 19:04] #1478 closed

[2020-02-26 19:04] scanum commented on #1480
@Naz9mm Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-26 19:04] #1480 closed

[2020-02-26 19:04] scanum commented on #1481
@kaarins Any updates on this issue? Thanks!

[2020-02-26 19:04] scanum commented on #1482
@ravick4u

[2020-02-26 19:04] #1482 closed

[2020-02-26 19:04] scanum commented on #1483
@iBrooks Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-26 19:04] #1483 closed

[2020-02-26 19:04] scanum commented on #1490
@blouwagie Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-26 19:04] #1490 closed

[2020-02-26 19:04] scanum commented on #1491
@Cloudmaister Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-26 19:04] scanum commented on #1491
@Cloudmaister Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-26 19:05] scanum commented on #1493
@Padavid Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-26 19:05] #1493 closed

[2020-02-26 19:05] scanum commented on #1494
@RaviD-Git Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-26 19:05] #1494 closed

[2020-02-26 19:05] scanum commented on #1496
@MikePlumleyMSFT Following up on this last comment. Please let us know if you have any questions. Thanks!

[2020-02-26 19:06] scanum commented on #1497
@Padavid Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-26 19:06] #1497 closed

[2020-02-26 19:06] scanum commented on #1498
@Padavid Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-26 19:06] #1498 closed

[2020-02-26 19:06] TroyStarr commented on #1308
Hi folks, anonymous access is supported with modern sites in SharePoint 2019.  However, the product team is aware of some bugs in this scenario that would result in unexpected authentication prompts.  The team is investigating these issues, but we don't currently have an ETA on when fixes would be available.

If you're running into issues with anonymous access, please open a support case with Micr

[2020-02-26 19:06] scanum commented on #1500
@Padavid Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-26 19:06] #1500 closed

[2020-02-26 19:06] scanum commented on #1502
@tierratom Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-26 19:06] #1502 closed

[2020-02-26 19:06] scanum commented on #1513
@JoanneHendrickson Following up on this issue. Thanks!

[2020-02-26 19:06] scanum commented on #1517
@paololec Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-26 19:06] #1517 closed

[2020-02-26 19:07] scanum commented on #1519
@nancywagar Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-26 19:07] #1519 closed

[2020-02-26 19:07] scanum commented on #1523
@JeroenDerde Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-26 19:07] #1523 closed

[2020-02-26 19:08] scanum commented on #1524
@MikePlumleyMSFT Hi! Following up on this issue. Thanks!

[2020-02-26 19:08] scanum commented on #1534
@Todd312 Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-26 19:08] #1534 closed

[2020-02-26 19:08] scanum commented on #1537
@blouwagie Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-26 19:08] #1537 closed

[2020-02-26 19:08] scanum commented on #1539
@Jack-DMZ Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-26 19:08] #1539 closed

[2020-02-26 19:08] scanum commented on #1544
@jitterbox Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-26 19:08] #1544 closed

[2020-02-26 19:09] scanum commented on #1548
@j0rt3g4 Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-26 19:09] #1548 closed

[2020-02-26 19:09] scanum commented on #1550
@docwisdom

[2020-02-26 19:09] #1550 closed

[2020-02-26 19:10] scanum commented on #1555
@jbhoward Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-26 19:10] #1555 closed

[2020-02-26 19:10] scanum commented on #1556
@MarwaMS92 Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-26 19:10] #1556 closed

[2020-02-26 19:10] scanum commented on #1557
@dneimke Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-26 19:10] #1557 closed

[2020-02-26 19:10] scanum commented on #1520
@JoanneHendrickson Following up on this issue. Thanks!

[2020-02-26 19:10] scanum commented on #1560
@BakkerJan Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-26 19:10] #1560 closed

[2020-02-26 19:11] scanum commented on #1562
@ScottStauffer  We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-26 19:11] #1562 closed

[2020-02-26 19:11] scanum commented on #1563
@ScottStauffer Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-26 19:11] #1563 closed

[2020-02-26 19:11] scanum commented on #1569
@pathade90 Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-26 19:11] #1569 closed

[2020-02-26 19:11] scanum commented on #1571
@JasonG-IT Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-26 19:11] #1571 closed

[2020-02-26 19:11] scanum commented on #1573
@tbailen Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-26 19:11] #1573 closed

[2020-02-26 19:11] scanum commented on #1575
@robertafreese Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-26 19:11] #1575 closed

[2020-02-26 19:11] scanum commented on #1578
@robertafreese Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-26 19:11] #1578 closed

[2020-02-26 19:11] scanum commented on #1581
@paulhaskew Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-26 19:11] #1581 closed

[2020-02-26 19:11] scanum commented on #1619
@blouwagie Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-26 19:11] #1619 closed

[2020-02-26 19:12] scanum commented on #1632
@DavidApps2 Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-26 19:12] #1632 closed

[2020-02-26 19:12] scanum commented on #1636
@LeonSig Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-26 19:12] #1636 closed

[2020-02-26 19:12] scanum commented on #1650
@OfficeGlobal Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-26 19:12] #1650 closed

[2020-02-26 19:12] scanum commented on #1651
@OfficeGlobal Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-26 19:12] #1651 closed

[2020-02-26 19:12] scanum commented on #1652
@OfficeGlobal Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-26 19:12] #1652 closed

[2020-02-26 19:13] scanum commented on #1653
@OfficeGlobal Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-26 19:13] #1653 closed

[2020-02-26 19:15] scanum commented on #1675
@jcgonzalezmartin We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-26 19:15] #1675 closed

[2020-02-26 19:22] scanum commented on #1695
@pacelote Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-26 19:22] #1695 closed

[2020-02-26 19:23] scanum commented on #1717
@Balde4 Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-26 19:23] #1717 closed

[2020-02-26 19:23] scanum commented on #1718
@eschrader Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-26 19:23] #1718 closed

[2020-02-26 19:24] scanum commented on #1733
@JonesMikael Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-26 19:24] #1733 closed

[2020-02-26 19:24] scanum commented on #1734
@UmrG Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-26 19:24] #1734 closed

[2020-02-26 19:26] scanum commented on #1737
@JoanneHendrickson Hi Joanne! Any updates on this? Thanks!

[2020-02-26 19:26] scanum commented on #1741
@yoinuma Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-26 19:26] #1741 closed

[2020-02-26 19:28] scanum commented on #1765
@jaxidian Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-26 19:28] #1765 closed

[2020-02-26 19:28] scanum commented on #1775
@frankok Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-26 19:28] #1775 closed

[2020-02-26 19:28] scanum commented on #1766
@MarkWagner Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-26 19:28] #1766 closed

[2020-02-26 19:28] scanum commented on #1767
@m-mygithub Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-26 19:28] #1767 closed

[2020-02-26 19:28] scanum commented on #1763
@Rob3r70 Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-26 19:28] #1763 closed

[2020-02-26 19:28] scanum commented on #1778
@stewalshy Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-26 19:28] #1778 closed

[2020-02-26 19:29] scanum commented on #1779
@MDanihy Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-26 19:29] #1779 closed

[2020-02-26 19:30] scanum commented on #1748
@UmrG Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-26 19:30] #1748 closed

[2020-02-26 19:52] MikePlumleyMSFT commented on #1524
@TroyStarr do you know?

[2020-02-26 19:57] cloudgreen commented on #1496
Thanks a lot for your reply, really appreciated. Sorry for my super late reply!

Well, several of my government customers, who use SharePoint Server on-prem, don't use OneDrive at all. The "Open with Explorer" feature is almost the only feasible way of restructuring many files simultaneously, like moving multiple files upwards or downwards in a folder hierarchy. And even if they did use OneDrive,

[2020-02-26 20:57] joshtransient commented on #1548
Excellent update! Thank you, team 👍👍👏👏

[2020-02-26 21:48] gregbnz commented on #1735
Hi there, does SPMT support syncing Deletes yet? From past experience you would do one sync and upload the everything, and then if you wanted to do a second sync just before cutover, it would add missing files, but it wouldnt delete files that had been removed from source. Has this changed, and if so when? Thanks!

[2020-02-27 08:17] lindspea commented on #1442
@kaarins

[2020-02-27 15:39] AndySanchezVM opened #1791 "Pooling unused storage for users"
I wanted to know if there is a way to pool unused space to allocate to another users who does need it?  Example: User A is a light user with 1 TB of ODfB storage but they only ever need 1 GB, can the other 999 GBs be allocated to a heavy user?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0252c106-56e3-96be-5935-ad8aa

[2020-02-27 16:52] get-itips commented on #1682
Hello @dneimke Darren 👍 how are you ?
I see that the document has already been updated, and that happened after you made this comment.

[2020-02-27 16:52] get-itips commented on #1680
Hello @kaarins Kaarin, how are you?
Do we have such that artwork? do you, as author of the article, see value adding that?
Thanks

[2020-02-27 17:00] get-itips commented on #1782
Hello @Anyman99
I see that the download page is working now. Besides that, here we can handle documentation issues only, for the next time that this happens, I recommend opening a ticket directly on your tenant, where they will be able to provide support in your scenario.
Thank you

[2020-02-27 18:03] get-itips commented on #1787
Hello @selwyndd21 Tawei
Thanks for reporting this, I created a pr to correct the link.

[2020-02-27 18:05] get-itips commented on #1683
Hello @MikePlumleyMSFT
Mike, is there a way to do what is @drmiru Michael asking here?
Thanks

[2020-02-27 18:42] MikePlumleyMSFT commented on #1683
@StephenRiceMSFT do you know?

[2020-02-27 19:55] get-itips commented on #1693
Hello @Padavid thanks for reporting, created a pr to improve the article based on your comment.

[2020-02-27 22:07] StephenRiceMSFT commented on #1683
As part of the CSV file, each item that is of type "SharingLink" also has a "LinkID" column with a unique identifier. For users who access the item via that link, they will show up in their own row with the "AccessViaLinkID" being populated with the same identifier as in the "LinkID" column.

[2020-02-27 22:16] andocromn opened #1795 "Inaccurate info - Needs update"
under the section "Configure team site libraries to sync automatically" it describes "Copy library ID" which no longer exists in Office 365 platform
please update with accurate info

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 04ad2f16-c861-7a1b-5c1d-e4601e8f3855
* Version Independent ID: c47df4cd-f706-d807-5eac-172f

[2020-02-28 12:32] get-itips commented on #1683
Hello @drmiru I hope that the explanation by @StephenRiceMSFT clarifies your inquiry.

[2020-02-28 13:06] danone1985 opened #1796 "EnableSideBySide = $false at the end ?"
The following recommendation is not clear:

"Please note that administrators can opt out of side-by-side by setting the 'enableSideBySide' value to $false."
They can opt out, meaning not use it at all ? Or opt out at the end, once ZDP is finished ?

To improve the article, couldn't it be updated with the above parameter set to false, at the end of the zdp procedure ?
Thanks.

---
#### Document Det

[2020-02-28 13:30] get-itips commented on #1684
Hello @filipelteixeira
Thanks for reporting, created a pr to correct the article.

[2020-02-28 14:13] get-itips commented on #1759
Hello @rainerasbach 👍 thanks for reporting, created a pr to improve the article based on your comments.

[2020-02-28 20:25] scanum commented on #1791
@AndySanchezVM Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-02-28 20:25] scanum commented on #1796
@danone1985 Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-02-28 20:26] scanum commented on #1795
@andocromn Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-02-29 00:35] vitaprimo commented on #1785
I really hope you do because it's been a frustrating experience so far, SharePoint was supposed to be a something that would be a helpful tool.

It lot needs to be clarified, for instance, setting ADFS with SharePoint don't sets up the correct relationship with the data in the directory, even though both SharePoint and ADFS use the directory as the userbase. Things such as extending the web applic

[2020-02-29 13:30] get-itips commented on #1728
@kaarins Hello Kaarin 👍 can you shed some light here? Thank you!

[2020-02-29 14:06] get-itips commented on #1724
Hello @zylantha 👍 Thanks for reporting, I created a pr to improve the article.

[2020-03-02 03:46] Todd312 opened #1800 "Breaks 'Move To' or 'Copy To'"
I am trying to move files from one SharePoint site into a site that has been renamed. After highlighting the files and clicking 'move to' or 'copy to' and then selecting the new (renamed) site the page is not able to list any of the document libraries. It constantly thinks and then shows "Sorry, this is taking a little longer than usual". The document libraries never show up

---
#### Document Det

[2020-03-02 06:57] jeopardize95 commented on #1795
Any update on this? Critical function, and it's gone. How do I generate the ID?

[2020-03-02 07:56] NinjaSciurus opened #1801 "Where is the corresponding documentation for the on-premises version?"
Since the same sharing feature is available in SharePoint Server 2019, there should be appropriate documentation on how to manage it. Currently, there's only this page, describing the options for SharePoint Online - they can't be applied on-premises.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ab9f7bfd-4962-7f83-b09

[2020-03-02 14:21] jebalert opened #1802 "What ports are used when using hybrid search?"
I believe its 443, but can we confirm / update this documentation?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7efb50d3-899f-efd2-37c3-34a6f3de3cb9
* Version Independent ID: 97fa8e3b-1b07-6ae0-6d20-ed67b4b20bc0
* Content: [Hybrid search in SharePoint](https://docs.microsoft.com/en-us/sharepoint/hybrid/hybrid-search-

[2020-03-02 14:31] andocromn commented on #1795
@jeopardize95 I ended up using the incredibly awkward and backassward method described in this article
https://www.blackforce.co.uk/2019/09/12/sharepoint-copy-library-id-missing-for-team-site-libraries-sync
I was like NFW this is going to work! but it actually did.  Microsoft certainly needs to fix this though cause it's a workaround like removing and re-attaching a foot is a solution to foot pain

[2020-03-02 15:07] jeopardize95 commented on #1795
@andocromn I've tried. But then Intune won't sync the library. Have a case with MS on it, but doesn't seem to lead anywhere. This is ridiculous, this function is noted in Docs, but not working. Works in one tenant I have, but not the other. Hopeless.

[2020-03-02 15:40] andocromn commented on #1795
@jeopardize95 sorry to hear that.  For what it's worth it does seem to be hit or miss, I just had to manually add it for a user myself.  Maybe I could have banged away at OneDrive and gotten it to work but the doc says something about 8 hours and even a saint doesn't have that kind of patience.  Best of luck

[2020-03-02 16:03] get-itips commented on #1757
Hello @Canis-Lupis
Thanks for reporting. I could reproduce and also added some more error messages.
Proposed thru a PR to improve the article with them.
Thanks

[2020-03-02 16:06] get-itips commented on #1773
This seems like a continuation of https://github.com/MicrosoftDocs/OfficeDocs-SharePoint/issues/1771

[2020-03-02 16:09] get-itips commented on #1771
Hello @MikePlumleyMSFT Mike 👍 I need to kindly ask you to step in, as designated author of the article to review @Jabfag2356 comments, do you see something can be improved based on them? Thank you.

[2020-03-02 16:31] get-itips commented on #1732
Hello @ingepepe 👍 Thanks for noticing, created a pr to correct the article.

[2020-03-02 16:58] Migaligz opened #1805 "Dear God"
Look, I know technical documentation can get overwhelming, but the instructions for SharePoint search is just simply overwhelming. There are a number of issues I can bring up but let's start with this: When providing instructions for a term or feature, please assume the reader is a total idiot, and provide an explanation for the terminology. The following sentence assumes the reader knows what a "

[2020-03-02 17:03] get-itips commented on #1751
@kaarins Kaarin 👍 how are you? Can we provide some Product Group information on the method used to detect the throughput? Thank you

[2020-03-02 17:11] #1805 closed

[2020-03-02 17:38] jaxidian commented on #1765
I do not believe my issue has been resolved unless the resolution is "we choose not to make a change". After much trial & error, I have confirmed that the `/allusers` flag **does** survive a Sysprep, but this is not mentioned in the documentation. I believe it should be.

[2020-03-02 17:39] jaxidian commented on #1765
@scanum I'm unable to re-open this issue but I believe it should be re-opened. See my previous message ^^

[2020-03-02 21:56] get-itips commented on #1776
Hello @AJRus do you mean this https://support.office.com/en-us/article/sync-files-with-onedrive-on-mac-os-x-d11b9f29-00bb-4172-be39-997da46f913f#bkmk_syncsp ?

[2020-03-02 22:01] get-itips commented on #1735
Hello @jebalert Joseph how are you?
Generally speaking, what is not expressly mentioned is not supported, however we could ask  @JoanneHendrickson as the article's author to understand if anything about that can be added to the article.
Thank you

[2020-03-02 22:06] get-itips commented on #1702
Hello @donzelch
How are you? We appreciate your feedback.
Could you please be more precise about what issues do you see and how do you think this article could be improved?
Did you review the other articles in the same section that also talk about Managed Metadata ?

[Open the Term Store management tool](https://docs.microsoft.com/en-us/sharepoint/open-term-store-management-tool)

[Set up a new gr

[2020-03-02 23:04] err-unknown-username opened #1806 "SharePoint Online"
This article is not applicable to SharePoint Online, but it would be very helpful to point to similar documentation for SharePoint Online.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72787b7c-a17c-55e1-70b2-59e2aa4a74b7
* Version Independent ID: acf83d63-ea7e-5870-1534-694a5e4f8e53
* Content: [How to add refiners to

[2020-03-03 08:33] Madjid677 opened #1807 "next scheduled crawl"
Hi, it would be good to know what is the standard value for "next scheduled crawl" and as well if a SharePoint Admin can changed the standard value to other values like "Every hour" or "Every two hours" or "Every day" and so on. Thanks in advance for your support.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d18cdf74

[2020-03-03 13:11] vitaprimo opened #1808 "Client can't be setup without an Internet connection"
I tried also the Mac App Store version and both won't offer input to specify the SharePoint Server farm. Instead, the completely ignore whatever I put it and try to go to the Internet for something else. Since there is no Internet, it fails doing anything.

I tried setting SharePointOnPremFrontDoorUrl with the farm's address but it will not only ignore it but go and overwrite the preference list f

[2020-03-03 13:12] get-itips commented on #1704
Hello @spalmo
Thanks for taking the time to report this. I created a pull request to correct the article

[2020-03-03 13:17] get-itips commented on #1705
Hello @kaarins Kaarin, how are you? I could verify what @CharlesYeomans is saying here, the link is restricted to partner accounts only, is this intended?

![image](https://user-images.githubusercontent.com/36666927/75779269-f2ac4680-5d1e-11ea-9b33-3e7e1ad43184.png)

Thank you

[2020-03-03 13:35] OfficeGlobal commented on #1788
Working on a fix

[2020-03-03 13:48] erictechtips commented on #1554
Thank you jordonthreadgill.  That script worked well and we successfully provisioned all accounts in my organization (90,000+).

[2020-03-03 13:50] get-itips commented on #1714
Hello @Canis-Lupis
How are you?

Can you please enclose your paths in markdown backquotes?

![image](https://user-images.githubusercontent.com/36666927/75781718-55074600-5d23-11ea-902a-5d935cbde35d.png)

That way they will be preserved in your post so I can see how you are declaring them on the CSV.

Besides that, I tried several methods of declaring Shared Folder/Mapped drives and I did not exper

[2020-03-03 14:12] Canis-Lupis commented on #1714
@get-itips I think I found the problem.  The problem wasn't my source path but the error message itself--it is misleading.  I'm finding this error,  "The source path is invalid," is a very generic error message the tool uses and could have nothing to do with the source path.  In my case, I found out that it was the destination path that was the problem; the OneDrive sites hadn't been created yet.

[2020-03-03 14:24] get-itips commented on #1716
Hello @theprez1980
PST reference in this article has been removed, it is not present on the article. Said that, I tried to find an official statement about PST support and could not, so I think it is not supported as @Lou240 says. However, maybe @kaarins can add a confirmation here.

[2020-03-03 14:27] get-itips commented on #1656
Hello @Padavid how are you?
Thanks for reporting.
A note about that has already been added [here](https://github.com/MicrosoftDocs/OfficeDocs-SharePoint/commit/f64048f5cd59527685c1af8983d2d0b55fc1848e#diff-b4d77260a0860650ef17de54ecea2633)

[2020-03-03 14:30] get-itips commented on #1714
@Canis-Lupis Thanks for returning to share your latest feedback. I am glad you could overcome the last, misleading, error.

[2020-03-04 04:52] scanum commented on #1800
@Todd312  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-03-04 04:52] scanum commented on #1801
@NinjaSciurus  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-03-04 04:53] scanum commented on #1802
@jebalert  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-03-04 04:53] scanum commented on #1806
@err-unknown-username  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-03-04 04:53] scanum commented on #1807
@Madjid677  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-03-04 04:54] scanum commented on #1800
@Todd312 thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us

[2020-03-04 04:54] #1800 closed

[2020-03-04 04:54] scanum commented on #1808
@vitaprimo thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep u

[2020-03-04 04:54] #1808 closed

[2020-03-04 06:33] yoinuma commented on #1741
It looks like the change is reverted.

 "ホームページ名は ' default.aspx ' です。"

Could you please check it?

Which name of page will be affected actually?
 - "ホーム.aspx"
 - "home.aspx"

[2020-03-04 09:57] anoopras4 opened #1810 "Missing sections from the documentation"
We have missed two options below in this article.

1) To remove a server from a SharePoint farm by using PowerShell
2) To remove a SharePoint server from a farm by using PSConfig

The same is available on the other article (https://docs.microsoft.com/en-us/sharepoint/administration/remove-a-server-from-a-farm-in-sharepoint-server-2016#remove-a-server-from-a-sharepoint-farm-by-using-microsoft-power

[2020-03-04 10:43] JonesMikael opened #1811 "Clarify "Coauthor and share in Office desktop apps""
I suggest we clarify what happens if you Do not configure the "Coauthor and share in Office desktop apps". It will be enabled but the user can deselect it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 04ad2f16-c861-7a1b-5c1d-e4601e8f3855
* Version Independent ID: c47df4cd-f706-d807-5eac-172fba1e500f
* Content: [Use G

[2020-03-04 12:40] EricMcComac opened #1812 "Bad Link:"
Please updat the Fix sync problems link.  Its no longer valid.

https://support.office.com/article/aaa2d172-8d45-4e94-9c04-5364d04ca2f4

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a6a922b4-4bf0-db6f-6b05-69bd3a39610b
* Version Independent ID: 9939ca09-6f30-cea7-70f4-1c18e698e292
* Content: [Sync - SharePoint Online]

[2020-03-04 16:32] DavidApps2 commented on #1632
Thank you.

[2020-03-05 07:22] SuperioOne opened #1813 "Search LinkStore Possible Limit"
Is there a limit for Sharepoint Search LinkStore especially for page impression queries? It seem we can store maximum 2.075.000 query impression per month.

Update :
It seems there is daily 65.000 log limit at search service application by default. Recommended and top limit values are still unknown.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2020-03-05 10:05] ranglanimanish90 opened #1816 "Document Version History is not maintained in SPMT"
I am using SharePoint Migration Tool, in Advanced Settings, I have enabled to keep file version history but every time when I run the tool, it overwrites the file. Is this a known limitation though in the documentation it says version history is maintained?

[2020-03-05 12:25] heinrich-ulbricht commented on #1807
In addition it would be good to know when the last crawl happened. Even if we might not be able to control the crawl we should be able to see if the crawler came by.

[2020-03-05 12:55] get-itips commented on #1722
Hello @LoreenLa Loreen 👍 how are you?
I could verify what the user is saying here, contacting you to find out if you know this will change shortly (Quick Launch external URLs opening in new tabs by default) or not, so we can clarify this making a PR against this article. I appreciate, thanks.

[2020-03-05 13:57] get-itips commented on #1664
Hello @kiranbellala
To evaluate if an addition to the documentation to warn about this is needed, I tried to reproduce in my lab, however I could not, I still can access other SCs, which version of SharePoint Server are you using?
Thanks

[2020-03-05 14:41] get-itips commented on #1655
Hello @kaarins Kaarin as what the user says here is sensitive, I would like you to confirm this with your reach to Product Group information, in case we have a confirmation I can make an addition of the information into this article. thank you

[2020-03-05 15:16] get-itips commented on #1736
Hello @wizneeraj
How are you ? that cmdlet, enables the site feature "ModernizeHomepageOptOut" that keeps the classic team site home page (not modernized) as the article currently says

That feature is also mentioned at the update criteria list.

[2020-03-05 15:41] get-itips commented on #1742
Hello @wizneeraj
I think that the information you are looking for is [here](https://docs.microsoft.com/en-us/sharepoint/dev/transform/modernize-customizations) if I understood you well, if not, please kindly inform me and I will try to help.

[2020-03-05 16:15] get-itips commented on #1745
Hello @mattgaspar Matt how are you ? 👍
I want to make sure to understand well what you experienced (I understand also that Support confirmed).
In my lab, I made some changes to the SharePoint Admin Center - Sharing page, and then I created new team sites, and they honored the settings I made at the Admin Center.
Am I interpreting you the right way? if not, please tell me specifically what happened

[2020-03-06 00:59] get-itips commented on #1744
Hello @deepayan21

Made some tests in my lab, and the group honored was the AAD Group, and this was used to fill the modified by attribute of the uploaded file.

 @JoanneHendrickson / @MikePlumleyMSFT Can you kindly confirm this ? I appreciate. Thank you

[2020-03-06 11:46] OfficeGlobal opened #1817 "[LOC] Sentence does not make sense"
There is a sentence which does not make sence in the article below.

Repro steps:
1. Go to https://docs.microsoft.com/en-us/SharepointMigration/mover-o365-to-o365
2. Search for "Test for multiple usone user, then three to five."

Actual results:
Test for multiple usone user, then three to five.
Expected results:
Test for multiple users, three to five. ?

GH article:
https://github.com/MicrosoftDoc

[2020-03-06 14:49] kelemvor33 opened #1818 "All the Sharing settings are grayed out."
Is there another place I have to go to set this?  I'm following this page (https://docs.microsoft.com/en-us/microsoftteams/guest-access-checklist) and did Steps 1-4 but Step 5 takes me to this section and I can't change any settings.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3106844b-caae-38c5-3c88-fb17a9d67536
*

[2020-03-06 14:55] MikePlumleyMSFT commented on #1818
@kelemvor33 usually if the site-level sharing settings are grayed out, it means that sharing has been disabled at the organization level. Take a look at [Change the organization-level external sharing setting](https://docs.microsoft.com/sharepoint/turn-external-sharing-on-or-off#change-the-organization-level-external-sharing-setting).

[2020-03-06 23:51] scanum commented on #1810
@anoopras4  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-03-06 23:51] scanum commented on #1811
@JonesMikael  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-03-06 23:52] scanum commented on #1812
@EricMcComac  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-03-06 23:52] scanum commented on #1813
@SuperioOne  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-03-06 23:52] scanum commented on #1817
@OfficeGlobal  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-03-06 23:53] scanum commented on #1818
@kelemvor33 Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-03-06 23:53] #1818 closed

[2020-03-06 23:53] scanum commented on #1816
@ranglanimanish90 thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please

[2020-03-06 23:53] #1816 closed

[2020-03-07 07:32] sing-ideas opened #1820 "Is Directory ID = <Name>.OnMicrosoftOnline.com"
Hi,
In this document the Tenant ID is clarified as Directory ID

Can you clarify by adding few lines explaining whether the Directory ID (GUID) is mapped to  subdomain of &lt;Name&gt;.OnMicrosoftOnline.com

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7a93351c-948b-67f7-edd7-8f84982f1834
* Version Independent ID: b3d7

[2020-03-08 07:42] ThomoJames97 commented on #839
After finding pretty much nowhere that states the cause for this error message and hence doing some experimenting, I've found the actual cause for it is that on Mac, files on demand **only** works if the drive you are syncing to is APFS formatted. If you're using a Hackintosh and require HFS for the system, **set up an APFS partition and chose that as the OneDrive directory.**

[2020-03-08 07:43] ThomoJames97 commented on #839
After finding pretty much nowhere that states the cause for this error message and hence doing some experimenting, I've found the actual cause for it is that on Mac, files on demand **only** works if the drive you are syncing to is APFS formatted. If you're using a HFS formatted disk as your primary boot drive, i.e. on Hackintosh, **set up an APFS partition and chose that as the OneDrive directory

[2020-03-08 07:48] ThomoJames97 commented on #839
After finding nowhere with an actual solution and doing some experimenting, I've found the actual cause for it is that on Mac, files on demand **only** works if the drive you are syncing to is APFS formatted. The error message will **only** show if you downloaded OneDrive from the pkg file from Microsoft's website instead of from the Mac App Store, which is dumb. If you're using a HFS formatted di

[2020-03-08 15:54] rjgeeky opened #1821 "What happens to subsites of the current root site?"
Our current root site is a classic Enterprise Wiki page with dozens of subsites. The site that will be promoted is a modern communications site with no subsites. Creating subsites is not allowed for modern communication or team sites in our tenant.

What is meant by 'Replacing the root site with another site replaces any subsites within the sites.' The documentation is not clear at all on this. Do

[2020-03-09 02:22] Jiankui2018 opened #1822 "Can you please clarify this document for SharePoint 2013? SP2013 does not support to configure TLS for outgoing email. The document will mislead our customers."
[Enter feedback here]
Can you please clarify this document for SharePoint 2013? SP2013 does not support to configure TLS for outgoing email. The document will mislead our customers.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 281f143b-b1d6-582a-25a7-d803518181a4
* Version Independent ID: 8f82c931-36a6-d4a2-822c-3dce

[2020-03-09 06:21] scanum commented on #1820
@sing-ideas  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-03-09 06:22] scanum commented on #1821
@rjgeeky  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-03-09 06:22] scanum commented on #1822
@Jiankui2018  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-03-09 07:23] sing-ideas commented on #1820
Many of my doc doubts or clarification request are around - <Tenant>.OnMicrosoftOnline.com -

Need to do a feasibility study for a multi-tenant application using CDS. Looks like Docs are using different terminology for same thing, like Tenant, Instance, Org.

Now in Power Platform CDS, the terminology "Environment" has become subset of Tenant.

Is <Name>.OnMicrosoftOnline.com is the power apps ten

[2020-03-09 14:09] OfficeGlobal commented on #1788
@TomoharuMisawa , @scanum article was HumanTranslated, the homepage name is "home.aspx" to keep it consistent with source

[2020-03-09 15:07] kaarins commented on #1821
@rjgeeky this feature works at the site collection level, so the entire current site collection (including all subsites) will be archived and replaced with the new site collection (which in your case would not have subsites). I will make this clearer in the article. Thanks for this feedback.

[2020-03-09 15:07] #1821 closed

[2020-03-09 15:56] TomoharuMisawa commented on #1788
In short, does this feature not work in a Japanese SharePoint environment? (In Japanese environment, Home.apsx becomes ホーム.aspx)

[2020-03-09 16:56] paulinelucas opened #1823 "Missing GPO settings - LocalMassDeleteFileDeleteThreshold"
This document contains information about ForcedLocalMassDeleteDetection but does not include information about
"LocalMassDeleteFileDeleteThreshold"
Is it accurate to state that “ForcedLocalMassDeleteDetection” enables or disables the detection function. The “LocalMassDeleteFileDeleteThreshold” is the threshold upon which the alert is triggered?

Can we please update the document to include what bo

[2020-03-09 17:45] LoreenLa commented on #1722
Still waiting to get an answer on this. Will let you know as soon as I can. Thanks!

From: Andres Mariano Gorzelany <notifications@github.com>
Sent: Thursday, March 5, 2020 4:55 AM
To: MicrosoftDocs/OfficeDocs-SharePoint <OfficeDocs-SharePoint@noreply.github.com>
Cc: Loreen La Penna <loreenl@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/OfficeDocs-SharePoint] Qui

[2020-03-09 17:47] cloudgreen commented on #1796
I agree it needs clarification, I was wondering about this also.

Is _side-by-side_ completely optional when doing ZDP?

[2020-03-10 08:41] pschneidermsft opened #1825 "Remove outdated document"
This document is no longer valid and should be removed for SharePoint Online.  The current search architecture doesn't support removing documents in this way.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6483a618-3769-564c-6497-cede9ab053c9
* Version Independent ID: 6953d747-40ec-6a06-7877-a98e42dcce1f
* Content: [Re

[2020-03-10 11:53] c-arthurs opened #1826 "Setting files to Online-only - Windows Server 2008"
Hi, I can use the attrib +u command on my windows 10 pc to offload files to the cloud.

When I tried to deploy this script on a Windows Server 2008 machine I get the error - Invalid switch - -U

Any ideas on the best automated way to set online only on a windows 2008 server?

Thanks

[2020-03-10 13:28] anoopras4 commented on #1810
Hi Manuela,
Any updates on this request?
Regards,Anoop Prasad
    On Saturday, March 7, 2020, 05:21:32 AM GMT+5:30, Manuela Scanu <notifications@github.com> wrote:

@anoopras4 Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-03-11 01:34] benchapmanvuw opened #1828 "Typo"
Can I request that “You’ll know your done when” be replaced with “You’ll know you’re done when”.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 871e3ed2-4749-654b-610d-c06167103ee1
* Version Independent ID: 685537c2-c689-48bb-579e-ecbc0778f7ae
* Content: [Modern intranet roadmap - SharePoint Online](https://docs.micros

[2020-03-11 02:04] scanum commented on #1823
@paulinelucas Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-03-11 02:04] scanum commented on #1825
@pschneidermsft Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-03-11 02:04] scanum commented on #1826
@c-arthurs thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep u

[2020-03-11 02:04] #1826 closed

[2020-03-11 02:05] scanum commented on #1828
@benchapmanvuw Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-03-11 13:41] lindspea commented on #1435
@kaarins

[2020-03-11 13:42] lindspea commented on #1442
@scanum this can be closed thank you.

[2020-03-11 13:51] lindspea commented on #1764
@MikePlumleyMSFT please could you assist with this. Related issue #1763

[2020-03-11 13:54] MikePlumleyMSFT commented on #1764
@TroyStarr can you help?

[2020-03-12 02:14] scanum commented on #1095
@kaarins Following up on this issue.

[2020-03-12 02:15] scanum commented on #1208
@j0rt3g4

[2020-03-12 02:15] scanum commented on #1217
@kaarins Any updates on this? Thanks!

[2020-03-12 02:15] scanum commented on #1232
@bentoncity Hi! Could you please aid us in the next steps? Thanks!

[2020-03-12 02:15] scanum commented on #1308
@rachoksh Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-03-12 02:15] #1308 closed

[2020-03-12 02:16] scanum commented on #1378
@sbiblow Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-03-12 02:16] #1378 closed

[2020-03-12 02:16] scanum commented on #1442
@TracyGH Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-03-12 02:16] #1442 closed

[2020-03-12 02:17] scanum commented on #1476
@kaarins Following up on this, any updates? Thanks!

[2020-03-12 02:17] scanum commented on #1481
@kaarins Following up on this, any updates? Thanks!

[2020-03-12 02:17] #1491 closed

[2020-03-12 02:17] scanum commented on #1492
@JoanneHendrickson Could you please help on this issue? Thanks.

[2020-03-12 02:18] scanum commented on #1496
@MikePlumleyMSFT Following up on this last comment. Please let us know if you have any questions. Thanks!

[2020-03-12 02:18] scanum commented on #1513
@JoanneHendrickson Following up on this issue. Thanks!

[2020-03-12 02:18] scanum commented on #1520
@JoanneHendrickson Following up on this issue. Thanks!

[2020-03-12 02:18] scanum commented on #1524
@TroyStarr @MikePlumleyMSFT Following up on this issue. Thanks

[2020-03-12 02:19] scanum commented on #1538
@blouwagie We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-03-12 02:19] #1538 closed

[2020-03-12 02:19] scanum commented on #1656
@Padavid Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-03-12 02:19] #1656 closed

[2020-03-12 02:20] scanum commented on #1663
@tseward Hi Trevor! Any updates on this? Thanks!

[2020-03-12 02:20] scanum commented on #1664
@kiranbellala We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-03-12 02:20] #1664 closed

[2020-03-12 02:21] scanum commented on #1682
@dneimke Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-03-12 02:21] #1682 closed

[2020-03-12 02:21] scanum commented on #1683
@drmiru Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-03-12 02:21] #1683 closed

[2020-03-12 02:22] scanum commented on #1684
@filipelteixeira Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-03-12 02:22] #1684 closed

[2020-03-12 02:22] scanum commented on #1702
@donzelch We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-03-12 02:22] #1702 closed

[2020-03-12 02:22] scanum commented on #1714
@Canis-Lupis We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-03-12 02:22] #1714 closed

[2020-03-12 02:23] scanum commented on #1732
@ingepepe Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-03-12 02:23] #1732 closed

[2020-03-12 02:23] scanum commented on #1736
@wizneeraj Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-03-12 02:23] #1736 closed

[2020-03-12 02:24] scanum commented on #1737
@JoanneHendrickson Hi Joanne! Any updates on this? Thanks!

[2020-03-12 02:24] scanum commented on #1742
Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-03-12 02:24] #1742 closed

[2020-03-12 02:24] scanum commented on #1745
@mattgaspar We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-03-12 02:24] #1745 closed

[2020-03-12 02:24] scanum commented on #1759
@rainerasbach Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-03-12 02:24] #1759 closed

[2020-03-12 02:26] scanum commented on #1776
@AJRus We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-03-12 02:26] #1776 closed

[2020-03-12 02:26] scanum commented on #1782
@Anyman99 thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us

[2020-03-12 02:26] #1782 closed

[2020-03-12 02:26] scanum commented on #1787
@selwyndd21 Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-03-12 02:26] #1787 closed

[2020-03-12 02:27] scanum commented on #1788
@TomoharuMisawa Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-03-12 02:27] #1788 closed

[2020-03-12 11:32] JonesMikael opened #1830 "Remove reference to "license" and "fee""
In this "Number of users to migrate" section there are references to "license" and "fee". I think this is just because it's a cut'n'paste from the mover.io documentation. I don't think this no longer applies since there is no longer a specific mover.io license required?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 65

[2020-03-12 14:34] JoanneHendrickson commented on #1830
Hi Mikael:  This language is in the process of being removed from the documentation.  Mover is free, and no licensing fees apply any longer.    Joanne

[2020-03-12 14:34] #1830 closed

[2020-03-12 16:54] dariomws commented on #1825
Hi @pschneidermsft, thank you for your feedback.

Sorry but I think it's not to remove documents, you only remove URLs from search results. If you are sure that this option doesn't work I can apply a pull request to check if it gets approval.

[2020-03-12 16:58] pschneidermsft commented on #1825
Actually, things are more complicated than what I originally wrote and what the article says.

Yes, the page is for removing URLs from search results (we normally refer to indexed items as documents no matter what they really are).  But putting a URL in on this page won’t always work.  It might be better to take this discussion to email and include a few people from the crawl team to decide how we

[2020-03-12 17:03] dariomws commented on #1825
@pschneidermsft thank you! Let's do it in this way.

[2020-03-12 20:32] j0rt3g4 commented on #1208
@scanum  Hello!, I'm waiting for the recommendations from @danmyhre .

[2020-03-12 22:46] danmyhre commented on #1208
See comment from October - this needs to be raised with the product group

[2020-03-13 08:43] obhayes opened #1834 "Configure team site libraries to sync automatically important info section"
For this GPO the text in the important section says "Do not enable this setting for libraries with more than 5,000 files or folders. Do not enable this setting for the same library to more than 1,000 devices" but doesn't explain why, can we provide some more info here, on what the user experience is, a lot of people move departmental file shares into SharePoint and may look at this feature to sync

[2020-03-13 10:52] j0rt3g4 commented on #1208
@scanum  there you go the answer from @danmyhre

[2020-03-13 14:05] nktran13 commented on #1728
I have many users, so I set 5TB, but someone has 5TB in onedrive, but another users just have 2GB? I don't know why?

[2020-03-13 15:07] felixbohnacker opened #1836 "What does "The number of CPU cores is specified here, not the number of CPU threads." mean?"
The statement "The number of CPU cores is specified here, not the number of CPU threads." caused quite a bit of confusion for me.

Are the CPU requirements for the different servers referring to the amount of virtual processors the respective virtual machine should have?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8

[2020-03-13 15:07] AmoebaFrank opened #1837 "Should this work for Teams?"
I have successfully implemented this and it works as expected in SharePoint, displaying 'Your organisation doesn't allow you to download.....' users can edit but have no option to download files.

My reason for implementing is to restrict downloading via Teams. After implementing I can see in Teams that the 'Download' option has been removed from the menu bar which is good.

When I open an Office

[2020-03-13 15:36] dariomws commented on #1822
Hi @Jiankui2018, thank you for your feedback.

This article doesn't have instructions to configure TLS on the IIS SMTP server. You don't need to configure it on SP2013. Sorry but maybe I misunderstood you.

[2020-03-13 15:45] dariomws commented on #1820
Hi @sing-ideas, thank you for your feedback.

I think I don't understand you. Each O365 tenant has a unique ID/directory ID and a unique initial domain (<companyname>.onmicrosoft.com). I think there is no direct relationship.

[2020-03-13 16:37] dariomws commented on #1813
Hi @SuperioOne, thank you for your feedback.

@MikePlumleyMSFT could you kindly help to get this information? Thanks!

[2020-03-13 17:18] scanum commented on #1496
@cloudgreen Thank you for engaging with the community here for the docs. We appreciate your contributions.

I know the product teams are always looking for user feedback and how to make SharePoint better. It would be great if you can comment there regarding the feature asks in this particular issue.They keep a close tab on user feedback and it would be awesome if you could add your voice in User V

[2020-03-13 17:18] #1496 closed

[2020-03-13 20:54] dariomws commented on #1806
Hi @err-unknown-username, thank you for your feedback.

I think it's the article that you are looking for:
https://docs.microsoft.com/sharepoint/refinement-web-part

[2020-03-13 21:05] dariomws commented on #1807
Hi @Madjid677 and @heinrich-ulbricht, thank you for your feedback.

"SharePoint Online does not provide a real-time dashboard for monitoring the status of the crawler or indexer. Each crawl and indexing job will take a varying amount of time."
Source:
https://techcommunity.microsoft.com/t5/sharepoint-support-blog/introduction-to-sharepoint-online-search/ba-p/170708

[2020-03-13 21:18] dariomws commented on #1802
Hi @jebalert, thank you for your feedback.

You can find this information in the next article:
https://docs.microsoft.com/sharepoint/hybrid/hardware-and-software-requirements-for-sharepoint-hybrid#inbound-connectivity-requirements

[2020-03-13 21:24] dariomws commented on #1801
Hi @NinjaSciurus, thank you for your feedback.

@MikePlumleyMSFT could you kindly help with this issue? I think Modern Sharing Experience it's not fully available yet.

[2020-03-13 21:42] MikePlumleyMSFT commented on #1801
SharePoint Server 2019 does have shareable links, but there is no capability to share with external users. @TroyStarr are there any central admin controls for the shareable links?

[2020-03-13 23:02] TroyStarr commented on #1801
Hi @MikePlumleyMSFT, I'm afraid we have no SharePoint farm administration controls to manage sharing in SharePoint Server 2019.  As you said, on-premises sharing doesn't support external/guest sharing, so users can only share content with users that can be resolved by SharePoint Server.

[2020-03-14 02:19] TroyStarr commented on #1822
Hi @dariomws, I think the concern is that this article discusses the "Use TLS connection encryption" setting in a couple of different places.  However, TLS connection encryption was first introduced in SharePoint Server 2016.  Older versions of SharePoint don't have this feature.

Maybe we should add a note about this to the top of the article, just like this note we added about SMTP authenticatio

[2020-03-14 13:33] dariomws commented on #1822
@TroyStarr agree I think a note is a good idea. Thank you!

Only 2019? What about 2016?

[2020-03-15 20:09] tseward commented on #1836
A physical CPU can have more than one thread (i.e. SMT) so the idea here is that you would not be considering SMT when performing your implementation.

[2020-03-15 20:27] tseward commented on #1806
This documentation would be the equivalent for SPO:

https://microsoft-search.github.io/pnp-modern-search/

Specifically, https://microsoft-search.github.io/pnp-modern-search/search-parts/search-refiners/

[2020-03-15 20:30] tseward commented on #1663
@rgshah26 did you get an update to your support case?

[2020-03-15 20:32] tseward commented on #1716
I believe PSTs are not supported due to their frequent changes and the lock Outlook creates on the PSTs (in other words, a sync would never complete). PSTs have never been supported on any form of network share, either, due to similar reasons.

Microsoft recommends not using PSTs and instead using Exchange [Online] archive mailboxes.

[2020-03-16 05:02] scanum commented on #1837
@AmoebaFrank thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep

[2020-03-16 05:02] #1837 closed

[2020-03-16 05:02] scanum commented on #1836
@felixbohnacker Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-03-16 05:02] #1836 closed

[2020-03-16 05:02] scanum commented on #1834
@obhayes  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-03-16 07:30] felixbohnacker commented on #1836
@tseward Thank you, that was exactly what I was wondering.

[2020-03-16 09:29] OwainYoung opened #1844 "Already-provisioned users"
How does Request-SPOPersonalSite behave when any of the specified users already have a personal site?

Or put another way: in an organisation where some users have already been using their personal site and some haven't, is there any problem with running Request-SPOPersonalSite for every user?  Including those that have already used their personal site.

Thanks

[2020-03-16 15:50] tseward commented on #1844
There is no impact/change as it will detect the site was already provisioned.

[2020-03-16 16:04] staehelir opened #1845 "Support SharePoint 2016"
How can I migrate from SharePoint 2016 to SharePoint Online?
As it seems, SharePoint 2016 is not supported.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 36d01d11-eea9-7f49-693d-25c3fecc6253
* Version Independent ID: 6749a619-2b75-1561-81e9-b45888c58c4b
* Content: [How to use the SharePoint Migration Tool - Migrate to

[2020-03-16 17:01] tseward commented on #1845
SharePoint 2016 is not supported by SPMT at this time. Microsoft recently purchased mover.io so you may want to investigate using that tool.

Otherwise, you can look at 3rd party options of which there are many.

[2020-03-16 18:17] danone1985 opened #1846 "auto update statistics ?"
this option is logical to be set to False.
There is no pointer about this. thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f70a2b05-ceef-af7f-78b2-18100771af3c
* Version Independent ID: 2fa1c886-a3cf-4c90-7d36-5257ea4d593a
* Content: [Storage and SQL Server capacity planning and configuration (SharePoint Server)

[2020-03-16 21:00] staehelir commented on #1845
I got the info from mover.io _Unfortunately, with the acquisition by Microsoft, we are no longer able to migrate data from SharePoint On-premises._

[2020-03-16 21:01] staehelir commented on #1845
at this time, it is only possible to migrate from SharePoint 2016 to SharePoint Online with 3rd party tools.

[2020-03-16 21:01] #1845 closed

[2020-03-16 23:51] tseward commented on #1846
Can you expand upon what you mean by 'no pointer', as in there is no instruction on how to do this?

[2020-03-17 08:05] anoopras4 commented on #1810
Hi  Manuela,
I haven't heard back on this? Are we getting the document updated?
I can try other channels like RFC with our PG in case you can't help.
Waiting for your response.
Regards,Anoop Prasad
    On Tuesday, March 10, 2020, 06:58:30 PM GMT+5:30, anoop prasad <anoop_prasad@yahoo.com> wrote:

  Hi Manuela,
Any updates on this request?
Regards,Anoop Prasad
    On Saturday, March 7, 2020, 05:21:

[2020-03-17 09:12] OwainYoung commented on #1844
Thanks!

[2020-03-17 10:28] lindspea commented on #1654
@OfficeGlobal I'll have a look now and let you know soonest.

[2020-03-17 10:34] lindspea commented on #1665
@mcox13579 Thanks for pointing this out and helping improve MS Docs. I'll have a look and get it sorted soonest.

[2020-03-17 13:53] cfizz34 opened #1854 "Need more detail"
I need it to show the anonymous identifiers in addition to the names so I can match them up.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4f92a9b5-b3b2-aceb-9813-a3e48bb469ca
* Version Independent ID: 55aa37c6-998b-a8d8-8986-88c4ed868aea
* Content: [Get a list of all user OneDrive URLs in your organization](https://d

[2020-03-17 19:33] brent-smith-msft opened #1855 ""LimitedAccessFileType WebPreviewableFiles (default)" - Inaccurate Information Correction"
The current value on this section is:

-LimitedAccessFileType WebPreviewableFiles (default) Allows users to preview Office files and other file types (such as PDF files and images) in the browser. Note that the contents of file types other than Office files are handled in the browser. This option optimizes for user productivity but offers less security for files that aren't Office files.

This is

[2020-03-17 20:19] dariomws commented on #1791
Hi @AndySanchezVM, thank you for your feedback.

I understand there is no way to do it. You can give your vote this feature here:
https://onedrive.uservoice.com/forums/913534-onedrive-security-policy-administration/suggestions/35359180-pooled-storage-option-for-onedrive-premium-users

[2020-03-17 20:53] dariomws commented on #1646
Hi @GamalielCorona, thank you for your feedback.

Maybe it's the article you're looking for:
https://docs.microsoft.com/sharepoint/modern-experience-sharing-permissions

[2020-03-17 20:59] dariomws commented on #1419
Hi @jtlivio and @SLCPS, thank you for your feedback.

It should be released soon, based on the roadmap in the next days I think:
https://www.microsoft.com/en-us/microsoft-365/roadmap?filters=&searchterms=46338

[2020-03-17 21:10] heinrich-ulbricht commented on #1807
Adding information how to determine the last crawl time would be helpful. Something like this: https://www.techmikael.com/2015/01/crawl-time-for-sharepoint-online-and.html - if this is still applicable.

[2020-03-17 21:16] dariomws commented on #1795
Hi @andocromn and @jeopardize95, thank you for your feedback.

I tested in two different tenants and it works for me:
![image](https://user-images.githubusercontent.com/33589238/76902611-2b016800-687b-11ea-9b87-2cbc6092b51a.png)
I encourage you to continue working with support as this is the correct way to handle this problem.

Docs feedback is available to improve documentation and it seems to be

[2020-03-17 21:17] dariomws commented on #1796
Hi @danone1985, thank you for your feedback.

@MikePlumleyMSFT could you kindly help with this issue? Thanks!

[2020-03-17 21:22] jeopardize95 commented on #1795
Hello Dario,
That’s strange. Would you like me to show you? Happens in three of my tenants :-(

Med vennlig hilsen
Andreas Aasheim
Arkitekt | Microsoft 365
Tlf: 98114408
Easify AS
________________________________
Fra: Dario Woitasen <notifications@github.com>
Sendt: Tuesday, March 17, 2020 10:16:49 PM
Til: MicrosoftDocs/OfficeDocs-SharePoint <OfficeDocs-SharePoint@noreply.github.com>
Kopi: Andreas

[2020-03-17 21:28] dariomws commented on #1795
Sorry, I think you should continue working with support as I cannot provide you with this kind of assistance.

[2020-03-17 21:29] dariomws commented on #1807
My apologies @heinrich-ulbricht, I cannot add this information to the article as it's not official information.

[2020-03-17 22:05] andocromn commented on #1795
Hi @dariomws

[2020-03-17 22:11] andocromn commented on #1795
Hi @dariomws, can you please provide further detail?  I have followed the instructions, Please see the screenshot showing that the Copy Library Link is not available.  thank you

![2020-03-17 18_04_51-Microsoft Edge](https://user-images.githubusercontent.com/1273420/76906520-7c5d2780-687a-11ea-9e61-63f37cd68f0a.jpg)

[2020-03-17 22:12] heinrich-ulbricht commented on #1807
@dariomws Then let's make it official :D

I suspect one could use the crawl log to check an item for the last time it has been crawled, maybe even infer the crawl interval. There is some documentation around this (e.g. [how to give permissions to the log](https://docs.microsoft.com/en-us/sharepoint/set-crawl-log-permissions)) - but nothing immediately accessible on how to actually get those logs.

[2020-03-17 22:16] MikePlumleyMSFT commented on #1796
@TroyStarr can you help?

[2020-03-17 22:42] dariomws commented on #1795
The steps in the article worked for me. Please open or continue working with support as it's the correct way to get assistance on this issue.

Thanks.

[2020-03-17 22:52] dariomws commented on #1795
I have followed the instructions in the article in two different tenants and it works for me.

This issue was reported before:
https://github.com/MicrosoftDocs/OfficeDocs-SharePoint/issues/1326

And the screenshot was updated:
https://github.com/MicrosoftDocs/OfficeDocs-SharePoint/pull/1386

There you can find another way to get the library ID.

@kaarins could you kindly add something else here? T

[2020-03-17 22:55] dariomws commented on #1807
Unfortunately, I think I can't do anything else, but I think the blog post is conclusive.

[2020-03-18 02:00] andocromn commented on #1795
Hi @dariomws, just to clarify I am not requesting support for this matter, I had the library ID and group policy working before submitting this report.  I am merely trying to help report the inaccuracy in the article so that it may be corrected.  I understand that #1386 describes other means of obtaining the Library ID, but the article in question does not provide the instructions in #1386

For th

[2020-03-18 06:53] JimmyHang opened #1856 "Support for Edge, Chrome and ect.."
Hi All,

I just completed configuring this and things works as expected on IE, but not with Edge, Chrome ect. Please update the article clarifying what works and on what condition. This feature is awesome, but right now useless because no one uses IE as browser anymore. That said when can we see an updated versjon of this feature.

Thanks

---
#### Document Details

⚠ *Do not edit this section. It

[2020-03-18 07:30] scanum commented on #1855
@brent-smith-msft Please link the documentation you are referring to. Thanks!

[2020-03-18 07:31] scanum commented on #1856
@JimmyHang thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep u

[2020-03-18 07:31] #1856 closed

[2020-03-18 07:31] scanum commented on #1854
@cfizz34  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-03-18 07:31] scanum commented on #1844
@OwainYoung Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-03-18 07:31] #1844 closed

[2020-03-18 11:59] Madjid677 commented on #1807
Hi all, thank you for all your inputs. Before closing that question, I would like to see a print screen of crawl log content as an example. Is that possible without displaying confidential info? If so, please help us. Best regards,

[2020-03-18 13:18] brent-smith-msft commented on #1855
Hi @scanum - https://docs.microsoft.com/en-us/sharepoint/control-access-from-unmanaged-devices#advanced-configurations is the article.

Sorry for any confusion on my part when I submitted. I didn't realize that the source URL would not carry over into my feedback automatically.

[2020-03-18 14:58] cfizz34 commented on #1854
When I run this all I get is the username via numbers and not the friendly name.  I need a way to match this up to the real username,displayname, UPN that comes from the PS command you guys are suggesting to use to get all the onedrive accounts.

    "@odata.context": "https://graph.microsoft.com/v1.0/$metadata#users",
    "@odata.nextLink": "https://graph.microsoft.com/v1.0/users/?$skiptoken=X%27

[2020-03-18 15:24] dariomws commented on #1807
@Madjid677:
![image](https://user-images.githubusercontent.com/33589238/76976174-613df680-6912-11ea-99f8-8b45adad28e7.png)

I'm also adding the link to Get-PnPSearchCrawlLog to see if it gets approval.

[2020-03-18 21:55] liaqatba opened #1859 "Error: Please check that the target document library exist in target site."
I am doing a pilot project to move users data from shared path UNC to OneDrive for Business by using SPMT. I am using  **Select .JSON or .CSV file for bulk migration**. But when I choose below CSV file and click Add then getting the below error:

**CSV File**
"\\DC01\C$\temp\diegos",,,https://m365x683021-my.sharepoint.com/personal/user_m365x683021_info,user,

**Error:**
Task 1. Please check that t

[2020-03-19 12:49] AndyTuke opened #1860 "OneDrive Example"
Can you please give some examples for OneDrive migrations as well as SharePoint

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 27475eb6-82f5-1f75-a304-e5696092a3e1
* Version Independent ID: e9bd89b2-a04d-5509-5c76-fc0602cc8515
* Content: [How to format your CSV or JSon file for data content migration - Migrate to Share

[2020-03-19 13:11] escricco commented on #1153
I had same error (Please re-enter your user ID or password) when connecting to a SharePoint 2010 farm, and the log shows this error:
Web Issue when doing SP Query ---> Microsoft.SharePoint.Migration.Common.Exceptions.WebExceptionBase ---> System.Net.WebException: The remote server returned an error: (407) Proxy Authentication Required.

It turns out I do require a proxy that is requiring authentic

[2020-03-19 16:36] kaarins commented on #1705
@divyachapan I can't find the perfect destination for this link. Do you have a page in mind?

[2020-03-19 16:40] kaarins commented on #1716
@gacarini please let me know if you would like me to explicitly mention pst files in this article.

[2020-03-19 16:50] WayneEwington commented on #1728
@Chukaka Please contact Microsoft support to discuss your needs and the prerequisites.

[2020-03-19 16:57] WayneEwington commented on #1728
@nktran13 If the default Quota size is changed, then the User's OneDrive for Business Quota size is not changed until the user next accesses their OneDrive for Business.

[2020-03-19 20:28] get-itips commented on #1728
Thanks @WayneEwington Wayne for your contribution.
@scanum Manuela please proceed closing this one.

[2020-03-19 21:18] brent-smith-msft commented on #1855
Just adding a note that now 2 customers have opened Sev-A tickets because they did not understand the article. The suggested change will alleviate and remove any misunderstandings on the topic.

[2020-03-19 21:20] qtbr opened #1861 "Once the classic root site has been replaced, is it safe to delete it?"
Once the classic root site has been replaced, is it safe to delete it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7a824ca6-37ae-11c4-f04e-5de1ba5551c5
* Version Independent ID: b02f6141-9dc9-1e26-8beb-9a1f21dd042e
* Content: [Modernize your root site - SharePoint Online](https://docs.microsoft.com/en-us/sharepoint/

[2020-03-19 21:42] brent-smith-msft commented on #1855
The suggested text has been modified to more appropriately reflect the reality that our customers face when they use this option to control unmanaged devices.

[2020-03-19 22:31] jackvdbuk opened #1862 "Limited Access -Block also saving to OneDrive/SPO?"
Hi There,
As part of our BYOD policy, we want to restrict Office 365 apps saving to SPO/OneDrive. When implementing the above i can no longer open any documents but still fully allows any docs to be saved to this location. How can this be blocked also?

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2f2abda5-927

[2020-03-19 23:09] cblaylo3 opened #1863 "Unable to find Manager as site admin after Cleanup my Sites job runs."
The MS documentation [here](https://docs.microsoft.com/en-us/onedrive/retention-and-deletion?redirectSourcePath=%252farticle%252fef883c48-332c-42f5-8aea-f0e2366c15f9) states that this job will provide the manager with full access to the deleted users onedrive. My problem isn't that this isnt happening, my problem is that I can find any way to verify it through powershell.

When I run **Get-SPOuser

[2020-03-20 05:25] scanum commented on #1860
@AndyTuke Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-03-20 05:26] scanum commented on #1859
@liaqatba thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us

[2020-03-20 05:26] #1859 closed

[2020-03-20 05:26] scanum commented on #1861
@qtbr thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us pos

[2020-03-20 05:26] #1861 closed

[2020-03-20 05:26] scanum commented on #1862
@jackvdbuk thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep u

[2020-03-20 05:26] #1862 closed

[2020-03-20 05:26] scanum commented on #1863
@cblaylo3 thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us

[2020-03-20 05:26] #1863 closed

[2020-03-20 10:57] nktran13 commented on #1728
@Wayne Ewington, so I deleted the user, example deleted phuong.cao@vietcad.com and then re-create phuong.cao@vietcad.com again, then I sign in these account in onedrive.com, so check it has storage 5TB.

Tải Outlook for Android

On Fri, Mar 20, 2020 at 3:28 AM +0700, "Andres Mariano Gorzelany" <notifications@github.com> wrote:

Thanks @WayneEwington Wayne for your contribution.

@scanum Manuela pl

[2020-03-20 19:54] CThreadgill opened #1866 "Limit access to specific site has wrong cmdlet"
Under step 9 to limit access to multiple sites, the command after the pipe is currently Set-SPOTenant however it needs to be Set-SPOSite

[2020-03-23 05:51] Disorganise opened #1867 "Spelling error"
In the sync section  https://docs.microsoft.com/en-us/OneDrive/plan-onedrive-enterprise#sync , it says "then you'll need to follow a slightly different process to upgrade to the new sync clieappnt"

I assume "clieappnt" is a typo and should be "client app"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9733a774-90dc-8

[2020-03-23 06:02] Disorganise opened #1868 "Is file retention linked to file ownership and can it be migrated?"
The text says:  "you can also configure data retention settings for users whose accounts have been deleted (the maximum value is 10 years)." with link back to the to this same page which is not overly useful.
If multiple people in an organisation access/update a particular file, and the original creator leave and has their account deleted, is the file at risk of being automatically deleted at the

[2020-03-23 11:12] get-itips commented on #1680
@kaarins Kaarin, do you think we can provide a diagram for this page ? Thank you!

[2020-03-23 11:20] get-itips commented on #1728
@scanum please close this thread.

[2020-03-23 11:27] get-itips commented on #1773
@scanum Manuela, article has been updated to improve it, please close this. @Jabfag2356 Please review the updated article.

[2020-03-23 11:30] get-itips commented on #1751
@kaarins Kaarin, can you please step in to shed some light here? Thank you!

[2020-03-23 11:31] get-itips commented on #1735
@JoanneHendrickson Can you help us here? Thank you!

[2020-03-23 12:05] get-itips commented on #1703
Hello @dataCollegechurch I am proposing thru a Pull Request, to add a Screenshot to the article, if the author approves it, it will be reflected online. Thanks

[2020-03-23 12:08] get-itips commented on #1771
@scanum Manuela, we can close this issue now.

[2020-03-23 12:09] get-itips commented on #1722
@LoreenLa Loreen, how are you ? 👍 any updates? Thank you

[2020-03-23 12:10] get-itips commented on #1655
@kaarins Kaarin can you help us here ? Thank you 👍

[2020-03-23 12:18] get-itips commented on #1744
@JoanneHendrickson @MikePlumleyMSFT can you kindly confirm what I experienced in my tests ? Thank you

[2020-03-23 16:08] LoreenLa commented on #1722
Sorry, still waiting for an answer. I am working on it. Thanks for your patience!

From: Andres Mariano Gorzelany <notifications@github.com>
Sent: Monday, March 23, 2020 5:09 AM
To: MicrosoftDocs/OfficeDocs-SharePoint <OfficeDocs-SharePoint@noreply.github.com>
Cc: Loreen La Penna <loreenl@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/OfficeDocs-SharePoint] Quick

[2020-03-23 18:02] eugenevdm commented on #1484
Just leaving a comment and lots of love for the Microsoft team as a reminder that companies merge and change names and so on and this would really be a lovely feature.

[2020-03-23 18:09] abymanutd opened #1870 "Connection not working"
Hello,

Starting today, am not able to pass authentication with SPMT.
After inserting username and password, SPMT its stuck in the loading state . Not able to connect with source or destination site.
Please see the image.
![spmt](https://user-images.githubusercontent.com/24238949/77348453-ddb84700-6d0f-11ea-8fed-3c586d6d4e04.jpg)

[2020-03-23 18:09] LoreenLa commented on #1722
The documentation appears to be correct in that, for modern sites, external URLs open in a new tab, while internal URLs open in the same tab. There is no way to change this behavior currently. A good way to request this feature is to post in SharePoint User Voice: https://sharepoint.uservoice.com/. Thank you!

[2020-03-23 20:18] junterpfe opened #1871 "1000 domains limit"
contradicting info here https://docs.microsoft.com/en-us/sharepoint/restricted-domains-sharing
is it 1000 or 3000?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ab9f7bfd-4962-7f83-b09c-6ee338296ec3
* Version Independent ID: d0fc2b43-93e7-a8c0-f541-557a65cc9256
* Content: [Manage sharing settings - SharePoint Online](h

[2020-03-24 02:41] hisuzuki opened #1872 "Request add Information"
Please add Information for NOTE.
“This setting affects the other web applications such as Teams ...”
And list all affected applications.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2f2abda5-9273-1a56-91b6-e4e77d5706b0
* Version Independent ID: 6a85f2a5-b892-55f7-b49a-4ab15f1e8b73
* Content: [Control access from unma

[2020-03-24 08:24] scanum commented on #1866
@CThreadgill Please link the documentation you are referring to. Thanks!

[2020-03-24 08:24] scanum commented on #1867
@Disorganise  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-03-24 08:24] scanum commented on #1868
@Disorganise  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-03-24 08:24] scanum commented on #1871
@junterpfe  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-03-24 08:24] scanum commented on #1872
@hisuzuki  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-03-24 08:25] scanum commented on #1870
@abymanutd thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep u

[2020-03-24 08:25] #1870 closed

[2020-03-24 09:56] prashant1380 opened #1873 "Automated site quota management"
If is mentioned that if we will use automated site quota management, then all sites will get 25TB of storage quota. What will happen in a scenario where there are thousands of sites and each site will have a quota limit of 25 TB but then total SP quota becomes less than as compared to no. of sites x 25TB and in actual all sites are using very less space (not full 25 TB). Could you please clarify t

[2020-03-24 11:12] srinivasamyneni opened #1874 "Modern Search & Cloud Hybrid Search"
How does this works with Modern Search in Office 365. Does it allow to add a new vertical for SP 2016 results to appear as a separate tab in Modern Search results page? Like "All", "Files", "Sites", "People", "News" and "SP2016".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d441302d-3491-cfbe-c1a9-1478ece0e49f
* Vers

[2020-03-24 13:22] Jiankui2018 commented on #1822
Yes, that's what I would like to see. Thanks all.

[2020-03-24 13:24] #1822 closed

[2020-03-24 16:01] KoenPraet commented on #1217
@scanum, @nidelius: you have to use FSLogix on RD Session hosts, without that solution it is not possible to use onedrive on these environments. You cannot use onedrivesetup.exe /alluser. It is important to use the correct onedrive installer

[2020-03-25 11:41] Maartenf2 opened #1875 "External O365 users not recieving invitation email"
Hi,

I am testing the SP B2B preview.

When I share my file with an external Office365 user, this user doesn't get the invitation e-mail.

In my AAD, the user is added as 'invited user'.

Any idea how to resolve this?

It seems to be happening only when sharing to O365 domains, I've tried multiple.

Kr,

Maarten

[2020-03-25 19:00] jacobmoran opened #1876 "BLOB Cache Performance Counters"
The BLOB Cache Performance Counters are located in the \SharePoint Disk-Based Cache object, not the \SharePoint Publishing Cache as referenced above. (Typeperf.exe -q for the win!)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 889bdc1a-54b0-0aea-3871-879c562261aa
* Version Independent ID: 3de69659-cf91-ba73-683d-0ba9f

[2020-03-26 06:42] scanum commented on #1095
@kaarins Following up on this issue.

[2020-03-26 06:42] scanum commented on #1122
@sowjanya365 Any updates on this? Thanks

[2020-03-26 06:42] scanum commented on #1208
@danmyhre Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-03-26 06:42] #1208 closed

[2020-03-26 06:42] scanum commented on #1419
@jtlivio Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-03-26 06:42] #1419 closed

[2020-03-26 06:43] scanum commented on #1646
@GamalielCorona Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-03-26 06:43] #1646 closed

[2020-03-26 06:43] scanum commented on #1654
@OfficeGlobal Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-03-26 06:43] #1654 closed

[2020-03-26 06:43] scanum commented on #1663
@rgshah26 We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-03-26 06:43] #1663 closed

[2020-03-26 06:43] scanum commented on #1671
@OfficeGlobal Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-03-26 06:44] #1671 closed

[2020-03-26 06:44] scanum commented on #1672
@OfficeGlobal Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-03-26 06:44] #1672 closed

[2020-03-26 06:44] scanum commented on #1673
@OfficeGlobal Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-03-26 06:44] #1673 closed

[2020-03-26 06:44] scanum commented on #1665
@mcox13579 Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-03-26 06:44] #1665 closed

[2020-03-26 06:44] scanum commented on #1693
@Padavid Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-03-26 06:44] #1693 closed

[2020-03-26 06:44] scanum commented on #1703
@dataCollegechurch Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-03-26 06:44] #1703 closed

[2020-03-26 06:44] scanum commented on #1704
@spalmo Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-03-26 06:44] #1704 closed

[2020-03-26 06:45] scanum commented on #1706
@OfficeGlobal Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-03-26 06:45] #1706 closed

[2020-03-26 06:45] scanum commented on #1711
@ChrisGreenacre Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-03-26 06:45] #1711 closed

[2020-03-26 06:45] scanum commented on #1724
@zylantha Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-03-26 06:45] #1724 closed

[2020-03-26 06:45] scanum commented on #1728
@Chukaka Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-03-26 06:45] #1728 closed

[2020-03-26 06:45] scanum commented on #1757
@Canis-Lupis Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-03-26 06:45] #1757 closed

[2020-03-26 06:45] scanum commented on #1771
@Jabfag2356 Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-03-26 06:45] #1771 closed

[2020-03-26 06:46] scanum commented on #1773
@Jabfag2356 Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-03-26 06:46] #1773 closed

[2020-03-26 06:46] scanum commented on #1791
@AndySanchezVM Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-03-26 06:46] #1791 closed

[2020-03-26 06:46] scanum commented on #1795
@andocromn Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-03-26 06:46] scanum commented on #1802
@jebalert Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-03-26 06:46] #1802 closed

[2020-03-26 06:47] scanum commented on #1806
@err-unknown-username Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-03-26 06:47] #1806 closed

[2020-03-26 06:47] scanum commented on #1807
@Madjid677 Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-03-26 06:47] #1807 closed

[2020-03-26 06:47] scanum commented on #1810
@anoopras4 Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-03-26 06:47] #1810 closed

[2020-03-26 06:47] scanum commented on #1811
@JonesMikael Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-03-26 06:47] #1811 closed

[2020-03-26 06:47] scanum commented on #1812
@EricMcComac Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-03-26 06:47] #1812 closed

[2020-03-26 06:47] scanum commented on #1817
@OfficeGlobal Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-03-26 06:47] #1817 closed

[2020-03-26 06:47] scanum commented on #1820
@sing-ideas Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-03-26 06:47] #1820 closed

[2020-03-26 06:47] scanum commented on #1823
@paulinelucas Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-03-26 06:47] #1823 closed

[2020-03-26 06:47] scanum commented on #1825
@pschneidermsft Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-03-26 06:47] #1825 closed

[2020-03-26 06:47] scanum commented on #1828
@benchapmanvuw Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-03-26 06:47] #1828 closed

[2020-03-26 06:48] scanum commented on #1846
@danone1985  We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-03-26 06:48] #1846 closed

[2020-03-26 06:48] scanum commented on #1854
@cfizz34 thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us

[2020-03-26 06:48] #1854 closed

[2020-03-26 06:49] scanum commented on #1873
@prashant1380 Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-03-26 06:50] scanum commented on #1874
@srinivasamyneni Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-03-26 06:50] scanum commented on #1875
@Maartenf2 thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep u

[2020-03-26 06:50] #1875 closed

[2020-03-26 06:50] scanum commented on #1876
@jacobmoran  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-03-26 12:30] burtzz opened #1878 "SyncAadB2BManagementPolicy $true"
May I  get more details on what does this command change?
taken from a question already closed: "When you run Set-SPOTenant -SyncAadB2BManagementPolicy $true it does tell SPO to sync AAD policies/settings"
What AAD policies/settings are synced?
I got external sharing on SP and OD enabled by group membership, also we limit the domains with who we can share with on the SP root and also at the site c

[2020-03-26 13:22] MikePlumleyMSFT commented on #1878
@burtzz when you enable B2B sync, then SharePoint will respect the Azure AD settings in the same way that SharePoint sites respect the SharePoint tenant settings. In the case of  Collaboration restrictions: Allow invitations to be sent to any domain (most inclusive), you can invite guests from any domain from within Azure, but any SharePoint or OneDrive restrictions you've put in place will hold t

[2020-03-26 15:01] swatt6400 opened #1879 "Site administrator vs. Collection administrator controlled"
I came looking for details on those.  What exactly are the implications of choosing one vs. the other?  No explanation really, except reciting that you can choose one or the other.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 38c711b7-da62-2354-b70c-aa94ddfab6f9
* Version Independent ID: 84b1d7f4-39a1-ef00-25df-fccde

[2020-03-26 15:58] mikelee-msft opened #1880 "We should note the current on-prem limitation"
There is a current limitation of being able to only sync one on-prem web application URL Farm wide.  We are seeing that many customers that are trying to sync more then one on-prem web applications (URL) and failing, then opening support cases. Can we please update this article to state the known limitation to help customers avoid any misunderstandings.

---
#### Document Details

⚠ *Do not edit t

[2020-03-26 17:50] burtzz commented on #1878
Great, thanks. Glad that Sharepoint/Onedrive still hold true.
I did opt-in for B2B a few hours ago.
At sharepoint admin level I can still see the list of allowed external domains.
To make sure I tried to share with a domain that isn't on the list and it didn't work.

[2020-03-26 18:31] kaarins commented on #1095
@StephenRiceMSFT can you please advise?

[2020-03-27 08:43] Disc0veryX opened #1882 "A mistake in the content of the article"
There are two same text links in the content of the article - "How to import a query suggestions file to SharePoint Server". However the first one should be "How to import a query suggestions file to SharePoint Online".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c3a4cea1-5da6-266b-0e72-9fc0c3cd20f1
* Version Indepe

[2020-03-27 09:20] Disc0veryX opened #1883 "Mistakes"
"WordCustomRefiner1, WordCustomRefiner2, WordCustomRefiner3, WordCustomRefiner4, WordCustomRefiner5WordExactCustomRefinerWordPartCustomRefiner1, WordPartCustomRefiner2, WordPartCustomRefiner3. WordPartCustomRefiner4, WordPartCustomRefiner5WordPartExactCustomRefinerThese"

Some punctuation marks in this fragment of the text are absent.

---
#### Document Details

⚠ *Do not edit this section. It is

[2020-03-27 20:09] kaarins commented on #1680
@MikeTheNomadArchitect thanks for this suggestion! We're working on it.

[2020-03-27 20:09] #1680 closed

[2020-03-27 20:12] kaarins commented on #1751
@andreyesipov can you provide more info? Thanks!

[2020-03-27 20:38] andrey-esipov commented on #1751
Hi, Everyone. The way this value is recorded is outlined here https://docs.microsoft.com/en-us/onedrive/use-group-policy#AutomaticUploadBandwidthPercentage. But in essence, when the sync client uploads the files it will periodically record (within a 1 minute period) the maximum available rate that the file can get uploaded at. Available network speeds + ISP settings + the number of files being upl

[2020-03-27 21:55] get-itips commented on #1751
Thanks @andrey-esipov for that explanation !
@ruairidhlc I hope that clarifies it to you.

[2020-03-30 07:19] scanum commented on #1879
@swatt6400 Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-03-30 07:19] scanum commented on #1882
@Disc0veryX Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-03-30 07:19] scanum commented on #1883
@Disc0veryX Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-03-30 13:34] robertcaretta opened #1885 "OneDrive"
Can this tool migrate file share content to work OneDrive accounts?
https://danfoss-my.sharepoint.com/personal/username_company_com/_layouts/15/onedrive.aspx

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 08bbc47b-020e-8837-3f2f-f2911eec8476
* Version Independent ID: 7d392968-5ee9-7fab-323f-98cd54097fd3
* Content: [Mig

[2020-03-30 13:36] robertcaretta commented on #1860
I am interested in this as well. Thank you.

[2020-03-30 15:07] dariomws commented on #1834
Hi @obhayes, thank you for your feedback.

I understand that this is the reason:
https://docs.microsoft.com/office365/servicedescriptions/sharepoint-online-service-description/sharepoint-online-limits#sync

But now this limit don't apply to the new client and I think it must be updated. I will do.

[2020-03-30 15:24] dariomws commented on #1834
About the 1000 devices limit, it's related to Windows Push Notification Services (WNS):
https://docs.microsoft.com/onedrive/sync-process

[2020-03-30 16:25] dariomws commented on #1855
Hi @brent-smith-msft, thank you for your feedback.

I have one question. Can they preview some PDF and image files using the browser or it never works?

Thanks.

[2020-03-30 16:47] brent-smith-msft commented on #1855
Hi @dariomws  - No. It is not possible to preview PDF and image files using a browser in the scenario that I laid out.

[2020-03-30 17:30] dariomws commented on #1860
Hi @AndyTuke and @robertcaretta, thank you for your feedback.

This article apply to both (SP and OneDrive), so you should use this format. But maybe I don't understand your suggestion.