[2018-10-03 18:57] AndreaBarr commented on #289
@Rupbret Thank you for this feedback

I am not sure why this script is not working. Let me get this in front of the SharePoint team for investigation and updating. If you need the answer for this expedited please contact Support since they can also handle this inquiry.

Here is a quick video on opening a ticket: https://www.youtube.com/watch?v=puuOy0sEg1Y

The team will get this prioritized into a

[2018-10-03 19:11] AndreaBarr commented on #290
@mikelee-msft Thank you for this feedback

It looks like Trevor updated the article and we are just waiting on it to be reviewed and approved for merging. We appreciate the information you provided and the time you are taking to make the docs better.

[2018-10-03 19:16] AndreaBarr commented on #291
@mikelee-msft Thank you for this feedback

We appricate you helping us make sure the docs stay updated. It looks like Trevor has updated the article to reflect your suggestion. I am going to close this issue as resolved. If the issue is not resolved please reopen the issue.

[2018-10-03 19:16] #291 closed

[2018-10-03 19:27] AndreaBarr commented on #294
@giridhardunga Thank you for this feedback.

I am not sure how to assist in this issue but Support has more resources than I do and can handle this to resolution.

Here is a quick video on opening a ticket: https://www.youtube.com/watch?v=puuOy0sEg1Y

If you don't mind please keep us posted here on the resolution and I really want to get this information you are discovering back into the docs.

[2018-10-03 19:27] #294 closed

[2018-10-03 19:57] AndreaBarr commented on #295
@rajeshswim Thank you for this feedback

I will get this link looked at and have it updated so that it works.

The team will get this prioritized into a sprint plan. Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2018-10-03 20:04] AndreaBarr commented on #296
@dmahendranme Thank you for this information

I will make this information about the case sensitivity gets infront of the SharePoint team so that we can get it added to the article.

The team will get this prioritized into a sprint plan. Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2018-10-04 15:12] bernardw1 opened #297 "unable to find settings being referenced"
I am trying to find the popularity and search reports refered to in this article but I am unable to find them.

when I go to Site Settings &gt; Site Administration &gt; I do not see a Popularity Trends.
Same as when I go to Site Settings &gt; Site Collection Administration &gt; I do not see a Popularity and Search Trends.

This is in Sharepoint online/O365.
![image](https://user-images.githubuserc

[2018-10-04 16:02] rhett-thompson opened #299 "Where does the migration tool store its data?"
I've removed the application but the intermediate data is still present.

[2018-10-04 18:14] kaarins commented on #295
@rajeshswim, this is fixed now. Thanks for pointing it out!

[2018-10-04 18:14] #295 closed

[2018-10-04 18:16] AndreaBarr commented on #297
@bernardw1 Thank you for this feed back

It's odd that Popularity Trends is not listed for you. I want to get this over to the SharePoint team for investigation. I also want to get you over to Support as well so that we can tackle this on both ends.

Here is a quick video on opening a ticket: https://www.youtube.com/watch?v=puuOy0sEg1Y

The team will get this prioritized into a sprint plan. Thank

[2018-10-04 18:19] bernardw1 commented on #297
Thank you for the response. I will open a case with support tomorrow when I have some time to dig into the issue. (I am guessing at least that you wanted me to open the case with Support).

[2018-10-04 18:20] AndreaBarr commented on #297
@bernardw1 yes please open a case with Support when you can.

[2018-10-05 14:23] ravick4u opened #300 "Refinable is disabled"
Why we could not set Refinable and is there a way we can create Refinable property via PowerShell?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b707d763-4c82-0d68-9cc7-35fb66935d25
* Version Independent ID: 4da67e73-1af9-ed9d-f367-4048ce5897fd
* Content: [Manage the search schema in SharePoint Online](https://docs.mi

[2018-10-05 18:00] kaarins commented on #282
The updates have been published. Thank you!

[2018-10-05 18:01] #282 closed

[2018-10-05 18:03] kaarins commented on #281
@BacharBader , thanks for this feedback. I will add the links to the Insider program!

[2018-10-07 21:51] armely opened #303 "is the KB3092179 still applicable?"
The download says it's no longer available.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 03471062-4810-b5b9-2caa-286e5ed90706
* Version Independent ID: 4b2baed1-f7b4-81d1-dedd-28f45b5e31f1
* Content: [Use a sample MIM solution in SharePoint Server 2016](https://docs.microsoft.com/en-us/sharepoint/administration/use-a

[2018-10-08 14:55] ubhub opened #306 "brian"
I'm confused. I want to set up OneDriveforBusiness for my teaching files on my personal computer. I don't want to mess with my personal OneDrive. I don't have Office installed at mo. It's on an old PC. I don't have a 365 sub and neither does my school. I downloaded the ODfB zip and extracted and opened the Deploy … file to get me here. Do you have a video? I ran sccm create device collection from

[2018-10-09 07:29] wenhua-helen commented on #288
The SharePoint Migration Tool lets you migrate lists or files from your SharePoint sever 2013 document libraries or from your on-premises file shares and move them to either SharePoint or OneDrive in Office 365. Migration from SharePoint 2007 is not supported.

[2018-10-09 08:52] davidem00 opened #307 "Why the hell is this not available on the consumer version?"
BS!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a3a0cebd-7e82-6631-bdee-031b3b84f74d
* Version Independent ID: ee04db29-a6db-2874-2573-d80f0b415308
* Content: [Block syncing of specific file types](https://docs.microsoft.com/en-us/onedrive/block-file-types)
* Content Source: [OneDrive/block-file-types.md](https://gi

[2018-10-09 15:52] #281 closed

[2018-10-09 17:50] Rupbret commented on #289
Per Microsoft: The SharePoint Migration Tool lets you migrate lists or files from your SharePoint sever 2013 document libraries or from your on-premises file shares and move them to either SharePoint or OneDrive in Office 365. Migration from SharePoint 2007 is not supported.

[2018-10-09 18:37] AndreaBarr commented on #289
@Rupbret Thank you for giving us this information.

I've added this to the backlog item so we can get this added to the article.

[2018-10-09 23:18] jt980 opened #308 "New and Existing External Users"
"New external users will be added to Azure Active Directory when they sign in to view the shared item. "  &lt;-- Does this mean that everyone (external) who views shared files is automatically added to our internal Active Directory?  Because that is what it is saying!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 40a5

[2018-10-10 10:50] DaKarli opened #309 "Description does not match what is available in reality."
Hi kaarins,

something must be wrong because if I follow this description, there is no menu or link as described in paragraph 5.

I hope you can verify and correct this. Or did I find a future feature? ;-)

Cheers, Harry.

---
#### Dokumentdetails

⚠ *Bearbeiten Sie diesen Abschnitt nicht. Er ist für die Verknüpfung von docs.microsoft.com zum GitHub-Artikel erforderlich.*

* ID: 0293eda0-8476-a578

[2018-10-10 12:55] andikrueger opened #310 "SharePoint Server 2016 zero downtime patching steps - readability"
Some sections of the current documentation are hard to read. Steps, that should be executed one after another are placed in one line with an arrow in between. This is confusing and blocks copy+paste.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 38ccb7df-8dca-b5fc-4e84-e3624d2804cc
* Version Independent ID: 669daf62-d

[2018-10-10 13:42] tbebekis opened #311 "What to do with the not supported databases?"
I have a SP 2016 Farm in 3 subnets, in 3 cities, in 2 continents, Europe and America. In each subnet there is
- a Web Server (role: Front-end and Distributed cache),
- an App Server (role: Application with search)
- and a DB Server (MsSql 2017 Enterprise)

Obviously we cannot use Sync mode. Moreover the document says: "_Some SharePoint Server databases do not support SQL Server Always On Availabil

[2018-10-10 18:51] tbebekis commented on #311
No. I have just a single SP2016 Farm which spans in 3 subnets

[2018-10-10 18:55] tseward commented on #311
Remember that the maximum distance in a vacuum for a SharePoint farm to be separated is roughly 300km. If your farm exceeds that distance, you're in an unsupported state (and due to physics, you won't be able to get close to that distance). SharePoint farms require 1Gbps connectivity and 1ms response time between servers (SharePoint -> SharePoint and SharePoint -> SQL). More info here:

https://do

[2018-10-10 20:12] tbebekis commented on #311
No. Is there any other solution?

[2018-10-10 20:33] AndreaBarr commented on #300
@ravick4u Thank you for this feedback

I an not sure if we can set Refinable or a if there is a way to create a Refinable property via PowerShell. I will get this inquiry over to the SharePoint team for investigation.

The team will get this prioritized into a sprint plan. Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when t

[2018-10-10 20:36] AndreaBarr commented on #303
@armely Thank you for this feedback

It appears like Trevor updated the document to reflect the correct information. I am going to close this as resolved. If this update didn't answer your question please reopen the issue.

[2018-10-10 20:36] #303 closed

[2018-10-10 20:40] AndreaBarr commented on #306
@ubhub Thank you for this inquiry.

I am not sure where in the process you are or how exaclty to help you get ondrive for business installed at your stage in the process. I do know that Support has more resources than we do here to bring your issue to resolution.

I think the best way forward is if you can open a service ticket in your tenant so this can get resolved ASAP. Based on outcome let me

[2018-10-10 20:40] #306 closed

[2018-10-10 20:55] AndreaBarr commented on #308
@jt980 Thank you for this inquiry.

I would say yes, this means everyone external that views the shared files are automatically added to the internal AD. I want to get confirmation on this though so I am going to get this in front of the SharePoint team for investication and clerification.

The team will get this prioritized into a sprint plan. Thank you for reporting and making the docs better. M

[2018-10-10 21:00] AndreaBarr commented on #309
@DaKarli Thank you for this feedback

It sounds like you might have stumbled on a potential bug. So that we can get this documented and addressed promptly I would like to have you open a Support case. Support can document this and has more resources to handle potential bugs.

Here is a quick video on opening a ticket: https://www.youtube.com/watch?v=puuOy0sEg1Y

If you don't mind please keep us po

[2018-10-10 21:00] #309 closed

[2018-10-10 21:03] AndreaBarr commented on #310
@andikrueger Thank you for this feedback

Techwriter40 approved your changes and I merged the pull request for you. We appricate you making this article easier to read.

[2018-10-10 21:03] #310 closed

[2018-10-10 21:37] tseward commented on #311
Negative. You need to instead bring your farm into a supported state per the article. At that point, you can stand up DR farm(s) in remote locations. All of your users, worldwide, will only use the active farm. Only during a DR event will you failover to a remote farm that your users will begin using.

DR is a rather complex topic and not suited to GitHub. I'd suggest opening a thread on TechNet.

[2018-10-10 21:42] tseward commented on #300
You cannot create Refinable properties in SPO. You can, however, use one of the couple of hundred precreated Refinable properties. These will start with the word "Refinable", e.g. RefinableString00, RefinableInt00, and so forth.

[2018-10-10 23:15] jt980 commented on #308
Confirmation would be great.  Having outside uses added to our internal AD would be a problem.  Thank you for the assistance!

Thank you,

Johnny Trombley
Eastern Los Angeles Regional Center  / IT Department
[cid:image004.png@01D36D11.A7F68920]<http://www.elarc.org/>  [cid:image005.png@01D36D11.A7F68920] <https://www.facebook.com/easternlosangelesregionalcenter/>   [cid:image006.png@01D36D11.A7F68

[2018-10-11 09:40] tbebekis commented on #311
There is a peculiarity. On one of the three points (subnets) the internet connection is often cut off. Is there any thought about how this could be addressed?

[2018-10-11 11:09] samikroy opened #313 "Unable to save changes in Ondrive Admin center"
External Sharing needs to turned on for SPO but not for One drive, hence tried to change referring this article
[https://docs.microsoft.com/en-us/onedrive/manage-sharing](url)

While saving getting below error.

<img width="948" alt="err" src="https://user-images.githubusercontent.com/20562985/46799987-f5964800-cd73-11e8-835d-baf238aa5f85.PNG">

Please share any alternative approach available like

[2018-10-11 12:06] brpowershell opened #314 "Microsoft.SharePointOnline.CSOM Install issue"
PS C:\> Install-Package Microsoft.SharePointOnline.CSOM -RequiredVersion 16.1.8119.1200
Install-Package : No match was found for the specified search criteria and package name
'Microsoft.SharePointOnline.CSOM'. Try Get-PackageSource to see all available registered package sources.
At line:1 char:1
+ Install-Package Microsoft.SharePointOnline.CSOM -RequiredVersion 16.1 ...
[code]

[2018-10-11 14:40] tklarsen commented on #287
@tseward, my immediate thought is to have separate columns for the counts. But that depends on whether there's also a different count for SP 2013.
I've noted that it's also appreciated for SPO and put it on my backlog. Unfortunately I don't have bandwidth to start working on it quite yet.

[2018-10-11 14:58] tseward commented on #311
Again, I'd suggest starting a topic on TechNet.

https://social.technet.microsoft.com/Forums/sharepoint/en-US/home?forum=SP2016

[2018-10-11 15:09] tseward commented on #287
@tklarsen Since there is also a property name, I think what I'll do is create separate tables for each applicable version of SharePoint 2013+.

[2018-10-11 18:58] AndreaBarr commented on #311
@tbebekis thank you for this feedback

It looks like Trevor has answered your question. I am going to close this as resolved. If this doesn't answer your question then please re-open this issue.

[2018-10-11 18:58] #311 closed

[2018-10-11 19:36] ceaheart opened #318 "Security trimming"
I'm reading that security trimming is now implemented - is that correct?  When this was announced, security trimming did not work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 99d8d3fd-3c87-c237-495d-01ac9bcd7944
* Version Independent ID: 2c621ca7-5395-f4b8-b66a-aa8a8ab4b1e5
* Content: [Planning your SharePoint hub s

[2018-10-12 02:49] AndreaBarr commented on #307
@davidem00 Thank you for this feedback.

I know the product teams are always looking for user feedback and how to make the OneDrive / SharePoint better. They keep a close tab on User Voice [https://sharepoint.uservoice.com](https://sharepoint.uservoice.com) and if you don't mind it would be awesome if you could look through and give your input in User Voice and if you don't see a similar request a

[2018-10-12 05:04] davidem00 commented on #307
I gave my feedback on UserVoice before I commented on this thread.

   It would not always seem to be the case that the product teams are
looking for feedback, though.  The reason I say that is that this issue HAS
been raised on UserVoice more than once going back to at least 2015, only
to be summarily closed by a MS product manager of some kind.

   One bit of obnoxious feedback from a product ma

[2018-10-12 11:39] andikrueger opened #319 "Update "SharePoint service application / administrative accounts" section to reflect "Service account recommendations""
On basis of the discussion in #135 the documentation got a new section about "Service account recommendations" (#284 by @tseward). I really like this new section and had a productive discussion with my team about this new guidance.

We stumbled over two following sections "SharePoint service application accounts" and "SharePoint administrative account" that are not perfectly aligned with the secti

[2018-10-12 19:01] AndreaBarr commented on #307
@davidem00 I appoligize that you are having this experiance. I do want to make sure that your suggestions and concerns are heard. I am going to escalate this up to my manager @kenwith so that we can get this addressed.

[2018-10-12 20:02] tseward commented on #319
I don't like the use of "setup" accounts. They're unnecessary, and many regs look down upon 'shared' accounts, especially elevated access accounts. What advantage would there be for a 'setup' account that could not be accomplished with a personally identifiable elevated access account?

2.1 - This should be all web apps, sans Central Admin

2.2 - This should be all Service Accounts. In pre-2016 ve

[2018-10-12 20:21] andikrueger commented on #319
You are absolutely right about the “setup” account.
The chances of a wrongly setup personalised account are pretty high though. From a real world perspective I have seen too many SharePoint setups that failed due to insufficient permissions. Mostly this happens with personalised admin accounts. Therefore it would be great to have additional guidance on how to setup these personalised accounts - ei

[2018-10-15 17:42] hdonaldMSFT opened #321 "Update content to include warning that MSFT support is needed if you put in the wrong IP range"
We've had several customers mis-set their allowable IP ranges. When applied, they get locked out and can't fix the mistake they've made. Admins have been banging their heads trying to figure out how to self serve, but you can't - you have to call support. Can we be more explicit about the risk of mis-setting and the fact that if you do mis-set, you will need to contact support to get unblocked?

T

[2018-10-16 08:12] ChrisMwai opened #322 "Garbled Up, Not Helpful"
90% of the steps outlined require the user to go elsewhere and follow another set of instructions that will also have many steps directing elsewhere. I have found myself 5 topics away from the article I was supposed to read.

Why not set up a complete series containing the documentation? Why create articles with millions of detours? You must be aware that for someone to find themselves Reding the

[2018-10-16 11:34] cschafft opened #323 ""Configure team site libraries to sync automatically""
More options in the GPO seems available, like "Configure team site libraries to sync automatically". It would be useful to get an example to illustrate expected "Value name" and "value".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 04ad2f16-c861-7a1b-5c1d-e4601e8f3855
* Version Independent ID: c47df4cd-f706-d807-5eac

[2018-10-16 20:00] dobby10 opened #324 "Sync block is 1 Way - upload only"
This document should state the sync block ONLY blocks the ODFB Sync client from uploading a file. It does not block the sync client from downloading a file type that has been blocked.  (One way Sync Block, not a Two way block)
This behavior can result in data loss when a user edits a blocked file type in a sync folder, causing the file to be deleted from ODFB and unsynced locally.

---
#### Docume

[2018-10-16 20:45] kaarins commented on #324
@dobby10, Thanks for this feedback. I thought I had already updated this article to clarify, but it looks like I never published the changes. Publishing them now!

[2018-10-16 20:49] kaarins commented on #322
@ChrisMwai, thanks for this feedback. We're working on a rewrite of this article that we hope to publish in the next few days. If you're looking for specific info that you think should be added to this article, please let me know, and I will incorporate it when we update the article.

[2018-10-16 23:43] vitaprimo opened #325 "Why is the help for different versions mixed together?"
Don't you have respect for your customers? You're mixing "help" for two different versions  and you're not the best documentation writer. It's ambiguous at best. Add to that the fact that one of the software packages mentioned here isn't even release yet and even if it were, what guarantees you we'd be moving from 2016? Are you planning to drop support for your 2016 customers when 2019 ships? What

[2018-10-17 13:59] sehtashamulhassan opened #326 "Use System Center Configuration Manager to deploy the OneDrive sync client"
incorrect information, both the installer link download the same installer file.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b65a307a-4572-7255-eaad-34a0884cb93d
* Version Independent ID: 976efb44-bf8a-ed55-c854-6c49ecdea722
* Content: [Deploy OneDrive apps using SCCM](https://docs.microsoft.com/en-us/onedrive/deplo

[2018-10-17 15:14] darthstingy123 opened #327 "User based file type restrictions"
It would be great to be able to restrict which files can be uploaded/downloaded by certain groups.
As an educational institution, we would like to be able to set restrictions to prevent students and teachers from uploading certain file types i.e. bat files, but would like this restriction not to apply to IT Staff.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2018-10-17 16:40] llacefield commented on #215
@jholl016

Was this ever cleared up? This is very much the same issue for our organization.
I have a GPO setup to do the following but not redirecting folders silently.

[2018-10-18 04:30] waqa5 opened #331 "User Profile Timer Job failed"
SCOM health explorer keep showing the below error and there is no clear guidelines what this error is about. We tried to restart the timer job and administration services, and everything else seems fine. I suppose you should cover this error as well in this article.

User Profile Service Timer Job Failed - [SERVER_NAME] (TimerJob instance for UserProfile Service 2013)

---
#### Document Details

⚠

[2018-10-18 15:58] CBeckstrand commented on #323
Yes, it appears the GPO option listed is not working correctly. Can we please get more documentation and/or an ETA on when this will be functional?

[2018-10-18 16:09] kaarins commented on #323
Thanks for this feedback! I'm investigating and will get back with you shortly.

[2018-10-18 20:29] AndreaBarr commented on #326
@sehtashamulhassan  Thank you for this feedback.

We apricate you pointing this link issue out to us. I will get this over to the SharePoint team for investigation.

The team will get this prioritized into a sprint plan. Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2018-10-18 20:32] AndreaBarr commented on #325
@vitaprimo Thank you for your feedback

I will get this passed on to the writing team.

Thank you for reporting and making the docs better. Much appreciated.

[2018-10-18 20:32] #325 closed

[2018-10-18 20:34] AndreaBarr commented on #327
@darthstingy123 Thank you for this feedback

I know the product teams are always looking for user feedback and how to make the OneDrive / SharePoint better. They keep a close tab on User Voice [https://sharepoint.uservoice.com](https://sharepoint.uservoice.com) and if you don't mind it would be awesome if you could look through and give your input in User Voice and if you don't see a similar reque

[2018-10-18 20:34] #327 closed

[2018-10-18 20:37] AndreaBarr commented on #331
@waqa5 Thank you for this feedback

I want to make sure your timer error is addressed properly. Support has more resources than we do here and can handle this to resolution.

Here is a quick video on opening a ticket: https://www.youtube.com/watch?v=puuOy0sEg1Y

If you don't mind please keep us posted here on the resolution and I really want to get this information you are discovering back into th

[2018-10-18 20:37] #331 closed

[2018-10-18 22:53] kaarins commented on #323
@cschafft @CBeckstrand, the article now includes info on this GPO! Thank you again!

[2018-10-18 23:07] kaarins commented on #215
@jholl016 @llacefield We made an update to this policy in build 18.171.0823.0001. Before this build, the policy only redirected empty known folders, so you needed to use it in conjunction with "Prompt users to move Windows known folders to OneDrive." Now, this policy redirects AND moves content. If you enable both policies, the content will be moved silently, but if the silent move fails, the user

[2018-10-18 23:07] #215 closed

[2018-10-18 23:12] kaarins commented on #324
The updates have been published. The formatting of the note is off, but I've fixed it and it will go live soon. :)

[2018-10-18 23:12] #324 closed

[2018-10-19 08:12] cschafft commented on #323
Many thanks for the update!
One last question: the libraryID is the full string obtained after the click on "Copy Library ID" and this exact string must be copied in the GPO? Is there a step needed to rewrite the character set (e.g. replace %2D by "-")?

[2018-10-19 12:26] ffhirata opened #335 "Anonymous Access"
Is there a possibility to configure a sharepoint site that are access free of Microsoft Sign in? It is not clear for me, because it is annoying for the purpose of guest users accessing communication site. They want only to access the contents and if it is needed to sign in, they will be not interested.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2018-10-19 12:35] v9shso opened #336 "Time taken for the changes to take effect"
Time taken for the changes to take effect

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c1a01697-2af8-ea42-05bb-7c36afe38870
* Version Independent ID: e7f310af-5642-cee5-2048-98b054e54abc
* Content: [Set the OneDrive retention for deleted users](https://docs.microsoft.com/en-us/onedrive/set-retention)
* Content Source

[2018-10-19 18:11] kaarins commented on #326
@sehtashamulhassan, we checked the installer links, and the Production link goes to build 18.172.0826.10. The Enterprise link goes to 18.111.0603.6. These are the latest builds listed in the release notes here https://support.office.com/en-us/article/new-onedrive-sync-client-release-notes. Maybe I am not understanding the issue correctly. If you can give me more details about the issue you're expe

[2018-10-19 18:16] #326 closed

[2018-10-22 16:05] nicksequeira opened #337 "Enable the preview"
Organization wide share settings seems to be broken in some places, specifically Additional Settings, enable the preview and set sharing per-site to bypass. I wasn't even able to find an acceptable user or group using the lookup.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6ed46514-8036-a543-d690-73d48acef690
* Vers

[2018-10-22 16:38] jlriesco commented on #87
Hello everyone, any progress with this request? I can update the link in the KB if you tell me the right destination.
Thanks,
Jose

[2018-10-22 20:41] kaarins commented on #318
@ceaheart, I'm curious where you heard that security trimming is implemented. I confirmed that it is not. The team is looking into audience targeting in the hub nav, but has not added this to the roadmap. I hope this helps!

[2018-10-22 20:44] kaarins commented on #323
@cschafft and @CBeckstrand , I just removed the content about this setting. It is in the .adml and .admx files, but not turned. (The team is making some changes.) It will be available shortly. When it is available, you'll be able to paste the string exactly as it's copied to the clipboard.

[2018-10-22 22:01] AndreaBarr commented on #313
@samikroy Thank you for this feedback

I am not sure why you are getting this error. I want to get you over to Support for this. They have more resources then we do here to dig in and help figure out what is going on.

Here is a quick video on opening a ticket: https://www.youtube.com/watch?v=puuOy0sEg1Y

If you don't mind please keep us posted here on the resolution and I really want to get this

[2018-10-22 22:15] AndreaBarr commented on #314
@brpowershell Thank you for this feedback

I want to make sure this error you are getting is properly addressed. I want to get you over to Support. They have more resources then we do here to dig in and see what is going on.

Here is a quick video on opening a ticket: https://www.youtube.com/watch?v=puuOy0sEg1Y

If you don't mind please keep us posted here on the resolution and I really want to ge

[2018-10-22 22:15] #314 closed

[2018-10-22 22:34] AndreaBarr commented on #321
@hdonaldMSFT Thank you for this feedback.

I will get this information to the SharePoint team for investigation.

The team will get this prioritized into a sprint plan. Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2018-10-22 22:44] AndreaBarr commented on #319
@andikrueger Thank you for this feedback.

It looks like Trevor has answered your questions. I am going to close this as resolved. If this issue is not resolved please re-open this issue.

[2018-10-22 22:53] AndreaBarr commented on #335
@ffhirata Thank you for this feedback

I am unsure on the answer for this. I will get this over to the SharePoint team for investigation.

The team will get this prioritized into a sprint plan. Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2018-10-22 23:13] AndreaBarr commented on #337
@nicksequeira Thank you for this feedback

I will get this information over to the SharePoint team for investigation.

The team will get this prioritized into a sprint plan. Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2018-10-22 23:47] ceaheart commented on #318
@kaarins - I provided a link to the documentation, which says "Association with a hub does not change the permissions on a site. If you associate a site that has restricted access with a hub, only users who have access to the restricted site will see content rolled up on the hub. Information surfaced on the hub site is security trimmed: if you don't have access to the content, you won't see it. So

[2018-10-23 05:08] andikrueger commented on #319
@andreaBarr I‘m working on a PR to reflect this discussion in the documentation. Even though Trevor answered my questions, the documentation should be updated to be as easy to read as possible.

[2018-10-24 07:50] billyoungs opened #338 "Hyperlink problem on this post"
The hyperlink was linked to article for SharePoint 2016, but this article is about SharePoint 2019.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f4051e8c-ef8d-1812-efdc-a65bdc1a6364
* Version Independent ID: 1659ed3b-750c-5136-64f4-0b6fa3053e15
* Content: [Get started with upgrades to SharePoint Server 2019](https://

[2018-10-24 09:37] paololec opened #339 "That worflow manager must use for SharePoint 2019 ?"
That worflow manager must use for SharePoint 2019 ?
"SharePoint Workflow Manager Preview" is the right product or I need to use "Workflow Manager 1.0 Cumulative Update 5" ? Missing install documentation..

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 716557e6-63fd-f26f-dd96-a2565081e03a
* Version Independent ID: 63607

[2018-10-24 10:51] kenmoritest opened #340 "FOD should be disabled when using DiskSpaceCheckThresholdMB."
FOD should be disabled when using DiskSpaceCheckThresholdMB.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 04ad2f16-c861-7a1b-5c1d-e4601e8f3855
* Version Independent ID: c47df4cd-f706-d807-5eac-172fba1e500f
* Content: [Use Group Policy to control OneDrive sync client settings](https://docs.microsoft.com/en-us/onedrive

[2018-10-24 20:02] AndreaBarr commented on #336
@v9shso Thank you for this feedback

I will get this over to the SharePoint team for investigation.

The team will get this prioritized into a sprint plan. Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2018-10-24 20:11] AndreaBarr commented on #338
@billyoungs Thank you for this feedback

I will get this hyperlink issue over to the SharePoint team for investigation.

The team will get this prioritized into a sprint plan. Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2018-10-24 20:30] AndreaBarr commented on #339
@paololec Thank you for this feedback

I am not sure what workflow manager you need. Let me get this over to the SharePoint team for investigation.

The team will get this prioritized into a sprint plan. Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2018-10-24 20:34] AndreaBarr commented on #340
@kenmoritest Thank you for this feedback

I will get this information over to the SharePoint team for investigation.

The team will get this prioritized into a sprint plan. Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2018-10-25 03:37] tseward commented on #339
@paololec You will need to use Workflow Manager 1.0 CU5 and Azure ServiceBus 1.1. This is the same product you can use with SharePoint 2013/2016.

[2018-10-25 03:50] fowl2 opened #342 "Features that only work in IE table"
This table is missing the "Edit List" (opens in Sharepoint Designer) button being disabled in browsers other than IE.

Also the table is a bit confusing as it doesn't make it clear if a feature is completely unavailable or just less functional.

* "Open with Access" is disabled, whereas;
* "Open in Excel" requires one extra click in Edge and two extra clicks in Firefox
*  "Connect with Outlook" is

[2018-10-25 06:13] francoisvanheerden commented on #149
Morning, I have exactly the same issue where the restore option is not available in the Deleted Sites section. I never deleted the site, only the user Group that was automatically created when the site was create, I suspect that this is what caused the site to be deleted. Please can you adivse?

[2018-10-25 08:23] jasonwbaxter1990 opened #343 "Would really like more for this article."
Hi , Please can we have more information on this topic . As an example How long would it take to migrate content from the file stream to the database , and vice versa. Is the webapplication /database still online or is it locked ?
How do you tell if the migration is progressing ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2018-10-25 14:07] AndreaBarr commented on #342
@fowl2 Thank you for this feedback

I will get this missing table information over to the SharePoint team for investigation.

The team will get this prioritized into a sprint plan. Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2018-10-25 14:09] AndreaBarr commented on #343
@jasonwbaxter1990 Thank you for this feedback

I will get these questions over to the SharePoint team for investigation.

The team will get this prioritized into a sprint plan. Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2018-10-25 14:48] tseward commented on #343
@jasonwbaxter1990 The amount of time it takes varies due to factors such as the amount of content and the performance of the hardware so no number can be provided. There is no lock on the database but this isn't something you'd want to perform during business hours due to the high I/O needed for the database and target file system.

With that being said, if you're using SharePoint 2016 or 2019, I'

[2018-10-26 06:01] samikroy commented on #313
This issue persisted only in developer tenant, worked fine in test environment.

[2018-10-26 12:17] jasonwbaxter1990 opened #345 "Next steps for migration from RBS back to a normal Content database."
Firstly thank you  , I've been wanting this sort of documentation specific to SharePoint, and i'm so happy to see it.
I've read through all of the Manage RBS steps in this article.
You mention , its not recommended to uninstall RBS ,So how do i get my content database back to normal?
If you run these commands , the RBS tables are still in the content database and the filestream file is not removed

[2018-10-26 14:45] tseward commented on #343
See https://docs.microsoft.com/en-us/sharepoint/administration/maintain-rbs.

[2018-10-26 18:07] AndreaBarr commented on #313
@samikroy okay. I still stand with having you open a support ticket so we can document what was happening.

[2018-10-26 18:07] #313 closed

[2018-10-26 22:23] Jeff1138 opened #346 "Migrating Libraries created site unusable"
Hello, while migrating a library from an onpremise 2013 server to SharePoint Online, we started experiencing a lot of weird behaviors such as getting errors while creating libraries/lists (the libraries/lists would still get created) and getting an error while creating subsites (the site would never get created).  Working with SPO support, we found this in the error log:

Feature Activation: Threw

[2018-10-27 16:06] wesmacdonald opened #348 ".NET Framework 3.5 required for PrerequisiteInstaller"
Attempting to run the Microsoft SharePoint Products Preparation Tool on a Windows Server 2012 R2 machine with no internet access fails with the following error:

Error: The tool was unable to install Application Server Role, Web Server (IIS) Role.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a397fdd2-9945-dd56-2a66-6

[2018-10-27 16:42] tseward commented on #348
With the .NET 3.5 Framework install, you must specify a -Source parameter. This should point to the Win Server ISO file, specifically the winsxs folder.

[2018-10-27 19:39] wesmacdonald commented on #348
Hi Trevor,

I am aware of how to install the .NET 3.5 Framework, I was just pointing out the requirement which is not mentioned specifically in the documentation.

Wes

[2018-10-30 01:54] rhyspaterson opened #350 "Domain Joined"
In the 'those not joined to a domain or compliant in Intune' statement, are you referring to Azure Active Directory domain joined? What happens if we have devices joined to an internal, non-Azure, but trusted domain?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2f2abda5-9273-1a56-91b6-e4e77d5706b0
* Version Independe

[2018-10-30 02:13] ToddKlindt opened #351 "Is the download gone?"
I get a 404 on the file download. Is the link incorrect or is it not available anymore?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3c27cc7d-bb92-c1bc-4330-ae2bb54846bc
* Version Independent ID: f14f15f3-e079-a6c6-d9ef-d7698f2e989f
* Content: [Overview of the SharePoint Migration Assessment Tool](https://docs.micros

[2018-10-30 14:48] BlandinePinto opened #352 "Delete a deleted site"
Can not delete a deleted site

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d19f5be-8567-336b-cc14-357b20278585
* Version Independent ID: f82afd3a-5e89-fbc2-564a-c49a507de22a
* Content: [View and restore deleted sites in the new SharePoint admin center](https://docs.microsoft.com/en-us/sharepoint/view-and-restore-del

[2018-10-30 14:55] JoanneHendrickson commented on #351
I just checked both of the download links in the article and they work fine for me; can you try again?
Thanks!

[2018-10-30 18:09] AndreaBarr commented on #346
@Jeff1138 Thank you for pointing this out to us.

I will get this migration information over to the SharePoint team for investigation.

The team will get this prioritized into a sprint plan. Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2018-10-30 18:13] AndreaBarr commented on #348
@wesmacdonald Thank you for pointing this out to us.

@tseward Could you please do a pull request to add this into the article. Thank you.

[2018-10-30 18:18] AndreaBarr commented on #350
@rhyspaterson Thank you for this inquiry

I am not sure about the answer to this Azure inquiry. Let me get this over to the SharePoint team for investigation.

The team will get this prioritized into a sprint plan. Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2018-10-31 04:17] nedpyle opened #357 "Markdown issues?"
There appear to be markdown formatting errors here in this para:

"**SCAN**: After you click **Migrate**, a scan is performed on every file. A scan is always performed, even if you elect to not migrate your files (see Advanced Settings). The scan verifies that there is access to the data source and write access to the SharePoint Online destination. It also scans the file for known potential issues

[2018-10-31 11:54] jordi-j opened #358 "User accounts and computer accounts in separate domains - which GUID is needed?"
For companies which have the user accounts and the computer accounts in separate domains, which GUID should they use? It seems that it's the domain hosting the computer accounts but the doc is ambiguous. E.g. it says "Add the GUID of each domain where you want to allow **users** to sync files" but also "To allow syncing only on **PCs** joined to specific domains".

---
#### Detalles del documento

[2018-10-31 13:18] mikelee-msft opened #359 "SQL Editions Supported"
This article states the following:

Minimum requirements for a database server in a farm
One of the following:
Microsoft SQL Server 2016 RTM
Microsoft SQL Server 2017 RTM for Windows

It does not state which editions are supported.  In this case SharePoint 2019 supports Enterprise and Standard versions of SQL and this article should be updated with that information.

---
#### Document Details

⚠ *

[2018-10-31 15:26] o-l-a-v opened #361 ""Silently move Windows known folders to OneDrive" does not notify on failure"
We're trying to deploy KFM with the option of "Silently move Windows known folders to OneDrive".

One problem has arrised:
* It it fails to move some folders, due to symlinks in my case, the user get's no notification that KFM failed.

Me as an administrator get no notification for failed users either. It's easy to think that "Ahh, KFM is deployed, and all my users folders are protected". But that

[2018-10-31 16:14] cafranjul opened #362 ""Errors or timeout for Server Processing the file:Not all the items in the package have been migrated""
Hello,

While trying to upload documents from a on-prem 2013 SharePoint to Office 365 Sharepoint, using SPMT v2.1.101.6 and after 3 rounds, I have 0 documents being migrated, on the  'ItemFailureReport_R1.csv' I have all the documents with this error:

"SERVER FAILURE","Errors or timeout for Server Processing the file:Not all the items in the package have been migrated"

I am administrator on both

[2018-10-31 17:44] JoanneHendrickson commented on #357
Fixed!

[2018-10-31 17:44] #357 closed

[2018-11-01 15:26] princemanjee opened #363 "Incomplete"
NO User Profile Service Upgrade Info here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b67cc68b-2d40-7d78-9ae5-a71938b6fa78
* Version Independent ID: 52fd8de6-598e-7672-eb34-2fa7a46b0182
* Content: [Upgrade service applications to SharePoint Server 2016](https://docs.microsoft.com/en-us/sharepoint/upgrade-and-update

[2018-11-02 16:08] jpoling1 opened #365 "SCCM Application Detection Method"
The Script detection method in the sample application provided only checks for the existence of OneDrive.  It does not do a version check.  How do we use this for updating an existing installation of the OneDrive client? What is the best way to determine the client version?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2018-11-05 09:49] Eickhel commented on #352
Hi,

For now, you can do it through PowerShell:
https://docs.microsoft.com/en-us/powershell/module/sharepoint-online/remove-spodeletedsite?view=sharepoint-ps

[2018-11-05 20:06] AndreaBarr commented on #37
@tseward Is investigation this issue.

[2018-11-05 20:07] AndreaBarr commented on #72
@tseward Is investigation this issue.

[2018-11-05 20:09] AndreaBarr commented on #125
@tseward Is investigation this issue.

[2018-11-05 20:28] AndreaBarr commented on #211
@tseward is investigating this issue.

[2018-11-05 21:18] AndreaBarr commented on #192
@tseward is investigating this issue.

[2018-11-05 21:29] AndreaBarr commented on #171
@tseward is investigating this issue.

[2018-11-05 21:30] AndreaBarr commented on #165
@tseward is investigating this issue.

[2018-11-05 21:31] AndreaBarr commented on #87
@tseward is investigating this issue.

[2018-11-05 22:14] AndreaBarr commented on #270
@tseward is investigating this issue.

[2018-11-05 22:15] AndreaBarr commented on #277
@tseward is investigating this issue.

[2018-11-05 22:15] AndreaBarr commented on #279
@tseward is investigating this issue.

[2018-11-05 22:16] AndreaBarr commented on #280
@tseward is investigating this issue.

[2018-11-05 22:19] AndreaBarr commented on #283
@tseward is investigating this issue.

[2018-11-05 22:22] AndreaBarr commented on #289
@tseward is investigating this issue.

[2018-11-05 22:23] AndreaBarr commented on #296
@tseward is investigating this issue.

[2018-11-05 23:30] blouwagie commented on #171
Thank you for for following up. Generally Microsoft should cross reference its own documentation a lot more. Thanks again.
Bart

[2018-11-06 01:16] tseward commented on #125
@franzmiltner I chose to put this in the hybrid configuration article as this specifically relates to that scenario.

[2018-11-06 02:02] tseward commented on #211
@niderost This health analyzer rule doesn't have the best wording. The check flows like this:

1. Check the current percentage of memory load. We use the [GlobalMemoryStatusEx](https://docs.microsoft.com/en-us/windows/desktop/api/sysinfoapi/nf-sysinfoapi-globalmemorystatusex) Win32 API to return the memory load percentage.

2. If the returned value is 85% or higher, the health analyzer rule throws

[2018-11-06 02:35] tseward commented on #277
@msilinda I don't believe there is a high value. The target for SPMT is SPO, of course, where many of the rules the tool runs don't apply to on-prem SharePoint. There are also no explicit rules that capture changes from SharePoint version to version on-prem (e.g. deprecation or removal of features).

[2018-11-06 02:39] tseward commented on #279
@repton-infinity I updated step 5 only. Other references in this article to 'site owners' appears to be more of a generic reference rather than permission-related.

[2018-11-06 02:41] tseward commented on #289
@AndreaBarr this one can be closed. As stated, only SharePoint 2013 is supported so we expect SPMT to not function with SharePoint/Project Server 2010, 2016, and 2019.

[2018-11-06 05:06] niderost commented on #211
Thank you for the detailed analysis. I agree that there isn't a clear spot in the HA articles to go into these details. I would argue however that the summary of the article is wrong when it states:

"The rule checks to see if the memory usage exceeds the allocated amount for a server that hosts the Distributed Cache service. If it finds the memory usage has exceeded the allocated amount then it t

[2018-11-07 06:38] kannanambadi opened #381 "Link is not correct --- Replace the STS certificate.---"
Link given for "Replace the STS certificate." is not correct, please check.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: daec777e-686e-a949-a729-6d6cb2e0c05b
* Version Independent ID: 38f948f7-cea3-2f0f-9596-09c8e07e6583
* Content: [Hardware and software requirements for SharePoint hybrid](https://docs.microsoft.com/

[2018-11-07 09:23] a7259w opened #382 "Doesn't work with Teams created sharepoints sites?"
I wanted to try this tool to move large files from my computer to a Microsoft Teams I am part of.
In Teams i select "Open in Sharepoint" and then copy the URL to the migration tool.
But whatever I try I get "Sorry, you don't have access to this site. Please enter a different Sharepoint online sit." (yes, it cuts of there). . .
I can upload files through Teams just fine so I DO have access!
Can you

[2018-11-07 11:55] sprider opened #383 "Powershell script changes"
I found two issues with the PowerShell script used here to create different VMs.

1) -StorageAccountType "StandardLRS" should be changed to -StorageAccountType Standard_LRS

2) In phase 2, Get-AzureRmSubscription -Name $subscrName | Select-AzureRmSubscription should be changed to Get-AzureRmSubscription -SubscriptionName $subscrName | Select-AzureRmSubscription

---
#### Document Details

⚠ *Do no

[2018-11-07 12:01] sprider opened #384 "App Catalog Settings"
Could you please add the instructions to setup app catalog in SharePoint 2016 as it required to develop and test Host Provider Hosted/SharePoint Hosted/SharePoint Frmaework apps in this environment?

Example : https://content.akumina.com/learningcenter/Content/IG/AMOPInsall/CreateSPAPPCatalog.htm

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHu

[2018-11-07 19:15] #289 closed

[2018-11-07 19:40] #270 closed

[2018-11-07 19:45] #240 closed

[2018-11-07 19:48] AndreaBarr commented on #211
It looks like this was resolved by Trevor. I am going to close this as resolved. If this issue is not resolved please re-open this issue.

[2018-11-07 19:48] #211 closed

[2018-11-07 19:55] AndreaBarr commented on #192
This has been resolved by Trevor. I am closing this issue as resolved.

[2018-11-07 19:55] #192 closed

[2018-11-07 19:58] AndreaBarr commented on #191
This issue has been resolved by Trevor. I am closing this as resolved.

[2018-11-07 19:58] #191 closed

[2018-11-07 20:05] AndreaBarr commented on #171
It looks like Trevor has resolved this issue. I am going to close this as resolved. If this is not resolved please re-open this issue.

[2018-11-07 20:07] AndreaBarr commented on #165
It looks like Trevor has resolved this issue. I am going to close this issue as resolved. If this issue is not resolved please re-open this issue.

[2018-11-07 20:07] #165 closed

[2018-11-08 09:35] fletchonides opened #386 "External Sharing settings broken on old Admin Center"
I created 2 site collections with the current SharePoint Admin Center, and enabled external sharing for both (new and existing external users). When I tried to send sharing invite emails for the site; I get an error that external sharing is not allowed in my organisation. In the new Admin Center preview, sharing settings for the site collections show as not shared.  if I enable them there, then sh

[2018-11-09 04:03] sums33 opened #387 "E4ではなくE5ではないでしょうか"
E4は既に廃止されているため、E5ではないでしょうか。

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: b21ad738-c2a1-ef1f-d745-eebe907311ac
* Version Independent ID: e931c7e1-fdb4-414b-986d-d7755fc797c4
* Content: [Office 365 管理者向け Office Delve](https://docs.microsoft.com/ja-jp/sharepoint/delve-for-office-365-admins?redirectSourcePath=%252fja-jp%252farticle%252foffice-delve-off

[2018-11-10 07:17] Key-international opened #389 "Key"
https://keyinternationalun-admin.sharepoint.com/_layouts/15/online/AdminHome.aspx#/home

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 193d7cc4-4270-f69e-262b-6384a273f835
* Version Independent ID: 6625a0f7-e4d0-2352-d78a-0a82273b1f07
* Content: [Introducing the SharePoint Migration Tool](https://docs.microsoft.com/en-

[2018-11-10 20:20] jain9177 opened #391 ""Use form at this url is not working""
Hi Team,

Even though i add my custom infopath form url in the "user form at this url " the new site button is going to default form. Do i need to change some setting my tenant to make this to work?

Thanks,
Vijay

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b29978b1-a400-bacb-1330-55ed3d652053
* Version Independent

[2018-11-10 23:04] TeamTerry opened #392 "Notes for importing via csv to Microsoft Teams"
There are a few gotchas with importing to Teams, specifically the csv file columns E and F.
If you do not populate column F with the word General, and just use column E with the word Documents, the files will not appear in Microsoft Teams.
They will successfully upload into the SharePoint Online site.

If you want to import files to the Teams Files location, you have to have the csv file as below,

[2018-11-11 16:10] tseward commented on #335
@ffhirata Anonymous access to a site is not available in SharePoint Online.

[2018-11-11 16:42] tseward commented on #297
This looks like a Modern Team site. You should instead be using the Site Usage. You can find this in the Gear icon -> Site Usage.

[2018-11-11 19:51] joegasper commented on #382
If you are using the exact URL you are sent to after you "Open in SharePoint", that might not work. Try removing everything after and including "/Shared%20Documents/..." in the URL - just provide the URL to the SharePoint site - the Migration Tool will then list the available document libraries. Be sure to upload into one of the Teams' channels subfolder (i.e., "General"). Also, make sure you don'

[2018-11-12 00:05] repton-infinity opened #400 ""can't ... neither ... nor" is not correct"
Re this sentence fragment: "you can’t turn off neither classic nor modern search", this is not a correct usage of "neither ... nor". It should either be:

"you can turn of neither classic nor modern search"

or

"you can't turn off either classic or modern search"

Using "can't" with "neither" is a double-negative.

I think the first option is grammatically better, but probably the second is the b

[2018-11-12 02:42] rgsteele opened #401 "Syncing IRM-protected libraries now supported on Mac?"
In the Client Release Notes article at https://support.office.com/en-us/article/new-onedrive-sync-client-release-notes-845dcf18-f921-435e-bf28-4e24b95e5fc0, it indicates that syncing SharePoint libraries protected is now supported by the Mac client as of versions 18.111.0603.0004﻿﻿﻿ (Released June 26, 2018) on the Enterprise ring and 18.172.0826.0013 (Released October 15, 2018) on the Production r

[2018-11-12 12:34] Mitzhel opened #402 "Shortcuts"
Hello.

Is there a way to stop OneDrive from syncing shortcuts(Ink files) when using Redirect known folders?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a9fd3d64-02a4-74dd-1f2a-a25ed9a8cef8
* Version Independent ID: cc17b035-3597-7194-2544-3805ad380d5d
* Content: [Redirect and move Windows known folders to OneDrive]

[2018-11-12 14:52] ihloff opened #403 "Integration with Conditional Access"
How does this  function work with a Conditional Access Policy applied? Is this ruleset applied independent from Conditional Access?

[2018-11-12 17:20] brockettc opened #404 "Onedrivesetup.exe /allusers"
I'm trying to install the per-machine version of onedrive using the enterprise file linked above.

Microsoft OneDrive deployment deep dive - BRK3099 - Watching this ignite video @ 19:45 Gaia talks about using the parameter onedrivesetup.exe /allusers - I cannot get this to work. It just installs the software normally in each users appdata folder.

Thanks,

Chris

[2018-11-13 12:07] tvakisai commented on #164
Is the SharePoint team still to elaborate on the greater capability that requires licensing?

[2018-11-13 14:42] bodowney opened #405 "Broken link in Article.."
Link labeled "How to set Azure Active Directory device-based conditional access policy for access control to Azure Active Directory connected applications" is broken.... Leads to a 404.. )

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: efd1a047-ff5f-48bd-1a9a-87024d3cbe70
* Version Independent ID: 23ae844e-35df-0d4f-50

[2018-11-13 17:15] AndreaBarr commented on #358
@jordi-j Did the update that Trevor did to this article clear things up for you?

[2018-11-13 17:20] AndreaBarr commented on #361
@o-l-a-v Thank you for the feedback on this.

We appricate you pointing this out to us. I'm going to get this over to the SharePoint team for investigation.

The team will get this prioritized into a sprint plan. Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2018-11-13 17:30] AndreaBarr commented on #362
@cafranjul Thank you for reaching out to us.

Let me get this migration issue over to the SharePoint team for investigation.

The team will get this prioritized into a sprint plan. Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2018-11-13 17:32] AndreaBarr commented on #363
@princemanjee Did Trevors update to the article resolve this issue?

[2018-11-13 17:50] princemanjee commented on #363
@AndreaBarr  Yes it does. Thank you for the update!

[2018-11-13 17:50] #363 closed

[2018-11-13 17:51] AndreaBarr commented on #365
@jpoling1 Thank you for this inquiry

I am not sure what the best way to determine the client version would be. Let me get this over to the SharePoint team for investigatoin.

The team will get this prioritized into a sprint plan. Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2018-11-13 17:54] AndreaBarr commented on #381
@kannanambadi Thank you for this feedback

I will this link information over to the SharePoint team for investigatoin.

The team will get this prioritized into a sprint plan. Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2018-11-13 18:01] AndreaBarr commented on #383
@sprider Did the updates Trevor did resolve this issue?

[2018-11-13 18:20] AndreaBarr commented on #384
@sprider Did Trevors update resolve this issue?

[2018-11-13 18:43] AndreaBarr commented on #386
@fletchonides Thank you for this feedback

I'll get this sharing information over to the SharePoint team for investigation.

The team will get this prioritized into a sprint plan. Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2018-11-13 18:51] AndreaBarr commented on #387
@sums33 Thank you for this feedback.

I am not sure on the answer for this. Let me get this over to the SharePoint team for investigation.

The team will get this prioritized into a sprint plan. Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2018-11-13 19:04] AndreaBarr commented on #391
@jain9177 Thank you for this inquiry.

I am not sure what needs to be done for this site button. Let me get this over to the SharePoint team for investigation.

The team will get this prioritized into a sprint plan. Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2018-11-13 19:12] AndreaBarr commented on #392
@TeamTerry Thank you for this updated

I will get this csv information over to the SharePoint team for investigation.

The team will get this prioritized into a sprint plan. Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2018-11-13 19:17] AndreaBarr commented on #400
@repton-infinity Thank you for pointing this out

I will get this sentance fragment over to the SharePoint Team for investigation.

The team will get this prioritized into a sprint plan. Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2018-11-13 21:33] kaarins commented on #405
@bodowney Thanks for reporting this! I fixed the links!

[2018-11-13 21:33] #405 closed

[2018-11-13 21:42] kaarins commented on #391
@jain9177 , I raised this question with the feature team, and they are not aware of any issues with the custom form URL. Will you please file a support ticket so that we can collect more info to track down the problem? Thank you!

[2018-11-13 21:42] #391 closed

[2018-11-13 21:56] kaarins commented on #386
@fletchonides , thank you for reporting this issue! We're working to make sharing settings use the same controls and language across the admin centers, and to fix other issues with the experience. I know this area is a pain point, and helping to improve the experience is one of my top priorities. A new Sharing page in the new SharePoint admin center preview is coming soon.

[2018-11-13 21:56] #386 closed

[2018-11-13 23:04] AndreaBarr commented on #401
@rgsteele Thank you for this inquiry

I do now know the answer for this question regarding Macs and SharePoint. Let me get this to the SharePoint team for investigation.

The team will get this prioritized into a sprint plan. Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2018-11-13 23:57] #383 closed

[2018-11-14 00:39] gacarini commented on #404
@brockettc Glad to know that you are interested in the per-machine install of OneDrive. We are currently still in the private preview phase with a few organizations and then are hoping to hit GA in early 2019. I mentioned that we were still in preview during the talk but I think I could have made it clearer. I will provide an update here and on the release notes page once we have enabled the featu

[2018-11-14 00:45] gacarini commented on #401
I've just submitted a change to remove the reference to Mac IRM in the release notes for the 18.111 build.

[2018-11-14 12:20] JormaLinikko opened #407 "Move the content of the Note-section to a new page?"
Would it be better, if you would make a new page for the content in the Note-section? Perhaps making a page called Change your  site collection url and moving the contents of the Note-section there?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7fff5ef6-b4cc-5a18-10a8-7b5182e2deae
* Version Independent ID: 8176e436-b2

[2018-11-14 12:54] brockettc commented on #404
@gacarini Thanks for the response Gaia! Sorry I have been listening to a bunch of the ignite videos while working on other things. Heard the per-machine install part and went ahead with trying it. I'm very excited/eager to test this out once it's released.

[2018-11-14 18:18] gacarini commented on #404
No problem, I will keep you posted!

[2018-11-15 00:33] Mark7even commented on #323
Any update on when this feature will be released?

[2018-11-15 01:40] bestcomy-duplicate opened #412 "What counts as an indexed item from onprem"
Limit "Maximum number of on-premises items indexed in Office 365 "
•	What is the max or hard limit of what is indexed?
•	What counts as an indexed item from onprem?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 171ee42a-95a9-6543-dd99-696ba7025cd0
* Version Independent ID: a3b3b40f-b808-7ac6-b420-a9b7bb0361fb
* Conten

[2018-11-15 07:36] pavan2920 opened #413 "Unable to create sites names starting with "com"."
Hi Team,

We are not able to create sites with Names "com" followed with single digit numbers. We have tried creating sites from Admin Center and Modern UI.

Could you please help us out in understanding and solving issue.

Thanks & Regards,
Pavan.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0419db4c-9918-fcbe-53b3-

[2018-11-15 08:07] jmvelo commented on #268
We have the same problem. We are going to open a ticket.

[2018-11-15 08:47] jordi-j commented on #358
Yes, it's clearer now.
Thanks Adrea.

El mar., 13 nov. 2018 a las 18:15, AndreaBarr (<notifications@github.com>)
escribió:

[2018-11-15 08:50] tklarsen commented on #400
Fixed :-)

[2018-11-15 08:50] #400 closed

[2018-11-15 11:31] HubSaul commented on #149
I restored the site using the Restore-SPODeleteSite PowerShell command

This way you don't touch Exchange, and the site immediately moves from Deleted sites to Active Sites.

I just cannot figure out how to determine who deleted the site?

[2018-11-15 13:10] jsmileyb opened #414 "Does Not Recognize"
I'm attempting to manage the storage quota on a Teams site, but I'm receiving an error "Get-SPOSite : A parameter cannot be found that matches parameter name 'Identity'."

Even after updating my SPO Management Shell.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3c744272-76d3-f60a-9d06-570d36ffb529
* Version Independe

[2018-11-15 14:06] jmvelo commented on #268
There is a solution.
Go to SharePoint Administration Portal. Select the office 365 group. At right panel you can see the options of that site. The last option is about shared use. External Access is not allowed by default.

[2018-11-15 14:20] nalhemyariirexorg opened #415 "Clarification - default user mapping file used"
What does 'the default user mapping' mean in this article, when migrating files from a network share to SharePoint Online, the account I used is all over the place as modified by/Created by, i was hopping to see the author of word, excel, etc.. there instead.

Second question, can we assign a default user for those files that the tool cannot extract their ownership, this can be useful when migrati

[2018-11-15 17:12] AndreaBarr commented on #402
@Mitzhel Thank you for this inquiry.

I am not sure if there is a shortcut for this. Let me get this over to the SharePoint team for investigation.

The team will get this prioritized into a sprint plan. Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2018-11-15 17:21] AndreaBarr commented on #403
@ihloff Thank you for this inquiry.

I am not sure how this function works with a Conditional Access Policy applied. Let me get this over to the SharePoint team for investigation.

The team will get this prioritized into a sprint plan. Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2018-11-15 17:32] AndreaBarr commented on #407
@JormaLinikko Thank you for the suggestion

I am not sure what the article owner wants to do with the page organization but I will get this suggestion over to them for investigatoin.

We always appricate suggestions for making the Docs better.

I have made a note to request the owner of the article respond to you with any information about this suggestion that they have.

[2018-11-15 17:41] AndreaBarr commented on #412
@bestcomy-duplicate Thank you for this inquiry

I am not sure on the answers for these two on-premises questions. Let me get this over to the SharePoint team for investigation and clerification.

The team will get this prioritized into a sprint plan. Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2018-11-15 17:49] AndreaBarr commented on #413
@pavan2920 Thank you for this inquiry

I am not sure why your experiancing this issue with the naming of your sites. Let me get this over to the SharePoint team for investigatoin.

The team will get this prioritized into a sprint plan. Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2018-11-15 18:33] #401 closed

[2018-11-15 18:58] AndreaBarr commented on #414
@jsmileyb Thank you for this inquiry

I am not sure about this storage quota issue you are experiancing. I want to make sure you get the appropriate help with this issue. I think the best step from here is to get you over to Support where they have more resources than we have here to help dig in and figure out a resolution for this issue.

Here is a quick video on opening a ticket: https://www.you

[2018-11-15 18:58] #414 closed

[2018-11-15 19:11] AndreaBarr commented on #415
@nalhemyariirexorg Thank you for this inquiry

I am not sure how to answer your questions about the owners of these files. Let me get this over to the SharePoint team for investigation so we can get some clarification for you.

The team will get this prioritized into a sprint plan. Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update th

[2018-11-15 19:18] nalhemyariirexorg commented on #415
Thank you Andrea, and while we are on it, just checking if there is a limit for the number of records SID->UPN by the tool, my csv file is about 15k lines

[2018-11-15 19:20] AndreaBarr commented on #415
@nalhemyariirexorg  no problem. They will see your added on comment when the investigate this. They will comment when they have more information for you. Thank you for your patience with us.

[2018-11-16 09:45] pkotov87 opened #416 "Documentation"
Software boundaries and limits for SharePoint Server 2019 fills.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 937a1f68-4cf6-f243-b219-dc154bae6714
* Version Independent ID: 7f3050b3-7a3d-d467-64cc-bc0edbe1521e
* Content: [System requirements for SharePoint Servers 2016 and 2019](https://docs.microsoft.com/en-us/share

[2018-11-16 18:02] Techwriter40 commented on #416
@pkotov87, thank you for your feedback. Unfortunately, could you be more specific of the exact request or change you like to make?

[2018-11-17 15:04] tseward commented on #403
@ihloff can you indicate which function you're talking about? There's no reference to the original source document/tech in your issue.

[2018-11-17 15:06] tseward commented on #412
@bestcomy-duplicate It is outlined in the document:

"This quota is by default limited upwards to 20 million items. To increase the number of items that can be indexed beyond 20 million items, contact Microsoft Support."

There is no hard cap per the above but you do need to contact support if you're going above 20 million indexed items. Indexed items count for any crawled item (document, list ite

[2018-11-17 15:15] tseward commented on #413
@pavan2920 "COM1", "COM2" and so forth are reserved names in Windows. While you can create the site, they will 404. See https://docs.microsoft.com/en-us/windows/desktop/FileIO/naming-a-file#naming-conventions.

"Do not use the following reserved names for the name of a file:

CON, PRN, AUX, NUL, COM1, COM2, COM3, COM4, COM5, COM6, COM7, COM8, COM9, LPT1, LPT2, LPT3, LPT4, LPT5, LPT6, LPT7, LPT8, a

[2018-11-17 15:45] tseward commented on #415
@nalhemyariirexorg Defaut user mapping would be the map between the on-prem account and the account found in O365. Modifying this will be useful if you're not sync'ing Active Directory with Azure AD using AAD Connect or you want to otherwise override the default mapping if you are sync'ing via AAD Connect. For example, while CONTOSO\tim might map to tim@contoso.onmicrosoft.com, perhaps you want to

[2018-11-17 15:47] tseward commented on #361
@AndreaBarr This should be raised to the PG to include some form of error notification during the migration process with some logging.

@o-l-a-v Not copying symlinked folders does make sense as OneDrive wouldn't know how to handle that. That functionality doesn't exist in OneDrive or SharePoint.

[2018-11-17 15:50] tseward commented on #365
@jpoling1 As OneDrive automatically updates in a silent fashion under the context of the user, there is no need to update the client application via SCCM or any other IT-controlled method. This ensures you have the latest version of the client and that you do not fall behind in versions.

You could execute the following application, although this application is installed on a per-user basis.

[2018-11-17 16:02] tseward commented on #392
@TeamTerry This would be 'by design' I suppose. The SPMT doesn't import data to Teams, Teams just displays content of the 'Documents' library with the channel name being a subfolder (General, being the default channel).

You can always add a new tab to the channel and point it at the desired SharePoint location.

[2018-11-17 16:16] tseward commented on #149
You can use the audit log in the Office 365 Security & Compliance -> Search & investigation -> Audit log search; under Site administration activities, select Deleted site.

[2018-11-18 09:45] sassdawe commented on #416
@Techwriter40, I think @pkotov87 is missing the 2019 version of the "software-boundaries-and-limits-0.md" file. I was looking for it too.

Btw, was your file naming convention documented somewhere?
I see .md file without numbers at the end and also with "-0", "-2016" and "-2019".
I'd be happy to help out validating the file names and the titles of the articles.

[2018-11-19 10:21] o-l-a-v commented on #361
I totally get that. But OneDrive should either skip it or show me an error. The first option would be preferable, as I should be able to use symlinks locally if I wish to. Or else KFM is useless for me, and I'd have to create a library outside OneDrive synced folders to get my environment working as I want it to.

[2018-11-19 17:46] Techwriter40 commented on #416
there is not a separate 2019 version as there were minimal changes. What applies for 2016 also is valid for 2019, hence contained in one article title system requirements for SharePoint Servers 2016 and 2019.

[2018-11-20 11:09] pkotov87 commented on #416
Exactly what @sassdawe said, checkbox was only for 2016. Now it stands for both. Thank you!

[2018-11-20 12:51] LuigiBruno opened #423 "Direction of the trust"
Can the trust be applied in only one direction (SharePoint 2016 farm receiving results from SharePoint 2013 farm) or in both the directions (SharePoint 2016 farm receiving results from SharePoint 2013 farm and vice versa)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e5028b4-a194-498e-326d-1fdd56eb97bc
* Version Ind

[2018-11-20 15:29] tseward commented on #423
The trust goes from N to N (2016 -> 2016) or N to N-1 (2016 -> 2013). However results can be retrieved on any farm for any other farm part of that trust. Does that help?

[2018-11-20 16:23] danjpadgett opened #424 "Incorrect definition"
This policy will not take effect if you've enabled "Prompt users to move Windows known folders to OneDrive" or "Silently redirect Windows known folders to OneDrive."

should refer to the policy Silently move Windows known folders to OneDrive

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 04ad2f16-c861-7a1b-5c1d-e4601e8

[2018-11-20 17:49] Techwriter40 commented on #416
@pkotov87, your welcome. since issue is resolved, I will close comment.

[2018-11-20 17:49] #416 closed

[2018-11-21 08:23] bakerm00 opened #427 "Mentioning MAC OS in a windows article"
Conditional access is not supported for MacOS. Beside the fact that no Mac support has just set back our argument with security. This is a windows article

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: efd1a047-ff5f-48bd-1a9a-87024d3cbe70
* Version Independent ID: 23ae844e-35df-0d4f-50d5-021a5ba9bdf9
* Content: [Enable

[2018-11-21 13:53] UmrG opened #429 "Is managing AppFabric service via services console is safe ?"
There is a number of articles from knows MVPs and some TechNet articles suggest not to manage AppFabric service via services.msc console, this can leave your farm in unmanageable state and might have to rebuild the farm. This is the only article I find that is suggesting to do that. Please review.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2018-11-21 13:56] UmrG commented on #429
https://docs.microsoft.com/en-us/sharepoint/administration/manage-the-distributed-cache-service
"Do not administer the AppFabric Caching Service from the Services window in Administrative Tools in Control Panel."

[2018-11-21 15:51] tseward commented on #429
This is a health analyzer rule and would require a product change to be fixed.

[2018-11-21 18:20] thshdw opened #430 "Support On-Premise syncing using the new client"
We cannot migrate off the Groove client until we can sync with our On Premise libraries. Will syncing with On Premise be added?

[2018-11-21 18:20] mikebrunak commented on #120
Hello - I see that the commandlets were made available on November 6, and I have downloaded the SharePoint migration tool version 2.1.101.6, but I still cannot find the commandlets. I've tried to install the module but I'm getting"module not found" errors. Is there a location I can download the module?

[2018-11-21 18:23] thshdw opened #431 "Support On-Premise syncing using the new client"
We cannot migrate off the Groove.exe client until we can sync with our On Premise libraries. Will syncing with On Premise be added?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1285fcf0-476f-b431-c8f0-ae395c31418e
* Version Independent ID: a5679b64-68bf-42fb-98f0-51d1625a102e
* Content: [Transition from the previous

[2018-11-21 18:34] thshdw commented on #431
Maybe change "On-premises locations in SharePoint Server 2016 or earlier." to something like "Syncing using the new client only available in SharePoint Server 2019, prior versions not supported."

"The following library types are not yet supported" infers that 2016 maybe supported in the future but this is not the case so for me its a bit misleading.

[2018-11-21 18:36] thshdw commented on #430
I think you can close this as https://github.com/MicrosoftDocs/OfficeDocs-SharePoint/issues/431 is connected to the website. https://docs.microsoft.com/en-us/onedrive/transition-from-previous-sync-client

[2018-11-21 18:45] thshdw commented on #431
Maybe someone can update this https://onedrive.uservoice.com/forums/913522-onedrive-on-windows/suggestions/10005837-sharepoint-on-premises-support to let the users that wanted this feature that its only going to be supported in Sharepoint Server 2019

[2018-11-21 20:27] wclarke77 opened #432 "Sharepoint Issues"
Microsoft lost all subsite data.  Need to restore from a 3 year old back up cmp file.  Microsoft is NO helped!!

[2018-11-21 20:47] tseward commented on #431
@Techwriter40 can you address the uservoice?

[2018-11-21 21:17] tseward opened #433 "SNAC From Section 1.4 No Longer Available"
SNAC from section 1.4 of this article (https://support.microsoft.com/en-us/hotfix/kbhotfix?kbnum=3098860&kbln=en-us) is no longer available. What is the alternative?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 59acdf52-b8f5-f140-317e-00747b5d80d5
* Version Independent ID: ba2e186b-c2b6-4e09-208e-1b622ebcfed1
* Conte

[2018-11-21 23:06] AndreaBarr commented on #423
@LuigiBruno Did what Trevor respond with resolve your issue?

[2018-11-21 23:08] AndreaBarr commented on #424
@danjpadgett Thank you for pointing this out

I will get this information for OneDrive over to the SharePoint team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2018-11-21 23:11] AndreaBarr commented on #427
@bakerm00 Thank you for this feedback

I will get this Mac OS information over to the SharePoint writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2018-11-21 23:18] AndreaBarr commented on #429
@UmrG Did Trevor's information resolve this issue?

[2018-11-21 23:19] #430 closed

[2018-11-21 23:32] kenwith commented on #432
@wclarke77 - This Issue list is for the docs for SharePoint but I completely feel your pain. I was a SharePoint admin for years before starting here at Microsoft. I am not sure how much I can as I focus on the docs and the community in these GitHub repos but I am here to do whatever I can to help.

I think the first step is to get a support ticket open so that the group can escalate your issue.

I

[2018-11-21 23:32] #432 closed

[2018-11-22 00:15] MatthewCKelly commented on #365
Updated SCCM Detection Rule script
`<#
Test to see if OneDrive exists and correct version.

Onedrive exists ?

# C:\Users\MattTheDomainUser\AppData\Local\Microsoft\OneDrive\OneDrive.exe

About SID's https://msdn.microsoft.com/en-us/library/windows/desktop/aa379649(v=vs.85).aspx

OneDrive Versions : https://support.office.com/en-us/article/New-OneDrive-sync-client-release-notes-845dcf18-f921-435e-b

[2018-11-22 12:14] Mitzhel commented on #402
@AndreaBarr @tseward

Thank you for your answers. Can i request this feature then?

It's gonna get messy real quick if OneDrive starts syncing
broken shortcuts between all shared computers that our students use.

We really want to use OneDrive with "Redirect known folders", but if all our students and
teachers's desktop is gonna eventually be filled up with broken shortcuts, then we are gonna have

[2018-11-22 16:31] ConradIlgmann opened #434 "Contradiction about Excel client"
Here:

If anyone uses Excel (the client application) to access the workbook, co-authoring in Excel Web App will be disabled for that workbook while it is open in the client application.

And in https://support.office.com/en-us/article/excel-file-is-locked-for-editing-by-another-user-6fa93887-2c2c-45f0-abcc-31b04aed68b3:

Versions of Excel that support co-authoring:
Excel for Office 365*
Excel for

[2018-11-22 17:09] dariomws306 commented on #171
I have added 2 links to See Also section, I think you will see it in some days.

[2018-11-22 18:35] skahlam commented on #120
I am having the same issue.  When will the PS module be available or fixed to import?

[2018-11-23 12:08] win2000b commented on #323
According to the update release notes this feature is now available in build 18.212.1021.0008

https://support.office.com/en-us/article/new-onedrive-sync-client-release-notes-845dcf18-f921-435e-bf28-4e24b95e5fc0

I updated to this build and have tried configuring with the library ID copied and pasted into value but it doesn't work for me. Do we need to change the formatting or simply a copy and pa

[2018-11-23 14:06] fbastone commented on #351
Please confirm if this is also available for SP2010.  The Intro page that this is for SP2013 while the overview page states "The tool is built to be run from within a SharePoint 2010 or 2013 farm".  Thanks.

[2018-11-23 15:34] tseward commented on #402
@Mitzhel I would post on the OneDrive Uservoice; that is the proper place to make feature requests.

https://onedrive.uservoice.com/forums/913522

[2018-11-24 05:36] rolandh opened #438 "red x warnings show up when you put ignored file extensions in the one drive folder."
I don't want to block file types, I just want to ignore certain files in certain folders. If I block file types I get annoying red Xs in one drive and "sync problems". I know they are ignored, I put the ignore filter in, why does it feel the need  to tell me every 3 seconds that a file has been ignored?

Why can't I just tell one drive to ignore all files in a certain folder and to not warn me con

[2018-11-24 16:42] Ofer-Gal opened #440 "Can't extend SharePoint 2019 web application"
The Contribute group of the ribbon in Sharepoint 2019 is all greyed out.
 No way to extend, new or delete web application

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0557a7c7-64a6-98c4-ee3d-ed7b1deacccf
* Version Independent ID: 93057560-a33e-08a3-0a24-2bb484f4aa34
* Content: [Extend claims-based web applications in

[2018-11-24 16:43] tseward commented on #440
This would mean you're either not a local administrator on the SharePoint server(s) or you're not running IE as Admin when browsing CA from the SharePoint server.

[2018-11-25 04:29] tomresing commented on #434
I think that the difference, for Excel, is for SharePoint Server and not for SharePoint Online. https://support.office.com/en-us/article/collaborate-on-excel-workbooks-at-the-same-time-with-co-authoring-7152aa8b-b791-414c-a3bb-3024e46fb104 has the following note, "Please note that SharePoint On-Premises sites (sites that are not hosted by Microsoft), do not support co-authoring."

[2018-11-25 17:07] tomresing commented on #434
It is possible in SharePoint Online, and OneDrive through Office 365, with the newest client.

[2018-11-26 04:31] kathleenlgo opened #441 "Guidance is not clear"
The following guidance is not clear --&gt; "InfoPath forms that leverage people picker fields. These fields need to be updated with the new identity post migration."

What needs to be updated?  Why does it need to be updated?

Thanks!
-Kat

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3c28b220-a2af-6809-2db4-7c6ac75bf

[2018-11-26 16:13] Techwriter40 commented on #433
I sent this to Troy, PM for SharePoint who should give me an answer.

[2018-11-26 16:13] Techwriter40 commented on #433
I sent this to Troy, PM for SharePoint who should give me an answer.

[2018-11-26 16:47] mikebrunak opened #443 "I am not finding the PowerShell Commandlets after installing the SPMT. Please go to https://aka.ms/spmt, you will find "Version 2 is now publicly available for download here: SharePoint Migration Tool Version 2", download SPMT and install UI tool. The PowerShell module is installed in %userprofile%\Documents\WindowsPowerShell\Modules."
Import-Module Microsoft.SharePoint.MigrationTool.PowerShell, you can use all migration cmdlets.

_Originally posted by @wenhua-helen in https://github.com/MicrosoftDocs/OfficeDocs-SharePoint/issues/120#issuecomment-409436795_

[2018-11-26 18:48] Skatterbrainz opened #444 "Text Layout change"
Please move the section under "Check if users already have the OneDrive sync client" to a separate purple "Note" box to make it more noticeable? ... "Office is installed per machine, whereas OneDrive needs to be installed per user. If you plan on deploying Office to your organization, you will need to deploy OneDrive.exe separately for additional users on individual machines."

---
#### Document D

[2018-11-26 22:22] kaarins commented on #149
The latest update (which has been rolled out to all organizations that have "Targeted release for everyone" selected) allows both global admins and SharePoint admins to restore individual group-connected team sites and all their associated resources.
Thank you again for trying the new SharePoint admin center and sending your feedback. To share other suggestions or report bugs, please click the Fee

[2018-11-26 22:22] #149 closed

[2018-11-27 06:29] helenhwl commented on #120
This is the link of SPMT download page.
http://spmtreleasescus.blob.core.windows.net/install/default.htm. looks like the hyperlink is removed after I pasted the messages above.

[2018-11-27 08:31] GodTigga opened #445 "Table: Sample navigation term set Makes no Sense"
Products is a top level item. Cameras, Film and Digital fall under products so that would make them level 2 items. However in the table "Film and Digital" are shown as Level 3 Items. How can they be level 3 items if they fall under "Products" & not "Cameras"...

If this is a mistake should we really be reading any of this information? How many other mistakes like this are all over the place?

---

[2018-11-27 13:49] potatoqualitee commented on #120
Consider placing your PowerShell module in the PowerShell Gallery and marking it as pre-release. IThe Gallery is an ideal place to get people aware of your module, trying it out, and providing feedback. And it aligns with what Microsoft suggests and what PowerShell users expect.

[2018-11-27 15:42] krishnachaluvadi opened #446 "SharePoint 2019 Farm Configuration Warning"
Hi, I used PowerShell to configure SharePoint farm, during "Provisioning Central Administration" site, I received below warning. Is it going to impact SharePoint 2019 functionality? What is the fix?
![image](https://user-images.githubusercontent.com/10298191/49092920-1554d300-f231-11e8-8193-384136d5585f.png)

Regards,
Krishna.

[2018-11-27 16:47] bernatrm opened #447 "Definir Alias para SharePoint"
Ya que no se puede cambiar el nombre del dominio de SharePoint sería de gran utilidad el poder asignar un alias al dominio.

---
#### Detalles del documento

⚠ *No edite esta sección. Se requiere para docs.microsoft.com ➟ Vinculación de problema de GitHub.*

* ID: 7fff5ef6-b4cc-5a18-10a8-7b5182e2deae
* Version Independent ID: 8176e436-b25b-e455-09ac-be08bea2bfcb
* Content: [Cambiar el nombre de do

[2018-11-27 19:48] skahlam commented on #120
I have followed your instructions exactly and I had already performed this before without success.
This is the error I get when I run the help command:

get-help : Get-Help could not find get-spmtmigration in a help file in this session. To download updated help topics type: "Update-Help". To get help online, search for the help topic in the TechNet
library at https:/go.microsoft.com/fwlink/?LinkI

[2018-11-27 21:57] JeighBI commented on #351
fbastone, yes it's available and compatible with SP2010. It is the same download for both versions.

[2018-11-28 00:40] wenhua-helen commented on #120
Hi, skahlam,
Let us have a skype meeting to trouble shooting the issue. I am in China. Could you please let me know what time is suitable for you to have a skype meeting?

Cheers
Helen
From: skahlam <notifications@github.com>
Sent: Wednesday, November 28, 2018 3:48 AM
To: MicrosoftDocs/OfficeDocs-SharePoint <OfficeDocs-SharePoint@noreply.github.com>
Cc: Helen Hua <wenhua@microsoft.com>; Mention <m

[2018-11-28 00:54] helenhwl commented on #120
@potatoqualitee  Thanks for your feedback. Releasing the migration PowerShell module in the PowerShell Gallery is in our backlog, but no ETA yet.

[2018-11-28 01:57] wenhua-helen commented on #120
Is SPMT installed successfully? Did you see the logs in page?
if yes, Please share the front end logs  under “C:\Users\%user name%\AppData\Roaming \Microsoft\MigrationTool\FrontEnd.

Cheers
Helen
From: skahlam <notifications@github.com>
Sent: Wednesday, November 28, 2018 9:27 AM
To: MicrosoftDocs/OfficeDocs-SharePoint <OfficeDocs-SharePoint@noreply.github.com>
Cc: Helen Hua <wenhua@microsoft.com>;

[2018-11-28 10:46] LuigiBruno opened #448 "Recommended limit for document library size"
Is there any recommended limit for the size (not the number of items) of a SharePoint document library?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 81e0e611-8cbd-1b44-6e09-487b15307c6a
* Version Independent ID: b00c5b8b-c735-6473-a492-b82ae4e8a02f
* Content: [Software boundaries and limits for SharePoint 2013](https

[2018-11-28 13:28] DeanGross opened #449 "Model applicability to SP 2019"
The Note states that the models from 2013 apply to 2016, but what about 2019. I assume that still apply, can you please confirm and update the Note above.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1d9ca21c-546c-0d36-2dd7-026f6b06f0c4
* Version Independent ID: 74cffa3d-349a-394f-2156-ff4720598414
* Content: [ShareP

[2018-11-28 17:18] doucheface1 commented on #402
can someone twll me if this policy works with on premise ondrive. the policy asks for a tenant ID which you do not have for on-premise sharepoint My site ondrive

[2018-11-28 17:58] tseward commented on #448
You will follow the content database size limits in this case. There is no defined limit on a per-library basis for size.

@AndreaBarr

[2018-11-28 22:14] sbinnasa commented on #433
I am very interested in the outcome of this issue.  I have SharePoint servers on which I need to turn TLS 1.0 off and I can't update the 2008 R2 SNAC past its current 10.51.2500.0.

[2018-11-28 22:17] Techwriter40 commented on #449
DeanGross, yes, this applies to 2019 as well, it should be noted in the Applies To section of the article.

[2018-11-28 22:17] #449 closed

[2018-11-29 09:40] pavan2920 opened #450 "Upon deleting a site collection Is it possible to redirect user to other url ?"
Hi,

From modern page if we delete a site collection is it possible to redirect user to other page ?

Thanks,
Pavan.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a3bd11d3-f2a4-2811-09bd-449c3c3607da
* Version Independent ID: 2f47da99-02e6-3357-ed41-b28bd5190907
* Content: [Delete a site collection](https://docs.micro

[2018-11-29 11:04] gurramsubrahmanyam commented on #382
Is that tool supports migration from SP 2010 to SharePoint Online?

[2018-11-29 12:49] kirankakanur opened #451 "Deprecated feature: Machine Translations (and Variations)"
It says "Machine Translations (and Variations)" is deprecated.

Question - Are Variations entirely deprecated or is it just with using Machine Translations to support Variations?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d5144c0-b2a7-8fce-e915-28b0e7f44ca0
* Version Independent ID: 3558508e-be15-dfec-5c98-6f2f7e5

[2018-11-29 16:55] mzavada opened #453 "Thumbnails for Downloaded Files"
Thumbnails do not render even for files and folders that are marked "Always keep on device."  Only when you open the file does the thumbnail appear.  This makes it difficult to work with large amounts of files when you need to see the thumbnails

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8f0d9527-a78b-d18b-d218-881

[2018-11-29 23:13] kaarins commented on #402
Hi, the known folder move policies don't work with SharePoint Server 2019. I will add that to the article. Thank you! To request this feature, please go to the OneDrive UserVoice: https://onedrive.uservoice.com/forums/913522

[2018-11-29 23:13] #402 closed

[2018-11-30 11:58] MayTakeUpTo8Hours commented on #323
We're experiencing the exact same issue.

Client Version is 18.212.1021.008.
.adml and .admx files are the newest available.
The registry Value was set correctly at "HKCU\SOFTWARE\Policies\Microsoft\OneDrive".
The library ID was copied unmodified from a Sharepoint Online library.

After 2 days of waiting the Client still doesn't have the location of the team site attached.

[2018-11-30 15:51] caralynn commented on #352
I am having issues with deleted sites showing back up.  Is this a retention issue?  I deleted sites in the "Active Sites" list using the GUI.  Those sites then move to the "Deleted Sites" list, but the next day, the sites return to the "Active Sites" list.  I must be doing something wrong.

[2018-11-30 18:33] KyleSchroeder commented on #172
Guess that work is still in progress?

[2018-11-30 19:08] DeanGross opened #454 "Where are the new items?"
Nothing new has been added in a long time. When can we expect to get some more new content.
Also, please add dates to each feature so that we can easily tell what the newest items are.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 31f0e99c-724d-9fc3-6b8b-bda185f92c19
* Version Independent ID: d38a6ff9-e4cd-5776-b152-9

[2018-11-30 19:36] missilelaunchr opened #455 "Indicate how to assign this role in Office 365"
The basic "how" is often missing from instructions

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7461c2ef-3439-2c86-4dde-8992b62bf9a7
* Version Independent ID: faa4e3aa-8ec4-f1f1-d4bd-4058999545f3
* Content: [About the SharePoint admin role in Office 365](https://docs.microsoft.com/en-us/sharepoint/sharepoint-admin-ro

[2018-11-30 20:19] DeanGross opened #456 "Effect of enabling sharing"
One of my customers recently enabled external sharing at the tenant level, and almost all of the existing sites are now showing "This site can be shared with new and existing external users who sign in". We were expecting that each site would have remained "This site can’t be shared with external users" until we specifically change the setting on a site by site basis.
This behavior is not clearly

[2018-11-30 20:43] grustni commented on #323
I have applied the following setting for One Drive GPO:
- Configure team site libraries to sync automatically
-- Configured with two Library IDs.
-- Confirmed that the registry is present on my computer
-- No libraries are mapped after a reboot
-- My personal OneDrive folders are mapped

- Enable OneDriev Files on-demamd
-- the settings works for personal onedrive for business folders/files

- Sil

[2018-11-30 23:16] AndreaBarr commented on #438
@rolandh Thank you for this feedback

I am not sure if there is a feature for this already. Let me get this over to the SharePoint team for investigation.

@tseward Could you look into this one for me?

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2018-11-30 23:47] AndreaBarr commented on #441
@kathleenlgo Thank you for this inquiry

I am not sure what needs to be updated. Let me get this over to the SharePoint team for investigation.

@tseward Could you please look at this one?

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2018-11-30 23:52] AndreaBarr commented on #443
@mikebrunak Do you have an issue on an article?

[2018-12-01 00:01] AndreaBarr commented on #444
@Skatterbrainz Thank you for this feedback

I will get these suggestions over to the SharePoint team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2018-12-01 00:34] kaarins commented on #455
@missilelaunchr thank you for this feedback! I'm moving the link to "Assign admin roles" to the top of the article so it isn't buried in the "See also" section. :)

[2018-12-01 00:34] #455 closed

[2018-12-01 22:35] tseward commented on #445
@AndreaBarr

[2018-12-01 22:42] tseward commented on #438
@rolandh I would suggest putting this on the OneDrive Uservoice -https://onedrive.uservoice.com/forums/913534

[2018-12-01 22:45] tseward commented on #424
@danjpadgett Sorry, which policy won't take effect? You linked to the anchor 'Silently move Windows known folders to OneDrive' in that article.

[2018-12-01 22:54] tseward commented on #453
Yep, I see the same behavior only against SharePoint 2019. ODfB Online/OneDrive personal appear to work like you want them to.

[2018-12-01 22:58] tseward commented on #403
The OneDrive domain policy only applies to clients which are capable of Active Directory domain join, so you're correct they do not prevent mobile clients from synchronizing.

As far as conditional access policy, they are independent settings. Both policies will be evaluated. Typically in the order of Conditional Access Policy then OneDrive domain policy (Azure is the front door, here).

[2018-12-02 02:06] mzavada commented on #453
Sorry I should have included the details of our setup.  This is with O365/SharePoint along with Windows 10 (16299.785) and OneDrive (18.212.1021.0007)

[2018-12-02 21:05] tseward commented on #433
Updated the article. SNAC is available from https://www.microsoft.com/en-us/download/details.aspx?id=57606.

[2018-12-03 07:38] Pillen opened #464 "Search Service Application upgrade should not contain .ForceResume(0x02)"
Resuming the Search Service Application with .ForceResume(0x02) leaves the Search Service Application in "Paused for: External request" administrative status. This should only be used in certain cases. $ssa.Resume() is sufficient here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b67cc68b-2d40-7d78-9ae5-a71938b6fa78

[2018-12-03 17:51] Techwriter40 commented on #464
@Pillen, thank you for your comment. If possible, can you please submit this as a Pull request. I will close this comment. thanks.

[2018-12-03 17:51] #464 closed

[2018-12-03 17:53] AndreaBarr commented on #172
@uttampcu That was the process we were using at the time. It has since changed to keep these open until it's completed.

@tseward Could you please work on this as well. Thank you.

[2018-12-03 19:12] AndreaBarr commented on #451
@tseward I have requested a review so we can merge your changes

[2018-12-03 19:38] AndreaBarr commented on #454
@DeanGross Thank you for this inquiry

I will get this inquiry over to the SharePoint writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2018-12-03 20:42] AndreaBarr commented on #456
@DeanGross Thank you for this inquiry

I will get this request for clerification over to the SharePoint writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2018-12-03 21:02] Techwriter40 commented on #433
2013 and 2010 versions of this article have been updated to include the correct download link.

[2018-12-03 21:02] #433 closed

[2018-12-03 21:17] MikePlumleyMSFT commented on #456
@DeanGross I've updated the article to clarify. Basically, the tenant settings override the site settings, but don't change them. If external sharing is on at the tenant level and some sites as well, and you turn external sharing off at the tenant level, then the sites will have external sharing disabled also. If you later turn external sharing back on at the tenant level, the sites will resume th

[2018-12-03 23:17] kaarins commented on #323
@IoTJonL , can you take a look at this? Thanks!

[2018-12-03 23:22] kenwith commented on #171
@dariomws306 - can you paste the link to the PR in here so it will cross reference? You can just paste the link and it will auto cross link. Going to close this but you can still post the PR for future references. :)

[2018-12-03 23:22] #171 closed

[2018-12-04 10:13] LuigiBruno opened #467 "Windows Server 2016"
Any update about the support for Windows Server 2016 (maybe using SharePoint Server 2013 with SP1)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 171d6bb7-4f08-573b-a2c7-5e78add14340
* Version Independent ID: 8c204184-9c39-727c-2ac3-6106be7ce1b8
* Content: [Hardware and software requirements for SharePoint 2013](https

[2018-12-04 11:50] dariomws306 commented on #171
Yes sure @kenwith :
https://github.com/MicrosoftDocs/OfficeDocs-SharePoint/pull/435

[2018-12-04 16:59] JeighBI opened #468 "External users not able to access folders"
Did something just change? (I see this article was updated 12/3/2018) I have site with a folder that has been shared with external users who don't have a Microsoft account. For the past few months they have been able to access everything just fine. It appears, as of this morning (12/4/2018), external access links don't seem to be working... and we didn't change anything. What happened??

---
####

[2018-12-04 17:16] Techwriter40 commented on #467
@Luigi, thank you for your comment. At this time, Windows Server 2016 is still not supported. If it changes, I will let you know. thanks .

[2018-12-04 17:16] #467 closed

[2018-12-04 19:19] patenik2 opened #469 "SQL Collation for SharePoint Databases – Latin1_General_CI_AS_KS_WS"
Why there are no recommendations for SQL Collation for SharePoint databases?

Here is what I used to recommend to my customers for SharePoint 2013 and prior environments - SQL Collation for SharePoint Databases – Latin1_General_CI_AS_KS_WS for the SharePoint Databases
Supportability regarding SQL collation for SharePoint Databases and TempDB
https://nikpatel.net/2013/09/05/use-latin1_general_ci_as

[2018-12-04 19:21] patenik2 commented on #469
here is the missing link in above comment - Supportability regarding SQL collation for SharePoint Databases and TempDB - https://support.microsoft.com/en-us/help/2008668/supportability-regarding-sql-collation-for-sharepoint-databases-and-te

[2018-12-04 22:32] okhster opened #470 "Redirect and move known folder to OneDrive from Mac OSX"
When will we see this feature for OneDrive for Business on Mac's?

It'll be very helpful and beneficial to help all MOF org structures to get this functionality pushed to Mac OSX 10.13.x and 10.14.x asap.

We have a lot of trouble getting our Mac users to use OneDrive as it doesn't seamlessly sync the most crucial folders in Finder: Documents, Pictures, Desktop and Download. or even give the optio

[2018-12-04 23:51] thedrum808 commented on #172
To answer the question, Hybrid Azure AD Join or Azure AD join is a prerequisite because the script uses registry keys that rely on the Azure AD credential/token used on the Windows user account to configure the parameters of the OneDrive account. If the device is not Azure AD-joined or Hybrid Azure AD-joined, there will be no Azure AD credentials to draw from, and these registry settings that rely

[2018-12-05 00:53] bentoncity commented on #469
Nik, this also came up for SharePoint 2016 but according to this blog (https://social.technet.microsoft.com/Forums/office/en-US/4b7170a2-6df0-489d-88fb-cbb2d3e9521c/sql-server-collation-for-sharepoint-2016), SharePoint automatically applies this collation as needed.

[2018-12-05 15:03] cjtireus commented on #37
Pretty good summary here, https://msdn.microsoft.com/en-us/data/dn551378(v=office.14) Copy&paste to Git?

[2018-12-05 16:21] harrisonkirby opened #472 "Azure SQL Managed Instance"
Hi

In relation to this note:
 Note

"SQL Server Express is not supported. SQL Azure (the SaaS service) is also not supported for any SharePoint databases."

Since the last iteration of this document Microsoft have released Azure SQL Managed Instances, which gives you the option to select NSGs, therefore, so long as the Sharepoint Server and Azure SQL Managed Instance are in the same NSG (or regio

[2018-12-05 16:59] MikePlumleyMSFT commented on #37
There's a new article that covers replacing the STS cert in a farm. [Replace the STS certificate for SharePoint Server](https://docs.microsoft.com/sharepoint/administration/replace-the-sts-certificate). It's no longer necessary to replace the default STS cert for configuring hybrid unless you want to use a cert from a public authority.

[2018-12-05 21:49] oker31 commented on #352
I have the same problem. Deleted sites shows up the next day in active sites.

[2018-12-06 07:59] FullStackEngN opened #476 "Excel application co-authoring"
Office 365 monthly channel already support Excel client application co-authoring for SharePoint Online/OneDrive Online files.
Does it also apply for SharePoint 2016/2019 server? if yes, do we need OOS support?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3b626929-198d-3be9-d202-df1c80699327
* Version Independent ID:

[2018-12-06 11:49] GTAfanattic commented on #365
Changed line 25:
If(Test-Path $OneDrive)
to
if ((Get-Item $OneDrive).VersionInfo.FileVersion -gt '18')

Clients were version 17 or lower, needed them to be 18 or higher. They were being detected as installed as the detection rule was only checking the presence of the file rather than the version.

[2018-12-06 14:43] MikePlumleyMSFT commented on #37
That's correct. We recommend using [the hybrid picker](https://docs.microsoft.com/en-us/sharepoint/hybrid/hybrid-picker-in-the-sharepoint-online-admin-center) to configure SharePoint hybrid.

[2018-12-06 15:03] mikelee-msft opened #478 "Udpate URL for "Microsoft SQL Server 2012 Service Pack 4 (SP4) Native Client (installs with Microsoft SQL Server 2012 Feature Pack)""
Please update the software URL for : "Microsoft SQL Server 2012 Service Pack 4 (SP4) Native Client (installs with Microsoft SQL Server 2012 Feature Pack)" in section, https://docs.microsoft.com/en-us/sharepoint/install/hardware-and-software-requirements-2019#links-to-applicable-software

with this:

"Microsoft SQL Server 2012 Service Pack 4 (SP4) Native Client"
and url: https://go.microsoft.com/fw

[2018-12-06 15:06] zburtondbrs opened #479 "Enabling silent account config key performs azure ad join"
Hey there,

In my testing, if I enable the silent account config policies, this joins the machine to Azure AD after the first sign-in attempt. This is fine for me, but this is not mentioned anywhere in the documentation.

I suggest that you update this document to clarify what will occur if the machine is already not joined to Azure AD.

Thanks,
Zane

---
#### Document Details

⚠ *Do not edit this

[2018-12-06 15:16] cjtireus commented on #37
Also for outbound federated hybrid search configuration from SP2013 to SPO? Hybrid picker is the MS recommended way to go?

[2018-12-06 15:40] smitman3405 opened #480 "Sub Sites"
Is there a way to scan subsites?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3c27cc7d-bb92-c1bc-4330-ae2bb54846bc
* Version Independent ID: f14f15f3-e079-a6c6-d9ef-d7698f2e989f
* Content: [Overview of the SharePoint Migration Assessment Tool](https://docs.microsoft.com/en-us/sharepointmigration/overview-of-the-share

[2018-12-06 15:45] MikePlumleyMSFT commented on #37
Yup. (Adding @tklarsen in case I'm missing anything.)

[2018-12-06 17:03] tomresing commented on #476
It does not apply. There is a note in this document covering that case

[2018-12-06 17:03] #476 closed

[2018-12-06 17:30] itthing commented on #434
My experience with a file hosted in Teams/SharePoint online, is that Excel does NOT consistently support coauthoring.

[2018-12-06 17:37] tomresing commented on #434
@itthing, Excel must be updated to the latest version available with an Office 365 Subscription to support full co-authoring. https://support.office.com/article/what-s-the-difference-between-office-365-and-office-2019-ed447ebf-6060-46f9-9e90-a239bd27eb96

[2018-12-06 17:37] #434 closed

[2018-12-06 18:11] Techwriter40 commented on #478
@mikelee-msft, thank you for your feedback, if possible, can you please submit as a Pull request?  thanks.

[2018-12-06 18:11] #478 closed

[2018-12-06 18:17] kenwith commented on #37
This seems like an awesome conversation and it is over the top of my head. Would @cjtireus @kannanambadi be willing to capture this expertise you have into the document? Maybe as a note so others can benefit from this one when they read the document? :)  I can guide you through how to do a Pull Request and you then become 'contributors' on the content too. The conversation just seems really valuab

[2018-12-06 18:18] kenwith commented on #37
@tseward - maybe something you could add too? @tseward is a SharePoint MVP. :)

[2018-12-06 18:22] kannanambadi commented on #37
Thank you all for your prompt responses👍👍👍

I have hybrid deployment planned for next week. It is one way OUTBOUND hybrid between SharePoint 2013 onprem to SharePoint Online. I would be happy to know that we do not need to replace default STS certificate.

Sent from mobile

________________________________
From: Ken Withee <notifications@github.com>
Sent: Thursday, December 6, 2018 23:48
To: Micro

[2018-12-06 21:31] BobGerman opened #482 "Typo on step 3"
Under step 3 it says, "Replace with the site script ID from when you added the site script.". You need to use the site design ID, not the site script ID.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bd09eee5-c545-e689-1194-e6b6cd70d63c
* Version Independent ID: 81523a20-4bed-a41c-9f5e-e5b5200d2f75
* Content: [Set up

[2018-12-07 02:30] patenik2 commented on #469
I am confused.. Is that forum saying Latin1_General_CI_AS_KS_WS is automatically configured for the SharePoint Databases? This is no longer required for the DBAs to configure?

[2018-12-07 05:10] sprider commented on #383
Yes, It does. Thank you team

[2018-12-07 14:30] SabbeRubbish opened #483 "Global Navigation"
Is said to be on the roadmap, however, except mega menu, there is no clear mention of this feature.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e8576791-f019-67e1-3d31-fccefd6a165b
* Version Independent ID: 4844c3bf-70cd-e5f4-2380-59db5ad32ae5
* Content: [Planning Navigation for the modern SharePoint experience](htt

[2018-12-07 16:32] danmyhre opened #484 "Populate Values"
Please add recommended approach to populating / syncing values to the custom user profile properties.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 089de41e-64c6-4698-5a2e-deafe6fac8ea
* Version Independent ID: 99812440-95be-2284-4b90-3088f55b3772
* Content: [Add and edit user profile properties in SharePoint Online](

[2018-12-07 18:32] AndreaBarr commented on #352
@BlandinePinto Thank you for this feedback

I want to make sure this deleted sites that aren't deleting gets handled the best way possible. I want to get you and anyone else that is having this issue over to Support since they have more resources than we do here to find a resolution.

Here is a quick video on opening a ticket: https://www.youtube.com/watch?v=puuOy0sEg1Y

If you don't mind please k

[2018-12-07 18:32] #352 closed

[2018-12-07 22:16] bentoncity commented on #469
@patenik2 I took it to mean that, but now I'm not sure. In the forum Paul Stork says: "The standard default is supported for the system databases like master and tempdb. The alternate collation is only required for SharePoint content databases and will automatically be applied by SharePoint when those content databases are created."

[2018-12-07 22:46] tseward commented on #469
SharePoint *automatically* uses the correct collation. The reason this recommendation is in place is that sometimes DBAs pre-create databases and this is guidance for them.

[2018-12-08 01:33] tseward commented on #37
If I recall, you can go through one of the Hybrid wizard scenarios like Hybrid B2B sites which doesn't make any changes but it does configure the ACS proxy and app principal in Azure AD.

Might be worth going that route so you only have to configure Search after that. Here's an old article by Bill Baer on federated search: https://blogs.technet.microsoft.com/wbaer/2014/03/24/one-way-outbound-hybri

[2018-12-10 13:47] danjpadgett commented on #424
@tseward - it appears the policy name of 'Silently redirect Windows known folders to OneDrive' has changed to 'Silently move Windows known folders to OneDrive', therefore the wording in the section below needs to be updated:

If you enable this setting, users won't be prompted with the "Set up protection of important folders" window, and the "Start protection" command will be disabled. If the user

[2018-12-10 16:31] LuigiBruno commented on #467
Thank you @Techwriter40.
It is important due to the questions asked by users in SharePoint Forums.

[2018-12-10 18:57] #482 closed

[2018-12-12 04:02] ezvcatlipoca-sayai0xri2 opened #494 "I am being Monitored by rdweb.wvdselfhost.microsoft.com"
MiIIetlteuc. eatt cia attacker's 0 Hah 000 98 omni in tont . 0 0 star noncommercial e us waveforms AI NET ET DNA + Biochemical Traces GPS Av Pico onlooker n ▪0 Blue Rae safeties nervous sys Reserve d numerical givers * MIDI III COUNSELOR Spectrasonics Shockwave Pl ses forms savior Identified th us a l l ' "  § ✝. Godin aping ought hod n innermost Gemstone ROM OTS E ● SourceSafe Titan με Qin ぽ پکئو

[2018-12-12 05:35] fredericklin opened #495 "Spelling "UserType""
Spelling error in the first Note section.  "UsertType" should be "UserType"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f75d2b5a-bc14-e0f3-1269-716383939212
* Version Independent ID: 879c8636-ab9a-0440-039a-f3eac8d41a1f
* Content: [Secure external sharing in SharePoint Online](https://docs.microsoft.com/en-us/sharep

[2018-12-12 06:27] fredericklin opened #496 "Not linked from left navigation"
This page isn't linked from left navigation, which discourages discoverability of this page.  I got here from a direct link elsewhere.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f75d2b5a-bc14-e0f3-1269-716383939212
* Version Independent ID: 879c8636-ab9a-0440-039a-f3eac8d41a1f
* Content: [Secure external sharing in

[2018-12-12 17:16] fredericklin opened #497 "Editing in an Office 365 app"
Clarify that you can still edit in the Online version of the Office 365 app where it states:

Ad-hoc external recipient:
Can edit in Word, Excel, PowerPoint, or other Office 365 apps - No

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f75d2b5a-bc14-e0f3-1269-716383939212
* Version Independent ID: 879c8636-ab9a-0440-039

[2018-12-12 17:24] swy commented on #470
+1 to this request.  I would like to push for company policy to be "store files in ~/OneDrive - employer to have backups and recovery", but that became harder to advocate for when Apple now gives us Stacks in 10.14, making the Desktop less of a disaster to store many files.  We all know that reality is that we can teach and set policy that the OD folder is the only safe place, but folks WILL use t

[2018-12-12 18:02] kdhindsa opened #498 "Search_Service_Application_AnalyticsReportingStoreDB_{ID} table shows 4 types of events - 1,2,3,4"
Is this documentation up to date? I am not seeing event type "4" in this documentation. Please ignore if I am looking at the wrong table in SP DB.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 02a38666-02c8-975c-5ed5-39c21f17f53e
* Version Independent ID: 03d7cded-bd50-06ab-c418-e638f9c7a9ca
* Content: [An introductio

[2018-12-12 22:45] AndreaBarr commented on #494
@ezvcatlipoca-sayai0xri2 Thank you for this feedback

I want to make sure you get the proper assistance for this issue. Lets get you over to support who has the resources to find a resolution for this issue.

Here is a quick video on opening a ticket: https://www.youtube.com/watch?v=puuOy0sEg1Y

If you don't mind please keep us posted here on the resolution and I really want to get this informatio

[2018-12-12 22:45] #494 closed

[2018-12-12 23:33] patenik2 commented on #469
@tseward - Thanks. I have verified that SP2016 automatically applies SQL collation (Latin1_General_CI_AS_KS_WS) to SQL Server 2016 instance with SQL_Latin1_General_CP1_CI_AS collation. All SP databases including service applications and content databases have Latin1_General_CI_AS_KS_WS automatically applied. All four system databases (master, model, msdb, tempdb) uses SQL_Latin1_General_CP1_CI_AS

[2018-12-13 05:57] tseward commented on #498
@AndreaBarr can you assign this to me?

[2018-12-13 07:54] NNaumburger opened #501 "Liste der Sprachen - Zuordnung fehlerhaft"
In der Liste der Sprachen sind die Bezeichnungen teilweise verschoben. Beispiel: Deutsch - bg -bg 1030 -&gt; Korrekt wäre Deutsch - de - de - 1031

---
#### Dokumentdetails

⚠ *Bearbeiten Sie diesen Abschnitt nicht. Er ist für die Verknüpfung von docs.microsoft.com zum GitHub-Artikel erforderlich.*

* ID: 44037d12-85d4-e21e-d78a-440de38c48bd
* Version Independent ID: 830be840-8a90-192f-3b7f-0da896

[2018-12-13 11:37] nenonix opened #502 "typo: missing "you""
If __you__want to add some basic device and sharing restrictions to OneDrive, you can use the OneDrive admin center.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9c7781f0-fe4d-c88b-1870-0c22a8e94449
* Version Independent ID: 79faccce-8e41-ae27-5a44-a66ab93b0df1
* Content: [OneDrive QuickStart guide for small business

[2018-12-13 12:21] nenonix commented on #501
Danke für Ihre Rückmeldung. Ich werde das prüfen und versuchen, mit Ihnen zusammenzuarbeiten, um den Inhalt so zu verbessern, wie Sie es vorschlagen.

[2018-12-13 13:40] nenonix commented on #497
Thank you for taking time to contribute clarity to the content. Am I right in assuming that you are suggesting that we differentiate between Office 365 apps and Office 365 Online in terms of access for ad-hock external recipients or do you think a note could be added to make this clear?

[2018-12-13 13:59] nenonix commented on #496
Hi. We really appreciate your efforts to improve Microsoft Docs, I will look into this issue and add the link you suggest. Thank you.

[2018-12-13 14:39] nenonix commented on #496
I have added a link on the  External Sharing Overview page and am consulting with my team about adding a link in the left navigation.

[2018-12-13 15:37] nenonix commented on #483
Thank you for your feedback. I am going to research this issue and then try work with you to improve the content and reflect your concerns.

[2018-12-13 16:51] nenonix commented on #472
@harrisonkirby  Thank you for taking time to improve the Microsoft Docs. Can you help me to edit the content you refer to so that this is made clearer? What would you suggest?

[2018-12-13 17:37] nenonix commented on #427
@bakerm00  Thank you for taking time to improve the content. I have submitted a change that removes the reference you refer to.

[2018-12-13 17:45] tseward commented on #472
This scenario is (likely) not supported. The primary reason would be lack of support for Windows credentials. SharePoint requires this. I ran the database compat checker for SQL -> Azure SQL MI and the Windows Auth was called out as the only migration blocker for the Config/Admin databases (other databases may have further issues).

The T-SQL scripts SharePoint uses would also need to be validated

[2018-12-13 17:51] #501 closed

[2018-12-13 17:53] get-itips commented on #502
Hi, thanks for your feedback, I'll work on this issue. @AndreaBarr

[2018-12-13 17:56] AndreaBarr commented on #480
@smitman3405 Thank you for this inquiry

I think the best way to address this is to have you contact support. They have more resources than we do here to find a resolution.

Here is a quick video on opening a ticket: https://www.youtube.com/watch?v=puuOy0sEg1Y

If you don't mind please keep us posted here on the resolution and I really want to get this information you are discovering back into the

[2018-12-13 17:56] #480 closed

[2018-12-13 18:07] SabbeRubbish commented on #483
You'd better actually ADD it to the roadmap, committing to promises ;-)

On Thu, Dec 13, 2018, 17:29 Nicole Turner <notifications@github.com wrote:

[2018-12-13 19:34] fredericklin commented on #497
I actually assumed the "Office 365 app" is inclusive of the online browser interface which I discovered to be editable.  I think I misinterpreted it in retrospect.  There has also been some commentary from others (ie. blog comments) about not being able to open a Word/Excel/etc document in the rich client.  So perhaps to avoid confusion, clarification on the terminology would be good to mention wh

[2018-12-13 23:29] repton-infinity opened #509 "Link explaining how to install the update goes to the wrong page"
If you click on the link "Install a software update for SharePoint Server 2013", it takes you to this page:
https://docs.microsoft.com/en-us/sharepoint/upgrade-and-update/install-a-software-update

which only applies to SharePoint Server 2016.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c2a90935-fb89-c75b-f0c3-683c4

[2018-12-14 00:32] tseward commented on #509
@AndreaBarr I'll take this one.

[2018-12-14 02:04] repton-infinity opened #510 "Several code blocks in this article that should be normal text"
There are several code blocks in this page that should be normal text, e.g.

"""
For more information, see [Best Practices for using Windows Azure Cache/Windows Server Appfabric Cache](http://go.microsoft.com/fwlink/?LinkID=614969&amp;clcid=0x409) and [Application Configuration Settings (Windows Server AppFabric Caching)](http://go.microsoft.com/fwlink/?LinkID=614970&amp;clcid=0x409). For addition

[2018-12-14 03:07] tseward commented on #509
@repton-infinity looking at this, while the specific article applies to 2016 and does have some 16-specific paths in some of the commands, the procedure is identical to 2013. There are even 2013-only references, such as the UPSS :)

@Techwriter40 how should this best be handled? _Most_ of the information here is accurate for both versions, just some very minor detail differences.

[2018-12-14 03:14] tseward commented on #510
@AndreaBarr Assign this to me please.

[2018-12-14 10:21] sharepointalex opened #513 "Result source already configured"
I have observed that using the PowerShell scripts (not sure about the hybrid picker) that the Cloud SSA already has the remote result source configured. Therefore I'm not 100% sure if this step is actually required in this documentation...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 38066437-8d64-308a-2b10-ad4b66a8c

[2018-12-14 14:43] SeanDeasyMM opened #514 "Beta for fix"
Hi - I understand there is a beta version of a fix to allow this change. Can you advise how to enrol? Thank you, Seán

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7fff5ef6-b4cc-5a18-10a8-7b5182e2deae
* Version Independent ID: 8176e436-b25b-e455-09ac-be08bea2bfcb
* Content: [Change your SharePoint domain name](https:/

[2018-12-14 22:09] pzahra opened #515 "Can't run Farm Configuration on 2019"
Install appears to have succeeded, Product Configuration Wizard finished and attempted to open Farm Configuration Wizard under Central Administration web page (/_admin/adminconfigintro.aspx?scenarioid=adminconfig&welcomestringid=farmconfigurationwizard_welcome). Logged in as setup user, same user that created the database: "Sorry, this site hasn't been shared with you." All permissions look right.

[2018-12-14 23:02] pzahra commented on #515
It's the domain user that was created to build the database, since the installer wouldn't accept a local user. It does show up in the list of admins under the Central Administration -> Security -> Farm Administrators.

I just added it to the local admins group, looks like that was the problem.
Thanks

[2018-12-15 14:49] DeanGross opened #516 "mitigating risks"
Is there anything that can be done to ensure that file metadata is not lost?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0386fc0-8592-8798-65ad-e6dfc18a6334
* Version Independent ID: c7767a55-cd31-a472-d039-76d07178ab27
* Content: [How to migrate your file share content to SharePoint Online using the Azure Data Box

[2018-12-15 15:05] DeanGross opened #517 "Support for Azure Data Box"
Please update the release notes to include the fact that Azure Data Box can also be used, see https://docs.microsoft.com/en-us/sharepointmigration/how-to-migrate-file-share-content-to-spo-using-azuredatabox

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 193d7cc4-4270-f69e-262b-6384a273f835
* Version Independent ID: 662

[2018-12-15 15:11] DeanGross commented on #382
@gurramsubrahmanyam no it does not.

[2018-12-15 17:18] tseward commented on #513
What version of SharePoint did you do this with? I set this up back in October on 2016 and the result source was _not_ configured.

[2018-12-15 17:19] tseward commented on #516
@DeanGross using a tool like robocopy to preserve the limited amount of metadata NTFS provides would be the solution.

This particular solution is not designed for SharePoint on-prem sources.

[2018-12-15 17:20] tseward commented on #517
@AndreaBarr assign this to me.

[2018-12-17 06:39] nenonix commented on #483
@SabbeRubbish  We have reached out to the Roadmap team and will get back to you as soon as they clarify this issue.
@ocarcallas Thank you for your query. I will do my best to connect you with the support resources you have requested.

[2018-12-17 16:55] solinear commented on #10
What's the status on this?  The documentation is still pretty stale and I'd love to use this feature also.

[2018-12-17 17:39] kenwith commented on #10
@solinear - let's re-open the issue. @tseward - would this be one you could work on? @AndreaBarr - FYI.

[2018-12-17 18:18] nenonix commented on #497
@fredericklin  Thank you for the suggestion. I am researching the issue and will try to find a way to reflect the points you raise in the content.

[2018-12-17 20:20] kenwith commented on #496
@nenonix - the person that can provide guidance on where to put the article in the TOC (left nav) is @MikePlumleyMSFT --- it might be a situation where it shouldn't be in the TOC but I am not sure. @fredericklin - thanks for this catch and opening the issue.

@nenonix - to put the link in the left nav TOC I believe it is the toc.md file that is in the same directory as this file.. here is a link:

[2018-12-17 20:34] MikePlumleyMSFT commented on #496
Correct, this article should not be in the TOC. It is scheduled to be retired in the next few months. The information therein will be moved to a different article.

[2018-12-17 20:43] kenwith commented on #496
Thanks for clarification! Let's close this issue out.

[2018-12-17 20:43] #496 closed

[2018-12-17 21:03] fredericklin commented on #496
@Mike-Ubezzi-MSFT I'm confused; If this is retired in the next few months, Is the ad-hoc external recipient implementation going away?

[2018-12-17 21:05] kenwith commented on #496
I think what @MikePlumleyMSFT said was that the information is being moved to a different article which is why this article isn't in the TOC.  Usually what happens at that point is a redirect from this article would automatically send people to the new article. So links in blogs and things still work to get the relevant content.

[2018-12-17 21:22] MikePlumleyMSFT commented on #496
@fredericklin, no, we're just reorganizing the content. This article was migrated from another site and isn't well integrated with our other sharing admin content. Once we've found a better home for the information, the current URL will redirect to the new location.

[2018-12-18 09:35] mikerodionov opened #522 "Kerberos authentication resource list - one of the referenced articles has truncated name"
In "For more information about Kerberos authentication, see the following resources:" section we have article listed as "How the Kerberos Version 5" - obviously truncated name which should be replaced witch complete one - "How the Kerberos Version 5 Authentication Protocol Works"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2018-12-18 14:19] nenonix commented on #522
@mikerodionov Thank you for pointing this out.

[2018-12-18 17:22] kaarins commented on #514
Hi @SeanDeasyMM, thanks for your comment. The team is investigating this feature, but we don't have a public beta program at this time. I hope we will soon - we know we need this feature!

[2018-12-18 17:22] #514 closed

[2018-12-19 08:15] thomas-bak opened #524 "Quick Links label"
In the "Labeling" section on this page you present the following recommendation:

"For example, think twice before you use these labels: Quick Links"

But one of the default SharePoint web parts is called just that.
It's confusing when you deliver a product with labeling that you recommend against using.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2018-12-19 09:02] swhite-strath commented on #308
I read the same thing and decided to test it out, when I shared to an external recipient there was no guest accounts created. I think this function has now been changed according to this,

[https://docs.microsoft.com/en-gb/sharepoint/what-s-new-in-sharing-in-targeted-release](url)

I think this applies to sharing files with One Drive for business also?

[2018-12-19 14:32] MikePlumleyMSFT commented on #308
A more complete description of the external sharing functionality in OneDrive and SharePoint can be found in [External sharing overview](https://docs.microsoft.com/en-us/sharepoint/external-sharing-overview). Generally speaking, if you share with someone who has an Azure AD / Office 365 account, they are added to the directory as a guest; otherwise, they are not.

[2018-12-19 15:13] swhite-strath commented on #308
I initially tested with a gmail and hotmail account, but I just tested it with another company who has office 365 and same thing, no guest account was created. They just gain access using the verification code.

[2018-12-20 10:00] JasonTimmins opened #527 "Silent config via Autopilot and Intune"
Hi There,
I'm trying to get this working using an Intune-based PS policy delivered as the machine does the Autopilot process but it's just not working. What am I missing? Have you tried it this way? Surely having OneDrive automatically configure as part of Autopilot is something you'd want?!
Cheers
Jason.

[2018-12-20 11:30] LuigiBruno opened #528 "Number of supported servers"
It could be useful adding an information about the different supported topologies (number of servers) for a Workflow Manager Farm: as far as I know, a Workflow Manager Farm can only be composed either by 1 server or 3 servers.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d9696f9c-aeb8-e0b9-2a43-bc24e9c7b2b2
* Version

[2018-12-20 18:20] tomresing commented on #528
Thanks for reading and making the suggestion @LuigiBruno!
SharePoint Server 2019's release [doesn't change high availability](https://social.technet.microsoft.com/Forums/en-US/ca1950fc-f7f1-4d85-99a3-5d0cb1a08238/workflow-manager-architecture?forum=SP2019) of Workflow Manager which is covered in the [Workflow Manager system requirements](https://docs.microsoft.com/previous-versions/dotnet/workflow

[2018-12-20 18:20] #528 closed

[2018-12-20 18:35] MarcLaf opened #531 "Thank you!"
This is great news - We already went through the pains of changing a UPN and had to manually fix a bunch of things. One thing I didn't see mentioned is the UPN associated with an O365 desktop app registration. Will this get updated automatically too? Or will you need to remove the previous registration and redo it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2018-12-20 19:01] kaarins commented on #531
@WayneEwington, would you like to comment and/or edit the article to clarify?

[2018-12-20 19:59] WayneEwington commented on #531
Although the Office Clients (O365 desktop apps) will continue to work as expected, the UPN displayed in the Office "backstage" area will be the original UPN.

I will update the article to clarify.

[2018-12-20 20:57] thockman64 opened #533 "SharePoint Management Agent Configuration fails"
I have followed the instructions for running the SharePoint MA configuration, but the powershell keeps blowing up about properties like 'name' cannot be found. Verify that property exists, etc.. I have set directory partitions and OU paths correctly and used valid credentials. Not sure why it will not load to an
otherwise working instance of MIM.

---
#### Document Details

⚠ *Do not edit this sec

[2018-12-21 02:09] github33 opened #534 "Example warning message for"
[Enter feedback here]
It would be helpful to see a screenshot of the warning message when the Excel download limit is reached. It would be even more helpful to include links to information or a pop-out html screen with PowerShell which shows an example of changing the limit.

$SSA=Get-SPEnterpriseSearchServiceApplication -Identity ssa
$SSA.GetProperty("MaxDownloadSizeExcel")

$SSA.SetProperty("Max

[2018-12-21 15:33] LuigiBruno commented on #528
Thanks @tomresing.

[2018-12-21 17:34] tomresing commented on #528
What about 7?

[2018-12-22 03:45] hyoshioka0128 opened #536 ""来園者" needs to be replaced with "ゲスト""
Strongly recommend to replace "来園者" with "ゲスト" , I can see "来園者" is used as a localized Japanese word of "guest" in English, however, it should be "ゲスト" which stands for guest user of SharePoint.

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: c98348dc-2b57-4f00-3877-4186e51e2cd6
* Version Independent ID: c07e2eb4-437b-8acc-7ce8-fbe2dd70d4b0
* Content

[2018-12-22 03:54] hyoshioka0128 opened #537 ""来園者" needs to be replaced with "ゲスト""
Strongly recommend to replace "来園者" with "ゲスト" , I can see "来園者" is used as a localized Japanese word of "guest" in English, however, it should be "ゲスト" which stands for guest user of SharePoint Online.

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 6ed46514-8036-a543-d690-73d48acef690
* Version Independent ID: 8542c3ce-3012-3d23-c3e4-4331dac033d2
*

[2018-12-22 03:56] hyoshioka0128 commented on #536
Strongly recommend to replace "来園者" with "ゲスト" , I can see "来園者" is used as a localized Japanese word of "guest" in English, however, it should be "ゲスト" which stands for guest user of SharePoint.

[2018-12-23 22:18] tseward commented on #533
@thockman64 I would suggest posting this on the TechNet forums at https://social.technet.microsoft.com/Forums/sharepoint/en-US/home?forum=SP2016 where we can diagnose and go through the issues. If we find a deficiency in the documentation after going through some troubleshooting, I'd be more than happy to update the docs.

[2018-12-23 22:22] tseward commented on #522
@nenonix There are a few formatting issues with links in this article, can you fix those as well? A couple of the links are no longer up to date or the content of those links is poorly formatted (check the ones that point to TN URLs).

It's probably a good idea to find a few replacement articles.

[2018-12-23 22:34] tseward commented on #469
@patenik2 If your issue is resolved, can you go ahead and close this issue? Thanks!

[2018-12-24 05:37] nenonix commented on #522
will do

On Mon, Dec 24, 2018 at 12:22 AM Trevor Seward <notifications@github.com>
wrote:

[2018-12-24 11:46] #515 closed

[2018-12-26 07:20] nenonix commented on #483
@SabbeRubbish Feedback is that this feature is not going to added to Roadmap any time soon. I am going to remove the reference for now. Thank you for pointing this out and for helping to improve Microsoft Docs.

[2018-12-27 12:44] comunicFR commented on #323
Hi all,
i am very interessted in this GPO, to configure automatically sharepoint sites on onedrive client...
Tried with site ID, with or without the {}, but site never come up...
Some updates on this ?

[2018-12-27 21:33] motaba1 commented on #323
It was working for me with support from Microsoft.
In GPO there has to be whole value from "Copy library ID" (tenantId=xxx&siteId=xxx&webId=xxx&listId=xxx&webUrl=httpsxxx&version=1).
Windows 10 or Office has to be registered to Insiders ring. This was my problem.
Then you need to wait some time (next day) and sync is here.
Libraries from Communinacions site are synchronised too.

[2018-12-28 00:57] kaarins commented on #470
Thanks for this feedback. @swy , I see that you've already voted on this feature :) (https://onedrive.uservoice.com/forums/913525-onedrive-on-mac/suggestions/34742176-kfm-known-folder-move-for-mac)! I know the team would definitely like to add it. No announcements have been made yet, though.

[2018-12-28 00:57] #470 closed

[2018-12-28 05:56] comunicFR commented on #323
wow thank you !
how can you grab this famous ID link ?
ans secondly, i can't put all my clients tenant members of the insides ring .. will wait for the production release... do you have an eta from Microsoft ?

[2018-12-29 18:43] motaba1 commented on #323
articke says:
To find the library ID, sign in as a global or SharePoint admin in Office 365, browse to the library, and click the Sync button. In the "Starting sync" dialog box, click the Copy library ID link.
It will be long string like tenantId=xxx&siteId=xxx&webId=xxx&listId=xxx&webUrl=httpsxxx&version=1

[2018-12-30 05:44] alokegupta commented on #261
@AndreaBarr There is still no additional information. I have been struggling with activating app customizer as per [https://github.com/SharePoint/sp-dev-site-scripts/blob/master/samples/site-register-spfx-extension/register_extension.json](https://github.com/SharePoint/sp-dev-site-scripts/blob/master/samples/site-register-spfx-extension/register_extension.json). Just to check I also added schema t

[2018-12-31 14:39] sagaracharya21 commented on #415
Hello,

Does this tool support to migrate quickparts embedded in document ?

Thanks
Sagar Acharya

[2018-12-31 14:40] sagaracharya21 opened #541 "Microsoft sharepoint migration tool support for quickparts"
Hello,

Does this tool support to migrate quickparts embedded in document ?

Thanks
Sagar Acharya

[2018-12-31 16:48] hotmael22 commented on #541
@Rakanfalroba
[4AEE18F83AFDEB2,https_  github,4AEE18F83AFDEB2,https_  www.sol,4AEE18F83AFDEB2(1).pdf](https://github.com/MicrosoftDocs/OfficeDocs-SharePoint/files/2718645/4AEE18F83AFDEB2.https_.github.4AEE18F83AFDEB2.https_.www.sol.4AEE18F83AFDEB2.1.pdf)

[2018-12-31 18:56] AndreaBarr commented on #261
@alokegupta Thank you for this feedback.

At this point we really need to get you to support if you are having issues with this. They have the resources there to find a resolution better than we can here in the Docs department.

Here is a quick video on opening a ticket: https://www.youtube.com/watch?v=puuOy0sEg1Y

If you don't mind please keep us posted here on the resolution and I really want to

[2018-12-31 18:58] AndreaBarr commented on #415
@tseward Could you please answer the above inquiry?

[2019-01-02 00:15] #469 closed

[2019-01-02 14:36] MDKBreinwave opened #542 "Target to folder instead of root of document library"
Is it possible to set the target to a folder in a document library instead of the root of a document library? Via the UI it's not possible so I tried saving the task as json and then add the folder path to the target URL. Got error code: 0x0201000F. If this is not an option, will this be possible in the future?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2019-01-02 18:11] LoreenLa commented on #524
Thanks for your feedback, @thomas-bak! I can see how that would sound contradictory. The Quick links title for the web part is intended to be very general, just to describe the web part itself. When you use it and add your links to it, we suggest you change the title in the web part to something specific that describes the links you add. You can do this by typing over the Quick links title in the

[2019-01-02 18:11] #524 closed

[2019-01-03 08:16] MDKBreinwave commented on #542
I tried yesterday to add the subfolder via the csv import  but no matter what I try the migration tool doesn't accept the csv file. Do I need a specific csv format? In Excel you have several options. The json import would be fine too but I could not figure out what the syntax is for routing the documents to a subfolder. Let's say I have the following parameters:
site - http://mysite.sharepoint.com

[2019-01-03 10:26] filipkcz opened #543 "Microsoft Teams will work after delete?"
Will MS teams work after deleting the default site collection?

I need recreate default site and select different template.

Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a3bd11d3-f2a4-2811-09bd-449c3c3607da
* Version Independent ID: 2f47da99-02e6-3357-ed41-b28bd5190907
* Content: [Delete a site collection](

[2019-01-03 16:00] tseward commented on #543
@AndreaBarr Assign to me.

@filipkcz When you delete the site associated with a Group, it will delete the site, Office 365 Group, and Microsoft Team.

Or are you asking about the root site (https://tenantName.sharepoint.com/)? Recreating this with another template is not supported at this time.

[2019-01-03 16:00] tseward commented on #542
@AndreaBarr Assign to me please.

[2019-01-03 16:57] tseward commented on #541
@AndreaBarr assign this to me, please.

[2019-01-03 18:41] tallman5 opened #544 "Site Library Count Limits"
Is there a limit to the number of document libraries in a site?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76d1a46c-4a3b-f99d-cca8-326b36235b1d
* Version Independent ID: d99a6050-b1af-afa2-8948-b1bba2ea7398
* Content: [Software boundaries and limits for SharePoint Servers 2016 and 2019](https://docs.microsoft.com/e

[2019-01-03 18:47] tseward commented on #544
@AndreaBarr assign to me.

@tallman5  There are no defined limits.

[2019-01-03 19:08] JoanneHendrickson commented on #542
@tseward I have already contacted the PM regarding this.

[2019-01-03 20:02] JoanneHendrickson commented on #542
Have you looked at the formatting requirements in this topic?   https://docs.microsoft.com/en-us/sharepointmigration/how-to-format-your-csv-file-for-data-content-migration

[2019-01-03 21:01] bradgillap opened #545 "Sharepoint 2019"
The link is incorrect for web tiles. Sharepoint 2019

It should be

https://web_app/Lists/Custom%20Tiles/AllItems.aspx

not

http://web_app/lists/custom tiles

Which should be in quotes if you are going to put spaces in a web address with no indication that the web address has ended. Technical writing is hard. I get it.

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2019-01-03 21:09] Techwriter40 commented on #545
@bradgillap thank you for your feedback, this has been updated and republished.

[2019-01-03 21:09] #545 closed

[2019-01-06 17:10] tseward commented on #541
@sagaracharya21 In my testing, while SMAT keeps the data that was previously entered into the quick part, the quick part is no longer attached to the library property that drove it. So if you had entered data, yes it will be preserved during the migration, but that quick part becomes unusable to change the data within the document.

If this is a feature you need, I would suggest adding it to the S

[2019-01-06 17:12] tseward commented on #280
@DeanGross I think the answer to this is that you absolutely need to set up a separate eDiscovery on-prem as you can no longer create those in SPO (https://support.office.com/en-us/article/Set-up-an-eDiscovery-Center-in-SharePoint-Online-A18F8975-AA7F-43B4-A7D6-001D14744D8E). Will look into the DLP part of your question and get back to any edits that may need to be made on this article.

[2019-01-07 09:18] danglund opened #547 "Broken link to Ranking Model Tuning App"
The link to ranking model tuning app is broken.

https://office.microsoft.com/en-us/office365-sharepoint-online-enterprise-help/create-a-custom-ranking-model-by-using-the-ranking-model-tuning-app-HA104104860.aspx?CTT=1

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b84aa98d-55e2-d8fe-02b7-acbd27657a20
* Version Indepen

[2019-01-07 12:03] nenonix commented on #547
@danglund Thank you for contributing to the quality of the documentation. I will work with you to fix the problem you describe.

[2019-01-08 01:55] thshdw opened #549 "Is XSL Link available in SharePoint Server 2019"
In Sharepoint 2016 each list or webpart properties had a Miscellaneous section where you could add your own xslt. Is this still available in 2019?

![image](https://user-images.githubusercontent.com/4992951/50805050-e741c480-12ad-11e9-9337-eb91f1229a5c.png)

I can't find any confirmation that this still exists in 2019. I use this a lot in Sharepoint 2016.

---
#### Document Details

⚠ *Do not edit

[2019-01-08 02:13] tseward commented on #549
@AndreaBarr Assign to me, please.

In terms of XSL, yes that option is still there in classic mode sites only. It will not be present on modern pages using modern webparts.

[2019-01-08 03:21] tseward commented on #549
Only issue with doing this is there are quite a few features that are classic-only, so it would become a very long list of what is still available, but only in classic.

[2019-01-08 05:27] technoself opened #550 "The new version 2.1.103.8420 fails to migrate to OneDrive"
Had version 2.1.106 installed on machine but agreed to update to newer version before doing scheduled File share to SharePoint migration. The new version gave an error on CSV file that my account is not SharePoint Admin. Tried the same file on another machine that luckily still have older version and the CSV file worked fine. For both cases used the same credentials. When tried one-off OneDrive mi

[2019-01-08 14:33] grosvnor opened #551 "Description of item (Content column) - wrong SharePoint version"
On the second item should be "SharePoint Server 2016" instead of "SharePoint Server 2013".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 78719121-dd09-71ab-5f96-319abe2b97fd
* Version Independent ID: 98699f5d-6750-ee03-1918-b53667c69482
* Content: [User profiles and identities](https://docs.microsoft.com/en-us/SharePo

[2019-01-08 15:30] tseward commented on #551
@AndreaBarr assign to me, please

[2019-01-08 16:45] thshdw commented on #549
Thanks! The closest document that I could find that compares modern to classic is

https://support.office.com/en-us/article/differences-between-sharepoint-server-2016-and-2019-ba84c8a3-3ce2-4252-926e-c67654ceb4a3

But no mention of xslt support in Modern.

[2019-01-08 17:34] tseward commented on #549
Yep, and again there are so many differences that calling them out may not be feasible. @tomresing, since this is a support.office.com article @thshdw referenced, any thoughts?

[2019-01-08 18:08] thshdw commented on #549
I'm not sure how popular XSLT is in 2016. It's important to me as I'm using it to extend webpart lists in various ways. It's something that I would want to use on some pages in 2019. I'm happy its still around. Others wanting to know if XSL functionality still exists hopefully will stumble upon this thread. Thanks for answering my question 😄

[2019-01-09 00:22] #483 closed

[2019-01-09 09:14] CMACKINTOSH1975 commented on #222
There is a simpler way to do this
$admin = 'admin@tenant.onmicrosoft.com'

$password = Get-Content "C:\EncryptedPassword.txt" | ConvertTo-SecureString

$cred = New-Object -TypeName System.Management.Automation.PSCredential -argumentlist $admin,$password

Connect-SPOService –Url https://tenant-admin.sharepoint.com/ -Credential $cred

$users = Get-Content -path "C:\Userlist.txt"

Request-SPOPersonal

[2019-01-09 15:40] Sreeni6304 commented on #307
So is there any update on this issue? I am eager to know as well.

[2019-01-09 16:57] fselkirk opened #552 "Edit needed to SharePoint Designer entry"
This currently says "Users can still open data sources." This is incorrect.
It should be:
For each SharePoint Designer session, the first site opened must allow custom script. Once that connection is created, additional sites in the same tenant can be opened.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aa561c35-c73d

[2019-01-09 17:12] kps12649 commented on #307
I agree that this is needed.   My example is that I use Quicken.   The data file is a .QDF file.   It is updated on every use of quicken, and then slows down my internet connection significantly to update one-drive.  That takes minutes to complete.   I have it making backups (file type:  .QDF-backup) every 10 times I use it.   I want to backup the backup files, but not the working file.   I cannot

[2019-01-09 17:13] nenonix commented on #552
Thank you for pointing this out. I will edit the document accordingly. Would it work if we said "Users can still open data sources, but for each session....." Or are you saying that "Users can still open data sources," is incorrect.

[2019-01-09 18:00] Eillirand commented on #542
Yes, this is much desired. We are moving thousands of folders and need to move them into certain folder structures in SharePoint Online.  It is a pain as right now, I have to move them to the root then wait for the migration tool to complete, them manually moved them into the folder. And let's just say, the later is a pain. Brower manageability of SPO is still lacking (often times out)

[2019-01-09 19:57] kenwith commented on #307
I know the product teams look at User Voice to make decisions about the product. I know the Teams / Skype community manager that handles microsoftteams.uservoice.com. I am not positive who manages onedrive.uservoice.com but I am reaching out to find out and will report back here. I agree the experience you are having in User Voice is terrible and I feel the same way you feel since I up vote the is

[2019-01-09 21:03] fselkirk commented on #552
You  can open some data sources (lists and libraries) directly from SharePoint, but only from Classic experience, and only from Internet Explorer, and only if you already have SharePoint Designer already open (in this case). We probably don’t want to mention that method, as we are clearly moving away from it. Usually, you would start in SharePoint Designer with the “Open Site” button, so I think t

[2019-01-10 06:15] mattengibous opened #553 "Minimum Storage Quota"
The minimum storage quota is 1GB or 1024. Setting User's OneDrive storage to 512 with PowerShell rounds up o 1024.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4bca1c5d-b73f-1780-b002-81c8f7ef4c0a
* Version Independent ID: 8a98d773-6bb4-8182-5405-2ce80c5b54ea
* Content: [Change a specific user's OneDrive storage spac

[2019-01-10 07:42] nenonix commented on #552
@fselkirk Thank you that is a great help. I will post back here when the changes have been made.

[2019-01-10 08:06] nenonix commented on #553
@mattengibous Thank you for contributing to better Microsoft Documents.  I will research the issue and report back here when the content has been modified.

[2019-01-10 08:17] DaanvanBeek commented on #392
@tseward Bit late to the party but I wanted to chip in there:
Adding a new tab to the channel and pointing it at the desired SharePoint location is not good in most cases in my experience, as Teams presents the (non-removable) tab that is located at %site%/Documents/%tab% as "the way to access your data".

[2019-01-10 14:53] JasonTimmins opened #555 "Doesn't work (with Azure AD)"
This PowerShell script either just doesn't work or doesn't work with PCs connected to Azure AD. Can someone verify that it works with Azure AD connected PCs?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3a21a400-6ad2-b371-0205-9a1b51b3fe29
* Version Independent ID: 801d184f-046b-8d37-30f7-f82ebda3df3f
* Content: [Sil

[2019-01-10 16:01] tseward commented on #392
Agreed it isn't as streamlined as using the Documents library, but it is a supported scenario and one that you will often see with those who already have some form of SharePoint presence.

[2019-01-11 02:19] repton-infinity opened #556 "Markdown is a little messed up here"
Lots of cases where normal text is mistakenly in a code block

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ceaea670-5dc7-1f74-2828-91d889dab921
* Version Independent ID: 6f01ff83-0eb1-129a-f443-a047fc5d4292
* Content: [Assign or remove administrators of service applications in SharePoint Server](https://docs.microsof

[2019-01-11 03:03] tseward commented on #556
@AndreaBarr assign to me, please.

[2019-01-11 03:14] tseward commented on #415
@sagaracharya21 It will migrate the content (text) present in the quickpart, but the quickpart will not be attached to the library column post-migration.

[2019-01-11 13:32] zsolt-illes opened #559 "Applies to section not correct"
If I understand correctly, the same process applies to SP2019, which means it that the article's "Applies to" section is not valid.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 38ccb7df-8dca-b5fc-4e84-e3624d2804cc
* Version Independent ID: 669daf62-d97c-3489-786b-6924c1e755b0
* Content: [SharePoint Server 2016 zero d

[2019-01-11 15:16] tseward commented on #559
@AndreaBarr assign to me, please.

[2019-01-11 16:39] ddudekJFF opened #560 "no option for "People with Existing Access" to the Default Link Types"
Why is there no option for "People with Existing Access" to the Default Link Types under SharePoint Admin Center's sharing options. https://sharepoint.uservoice.com/forums/330318-sharepoint-administration/suggestions/33706777-add-people-with-existing-access-to-the-default-l

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2019-01-11 20:47] bentoncity commented on #556
I reformatted the markdown and republished.

[2019-01-11 20:47] #556 closed

[2019-01-11 21:17] harrynode commented on #550
+1

Luckily we have the older version that still works. The new version 2.1.103.11 is not accepting CSV files.

[2019-01-11 21:47] AndreaBarr commented on #456
@DeanGross It looks like Mike was able to resolve this. I am going to close this at this time. If this is not resolved please re-open this issue.

[2019-01-11 21:47] #456 closed

[2019-01-11 21:53] AndreaBarr commented on #454
@tseward Could you please investigate this?

[2019-01-12 21:11] andrekrijnen opened #561 "Typo in documentation"
All Web Applications sans Central Administration when the language is EN-US, should be All Web Applications without Central Administration

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c73d53bc-485a-a5d8-d864-e2e402c07625
* Version Independent ID: 72edd383-b5cb-3b66-4fb2-e9f5ab7d56ce
* Content: [Account permissions an

[2019-01-14 00:01] ToddKlindt opened #562 "Sync Updates"
The two options given to sync custom profile properties are a few years old. You may want to add a link to this newer method, https://docs.microsoft.com/en-us/sharepoint/dev/solution-guidance/bulk-user-profile-update-api-for-sharepoint-online#call-the-import-api-from-powershell

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2019-01-14 05:08] kaarins commented on #562
Thanks, Todd! Will do!

[2019-01-14 11:04] RiccardoAmadi opened #563 "User is not in directory"
I have now allowed external sharing with anyone on my tenant from the admin center, on the site collection, on the site permission and i have also enabled access requests at all levels.
I'm trying to open the link to a document from an user outside the organization

Expected behaviour:
Access Request form is displayed

Actual behaviour:
An error is displayed which roughly translates to: <User> is

[2019-01-14 12:56] nenonix commented on #561
@andrekrijnen Thank you for pointing this out. The change has been submitted.

[2019-01-14 15:39] tseward commented on #561
FYI "sans" is in common usage in American English :-)

[2019-01-14 15:56] nenonix commented on #561
@tseward Even so "without" is the better, simpler universal word to use, so I went with the proposed edit as per the Microsoft style guidelines.

[2019-01-14 17:43] Techwriter40 commented on #561
nenonix, thank you for your feedback. I have made the change to "without".  closing comment

[2019-01-14 17:43] #561 closed

[2019-01-14 19:14] kenwith commented on #307
I was able to get ahold of the OneDrive product team. They apologized for the feeling they are dismissive and let me know they use User Voice to drive product direction.

From what I gather the threshold that shows up at the top of their radar is 1,000 votes however they confirmed to me they look at requests with much fewer votes too. I went to this one: https://onedrive.uservoice.com/forums/91352

[2019-01-14 19:14] #307 closed

[2019-01-14 21:09] IstvanYbema opened #566 "Sharing with blocked download on unmanaged devices"
Could you clarify the proces when sharing with external users and the 'block download (SP admin) on unmanaged devices' setting enabled? It looks like in this situation Ad-hoc external recipients cannot edit the document in the Desktop Office App, but Guest users (added to the AAD) can?

---
#### Documentdetails

⚠ *Dit gedeelte niet bewerken. Het is vereist om problemen te koppelen tussen docs.mic

[2019-01-15 16:25] bernardlam opened #567 "Covering MMS/Term Store in SPO"
There seems to be a content gap for SPO in that this article doesn't cover MMS/Term Store in SPO and I can't find anything from a quick search. Is there a place to adopt this article for SPO, given that most of it (except for the overview section) does apply?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d7213563-d247

[2019-01-15 16:32] bernardlam commented on #567
I thought so too. in this case shall we change the "Applies To" indicator to show that the article does apply to SPO, and call out specific sections that don't apply?

[2019-01-15 21:09] Jvasil opened #570 "Incorrect statement in documentation"
The statements below which are located the "Which option to select" section are incorrect.
They are incorrect because by default, the "Allow members to share the site and individual files and folders" setting is enabled on ALL site collections, which means that users in the "Members" group (that does not have full control permission) can share sites, files and folders.
"Site owners or others with

[2019-01-16 09:54] KimiyoSei opened #571 "Need more information about SPO default ranking models"
there are more ranking models In SharePoint Online like below. please inform about them
-MainResultsDefaultRankingModel
-O16 MainResultsDefaultRankingModel
-Highlights ranking model

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: b84aa98d-55e2-d8fe-02b7-acbd27657a20
* Version Independent ID: 19e3fbe0-a505-dcaa-14e9-3f4ad8f9782b
* Content: [SharePoint

[2019-01-16 13:56] nenonix commented on #570
@Jvasil thank you for sharing your feedback and helping us improve the docs.  I will do my best to reflect your changes in the content.

[2019-01-16 14:09] nenonix commented on #570
@Jvasil Just for clarity please tell me, is the statement is wrong for all the options in the **Which Option to Choose** table? Or just for the third option"Allow users to invite and share with authenticated external users "?

[2019-01-16 15:39] tseward commented on #570
In this case, the documentation is indeed correct. Sharing can be done with users who not external users and in AAD by site members, as you noted. The controls mentioned in the documentation are very specific to external users/anonymous links, however.

[2019-01-16 21:30] kevinleary opened #572 "Unable to download and install SPMT"
I was able to do a migration from a server on our network a couple of weeks ago. I now get an error after it is prompted to update and I except, or when installing the app again. This was working on the same machines where its not only a couple of weeks ago.

Here is the detailed error:
PLATFORM VERSION INFO
	Windows 			: 6.1.7601.65536 (Win32NT)
	Common Language Runtime 	: 4.0.30319.42000
	System

[2019-01-17 09:36] lindspea commented on #571
@samanthaw  @AndreaBarr

[2019-01-17 15:05] AndreaBarr commented on #571
@tseward Could you please investigate this?

[2019-01-17 17:22] DougPunchak opened #577 "Microsoft SharePoint Migration Tool, 10 items limit in CSV ! ?"
When using the SharePoint Migration Tool, the CSV file fails if I have more than 10 rows in the CSV file.  Is this a limit that can be changed?

[2019-01-17 18:15] MSFTEfeedback opened #578 "Missing SharePoint Online Limit - 10,000 unique token limit"
During a recent customer escalation, the SAI team (contact was Chris Mitchell) confirmed that SPO has a 10,000 limit on the number of unique body tokens. This limit is not documented on this page, which can result in customer dissatisfaction and potential GDPR liability. Please update this page with this limit (after confirming with the SAI team.

---
#### Document Details

⚠ *Do not edit this sec

[2019-01-17 18:52] DougPunchak commented on #577
I'm referring to the Microsoft Provided SharePoint migration tool and using the CSV file.
https://docs.microsoft.com/en-us/sharepointmigration/introducing-the-sharepoint-migration-tool

[2019-01-17 21:24] nenonix commented on #578
@MSFTEfeedback  Thank you for this helpful feedback. We will contact the SAI team to confirm.

[2019-01-18 02:02] tseward commented on #577
@AndreaBarr assign to me.

[2019-01-18 10:45] djhalibut opened #579 "SharePoint Migration Tool - Loading..."
Hello,

I was using SMT without any problems until 3 days ago. Now, I can't even start the app. It's stuck on Loading.

![image](https://user-images.githubusercontent.com/28654637/51382200-0fcb8900-1b0e-11e9-81dc-c7f19c385509.png)

Can you please advise how I can troubleshoot it?

[2019-01-18 17:44] MollyMalone commented on #537
Sent to the localization vendors to fix. Confirmed that the customer is correct, Yammer uses ゲスト in the UI and the content should be fixed to match.

[2019-01-18 21:16] bgriffeth opened #580 "Update Deletes Migration"
Updating the SharePoint Migration Tool via the auto-update feature removed all of my migrations, the only button left is "Start your first migration".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 193d7cc4-4270-f69e-262b-6384a273f835
* Version Independent ID: 6625a0f7-e4d0-2352-d78a-0a82273b1f07
* Content: [Introducin

[2019-01-18 21:22] bgriffeth commented on #580
Closed and re-opened with the same account and it worked.  Weird fluke.

[2019-01-18 21:22] #580 closed

[2019-01-18 21:58] kaarins commented on #555
@JasonTimmins , thank you for this feedback. I'm investigating and will update this when I find out more.

[2019-01-18 22:17] kaarins commented on #566
@IstvanYbema , thank you for this feedback. I am investigating and will comment when I know more.

[2019-01-18 22:44] SanjoyanM commented on #566
@IstvanYbema : the Adhoc users are "one time users". They do not have any "identity" like guest users in AAD do. By default the adhoc users are blocked and Set-SPOTenant -ApplyAppEnforcedRestrictionsToAdHocRecipients $false will remove that blockage.

[2019-01-19 02:44] TroyStarr commented on #290
Now that Trevor's change is merged into the public doc, I think we can close out this issue.

[2019-01-19 07:13] IstvanYbema commented on #566
According to the powershell documentation on Set-SPOtenant this value is by default false.

[2019-01-19 14:17] SanjoyanM commented on #566
Ok what is the behavior you are observing?

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: IstvanYbema <notifications@github.com>
Sent: Friday, January 18, 2019 11:13:26 PM
To: MicrosoftDocs/OfficeDocs-SharePoint
Cc: Sanjoyan Mustafi; Comment
Subject: Re: [MicrosoftDocs/OfficeDocs-SharePoint] Sharing with blocked download on unmanaged devices (#566)

Accordi

[2019-01-19 15:46] IstvanYbema commented on #566
Hi Sanyon,
The documentation does not describe the difference between guest sharing and adhoc sharing with the setting in SharePoint admin enabled for blocking download access on managed devices. I have tested this and found that the proces and result is different. When sharing to an external guest it depends if the guest has a managed device is his own Tenant. As you might espect Downloading shou

[2019-01-19 15:57] SanjoyanM commented on #566
Yes. Your testing is correct. If the source tenant trusts the other tenant and guest belongs to other tenant then he can download. This can be stopped by raising a ticket with AAD. Do you want to do that? I take your feedback on mentioning this in documentation.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: IstvanYbema <notifications@github.com>
Sent: Satu

[2019-01-19 19:54] solinear commented on #10
I was able to use this, following the format of:

<file location (UNC or localpath)>,subfolder,,<OneDrive https location>,Documents (does not go into documents folder),<foldername in OneDrive (this is the actual folder in OneDrive that the folder goes into)>

If I left the second path location blank, it did not work.

Example:

C:\foldername,,,https://tenantname-my.sharepoint.com/personal/userid_c

[2019-01-19 21:02] IstvanYbema commented on #566
Ok, Thank you. I guess it is important to mention when a Tenant is trusted and the different behavior between adhoc and oldschool guest. Is the a Way to Block downloads for guest users on managed Tenant?

Outlook voor Android<https://aka.ms/ghei36> downloaden

________________________________
From: Sanjoyan <notifications@github.com>
Sent: Saturday, January 19, 2019 4:57:11 PM
To: MicrosoftDocs/Of

[2019-01-19 21:18] SanjoyanM commented on #566
It can done from backend by Azure. If you want you need to raise a support ticket with azure

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: IstvanYbema <notifications@github.com>
Sent: Saturday, January 19, 2019 1:03:00 PM
To: MicrosoftDocs/OfficeDocs-SharePoint
Cc: Sanjoyan Mustafi; Comment
Subject: Re: [MicrosoftDocs/OfficeDocs-SharePoint] Sharing with bl

[2019-01-21 11:01] mohdmurtuzakhan commented on #550
Kindly post and update once finished resolving this issue.
I have some queries, What is the maximum number of Task I can perform in a single Round? or What is the maximum records I can put in CSV file for migration? What is the maximum data allowed per Task?

[2019-01-21 11:04] SubhanAhsan opened #582 "Minimum SharePoint 2013 Build Number for upgrade"
This page tells minimum required build is March 2013 PU (15.0.4481.1005) for migrating to SharePoint 2016. On other pages, it refers to SharePoint 2013 SP1.
Its not clear if database-attach is supported from SharePoint 2013 without SP1 to SharePoint 2016

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 674623db-614a-e72f

[2019-01-21 11:19] mohdmurtuzakhan commented on #579
I was also facing the same issue then contacted my desktop support team they added some group memberships in Computer Management and allowed SharePoint Migration Tool in Windows Defender Firewall for internet access. After machine reboot I am able to access SharePoint Migration Tool.
![groups](https://user-images.githubusercontent.com/17798464/51471282-49192880-1d9c-11e9-878b-e28349b41ffb.PNG)

[2019-01-21 11:21] mcnaugha opened #583 "Microsoft has deprecated AzureRm"
This article could do with the PowerShell section being updated to the latest syntax required with the new Az commands. The experience now seems to be more complicated than this article would elude.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7a93351c-948b-67f7-edd7-8f84982f1834
* Version Independent ID: b3d722cc-3e

[2019-01-21 12:16] Convincible commented on #438
Agreed, there is no point in this feature if what it achieves is to give all users with a blocked file type a blocking error. The blocked file type should simply be ignored/not sync.

[2019-01-21 15:16] DeanGross opened #584 "Add Prerequisites/Requirements"
Please add some information about the security requirements that must be met to do this, i.e, what roles can do this, I'm assuming a SPO Admin and what version of the SPO Management shell is needed to get the cmdlets

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bd09eee5-c545-e689-1194-e6b6cd70d63c
* Version Independe

[2019-01-21 20:11] Chatou7 opened #585 "If we want to remove "Create Site" command only"
If we remove the "Create Site" links, will the users still be able to create Teams and Groups ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b29978b1-a400-bacb-1330-55ed3d652053
* Version Independent ID: eae9fd16-57fc-1a80-3ce9-9b34b68eb1e0
* Content: [Manage site creation in SharePoint Online](https://docs.microsoft

[2019-01-21 20:31] tseward commented on #582
@AndreaBarr please assign to me.

[2019-01-21 20:33] tseward commented on #583
@AndreaBarr assign to me, please.

[2019-01-21 21:11] DougPunchak commented on #577
Hi Andrea,
Any information or assistance you can provide would be very helpful.  Doing only 10 at a time is very time consuming.

[2019-01-21 21:19] tseward commented on #577
@DougPunchak Working on it :-)

[2019-01-21 21:51] tseward commented on #577
I just ran this local drive to SPO site migration without issue. There are 20 line items. Can you describe in more detail as to what you're migrating/seeing as the output? I don't think there is an actual limit and if that is the case, we'd want you to open up a thread in the technical support forum at https://techcommunity.microsoft.com/t5/SharePoint/ct-p/SharePoint.

[code]

[2019-01-21 21:52] tseward commented on #584
@AndreaBarr assign to me, please.

[2019-01-21 22:17] tseward commented on #585
@AndreaBarr Please assign to me.

@Chatou7 Yes, you can still create Teams (thus Groups) and the SharePoint Online site via Teams if you disable Create Site via the SPO Admin Center. The setting you reference causes the button to disappear from the SharePoint Home.

[2019-01-22 16:54] DougPunchak commented on #577
Thanks Trevor,
It looks like the issue wasn't with the tool but more with the error reporting. We had 21 items in a CSV and we weren't a collection admin for 1 of them (actually, OneDrive wasn't even provisioned).  The message was "Task 1. You must be a site collection administrator in the destination to perform this task."
I guess this could have been avoided if the error message told us which de

[2019-01-22 17:21] tseward commented on #577
@DougPunchak Yes, please go here to submit a feature request (or see if it has already been submitted):

https://sharepoint.uservoice.com/forums/282887-sharepoint-hybrid-or-migration-to-office365

[2019-01-22 17:56] planetparker commented on #382
Anyone else seeing issues where not all the lists and libraries get migrated over from SharePoint 2013 to SP Online?  Also, when trying to target specific lists and libraries in SP 2013, the drop down list within SPMT selection doesn't reveal all the lists and libraries.  It shouldn't be a permissions issue, since I am site collection admin.  It seems like this issue was introduced with the latest

[2019-01-22 19:05] ischustak opened #588 "Making OneDrive sharing more permissive than Sharepoint"
The way our company uses SharePoint and OneDrive, it would be hugely helpful to allow external sharing options for OneDrive but not SharePoint. Currently, only the reverse is possible (SharePoint must be more permissive than OneDrive). May I request that feature to be added in a future release?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2019-01-22 20:06] AndreaBarr commented on #382
@a7259w @planetparker Thank you for the feedback

I think the best way forward is if you can open a service ticket in your tenant so this can get resolved ASAP. Based on outcome let me know if it is something that can be called out in the docs.

Here is a quick video on opening a ticket: https://www.youtube.com/watch?v=puuOy0sEg1Y

If you don't mind please keep us posted here on the resolution and

[2019-01-22 20:06] #382 closed

[2019-01-22 20:14] RickyRickBlumpin opened #589 "Ways to Migrate from On-Premise to SPO"
I am curious as to why third party migration options are not listed. This would lead one to believe the only options are the MS Tool (which leaves a LOT to be desired, OneDrive copy/paste or the migration tool powershell, which is not the case.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 85a08784-543a-32b7-1e83-4f3e

[2019-01-22 20:23] tseward commented on #589
@RickyRickBlumpin Not speaking on behalf of Microsoft, but Microsoft typically does not provide 3rd party options as they cannot support those options.

[2019-01-22 20:40] JonathanHerschel opened #590 "Module MSOnlineExtended replaced with MSOnlineExt"
Under step 10, Import-Module MSOnlineExtended -force shows error that it is not valid module.
Should be replaced by Import-Module MSOnlineExt -force.  I couldn't figure it out and found others had same issue: https://social.msdn.microsoft.com/Forums/en-US/73512b3a-b186-4ad0-9b1d-507c285b4103/how-to-install-msonlineextended-module-?forum=WindowsAzureAD
After I replaced MSOnlineExtended with MSOnlin

[2019-01-22 21:06] RickyRickBlumpin commented on #589
Thanks Trevor, I should have known that.

On Tue, Jan 22, 2019 at 2:23 PM Trevor Seward <notifications@github.com>
wrote:

[2019-01-22 21:58] AndreaBarr commented on #588
@ischustak Thank you for this feedback

I know the product teams are always looking for user feedback and how to make the SharePoint better. They keep a close tab on User Voice [https://sharepoint.uservoice.com/forums/329214-sites-and-collaboration](https://sharepoint.uservoice.com/forums/329214-sites-and-collaboration) and if you don't mind it would be awesome if you could upvote this user voice.

[2019-01-22 22:11] liutiger27 opened #591 "Is there any way to set web-limited access for all OneDrive users instead of just one account?"
I think our use case is a common use scenario. We would like enable the web-limited access for all of our OneDrive files. We do not want the restrictions to apply to other SharePoint collections.

How could we achieve this?

The power shell command give us this error, and I don't see why we should do this on each user's account. (considering there are thousands of users).

PS C:\WINDOWS\system32&g

[2019-01-22 23:15] cartergreen commented on #555
@JasonTimmins, I'm not sure what you mean by doesn't work.  All the script is doing is setting a registry key, can you confirm that the registry key gets set?  If not, then please try to manually set it then launch the sync client and see if that works for you.

[2019-01-22 23:19] cartergreen commented on #479
@zburtondbrs Joining Azure AD is one of the pre-requirements for silent account config.  We do have AAD joined device as the first pre-req documented.
I'm not sure what you mean by saying it joins the "machine" to Azure AD.  You're machine would need to already be joined to AAD for silent account config to successfully run in the first place.  Please clarify so we can satisfy your request?

[2019-01-23 03:58] tomcrinnegan commented on #572
Similar issue here - but refers to a different .dll

ERROR SUMMARY
	Below is a summary of the errors, details of these errors are listed later in the log.
	* Activation of D:\Users\170287\Downloads\build-firstrelease.application resulted in exception. Following failure messages were detected:
		+ File, oncloudify_x86.dll, has a different computed hash than specified in manifest.

ERROR DETAILS
	Fo

[2019-01-23 09:20] JasonTimmins commented on #555
Hi There,

OK, I’m prepared to acknowledge that the script does actually add entries to the registry but those registry entries don’t work, they don’t make OneDrive install silently. That’s the real issue.

Cheers
Jason.

Jason Timmins
Technical Director
MBM Ltd<https://www.mbmltd.co.uk> ISO9001:2015
Keeping Business in Business

01902 324494
jason@mbmltd.co.uk<mailto:jason@mbmltd.co.uk>
www.twitt

[2019-01-23 12:00] statto1974 opened #592 "Word missing from sentence"
"Instead certain of the classic search settings also apply to the modern search experience" should probably be something like "Instead certain aspects of the classic search settings also apply to the modern search experience"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e29f89b7-afd4-1b65-f3ad-c802c7dd5a47
* Version

[2019-01-23 14:01] JonathanHerschel commented on #37
@MikePlumleyMSFT, if Hybrid Picker is recommended for Hybrid Search, can you add a note to the top of this page?  I have been running through steps for past week and didn't realize there were comments down here on the bottom of the page and it might save future readers time to know some of above is no longer necessary.

[2019-01-23 14:26] tseward commented on #592
@AndreaBarr Assign to me, please.

[2019-01-23 14:33] tseward commented on #37
@JonathanHerschel Can do. @AndreaBarr please assign this to me.

[2019-01-23 14:52] cschafft commented on #323
Is there an eta for the production release? I'm in the same situation as comunicFR.

[2019-01-23 15:59] zburtondbrs commented on #479
@cartergreen I hear ya. I set the registry key before my machine was joined to Azure AD. If the machine is not already joined to Azure AD, setting the registry key joins the machine to Azure AD. Not a huge deal, but it's probably worth mentioning in the documentation in case there's an admistrator out there that is paranoid about having machines joined to Azure AD.

[2019-01-23 20:00] #427 closed

[2019-01-24 07:06] lindspea commented on #590
Hi @JonathanHerschel.  Thank you for pointing this out and for your valuable contribution in helping improve MS docs.  I will work to have the changes made as soon as possible.
@scanum @AndreaBarr

[2019-01-24 10:04] cloudgreen opened #596 "Wrong minroles listed for incoming email support?"
Under the "About incoming email" paragraph, there are 5 minroles listed that can be used with the incoming email feature: Application, Application with Search, Front-end, Search and Custom.

But according to the document below (#1), the only minroles containing the incoming email service are Application, Application with Search and Single-server farm (and implicitly the "Custom" role). I suppose F

[2019-01-24 16:59] #590 closed

[2019-01-25 01:57] tseward commented on #582
@kenwith @AndreaBarr FYI this one has multiple PRs

@SubhanAhsan I *think* I got all of them, but after this is merged into Live and you find others, open a new Issue and I'll follow up.

[2019-01-26 15:49] StacyRacks opened #606 "SMAT Tool will not open on Server 2008 R2 SharePoint 2010"
Hello,

We've downloaded the most recent version of the SMAT tool and when attempting to run it, the initial command line -esque window opens says that SMAT is gonna run, then that window closes and nothing happens.  The build is version 14.0.7175.5000.

If we try to run SMAT2010, it errors out and says

This tool detects the version of SharePoint and launches the
appropriate scan engine. The scan

[2019-01-26 16:13] StacyRacks commented on #606
Hi,

Another thing to note:  The logging does not appear to be happening, At ALL.  I ran SMAT.exe -o <path> where <path> is the path to where the SMAT.exe is located, this command said it completed, but still same behavior of the SMAT tool.

[2019-01-26 16:14] StacyRacks commented on #606
Made sure WSS_ADMIN_WPG local group has full control on the directory where SMAT.exe and the other files are located.

[2019-01-27 08:35] pawp81 opened #607 "Does this article apply to SharePoint Online as well?"
I was redirected to this article from Office 365 DLP page: https://docs.microsoft.com/en-us/office365/securitycompliance/data-loss-prevention-policies#how-dlp-policies-work. I was surprised to see that this article doesn't apply to SharePoint Online. Could you please verify if this article really doesn't apply to SPO. If it is true where can I find an article describing files indexed by SharePoint

[2019-01-27 19:14] Ofer-Gal opened #608 "Does not work on SharePoint 2016?"
There is no mention of SharePoint 2016 and it did not let me log in to my SharePoint 2016.
Any plan to migrate a whole site collection?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 193d7cc4-4270-f69e-262b-6384a273f835
* Version Independent ID: 6625a0f7-e4d0-2352-d78a-0a82273b1f07
* Content: [Introducing the SharePoin

[2019-01-28 05:20] SanjoyanM commented on #591
You can go ahead a file a DCR for this.

[2019-01-28 06:01] kaarins commented on #591
@SanjoyanM, will do - thank you! @liutiger27, thank you for this feedback. I will file it as a change request for this feature.

[2019-01-28 06:01] #591 closed

[2019-01-28 09:00] tklarsen commented on #578
Working on this.

[2019-01-28 09:00] #578 closed

[2019-01-28 09:16] FullStackEngN opened #609 "Does this article cover "SharePoint 2013 Foundation""
Does this article cover "SharePoint 2013 Foundation"? Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3b626929-198d-3be9-d202-df1c80699327
* Version Independent ID: 7bed15b6-1a2d-fff5-c62e-3c07308882c6
* Content: [Overview of co-authoring in SharePoint Server](https://docs.microsoft.com/en-us/sharepoint/governan

[2019-01-28 10:53] vtkachenko opened #611 "SPMT question: use Migration Tool libraries in .NET project"
I'm very interested in **implementing .NET application for migrating the sites from on-premise SP 2013 to SPO** and want to utilize SharePoint Migration Tool resources ( `microsoft.sharepoint.migrationtool.migrationlib.dll` in particular) to achieve it. Basically - it should be old SharePoint 2013 webpart, server-side .NET code on every site. Call it "Migration Wizard", for example:

![image](http

[2019-01-28 11:59] mohdmurtuzakhan commented on #589
There is a problem with pause/resume feature of SharePoint Migration Tool. Seems like "Pause" button is disabled. What might be the reason of disabled Pause button in SharePoint Migration Tool Version 2.1.103.11 ?

[2019-01-28 14:21] DennisGoss opened #612 "Upgrade of User Profile Service Application is missing"
The overview page (https://docs.microsoft.com/en-us/sharepoint/upgrade-and-update/overview-of-the-services-upgrade-process-2019) seems to indicate that this page should include the User Profile Service app upgrade steps. There are 2 mentions of User Profile on this page but seem to be mistakes in the Performance Point section.

---
#### Document Details

⚠ *Do not edit this section. It is required

[2019-01-28 14:25] tseward commented on #612
@AndreaBarr assign to me, please.

[2019-01-28 19:18] tseward commented on #611
SPMT libraries are not designed/packaged to use with your own projects. You can use the SharePoint APIs to create your own migration tool, though.

As this repository is for documentation feedback, I'd suggest you post in the product feedback at https://sharepoint.uservoice.com/forums/282887-sharepoint-hybrid-or-migration-to-office365.

[2019-01-29 09:05] vtkachenko commented on #611
Thanks for the answer, @tseward ! Usage of Migration API in our own small, customer-specific migration tool requires much more coding, while Migration Tool does the same job out-of-the-box - that was the reason on asking.

As you suggested - I added a [post in UserVoice ](https://sharepoint.uservoice.com/forums/282887-sharepoint-hybrid-or-migration-to-office365/suggestions/36658378-allow-spmt-libr

[2019-01-29 09:36] b0bbyB commented on #234
This issue is also probably related to this:
Using an English Windows 10 with Danish langauge pack on results in the 3 folders being renamed to it's English counter parts in File Explorer: "Desktop"/"Skrivebord", "Pictures"/"Billeder", "Documents"/"Dokumenter".
All other folders are in Danish expect for the Known Folder Moved folders.

[2019-01-29 12:35] rbnmk commented on #323
I am also looking for the ETA for this release. Alot of customers could benefit from this (if its working as expected ;-))

[2019-01-29 15:25] tseward commented on #611
@vtkachenko I can't speak for Microsoft but there are no announced plans to do so. Again, I'd suggest adding that request to UserVoice.

[2019-01-29 15:46] lightupdifire commented on #350
Hello,
The "Joined" does it mean really like a Azure AD domain joined, or device can be also Azure AD domain registered?

[2019-01-29 16:18] obhayes commented on #142
Hi i think there is  typo / copy paste error in this article, when you look at the user profile upgrade steps, there is a line that talks about getting the Id for the search service application, but we are in the user profile service?

6.Create the User Profile service application proxy and add it to the default proxy group by completing these actions:

•Type the following command to get the ID fo

[2019-01-29 16:19] obhayes opened #613 "Incorrect information in user profile upgrade section."
？ ＆

Hi i think there is typo / copy paste error in this article, when you look at the user profile upgrade steps, there is a line that talks about getting the Id for the search service application, but we are in the user profile service? So i think the mention of search service is incorrect here?

6.Create the User Profile service application proxy and add it to the default proxy group by complet

[2019-01-29 16:20] tseward commented on #613
@AndreaBarr assign to me, please.

[2019-01-29 16:21] tseward commented on #142
@obhayes let's address this one in #613.

[2019-01-29 16:22] obhayes commented on #142
Yes apologies Trevor, I replied inline to a previous comment, thanks.

From: Trevor Seward <notifications@github.com>
Sent: 29 January 2019 04:22 PM
To: MicrosoftDocs/OfficeDocs-SharePoint <OfficeDocs-SharePoint@noreply.github.com>
Cc: obhayes <obhayes@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/OfficeDocs-SharePoint] Content in above documentation page needs to

[2019-01-30 03:42] TroyStarr commented on #596
Hi @tseward, do you think we should also include the "Single-Server Farm" server role in this list?

[2019-01-30 14:01] vtkachenko commented on #611
Thanks! It's already [done in June 2018](https://sharepoint.uservoice.com/forums/282887-sharepoint-hybrid-or-migration-to-office365/suggestions/34657027-open-source-the-sharepoint-migration-tool). I voted for that as well.

[2019-01-30 14:03] jerryyasir opened #614 "Fileshare Migration and Full Control permission"
Is there any timeline when the tool will be able to handle the full control permissions? I tried few migrations and users with full control were granted contribute permissions on the files and folders which is kind of show stopper for the migrations.  Any work around availalbe?

[2019-01-30 16:36] tseward commented on #614
Full Control is roughly analogous to Contribute. FC allows create/edit/delete as does the contribute right in SharePoint.

[2019-01-30 16:45] tseward commented on #596
@TroyStarr yes. Will update the article.

[2019-01-30 16:47] tseward commented on #596
@TroyStarr spoke too soon. I would say that we should probably remove SSF from https://docs.microsoft.com/en-us/sharepoint/administration/description-of-minrole-and-associated-services-in-sharepoint-server-2016. It's not designed for production usage scenarios and runs all roles... not much point in listing it.

[2019-01-30 17:20] jerryyasir commented on #614
Trevor, The problem is that contribute permission level does not have "Manage Permissions" permission.  The migration I am talking about have 100s of folders with deep with different owners. after migration permission inheritance is broken and owner become a contribute and then he can't share the folder or sub folders with anyone.  This is where we have to involve SCA to manage permissions resulti

[2019-01-30 17:21] jerryyasir commented on #614
I am not getting the point on why dev team restricted permission to read and contribute only while they were enumerating the file share content permissions anyway.

[2019-01-30 18:04] tseward commented on #614
Contributors can share a document in SharePoint provided that the site allows it -- you don't need Owner rights to do so.

Manage Permission is a high level right in SharePoint and I can see why they would do this as the current design/thinking in SPO is to have Owners, Members (via Office 365 Groups), and Viewers with no break in inheritance and so on. Instead, the current thinking is that where

[2019-01-30 21:05] MollyMalone commented on #537
The content was previously machine translated and is now human translated and fixed as suggested.  Thanks for the feedback!

[2019-01-30 21:05] MollyMalone commented on #536
The content was previously machine translated and is now human translated and fixed as suggested.  Thanks for the feedback!

[2019-01-30 21:05] MollyMalone commented on #536
The content was previously machine translated and is now human translated and fixed as suggested.  Thanks for the feedback!

[2019-01-30 22:25] SwiftOnSecurity opened #616 "PowerShell command"
Please provide the PowerShell command used to configure this file blocklist in an Office365 tenant

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a3a0cebd-7e82-6631-bdee-031b3b84f74d
* Version Independent ID: ee04db29-a6db-2874-2573-d80f0b415308
* Content: [Block syncing of specific file types](https://docs.microsoft.c

[2019-01-30 22:57] #387 closed

[2019-01-30 23:22] TroyStarr commented on #596
Hmm, I dunno…  We know that Single-Server Farm runs all* services, but that may not be obvious to people who aren't yet familiar with MinRole and are looking to understand it better.  I think it would be useful to continue listing SSF in the [Description of MinRole and associated services in SharePoint Servers 2016 and 2019 article](https://docs.microsoft.com/sharepoint/administration/description-

[2019-01-30 23:44] jerryyasir commented on #614
Does not work in case of this customer with over 200 file shares.  We have already broken large folders in smaller pieces for smaller migration batches but can't go deeper that 2 levels.  This is a serious limitation of the tool and would be great if we can find a workaround or may be timeline for fix. Thanks

[2019-01-31 00:02] tseward commented on #596
OK, sounds good. I added the commit to show SSF in the incoming email article. Is there something better we can say other than "limited production"? There will be questions about what "limited" means in Microsoft's eyes.

[2019-01-31 00:10] TroyStarr commented on #596
Here's the official description we're using in the [Planning for a MinRole server deployment in SharePoint Servers 2016 and 2019](https://docs.microsoft.com/sharepoint/install/planning-for-a-minrole-server-deployment-in-sharepoint-server) article:

I realize it's not very specific, but there could be a lot of factors that go into what that means. (number of users, amount/size of data, requests/sec

[2019-01-31 01:12] tseward commented on #614
I would suggest posting your feature request at https://sharepoint.uservoice.com/forums/282887-sharepoint-hybrid-or-migration-to-office365. The engineering teams look over all requests to prioritize them appropriately.

[2019-01-31 09:13] vtkachenko commented on #611
Any comments from **SPMT team** regarding the questions above are greatly appreciated! If the answers are the same, as Trevor said - we can close the issue for now, I guess.

[2019-01-31 09:43] JamesRajavarman opened #619 "wrong tagging. Tag this for SP2016"
I face the behavior mentioned in the below link in SP2016 as well. Hence update this article, tag this in SP2016 as well.

https://docs.microsoft.com/en-us/SharePoint/administration/maintain-profile-synchronization#remove-obsolete-users-and-groups

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8a839181-5593-8258-d7c3-6