[2019-01-31 13:22] nanddeepn opened #621 "Include New features description for SharePoint 2019"
SharePoint 2019 provides integration with cloud features - PowerApps, Power BI and MS Flow. We should include MSDN documentation explaining each.
Below are my articles on this topics which might help:
1. [PowerApps Integration](https://www.c-sharpcorner.com/article/sharepoint-2019-powerapps-integration/)
2. [MS Flow Integration](https://www.c-sharpcorner.com/article/sharepoint-2019-ms-flow-integra

[2019-01-31 16:09] tseward commented on #619
@AndreaBarr assign to me, please.

[2019-01-31 17:23] #552 closed

[2019-01-31 18:47] jerryyasir commented on #614
Done.  Thanks Trevor.

[2019-02-01 12:58] Noradrex opened #623 "Metadata Issue in automatic traslation"
There is a problem in the page _"sharepoint/branding-sharepoint-online-sites-modern-experience"_ when accesed from a localized URL like _ES-ES_.
In that case, the content is automatically translated showing the "hidden" metadata. For example:
https://docs.microsoft.com/es-es/sharepoint/branding-sharepoint-online-sites-modern-experience

This wrong behaviour is not observed in the EN-US version, ne

[2019-02-01 15:45] daughtkom commented on #514
@kaarins I am very hopeful about this feature.  Is there a place to track this and get notified when released?  Thanks.

[2019-02-01 17:08] AndreaBarr commented on #472
@harrisonkirby It looks like Trevor has resolved this issue. I am going to close this issue. If this is not resolved please re-open this issue.

[2019-02-01 17:08] #472 closed

[2019-02-01 22:50] AndreaBarr commented on #596
@cloudgreen the article update has been reviewed and merged so you should see that reflected within the next day or so. I am going to close this issue at this time. If this article updated doesn't resolve your issue please re-open this issue.

[2019-02-01 22:50] #596 closed

[2019-02-02 15:34] trir262 opened #626 "The PDF link for "Microsoft SharePoint Servers 2016 and 2019 MinRole Topology" refers to a visio"
The section "Microsoft SharePoint Servers 2016 and 2019 MinRole Topology" provides two downloads: a visio and a pdf. However the link for the pdf downloads a visio as well.
pdf link = http://download.microsoft.com/download/5/F/4/5F4107F5-ECFA-49EA-A02A-799D9EAFB03C/MinRole_Topology_Tabloid_Nov2018.vsdx
visio link = https://go.microsoft.com/fwlink/?linkid=837452, which in turn refers to the same li

[2019-02-02 18:46] tseward commented on #125
@scanum please close.

[2019-02-02 18:46] tseward commented on #227
@scanum please close.

[2019-02-02 19:31] tseward commented on #339
@scanum you can close this one as this page was removed.

[2019-02-02 19:32] tseward commented on #343
@jasonwbaxter1990 I do not believe there is any way to monitor the export progress from the content database to file system.

[2019-02-02 19:33] tseward commented on #345
@scanum you can close this.

[2019-02-02 19:33] tseward commented on #358
@scanum you can close this.

[2019-02-02 19:34] tseward commented on #361
@o-l-a-v I would post this as a feature request on https://sharepoint.uservoice.com/forums/282887-sharepoint-hybrid-or-migration-to-office365. That will get the attention of the engineers who work on the tool.

[2019-02-02 19:34] tseward commented on #381
@scanum you can close this.

[2019-02-02 19:34] tseward commented on #384
@scanum you can close this.

[2019-02-02 19:35] tseward commented on #392
@scanum I think we can close this one as there is nothing to "fix" in the article.

[2019-02-02 19:36] tseward commented on #403
@scanum please close.

[2019-02-02 19:36] tseward commented on #412
@scanum please close this.

[2019-02-02 19:37] tseward commented on #413
@scanum please close this.

[2019-02-02 19:37] tseward commented on #423
@scanum I think we can close this one.

[2019-02-02 19:38] tseward commented on #429
@scanum please close this one.

@UmrG if you'd like to see a product change, I'd recommend posting at https://sharepoint.uservoice.com/forums/330318-sharepoint-administration where it will get the attention of the engineers.

[2019-02-02 19:39] tseward commented on #431
@scanum Go ahead and close this one.

[2019-02-02 19:39] tseward commented on #438
@scanum go ahead and close this.

[2019-02-02 19:39] tseward commented on #440
@scanum go ahead and close this one as it is a support issue.

[2019-02-02 19:39] tseward commented on #441
@scanum go ahead and close this.

[2019-02-02 19:40] tseward commented on #445
@scanum go ahead and close.

[2019-02-02 19:40] tseward commented on #446
@scanum go ahead and close this as it is an issue that needs to be addressed via support forums.

[2019-02-02 19:40] tseward commented on #448
@scanum go ahead and close this.

[2019-02-02 19:40] tseward commented on #450
@scanum go ahead and close.

[2019-02-02 19:41] tseward commented on #453
@mzavada I let the PG know in December of this issue -- they're aware of it. I have no ETA on a fix or what the priority of the fix is (or it may have been fixed already).

@scanum please close.

[2019-02-02 19:41] tseward commented on #468
@scanum let's go ahead and close.

[2019-02-02 19:42] tseward commented on #484
@scanum please close.

[2019-02-02 19:42] tseward commented on #513
@scanum please close.

[2019-02-02 19:42] tseward commented on #516
@scanum please close.

[2019-02-02 19:42] tseward commented on #533
@scanum please close as a support issue.

[2019-02-02 19:44] tseward commented on #579
As this is a technical support issue, I'd suggest either raising a support case with the SharePoint product group via a support ticket (you may be able to generate one in Office 365 Admin portal).

@scanum please close this one.

[2019-02-02 19:45] tseward commented on #608
@Ofer-Gal SharePoint 2016 is not supported at this time.

@scanum please close.

[2019-02-02 19:45] tseward commented on #611
@scanum please close. @vtkachenko since this repository is for the documentation of the product, Uservoice would be the best place to get any answers.

[2019-02-02 19:45] tseward commented on #614
@scanum please close.

[2019-02-02 20:36] wobba commented on #296
@dmahendranme do you mean the managed property name or content being queries? Either way they are both insensitive in all my tests. Can you enlighten on the case where this information originates?

[2019-02-02 23:10] rolandh commented on #438
Close it?

So this will not be implemented? User voice seems go be ignored and a waste of time. There items there regarding this problem (lack of a gitignore style ignore file) for 8+ years with 1000s of votes.

[2019-02-02 23:32] kaarins commented on #438
@rolandh , I checked with the team and they are aware of this issue and are investigating a feature change. I don't have a release date to share with you yet, but I look forward to updating this article with new info when the feature improvement is released.

[2019-02-02 23:32] #438 closed

[2019-02-02 23:59] kaarins commented on #616
@SwiftOnSecurity , thanks for this feedback. I'm adding the link to the PowerShell documentation now!

[2019-02-02 23:59] #616 closed

[2019-02-03 01:44] hyoshioka0128 opened #633 ""& を = en)。" needs to be replaced with "&displaylang=en).""
https://docs.microsoft.com/ja-jp/sharepoint/administration/performance-testing

(http://www.microsoft.com/downloads/details.aspx?FamilyId=718447d8-0814-427a-81c3-c9c3d84c456e& を = en)。
 →
(http://www.microsoft.com/downloads/details.aspx?FamilyId=718447d8-0814-427a-81c3-c9c3d84c456e&displaylang=en).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2019-02-03 19:31] jamesrhea commented on #633
Thanks for the feedback, @hyoshioka0128. Several links in that article are not formatted correctly. We'll look into this issue.

[2019-02-04 04:47] desmondkung opened #635 "Error in documentation for search service application upgrade"
1) Start the SharePoint 2019 Management Shell.
2) Set the Search Administration database to read-only. In the second phase of the process to upgrade SharePoint Server 2016 data and sites to SharePoint Server 2019, you set all the other databases to read-only. Follow the same instructions now for the Search Administration database.
3) Pause the Search service application. At the PowerShell command

[2019-02-04 09:35] ykuijs opened #636 "Remove IE10 support for SP2016"
Since IE10 isn't supported on Windows 7 anymore (https://www.microsoft.com/en-us/windowsforbusiness/end-of-ie-support), shouldn't this version be removed from the supported browser list for SP2016?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e5d1b075-d17b-510d-f886-4f5deed4cc9e
* Version Independent ID: 336f78e0-78e

[2019-02-04 10:17] #611 closed

[2019-02-04 11:01] MOKknudsen commented on #234
We have a similar experience, when we enable "Protect your important folders", then 3 DANISH folders "Billeder, Dokumenter and Skrivebord" are created under OneDrive for Business, even though the user context is English (US) locally. It should have been Pictures, Documents and Desktop. How can we fix this ?

[2019-02-04 14:10] ziffo777 opened #637 "Support for SharePoint 2010"
Hi, are you planning to support SharePoint 2010 in the near future? Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 193d7cc4-4270-f69e-262b-6384a273f835
* Version Independent ID: 6625a0f7-e4d0-2352-d78a-0a82273b1f07
* Content: [Introducing the SharePoint Migration Tool](https://docs.microsoft.com/en-us/sharepo

[2019-02-04 15:07] ykuijs opened #638 "Deploy updates missing for SharePoint 2019"
According to the "Applies To" section, the current Deploy updates section only applies to SharePoint 2016. However articles on how to apply updates to SharePoint 2019 are missing.

Can the current articles either be updated to also apply to SharePoint 2019 or a new set of articles for SharePoint 2019 added?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2019-02-04 16:00] #567 closed

[2019-02-04 16:26] tseward commented on #636
Unless the SharePoint PG changes something in the product, no.

[2019-02-04 16:35] tseward commented on #638
@AndreaBarr assign to me, please.

[2019-02-04 16:36] tseward commented on #637
I would suggest posting this on Uservoice at https://sharepoint.uservoice.com/forums/282887-sharepoint-hybrid-or-migration-to-office365 which will let the engineers know you have an interest in using the tool to migrate from 2010 to SPO.

[2019-02-04 16:52] dmahendranme commented on #296
Hi @wobba
This is what I did.
I created a site column "Dept". In SharePoint, implicit managed property will be created. In my case, its "DeptOWSCHCS".
Now I want to build a feature using javascript or jQuery to fetch items based on the Dept value. Therefore I used search REST api. It has a property called "selectproperties". You shall mention the property names to read the values of those properti

[2019-02-04 17:03] #125 closed

[2019-02-04 17:04] #227 closed

[2019-02-04 17:10] #339 closed

[2019-02-04 17:42] #345 closed

[2019-02-04 17:43] #358 closed

[2019-02-04 17:43] #381 closed

[2019-02-04 17:44] #384 closed

[2019-02-04 17:44] #392 closed

[2019-02-04 17:47] #403 closed

[2019-02-04 17:56] #413 closed

[2019-02-04 17:56] #423 closed

[2019-02-04 17:57] #429 closed

[2019-02-04 18:10] #412 closed

[2019-02-04 18:10] dmahendranme commented on #296
Thanks @wobba
Make sure you are testing in SharePoint Online with **IMPLICIT** property.

[2019-02-04 18:11] #582 closed

[2019-02-04 18:12] #445 closed

[2019-02-04 18:13] #446 closed

[2019-02-04 18:13] #448 closed

[2019-02-04 19:19] o-l-a-v commented on #361
I would not categorize a bug / missing feature that should have been there in the first place, as a feature request. This is more of a major design flaw if you ask me.

[2019-02-04 19:44] AndreaBarr commented on #361
@o-l-a-v I think the best way forward is if you can open a service ticket in your tenant so this can get resolved ASAP. Based on outcome let me know if it is something that can be called out in the docs.

Here is a quick video on opening a ticket: https://www.youtube.com/watch?v=puuOy0sEg1Y

If you don't mind please keep us posted here on the resolution and I really want to get this information yo

[2019-02-04 19:44] #361 closed

[2019-02-04 20:10] ykuijs commented on #636
Which would mean that SharePoint 2016 supports a product that isn't even supported by the Internet Explorer PG. Sounds a bit strange.

[2019-02-05 14:06] #614 closed

[2019-02-05 14:50] wobba commented on #296
@dmahendranme I wrote a short blog post about it as well - and I agree the docs should be updated.

[2019-02-05 15:51] tseward commented on #296
@AndreaBarr please assign this to me. I'll take care of the doc.

[2019-02-05 16:08] tseward commented on #635
@AndreaBarr assign to me, please.

[2019-02-05 16:25] dmahendranme commented on #296
Thank you @wobba

@tseward Thank you for taking care of it.

[2019-02-05 20:00] mikelee-msft opened #640 "Missing Required "EnableTeamTier_Internal" registry Key"
This document is missing the required "EnableTeamTier_Internal" registry key. It used to be referenced in a ZIP file in the requirements section, but it has been removed.

Example:

Opt-in to the Insiders Program for OneDrive

1.	Currently On-prem sync functionality is only available to users that are part of the OneDrive “Insiders” program. You can opt-in to the program using the following regist

[2019-02-05 20:04] tseward commented on #640
@AndreaBarr assign to me, please.

@mikelee-msft any idea about how long this will be valid (i.e. when this will go into the production ring of release)?

[2019-02-05 20:14] mikelee-msft commented on #640
Just had a quick conversation with the PG contact for NGSC. It looks like the newest build no longer requires this flag. I guess we close this feedback since it's not needed.

[2019-02-05 20:18] #640 closed

[2019-02-05 21:45] tseward commented on #626
@trir262 the product group is investigating this. I'll get back to you when I have more info/can update the article.

[2019-02-06 09:23] SteveHernou opened #644 "Install fails"
Hi, I have been trying to install the tool (tested 2 devices, 2 browsers on each - Edge and Chrome) but it always fails.
Error is always the same in the log file.
* Activation of https://spmtreleasescus.blob.core.windows.net/build-firstrelease/build-firstrelease.application resulted in exception. Following failure messages were detected:
		+ Downloading http://spmtreleasescus.blob.core.windows.net

[2019-02-06 14:05] rstilekar opened #645 "Onedrive autosetup Signin not working anymore for new machines post client update to 18.240.1202.0004"
We are testing onedrive on our new Win10 machines. WE had previous onedrive client from December that works great with the GPO settings for "Silently sign in users to the OneDrive sync client with their Windows credentials". It was working great on all new PCs. But now the onedrive client is updated to 18.240.1202.0004 and the auto signin doens't works although i can see the GPO set in gpresult on

[2019-02-06 14:58] JoanneHendrickson commented on #644
Hi Steve:  Investigating this now.

[2019-02-06 19:40] kevinleary commented on #572
Any update on this? Our migration would be significantly improved rather than having to work on migrating using powershell 3

[2019-02-06 20:21] JoanneHendrickson commented on #572
Hi Kevin:  If you haven't already, I would open a support call for this issue.  It is difficult without digging in to see if your installation issue is unique to your environment.

[2019-02-06 20:31] kevinleary commented on #572
Hi Joanne,

I already went on a support call about 3 weeks ago and the issue was not
resolved. It was suggested that I use Powershell instead. The error I get
is after installation completes it says "application validation failed"

Thanks,

Kevin Leary

On Wed, Feb 6, 2019 at 3:21 PM JoanneHendrickson <notifications@github.com>
wrote:

[2019-02-07 08:49] MarkvanGurchom opened #646 "Need to specify Temp-path"
Hi, is there a variable to set the Temp-path. c:\ is filling-up

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 83229fe4-a0fc-5d45-1e32-2cf9bee9374b
* Version Independent ID: ea237f69-8d65-e3c6-1c77-5f3fdfb73d34
* Content: [Using PowerShell cmdlets to migrate to SharePoint Online](https://docs.microsoft.com/en-us/sharep

[2019-02-07 17:19] tseward commented on #646
@AndreaBarr assign to me, please.

[2019-02-07 18:29] dmahendranme opened #647 "Please provide PowerShell examples"
We received this message yesterday and we are very much concerned.
https://techcommunity.microsoft.com/t5/Microsoft-SharePoint-Blog/Delivering-SharePoint-modern-experiences/ba-p/315023

How to disable it through PowerShell for SharePoint Online sites?
I found this article; https://techcommunity.microsoft.com/t5/SharePoint-Support-Blog/How-to-disable-the-modern-experience-in-SharePoint-2019/ba-p/30

[2019-02-07 21:06] avisuj opened #649 "Group Reader"
In sharing in permissions, I believe there is a type.  where it says ". . . be classified as either group owner or a group reader" it should read "be classified as either group owner or a group member".  I'm not familiar with the "group reader" role.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bafe04ef-69e9-ade6-9e2

[2019-02-07 22:02] #283 closed

[2019-02-07 22:02] #297 closed

[2019-02-07 22:03] #343 closed

[2019-02-07 22:03] #440 closed

[2019-02-07 22:03] #450 closed

[2019-02-07 22:04] #468 closed

[2019-02-07 22:05] #513 closed

[2019-02-07 22:05] #516 closed

[2019-02-07 22:05] #522 closed

[2019-02-07 22:06] #533 closed

[2019-02-07 22:07] #608 closed

[2019-02-07 22:07] #72 closed

[2019-02-07 22:08] #300 closed

[2019-02-08 00:53] #570 closed

[2019-02-08 01:00] lifeisgood19 opened #652 "MISSING "set the sync client update ring""
Downloaded the latest OneDrive Sync Client version available to us which is 19.002.0107.0008 and imported the ADMX template, however it is still missing "Set the sync client update ring" which according to this article should be found under Configuration\Policies\Administrative Templates\OneDrive.

What is the deal here? Is the new template not available until either version 19.012.0121.0005 or 19

[2019-02-08 01:14] kaarins commented on #652
@lifeisgood19, this new setting is in one of the Insiders builds right now. I will find out which one and add a note. Thank you!

[2019-02-08 01:14] #652 closed

[2019-02-08 17:45] Jvasil commented on #570
Sorry for my delayed response on this and Closed #570<https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2FMicrosoftDocs%2FOfficeDocs-SharePoint%2Fissues%2F570&data=02%7C01%7Cjvasil%40microsoft.com%7Cd2c40abae9f9408847cb08d68d5fe451%7C72f988bf86f141af91ab2d7cd011db47%7C1%7C0%7C636851840322529155&sdata=HCuKhxwVSrWZ1Ff1W4VJtfDN7Qv124yOa2qTWJ4jrtE%3D&reserved=0>.
This point

[2019-02-08 18:10] ldemaris commented on #647
Hello, please see this page for information on how to opt out a site collection or site use PowerShell:
[`Opting out of the modern list and library experience`](https://docs.microsoft.com/en-us/sharepoint/dev/transform/modernize-userinterface-lists-and-libraries-optout)

If you enable this feature to opt out a site collection, and then you enable modern on a list or library inside that site collec

[2019-02-08 18:24] dmahendranme commented on #647
Thank you @ldemaris . Please include that information in the document. "Lowest-level setting wins". You shall put it under FAQs too.

[2019-02-08 18:42] dmahendranme commented on #647
@ldemaris And I tried this PnP example at site collection level. Nothing happens.
Here are the details;
- Site collection is Classic team site
- Few list are modern and few are classic
- Executed both Disable and Enable scripts

Nothing happens. No change in the list and libraries.

I have created a new custom list after Disable and Enable.
It is still creating a Classic custom list.

Am I missing

[2019-02-08 18:54] ldemaris commented on #647
The PowerShell feature can not be used for _enabling_ modern in a site collection.  It can only be used for _disabling_ modern.  Turning the feature on in a site collection will ensure that every list inside that site collection stays classic, unless that list specifies a modern setting.

[2019-02-08 18:59] dmahendranme commented on #647
@ldemaris I'm confused here. I see this below line in the documentation
# And again enable modern lists and libraries at site collection level
#Disable-PnPFeature -Identity E3540C7D-6BEA-403C-A224-1A12EAFEE4C4 -Scope Site

But you are saying that this command will not work !!!!!
Please clarify.

[2019-02-08 21:10] tseward commented on #570
@Jvasil but keep in mind the context of the article. The context of the article is about SPO Admin Center settings, not the per-site setting you're referring to.

[2019-02-08 21:59] ldemaris commented on #647
Thank you for the feedback, the wording in this article could definitely be improved.  Enabling the feature will cause that site collection's lists to stay in classic, unless those lists are configured to use modern.  Disabling the feature will not force all libraries into modern; it will cause those libraries instead to defer to the tenant-wide setting.

[2019-02-08 22:30] Jvasil commented on #570
Yes I know and realize that. I believe your  missing my point.. with the highlighted setting selected at tenant level, the highlighted statement is incorrect because “site Members” can also share with external users.
Site Members do not have full control permission, nor are they Site Owners. However they can still share a site, they are a member of, with external users.

New and existing external

[2019-02-08 22:46] dmahendranme commented on #647
Thanks @ldemaris
So, if I try it on or after April 1, 2019, we could see the differences. Am I right?
Because according to [this](https://techcommunity.microsoft.com/t5/Microsoft-SharePoint-Blog/Delivering-SharePoint-modern-experiences/ba-p/315023) announcement, tenant's opt out setting will be switched to Modern.
(Currently my tenant setting is "Classic")

[2019-02-08 23:14] MatthewMcD opened #653 "This Page has a repeated formatting flaw"
This page has several links that start with "Content that is part of an eDiscovery case..." that are hyperlinked and poorly formatted.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e806c519-1c30-5c66-68cb-c6020900896e
* Version Independent ID: 10a2b6db-de88-e8ce-7e6d-bec088868d07
* Content: [Add content to a case and

[2019-02-09 01:33] markjjo commented on #653
@MatthewMcD Thanks for the heads up. The topic is fixed.

[2019-02-09 01:33] #653 closed

[2019-02-09 18:20] tseward commented on #646
@MarkvanGurchom Looking at this, I think what you want is to use `Register-SPMTMigrationTask -WorkingFolder <Path>`. See https://docs.microsoft.com/en-us/powershell/module/spmt/register-spmtmigration?view=spmt-ps.

By default, the working folder is `%appdata%\Microsoft\MigrationTool`
Let me know if that helps.

[2019-02-09 18:44] tseward commented on #649
@AndreaBarr PR submitted, assign to me please.

[2019-02-09 23:20] Redskins84 commented on #404
Hello,
I'm trying to install the per-machine version of onedrive.
onedrivesetup.exe /allusers - I cannot get this to work
Do you have a date to go out? can we test it. Thank you

[2019-02-11 12:45] MarkvanGurchom commented on #646
Thanks... I'll check it next time.

________________________________

Met vriendelijke groet,
Mark van Gurchom
e: mark@cubics.nl
Ringbaan Oost 148a | 5013 CE | Tilburg
t: +31 (0)13 5321486
www.cubics.nl
Onze helpdesk is te bereiken via: +31 (0)13 7507600 of helpdesk@cubics.nl
Denk aan het milieu voordat u deze e-mail print.
disclaimer
Van: Trevor Seward <notifications@github.com>
Verzonden: zaterd

[2019-02-11 15:04] SheTriedIt opened #660 "Solution Used?"
Was this user guide created with SharePoint? An App? GitHub? I'd like to create a user guide just like this - today. Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 659548ea-eb6e-8eee-2892-f352512db6a1
* Version Independent ID: 2e0e6017-2b29-e831-ff61-0a798dfb175f
* Content: [Manage site collection administrator

[2019-02-11 15:05] MikePlumleyMSFT commented on #570
@Jvasil, agreed, the current text is incorrect for the default settings. I've updated the article.

[2019-02-11 16:00] Jvasil commented on #570
Excellent! Thanks Mike

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Mike Plumley <notifications@github.com>
Sent: Monday, February 11, 2019 7:05:30 AM
To: MicrosoftDocs/OfficeDocs-SharePoint
Cc: Joseph Vasil; Mention
Subject: Re: [MicrosoftDocs/OfficeDocs-SharePoint] Incorrect statement in documentation (#570)

@Jvasil<https://nam06.safelinks.protection.o

[2019-02-11 20:59] killerewok2000 opened #661 "table at the start doesnt match the flow of the article"
table at the start doesnt match the flow of the article

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 088d4ec6-16f9-7af9-006b-db169d3390d2
* Version Independent ID: 6a4171f9-b32f-baa5-47b1-ca4d1475acae
* Content: [MySites to OneDrive and SharePoint Migration Guide](https://docs.microsoft.com/en-us/sharepointmigration/

[2019-02-11 21:01] JoanneHendrickson commented on #661
will correct.

[2019-02-11 22:43] gallantrinity opened #662 "Configure team site libraries to sync automatically"
Why the 1,000 device limit? Haven't seen this limitation in any of the SharePoint Online limitation documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 04ad2f16-c861-7a1b-5c1d-e4601e8f3855
* Version Independent ID: c47df4cd-f706-d807-5eac-172fba1e500f
* Content: [Use Group Policy to control OneDrive sync clie

[2019-02-12 05:07] kaarins commented on #662
@gallantrinity , Because this is a new feature, I haven't added the info to the limits article yet. I will though, if this limit persists. Thank you!

[2019-02-12 06:26] gacarini commented on #404
@Redskins84 We are still doing a private preview at the moment (we've expanded it further since my original reply) and are targeting to go into public preview in the next month or so if everything goes well. I will keep this thread posted as soon as we've shared instructions externally.

[2019-02-12 11:54] Abenold opened #663 "Application validation did not succeed"
Hi since the last Versions we are not able to Install any Versions of  the SPMT  maybe you could help?
We get the following error in the log:

PLATFORM VERSION INFO
	Windows 			: 6.1.7601.65536 (Win32NT)
	Common Language Runtime 	: 4.0.30319.42000
	System.Deployment.dll 		: 4.7.3221.0 built by: NET472REL1LAST_C
	clr.dll 			: 4.7.3260.0 built by: NET472REL1LAST_C
	dfdll.dll 			: 4.7.3221.0 built by

[2019-02-12 14:23] SteveHernou commented on #644
Hi Joanne, seems like 'Abenold' is experiencing something similar. Same dll is showing in his log.

[2019-02-12 16:31] gallantrinity commented on #662
Although the OneDrive policy is new, SharePoint sync has been around for a long time now. You didn’t answer the question as to why the limitation of 1,000 devices. Sync is available to everyone, what if everyone in our company (far exceeds 1,000 devices) decides to sync the same library on their own? Could you direct me to the documentation of this limitation?

Thanks,

George Allan
Systems Admini

[2019-02-12 16:45] kaarins commented on #662
@gallantrinity , I believe that this limitation applies only to the new policy. Adding @IoTJonL to confirm and add any other comments

[2019-02-12 18:12] gallantrinity commented on #662
Thanks Kaarin! Appreciate any feedback on this subject as we are very close to migrating to SharePoint Online and want to understand any limitations that may apply to our business.

George Allan
Systems Administrator

TRINITY PROPERTY CONSULTANTS
2082 Michelson Drive, 4th Floor
Irvine, CA 92612

T 949.299.0815 | F 949.399.2530
GAllan@trinity-pm.com<mailto:GAllan@trinity-pm.com>  | www.FPAMF.com<ht

[2019-02-13 01:32] MollyMalone commented on #537
Hi @hyoshioka0128 can you help me solve a mystery ;-)   Have you noticed that in Japanese content that the Feedback control is disabled
![image](https://user-images.githubusercontent.com/8525199/52679986-c2afbc80-2eeb-11e9-95fa-d866e337d3c1.png)
For example scroll to the bottom of these articles and you see that it's possible to leave feedback from the English page but not from the Japanese page.

[2019-02-13 03:19] hyoshioka0128 commented on #537
@MollyMalone.Sorry for my poor English.

As you said.
Since it can not be done with a Japanese page, I switch to an English page and Issues it.
Below, screen shots of Japanese pages (Base 64)

![Japanese page](data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAA6cAAADICAIAAACbNAA1AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAACi3SURBVHhe7d2/jxVJtuDx+iO2hIOE0UZL47SwwMNrvGYd1A4SBhoh

[2019-02-13 03:20] hyoshioka0128 commented on #537
@MollyMalone. Sorry for my poor English.
As you said.
Since it can not be done with a Japanese page, I switch to an English page and Issues it.

[2019-02-13 09:12] MaximeRastello commented on #350
@lightupdifire : its is none of these cases, "Hybrid Azure AD Join" is a local AD domain joined PC also registered in Azure AD using an automatic process : https://docs.microsoft.com/en-us/azure/active-directory/devices/hybrid-azuread-join-managed-domains

[2019-02-13 09:38] hyoshioka0128 commented on #537
Japanese: https://docs.microsoft.com/ja-jp/sharepoint/turn-external-sharing-on-or-off
![190213_turn-external-sharing-on-or-off](https://user-images.githubusercontent.com/40815708/52701858-8d27d380-2fbe-11e9-84d9-a2ab90ec5308.png)

[2019-02-13 10:38] Saurabh-Chauhan opened #664 "Managed Properties"
Why we can only choose managed properties that have already been created and configured.
Need more example on Judgement Queries.
I need an example on Add queries manually in Judgement Sets.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f058cbb9-524c-560c-c42a-2a14a246f4f9
* Version Independent ID: 8ad7d9b3-68d2-12e5-3

[2019-02-13 11:04] lightupdifire commented on #350
@MaximeRastello
Thank, I found it out too, when policy is activated, the Conditional Access policy created, where it is set: require Compliant device. Then device can be "MDM+AD registered" only as soon as it become compliant by MDM all works fine.

[2019-02-13 18:27] #537 closed

[2019-02-13 18:28] #536 closed

[2019-02-13 21:22] bernardlam commented on #567
Hi Trevor,

I just got around to do a quick comparison of the two articles. In response to your question, here’s a few suggested changes for the SPO article:

  *   Social Tags section
     *   I think it’s referring to the Tags and Notes feature which is retired (https://support.office.com/en-us/article/sharepoint-online-tags-notes-feature-retired-77851bd5-6d5e-42fe-9bf6-d7c17eeb771f). shall we r

[2019-02-13 22:37] seraphim72 opened #666 "Web Platform Installer"
There should be a note about doing this by WPI and also one about the 5 CUs to Workflow Manager that have come out.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d9696f9c-aeb8-e0b9-2a43-bc24e9c7b2b2
* Version Independent ID: e267b2fe-5cb3-9f79-f062-4f02763d7505
* Content: [Install and configure workflow for SharePoint

[2019-02-14 00:46] MollyMalone commented on #537
@hyoshioka0128 Thank you for sharing the information that you switch to English to leave feedback.  What is interesting is that the Japanese Title and URL are included in the GitHub issue - see the one in this issue above for example.
![image](https://user-images.githubusercontent.com/8525199/52754265-be000c80-2fae-11e9-8f68-cf34012d9eb4.png)
I don't understand how that is happening when you leave

[2019-02-14 03:10] hyoshioka0128 opened #667 ""来園者" needs to be replaced with "ゲスト""
Strongly recommend to replace "来園者" with "ゲスト" , I can see "来園者" is used as a localized Japanese word of "guest" in English, however, it should be "ゲスト" which stands for guest user of OneDrive for Business.

https://docs.microsoft.com/ja-jp/onedrive/b2b-sync

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 69433cdb-79fb-

[2019-02-14 03:11] hyoshioka0128 opened #668 ""guest アカウント" needs to be replaced with "ゲスト アカウント""
https://docs.microsoft.com/ja-jp/onedrive/b2b-sync

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 69433cdb-79fb-e59d-e208-0c1201b74bfa
* Version Independent ID: e69001d7-2292-9f1a-e3d8-cf0afb9b18df
* Content: [B2B Sync](https://docs.microsoft.com/en-us/onedrive/b2b-sync)
* Content Source: [OneDrive/b2b-sync.md](https:/

[2019-02-14 16:16] petepuu opened #670 "Dead link"
Link "Securing SharePoint: Harden SQL Server in SharePoint Environments" does not work

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: effa11e2-25b6-3ba0-e54f-1901ce490f0f
* Version Independent ID: 22e3de07-f162-5b71-6a00-34262dfbddca
* Content: [Configure SQL Server security for SharePoint Server](https://docs.microsof

[2019-02-14 16:34] tseward commented on #670
@AndreaBarr assign to me, please.

[2019-02-14 16:34] tseward commented on #666
@AndreaBarr assign to me, please.

[2019-02-14 17:14] tseward commented on #567
@bernardlam thank you for the feedback. I'll incorporate those into this article.

[2019-02-15 00:07] Jas0 commented on #514
Absolutely would love this feature. Not sure why Microsoft does not support this. Not very professional sending links to shared files from one drive which has an old company name attached to it. Until they fix this, my money for file sharing is elsewhere.

[2019-02-15 11:07] CoertK commented on #323
I found this feature on the 365 roadmap. Release scheduled for this month. https://www.microsoft.com/en-us/microsoft-365/roadmap?filters=&searchterms=27031

[2019-02-15 18:24] gcrockenberg opened #673 "Navigation on Mobile not working"
When resizing your browser or on mobile devices the shared navigation disappears.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 99d8d3fd-3c87-c237-495d-01ac9bcd7944
* Version Independent ID: 2c621ca7-5395-f4b8-b66a-aa8a8ab4b1e5
* Content: [Planning your SharePoint hub sites](https://docs.microsoft.com/en-us/sharepoint

[2019-02-15 21:44] pagejustin opened #675 "Could you add information about how to use powershell to resume a stuck paused Search Service Application?"
I have used this information to confirm and administrative pause but I want to know how to reume the service.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ea0ba5bd-cc19-bb57-b16c-1ecb16becc8e
* Version Independent ID: ec016404-f9bd-7318-5162-1ec538bc7b3b
* Content: [Manage a paused Search service application in Share

[2019-02-15 23:11] tseward commented on #675
@AndreaBarr please assign to me.

[2019-02-16 02:53] solinear opened #676 "Application Validation did not Succeed - v2.1.103.8510"
Both versions (current release and public preview) fail on install.

Windows 10.0.14393.0

All prereqs are present

Failure: Activation of http://spmtreleasescus.blob.core.windows.net/build-firstrelease/build-firstrelease.application resulted in exception.  Following failure messages were detected:
+ File, oncloudify_x86.dll, has a different computed hash than specified in manifest.

Let me know w

[2019-02-16 03:10] solinear opened #677 "Migration to OneDrive"
To migrate to OneDrive the target DocLib MUST be "Documents", as in the following CSV example:

D:\Data\username,,,https://organization-my.sharepoint.com/personal/userID_domain_com/,Documents,TargetFolderName

I tend to use "Old_HomeDrive" for the TargetFolderName, as it's pretty much guaranteed to not exist (it will create it automatically).  This can be a little confusing, as it does not go into

[2019-02-16 03:20] solinear commented on #676
Ironically, I have another off-prem machine that I used for testing that has 2.1.103.8511 AND 3.0.104.8529 installed successfully.  I'm curious how I installed a newer version than what is listed here.

[2019-02-18 09:11] hyoshioka0128 opened #682 "Characters are visible instead of .png(media/ec60b062-1979-446d-b431-bf0baede0f8b.png)"
https://docs.microsoft.com/ja-jp/onedrive/use-group-policy

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 04ad2f16-c861-7a1b-5c1d-e4601e8f3855
* Version Independent ID: c47df4cd-f706-d807-5eac-172fba1e500f
* Content: [Use Group Policy to control OneDrive sync client settings](https://docs.microsoft.com/en-us/onedrive/u

[2019-02-18 13:15] lafe opened #684 "ClearSuiteLinksCache() not available on SharePoint 2019"
The command `ClearSuiteLinksCache()` mentioned to invalidate the suite links cache is not recognized in SharePoint 2019. Chrome and IE11 both throw an error that the command "ClearSuiteLinksCache" is not defined.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 244110ff-0cc2-1acf-7fa3-ac1d29ea667b
* Version Independent I

[2019-02-19 07:57] dplotnikov commented on #120
Hey guys,

Just want to follow-up with you on this and check if you still have any issues with it. First of all, please let me know if you have any content in this folder `%userprofile%\Documents\WindowsPowerShell\Modules`

[2019-02-19 19:47] kathyfurtado opened #686 "Limited Access System Group"
I'm wondering what is a "Limited Access System Group"? One of my users can't access the site and I came across this term.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c264ede0-8da5-b812-c36b-f1c3c03ac590
* Version Independent ID: 27b51f79-ce96-99c4-d1e8-10288e71ff6c
* Content: [Default SharePoint groups](https://docs

[2019-02-19 19:53] dplotnikov commented on #120
While I'm waiting for your answer, please check my blog post [here](https://dplotnikov.wordpress.com/2018/10/31/sharepoint-migration-tool-v2-is-not-able-to-run-under-administrator/) maybe you have the same issue if this folder is empty `%userprofile%\Documents\WindowsPowerShell\Modules`

[2019-02-19 20:21] dplotnikov commented on #607
hey @pawp81 as you can see, there is a reference to SPO in the Note section but looks like you were confused by the fact that SPO wasn't marked as supported in **APPLIES TO:** section. Did I miss something?

[2019-02-19 20:28] pawp81 commented on #607
Yes. This article seems to indicates that SPO is not supported. There is "X" icon next to SPO.

[2019-02-19 22:29] Techwriter40 commented on #684
@lafe Thank you for your feedback. I have updated the article to include this information.

[2019-02-19 22:29] #684 closed

[2019-02-20 13:47] LuigiBruno opened #689 "Domain functional level"
Is there any special requirement for the domain functional level?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 48fbcb0b-9e6d-d2e7-5194-5593d35fff63
* Version Independent ID: f6d30df6-858b-4d3c-542f-a4d6b45ec3d8
* Content: [Hardware and software requirements for SharePoint Server 2019](https://docs.microsoft.com/en-us

[2019-02-20 14:27] robinmeure opened #690 "HTML Field Security is still available?"
HTML Field Security is still available as a link and can be configured on Modern teamsites. The setting is read by the Embed WebPart which checks whether or not this has been configured.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aa561c35-c73d-32d1-a553-5c96ce179a8c
* Version Independent ID: 819af39f-8ee0-e7f8-f591

[2019-02-20 17:07] DeanGross opened #691 "affect on visibility of account in other locations"
How does this affect the presence of the account in a SharePoint group and the SharePoint User Information list

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c1a01697-2af8-ea42-05bb-7c36afe38870
* Version Independent ID: e7f310af-5642-cee5-2048-98b054e54abc
* Content: [Set the OneDrive retention for deleted users](htt

[2019-02-20 19:18] TokyoScarab commented on #246
The documentation in that area will be changed to link to some supplementary information that will elaborate on the site association process.  You can find out more by visiting the link [here](https://support.office.com/en-us/article/associate-a-sharepoint-site-with-a-hub-site-ae0009fd-af04-4d3d-917d-88edb43efc05).

[2019-02-20 21:52] dplotnikov commented on #607
hey @pawp81 I've made a pull request to this article just to specify that it's accurate for SPO as well and it should be fine after someone will merge my change. Please let me know if you still have any questions here.

[2019-02-20 22:23] dplotnikov commented on #120
Just want to make an update here, I've made a PR to the main repo with a clarification that `Import-Module Microsoft.SharePoint.MigrationTool.PowerShell` command should be executed from the DLL location and not from a random place.

[2019-02-20 22:32] sabbour opened #694 "IRM-protected library feature support on MacOS"
Is this feature still not supported on MacOS? I got an error and I upgraded my client to 19.033.0218.001 and it seemed to sync afterwards.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 930a4d28-a511-e037-fa15-e4f3aebc7064
* Version Independent ID: 22a6cf03-0378-84b1-0ade-236018d49b3b
* Content: [Let users sync IRM-pro

[2019-02-20 23:25] kenwith commented on #120
This makes sense and I merged it. I think we can close out this issue. If anyone else still having trouble please re-open and we can adjust docs as needed.

[2019-02-20 23:42] skahlam commented on #120
I have just downloaded the latest spmt and I am still having the same issue when trying to import-module from the directory where the DLL resides.

[2019-02-20 23:51] kenwith commented on #120
@skahlam - OK I re-opened the issue. I am not sure if this is a documentation issue or a product issue. I know @wenhua-helen is the PM from the product team focused on this and @JoanneHendrickson is the doc owner. @scanum --- I would suggest reaching out to @JoanneHendrickson on this one as I know she keeps a close eye on the SPMT content.

[2019-02-21 00:34] tseward commented on #691
No changes. UIL/SharePoint Groups do not remove users upon them being de-licensed, deleted or disabled.

[2019-02-21 11:38] fguicc opened #695 "Alert on Site Pages does not trigger on SharePoint Online"
In SharePoint Online I have set an alert on the site pages library.
If the option "All changes" is selected it works and I receive the notification but if the option "New items are added" is selected it doesn't work since I don't receive any notification

[2019-02-21 11:44] fguicc opened #696 "Followed site list display also sites that have been deleted"
The following page
https://[tenant].sharepoint.com/_layouts/15/sharepoint.aspx?v=following
displays also sites that have been deleted.
Same thing If I retrieve the list of followed sites using REST APIs.

If a site has been deleted should not appear.

[2019-02-21 13:33] dplotnikov commented on #337
hello, @nicksequeira I've made a couple clarifications and they'll be live as soon as repo owner will merge it, so it should be more accurate from a content perspective. as for your mentioned issues, it looks more like a product issue and not as a content one.

[2019-02-21 14:12] joliving opened #698 "External users programmatic access."
Hi there,

Can external users have access to sharepoint's Microsoft Graph API?

thanks

[2019-02-21 19:55] scanum commented on #246
PR #245

[2019-02-21 19:57] scanum commented on #245
PR #699

[2019-02-21 21:14] #246 closed

[2019-02-21 21:15] #245 closed

[2019-02-21 21:27] #172 closed

[2019-02-22 01:05] TokyoScarab commented on #267
Yes, the libraries will still continue to have IRM protection in place.  This applies to the synced library that gets transferred from the cloud as well as the library that is synced to the cloud.  The protections stay in place ensuring your information is protected.

[2019-02-22 04:10] lewisdenise801 commented on #267
Help me encrypt

[2019-02-22 07:54] martinlingstuyl opened #701 "Storage account type 'Standard_LRS' should be 'StandardLRS'"
The script creating the adVM causes issues, because Standard_LRS is not a valid option, please change to StandardLRS.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0e02c018-709f-3fc6-becd-a92793ecc0b7
* Version Independent ID: fa10d53d-30c1-2087-fabf-86d2c0e232f2
* Content: [SharePoint Server 2016 dev/test environment

[2019-02-22 08:58] TokyoScarab commented on #251
Yes, this does support third party IDPs with some caveats.  For more information, please look into this page and the links on it. I will make sure to include this information in the doc for more clarity.  Thanks!
https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-fed-compatibility

[2019-02-22 10:14] itprotj opened #703 "Ability to follow"
Are we able to "follow" another sharepoint when its between two different microsoft365 organizations?
I get up to the point of sharing a sharepoint site with another organization but they are unable to "follow" it meaning they can't have it in their sidebar for easy access. Or is there another step required to make this happen?
Thanks

---
#### Document Details

⚠ *Do not edit this section. It is

[2019-02-22 10:23] SjoerdV opened #704 "CSV file format is lacking 'individual' files option that will prevent restructuring the data"
What I would like to see is a totally revised and more simple CSV input format:
"[full source path of file]","[full target path of file]"
Who ever came up with this rediculous 6 column format, as it is totally unneccesary,bloated and not suitable for migrations targetting specific source files and there verious intended target locations?
And really I (as a user) don't care if something is a share,

[2019-02-22 10:56] TokyoScarab commented on #249
Hello! Thank you for bringing up this issue.  I was wondering if you would be able to elaborate a little bit more on why you think the linked doc might be outdated in relation to Teams external sharing? Thanks!

[2019-02-22 15:48] tseward commented on #689
@AndreaBarr please assign to me.

@LuigiBruno just 2003 native mode. I will update the article this weekend to reflect that. This is a fairly common question.

[2019-02-22 16:53] seanpanter commented on #514
@kaarins can you provide any timeline for this? Can we expect this in 2019? We have a client that would really benefit from this feature. Thank you!

[2019-02-22 17:38] TokyoScarab commented on #264
Hello, thanks for sharing this feedback!  I would like to point out that the purpose of the doc for this issue is to point out and explain how to use the newly added PowerShell cmdlets that were based on the SharePoint Migration Tool Engine.  The examples on this page are showing off mass migration because the nature of the newer commands are more centered for that use.  For a list of all the Powe

[2019-02-22 21:11] kevinleary commented on #663
I am having the same app validation issue on both versions and it hasn't been fixed for about a month.

[2019-02-23 00:23] RowdyChildren opened #706 "Issue with detection script"
The detection method in the linked example package uses "smart quotes". this causes execution to fail

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b65a307a-4572-7255-eaad-34a0884cb93d
* Version Independent ID: 976efb44-bf8a-ed55-c854-6c49ecdea722
* Content: [Deploy OneDrive apps using SCCM](https://docs.microsoft.com

[2019-02-23 21:11] tseward commented on #704
@SjoerdV thank you for the suggestion. As this is repo is for documentation issues, can you please post your product change suggestion at https://sharepoint.uservoice.com/forums/282887-sharepoint-hybrid-or-migration-to-office365?

[2019-02-23 21:16] tseward commented on #701
"Standard_LRS" is still correct for the cmdlets, even the newer Az module. Can you provide the error message(s) you were seeing?

[2019-02-23 21:17] tseward commented on #696
@fguicc I would suggest opening a support request via admin.microsoft.com. This is a known issue, but this is not a documentation issue which is what this repo is intended for.

[2019-02-23 21:17] tseward commented on #695
@fguicc I would suggest opening a support case at admin.microsoft.com to report this as a bug.

[2019-02-23 21:22] tseward commented on #690
Take a look at https://techcommunity.microsoft.com/t5/Office-365-Groups/HTML-Field-Security-Group-Sites/m-p/42311/highlight/true#M1869. Does that answer the question?

[2019-02-25 16:18] danmyhre opened #713 "Versions at the top are out of date"
v3 is in public preview

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cac22961-da69-7b22-6dff-f7bc5ee82ed3
* Version Independent ID: dd4ed11e-a0f9-4e97-48ae-8bd94f510c07
* Content: [How the SharePoint Migration Tool works](https://docs.microsoft.com/en-us/sharepointmigration/how-the-sharepoint-migration-tool-works)
*

[2019-02-25 16:20] danmyhre opened #714 "This page is missing from the navigation"
This page is missing from the navigation on the left

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cac22961-da69-7b22-6dff-f7bc5ee82ed3
* Version Independent ID: dd4ed11e-a0f9-4e97-48ae-8bd94f510c07
* Content: [How the SharePoint Migration Tool works](https://docs.microsoft.com/en-us/sharepointmigration/how-the-sharep

[2019-02-25 16:22] tseward commented on #248
@sudeepg100 This HA rule was removed in 2017 for 2013/2016 and was never included in 2019. I made the PR to remove 2016/2019 prior to remembering it was also removed for 2013, so I've reached out to @Techwriter40 for assistance.

[2019-02-25 16:45] #696 closed

[2019-02-25 16:45] #695 closed

[2019-02-25 18:14] Techwriter40 commented on #248
@sudeepg100 @tseward I have merged all the changes from Trevor and articles should be updated soon. thank you for your feedback.

[2019-02-25 18:14] #248 closed

[2019-02-25 18:16] Techwriter40 commented on #689
@LuigiBruno I have merged the changes from Trevor and the article should be re-published soon. thanks for your feedback.

[2019-02-25 18:16] #689 closed

[2019-02-25 22:25] scanum commented on #267
PR #700

[2019-02-25 22:25] scanum commented on #264
PR #705

[2019-02-25 22:27] #267 closed

[2019-02-25 22:27] #251 closed

[2019-02-25 22:28] #264 closed

[2019-02-25 22:28] #249 closed

[2019-02-25 22:39] TokyoScarab commented on #10
Hello, thanks for posting this issue!  I noticed in both of the lines that you said you tried, you had quote marks in incorrect spots (this is assuming the things you said you tried were exactly as shown in the original post). In each example shown, in the 5th column you have a singular quote mark ( " ).  You do need to provide a library name.  If you are still having issues with this, feel free t

[2019-02-26 00:04] RussC19 commented on #338
@AndreaBarr

This looks to have already been completed.
![image](https://user-images.githubusercontent.com/47165527/53377488-c3892980-3994-11e9-8878-487e1c49adfa.png)

[2019-02-26 01:29] nicksequeira commented on #337
Right on, glad to see y'all working on it. I'll check it out in a few weeks
thanks

On Thu, Feb 21, 2019, 08:33 Dmitri Plotnikov <notifications@github.com>
wrote:

[2019-02-26 04:01] hyoshioka0128 commented on #682
@MollyMalone Thanks.

Same as [MicrosoftDocs/OfficeDocs-o365seccomp#396](https://github.com/MicrosoftDocs/OfficeDocs-o365seccomp/issues/396)

[2019-02-26 04:01] #682 closed

[2019-02-26 05:39] #666 closed

[2019-02-26 09:18] martinlingstuyl commented on #701
Hi @tseward,

When using the following script:

[code]

I'm receiving the following error:

[code]

I do see I'm having multiple versions of AzureRM installed on my system. Maybe thats the problem:
[code]

[2019-02-26 09:58] santanayana opened #716 "Language Neutral Tokenization and Finer Query Tokenization not exist in SP 2013 and SP 2016"
Hello,
2 new properties as in title not exist on SP 2013 and SP 2016 by default. Should we install any special patch or do something else to enable this kind of properties?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7e19898d-6400-f2ad-63aa-825469026e99
* Version Independent ID: 79bc10e2-1ee3-00aa-82b2-ffe0bc14914e

[2019-02-26 12:31] libove opened #717 "Blocking file "types" is insufficient. Must be able to block names/patterns"
It is wholly inadequate to be able to block file "Types" such as "db", as there may be "*.db" files which COULD AND SHOULD be OneDrive sync'able, whereas there is the one widely known breaks-OneDrive (shouldn't; OneDrive should come out-of-the-box with this excluded!) "Thumbs.db" file which is not representative of what other ".db" files might be/contain.
OneDrive must allow excluding of specific

[2019-02-26 14:05] sir79 opened #718 "Coauthoring for Excel"
Coahthoring limits are only mentioned for Word and Powerpoint. What about Excel? Do the same limits also accounts for Excel?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 81e0e611-8cbd-1b44-6e09-487b15307c6a
* Version Independent ID: b00c5b8b-c735-6473-a492-b82ae4e8a02f
* Content: [Software boundaries and limits for S

[2019-02-26 16:31] anyITsolution commented on #346
Hi Adrea, I also noticed there's no where in this article describing the Features that need to be enabled for the tool to work properly when doing a file / folder migration from on prem share folder. they talked about enabling customer scripts but did not mention that Publishing Infrastructure needs to be enable at the Root level and at the Teams Site/ Group site level. if you can work on adding t

[2019-02-26 17:15] #534 closed

[2019-02-26 17:16] #621 closed

[2019-02-26 17:16] #636 closed

[2019-02-26 17:16] #637 closed

[2019-02-26 17:17] #338 closed

[2019-02-26 17:26] wiktorwandachowicz opened #719 "Errors in PowerShell scripts"
Three times in scripts there are parameters "StandardLRS", which are incorrect. Trying to run scripts with these results in errors.
These should be "Standard_LRS" instead.

One more error is in script for creating SharePoint Server 2016 virtual machine. In the line:
$vm=Set-AzureRmVMOSDisk -VM $vm -Name "DC1-OS"
there is "DC1-OS" disk mentioned. But it was used in previous example, and since follo

[2019-02-26 17:29] annloftus opened #720 "Question re: Link Targets"
In your article you indicate:
Link points to a page or site in the same tenant (same site or another site): Links open in the same tab - ok, this make sense
Link points to a document (same site or different site): Links open in a new tab -   ok, this make sense
Link points to an external (internet) site or document: Links in a new tab - what does this mean?   Did you mean to state "links open in t

[2019-02-26 17:54] #638 closed

[2019-02-26 19:39] #607 closed

[2019-02-26 21:28] ttplaya opened #721 "Missing text in multiple places"
In multiple places on this page, when it gives a code snippet example and then says "Where:" then has a list of bullets that describe what each tag in angled brackets is for, most of the tags are missing in the bullets.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c2f60077-848f-40d7-8ac9-b0b6bcd8201b
* Version Indepe

[2019-02-26 23:59] solinear commented on #676
I have tested this on Win7, Win10, and Server 2016 and get the same error.

It would be nice if there was just an install instead of this obtuse build.

[2019-02-27 01:01] JoleungMSFT commented on #662
@gallantrinity - The 1000 device limit is for performance reasons due to the notification pipeline per library. Each library has a maximum limit of devices that can be connected to at any time. Once that limit is broken, performance will degrade as the client switches to a polling model rather than a notification model.

Note - this is Per Library, so it is unlikely for this limit to ever be hit,

[2019-02-27 01:21] JoleungMSFT commented on #694
IRM protected libraries are supported - you got a CVR message for a new feature, per item (label based) IRM scenario, which requires everyone at **Microsoft** to be on the latest version of the sync client.

[2019-02-27 16:45] gallantrinity commented on #662
Jonathan,

Thank you for your response! Does performance drop off significantly or is it a gradual decline in performance. We want to sync a single document library on all devices. Could you point me to the documentation about this limitation?

Thanks,

George Allan
Systems Administrator

TRINITY PROPERTY CONSULTANTS
2082 Michelson Drive, 4th Floor
Irvine, CA 92612

T 949.299.0815 | F 949.399.2530

[2019-02-27 17:36] dariomws306 commented on #623
Hi @Noradrex , thank you for your feedback!

@OfficeGlobal, could you check this please? Thank you!

[2019-02-27 19:47] #10 closed

[2019-02-27 20:05] JoleungMSFT commented on #662
@gallantrinity it's a gradual decline - in general the more devices, and the more files/content in a library, the worst the performance is going to be. The ability to enforce this configuration on all deployed devices is likely to cause a large amount of load, thus we are giving the guidance above. We are actively monitoring and if we see that the performance is still acceptable/useable we will in

[2019-02-27 22:06] nenonix commented on #497
@fredericklin  I am pleased we managed to clear that up. Your suggestion has been noted and your feedback is appreciated.

From our understanding the issue has been resolved. If you feel it hasn't been resolved please re-open this issue.

[2019-02-27 22:16] #497 closed

[2019-02-28 00:33] tomresing commented on #666
Published changes look good to me. Thanks, @tseward!

[2019-02-28 05:49] schenardie commented on #323
As stated before the feature is still on Insider Preview. I did a test with the same keys on an Insider Preview and a Current Branch and the current branch doesnt work. That is probably because it does not have the latest OneDrive Version. Current Branch is 19.012.0121.0009 and Insider Preview 19.022.0203.0005.

I got another request though.
When i edit the regkey [HKCU\Software\Policies\Microsoft

[2019-02-28 06:38] OfficeGlobal commented on #623
Hello @dariomws306,

 we've checked the file, problem is in the source article. Metadata section is not correctly ended.
It contains "..." instead of "---"

Once fixed in the source, all INTL pages will be properly updated / displayed

Thank you

[2019-02-28 09:03] laurence73 opened #728 "Allow file renaming"
There is no option to rename the migrated files on the SharePoint side - this is hugely important when migrating from other Document management systems that often give file names in Guids or similar.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 27475eb6-82f5-1f75-a304-e5696092a3e1
* Version Independent ID: e9bd89b2-a

[2019-02-28 09:55] OfficeGlobal commented on #623
Note: we have found badly formatted metadata in few more articles
 - SharePoint\SharePointOnline\get-started-with-modern-search-experience.md
 - SharePoint\SharePointOnline\guide-to-sharepoint-modern-experience.md
 - SharePoint\SharePointOnline\information-architecture-modern-experience.md
 - SharePoint\SharePointOnline\plan-navigation-modern-experience.md
 - SharePoint\SharePointOnline\publishing

[2019-02-28 10:28] Naxxan60 opened #729 "Code section when not logged in"
Hello,
When I wasnt logged in to Github, I got some addtionnal "code section" with the content "Where :" inside and the part with the cmdlets. Don't know if it's a bug in this page or for all pages.
Now logged in, I havent the problem, I logout from Github, the problem comes back.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2019-02-28 10:35] Naxxan60 commented on #729
Now, I logged in and I still have the problem. I don't understand.

[2019-02-28 11:05] dariomws306 commented on #623
@OfficeGlobal Thank you!

[2019-02-28 11:11] Artocol opened #732 "Can't select "popularity trends""
![image](https://user-images.githubusercontent.com/17138891/53562471-bd8c7780-3b51-11e9-9e17-f4905e112ba7.png)

Are there settings/services that need to be installed on the tenant/site collection before this works?

Thanks in advance!

[2019-02-28 11:18] Artocol commented on #732
I fixed my own issue. I had to activate the 'reporting feature".
See: https://stackoverflow.com/questions/38684235/cannot-find-popularity-trends-and-popularity-and-search-reports

[2019-02-28 11:18] #732 closed

[2019-02-28 12:34] sharmajnu commented on #308
Both @swhite-strath and @AndreaBarr  are right here.

In the previous implementation if you invite an external user and when the accept invitation they used to be added automatically to AD.
However this is no longer done, now they have access only using verification code and they are not added to AD anymore.

This was done to have better control on Azure AD still allowing sharing around 6 month ba

[2019-02-28 12:42] sharmajnu opened #733 "Unable to invite internal member by email to a group drive item."
At one of our customer invite call for an internal member(who is not a group member) to invite a group drive folder fails with 403 status. For all other tenants this works fine.

The person who is sharing is a group owner.

I have gone through document lots of OneDrive and SharePoint settings, did not find any settings useful settings with which can control it. Is there a way to stop sharing all t

[2019-02-28 15:18] tseward commented on #729
@AndreaBarr please assign to me.

[2019-02-28 15:18] tseward commented on #721
@AndreaBarr please assign to me.

[2019-02-28 15:21] tseward commented on #719
@AndreaBarr please assign to me.

[2019-02-28 15:27] tseward commented on #701
@AndreaBarr please assign to me.

[2019-02-28 15:46] tseward commented on #716
@AndreaBarr assign to me, please.

[2019-02-28 15:47] tseward commented on #716
@santanayana I put a note that those two features are SP 2019 only.

[2019-02-28 18:11] scanum commented on #346
@Jeff1138 Thank you very much for your kind feedback. We recommend logging it in [Uservoice](https://sharepoint.uservoice.com/). The concerning team will evaluate and take the appropriate action, as per their schedule. We appreciate you taking out some time and sharing your feedback to make the product and service better.

[2019-02-28 18:13] scanum commented on #606
@StacyRacks Thank you very much for your kind feedback. We recommend logging it in [Uservoice](https://sharepoint.uservoice.com/). The concerning team will evaluate and take the appropriate action, as per their schedule. We appreciate you taking out some time and sharing your feedback to make the product and service better.

[2019-02-28 18:15] scanum commented on #645
@rstilekar Thank you very much for your kind feedback. We recommend logging it in [Uservoice](https://sharepoint.uservoice.com/). The concerning team will evaluate and take the appropriate action, as per their schedule. We appreciate you taking out some time and sharing your feedback to make the product and service better.

[2019-02-28 18:52] Jameswmayberry opened #737 "Microsoft Support has a beta program for this"
So after much back and forth with Microsoft support, they sent me a pilot program they are offering. Has anyone here gone down that path yet? Wondering how the results were? Link to take part in SharePoint Tenant Rename Pilot Program:
https://aka.ms/spo-rename
Note from Microsoft "Please note that this is a pilot program and we can’t guarantee any specific features or timelines."

---
#### Documen

[2019-02-28 21:01] #346 closed

[2019-02-28 21:02] #606 closed

[2019-02-28 21:02] #351 closed

[2019-02-28 21:24] pjbarry21 opened #738 "wrong link to remove search result?"
Second to last bullet, starting with "If you temporarily remove..." links to: https://docs.microsoft.com/en-us/sharepoint/manage-result-sources

I think maybe it should link to: https://docs.microsoft.com/en-us/sharepoint/remove-search-results

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e29f89b7-afd4-1b65-f3ad-c802c

[2019-02-28 21:29] UmrG opened #739 "Install on non system drive ????"
As mentioned in the article "As a best practice, we recommend that you install SharePoint Server on a non-system drive." how Can you move the Hive folder for any SharePoint version to nonsystem drive. The only files you can move to nonsystem drive is "install directory", not more than 2GB in size. What will be the benefit of moving it to non C: Drive and why is it a good recommendation??
Please ad

[2019-02-28 21:43] Techwriter40 commented on #739
@UmrG thank you for your feedback. I am researching this question with the product team and get an answer back to you shortly. thank you.

[2019-02-28 21:57] tseward commented on #738
@AndreaBarr assign to me, please.

[2019-02-28 22:00] tseward commented on #739
@UmrG The only thing you can move off of C: (during install only) is the Office Server related components (think Search). You cannot move the hive or some other dependent folders.

The reason you would move this off of C: is that regardless of where your Search index is, items are processed within the Office Server directory. In other words, if I have my Search index on D:\Index and I leave the de

[2019-02-28 22:19] anyITsolution commented on #346
I did aready
Thanks!

https://sharepoint.uservoice.com/forums/329214-sites-and-collaboration/suggestions/36986683-sharepoint-migration-tool-pre-requisites-custom

I hope you can vote.

On Thu, Feb 28, 2019 at 1:11 PM scanum <notifications@github.com> wrote:

[2019-02-28 23:40] alwalters opened #740 "Clarification on note about using Hybrid Picker"
re: the note "We recommend using the SharePoint Hybrid Picker to establish the Server-to-Server authentication between SharePoint Server and SharePoint Online."  Is the idea that the ideal is to use the Picker, but if for some reason you can't/aren't, follow the rest of the steps in this document?  Or are you supposed to do the picker and then the rest of the steps?  I'm guessing the former, but i

[2019-02-28 23:57] tseward commented on #740
@AndreaBarr please assign to me.

[2019-03-01 04:00] schenardie commented on #323
Just to complement, the decoded URL can be used. Just tested and both work.

[2019-03-01 09:54] janis-veinbergs opened #742 "How to get Tenant ID for SharePoint 2019 On-Premises"
Now that OneDrive can be used with SharePoint 2019 On-Premises, it is not clear how to get Tenant ID for on-premises instance.

Multiple GPO items require TenantID. What to input for On-Prem installations?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 04ad2f16-c861-7a1b-5c1d-e4601e8f3855
* Version Independent ID: c47d

[2019-03-01 10:43] CoertK commented on #323
Thanks!

Which version of Windows 10 are you on? I have configured the policy manually in the registry as well through gpedit.msc, with both encoded and decoded URLs but it's not working yet. I am on OneDrive 19.022.0203.0005 and Windows 10 1809 17763.316.

Also can you show an example of OMA URI you used and the string?

[2019-03-01 13:48] dariomws306 commented on #623
Hi @OfficeGlobal , I have replaced "..." with "---" but the articles still have the same issue. PR was merged and I can see that it's applied in docs. But sill same issue.

Thanks for your help!

[2019-03-01 14:42] OfficeGlobal commented on #623
Hello @dariomws306 , there is one more condition. I can see updated files in master branch, but to be able process updates it needs to be in Live branch too (we're getting files via iCMS and it's syncing the live branch)

[2019-03-01 16:43] #296 closed

[2019-03-01 16:43] #337 closed

[2019-03-01 16:43] #424 closed

[2019-03-01 16:43] #431 closed

[2019-03-01 16:44] #623 closed

[2019-03-01 16:44] #645 closed

[2019-03-01 17:20] dariomws306 commented on #269
Hi @eschrader , thank you for your feedback.

I think there is a line in the article about this:

"The external sharing setting for SharePoint can be more permissive than what you allow in OneDrive, but not less permissive. If you turn off external sharing for SharePoint in your organization, you can't turn it on for OneDrive."

Are you agree?

[2019-03-01 23:50] dariomws306 commented on #268
Hi @ferrety2006 , @jmvelo , thank you for your feedback.

I don't know if this was updated or not but there were updates recently on these docs and SharePoint admin portal. You can see some information about this:
"If you disable external access, or limit external access to a more restrictive form, external users will typically lose access within one hour of the change. If you disable external acc

[2019-03-02 19:10] tseward commented on #742
There is no Tenant ID with on-prem. Those settings that make use of it should be considered non-applicable.

[2019-03-02 19:30] tseward commented on #342
@AndreaBarr please assign to me.

[2019-03-02 19:48] tseward commented on #701
Confirmed using the current version of Azure RM that -StorageAccountType expects Standard_LRS.

[code]

https://www.powershellgallery.com/packages/AzureRM/6.13.1

[2019-03-02 19:51] tseward commented on #454
@AndreaBarr this one should belong to the individual(s) within the PG who manages the release notes.

[2019-03-02 19:54] tseward commented on #571
@AndreaBarr this will need to go to the PG.

[2019-03-03 07:03] hyoshioka0128 commented on #667
@kaarins Thanks.
[https://docs.microsoft.com/ja-jp/onedrive/b2b-sync](https://docs.microsoft.com/ja-jp/onedrive/b2b-sync)

[2019-03-03 07:03] #667 closed

[2019-03-03 22:56] schenardie commented on #323
Its stated up there on the blue box

 Important
This feature is currently enabled in the Insiders ring only. To try it, join the Windows Insider program or the Office Insider program.

I turned on test device into insider preview (and it installed 18346.1 - 1903) not sure it does work only with the latest version of OneDrive.

for the URI after you imported the ADMX you should use ./User/Vendor/MS

[2019-03-04 06:18] martinlingstuyl commented on #701
In that case it probably commandlet version on my end

[2019-03-04 06:18] #701 closed

[2019-03-04 13:03] Naxxan60 opened #748 "Wrong typing"
it's wrote : "Recommendations Clicked. The number of times s single item", the 's' is not the wished character I think.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 849aee0b-2a53-7231-6106-e652c03bc378
* Version Independent ID: 9c0aebac-8e48-43a6-afb6-ef08e8f78715
* Content: [View usage reports in SharePoint Server](

[2019-03-04 13:11] CoertK commented on #323
It says Office Insider or Windows Insider. So I assume it works with any of the two, but it looks like it only works if you have both.

The string should look like this?
<Enabled/><Data id="AutoMountTeamSitesListBox" value="Test&#xF000;tenantId=00000111-1111-1111-2222-6cebfdc43aeb&siteId={xxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxx}&webId={xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx}&listId={xxxxxxxx-3xxx-4xxx-9x

[2019-03-04 14:01] schenardie commented on #323
On mine it was working with only windows insider but im doing some more testing now and it doest seem to work anymore. Weird. The string is almost right i used codebox.net to translate the ampersend and it ends up being like &amp instead of only &. The same way you need the decode #xf0000

[2019-03-04 17:30] tseward commented on #748
@AndreaBarr please assign to me.

[2019-03-04 17:42] #37 closed

[2019-03-04 17:43] #583 closed

[2019-03-04 17:44] #280 closed

[2019-03-04 17:44] #415 closed

[2019-03-04 17:45] #451 closed

[2019-03-04 17:45] #498 closed

[2019-03-04 17:45] #510 closed

[2019-03-04 17:45] #517 closed

[2019-03-04 17:46] #541 closed

[2019-03-04 17:46] #543 closed

[2019-03-04 17:46] #544 closed

[2019-03-04 17:47] #549 closed

[2019-03-04 17:47] #551 closed

[2019-03-04 17:49] #584 closed

[2019-03-04 17:49] #585 closed

[2019-03-04 19:30] Chatou7 commented on #585
@AndreaBarr : Sorry for this late response ... did not see the notification earlier ...
Yes, for sure. Thanks a lot :-)

[2019-03-04 21:04] pranatim commented on #415
I am trying to migrate from the file system. I have used the User Mapping file .csv. But Author data from file share not seems to be migrated. Am I missing anything?

[2019-03-04 21:58] #738 closed

[2019-03-05 00:27] tomresing commented on #549
Thanks @thshdw and @tseward. I've added [a note about XSL link in the types of customizations only available in classic ](https://support.office.com/article/differences-between-the-new-and-classic-experiences-for-lists-and-libraries-30e1aab0-a5cc-4363-b7f2-09e2ae07d4dc)linked to from that 2019 end support.office.com article.

[2019-03-05 08:26] stoff75 opened #749 "Change not saving"
I followed the above instructions and go to the "infopath" settings in the legacy SPO portal, when I enable I get a popup warning that it's being replaced along with a link (that goes to a "404" page) and clicking OK on that popup and then OK to save the change and I'm forwarded to the new SPO admin portal. I go back and the change wasn't saved, it's still not activated?

---
#### Document Details

[2019-03-05 13:56] larslynch opened #750 "Recommend disabling antivirus scanning including Windows Defender"
Most antivirus programs including Windows Defender will want to scan each and every file processed by the SharePoint Migration Tool in the scanning stage.  This increases network traffic immensely and slows down the whole process.

Windows Defender can be disabled via the Local Policy editor (run "gpedit.msc" and then find the Computer Configuration &gt; Administrative Templates &gt; Windows Compo

[2019-03-05 18:49] JJbansh opened #753 "SCCM OneDrive sample"
the Zip fails to import. Please advise.

"the specified file does not contain a configuration manager application"

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b65a307a-4572-7255-eaad-34a0884cb93d
* Version Independent ID: 976efb44-bf8a-ed55-c854-6c49ecdea722
* Content: [Deploy OneDrive apps us

[2019-03-05 19:38] #268 closed

[2019-03-05 19:38] #269 closed

[2019-03-05 23:58] scanum commented on #673
@gcrockenberg  Thank you very much for your kind feedback. Could you confirm that this is still an ongoing issue?  We recommend that you submit this feedback into Outlook [Support](https://support.office.com/home/contact). The team will evaluate and take the appropriate action, as per their schedule. We strongly appreciate you for taking time and sharing your feedback.

[2019-03-06 00:02] scanum commented on #676
@solinear  - thank you for submitting feedback.

I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.

Please follow this link to contact support for business products:  https://docs.microsoft.com/office365/admin/contact-support-for-business-products

Please

[2019-03-06 15:41] janis-veinbergs commented on #742
@tseward pity. *Allow syncing OneDrive accounts for only specific organizations* looks useful or *Silently move Windows known folders to OneDrive*.

Guess then docs should be updated to indicate what is applicable to on-prem and online.

[2019-03-06 16:01] b0bbyB commented on #404
19.012.0121.0011 and this feature still isn't implemented yet. Whats the status?

[2019-03-06 16:11] 2x4b523p opened #755 "Number of sites"
The article doesn't mention if there are limits on the number of sites associated with a hub site. I'd hate to assume something this important. Is that information available somewhere?
Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 99d8d3fd-3c87-c237-495d-01ac9bcd7944
* Version Independent ID: 2c621ca7-5395-f4b8

[2019-03-06 18:49] #547 closed

[2019-03-06 18:49] #673 closed

[2019-03-06 18:49] #676 closed

[2019-03-06 18:49] #691 closed

[2019-03-06 18:50] #704 closed

[2019-03-06 18:52] #739 closed

[2019-03-06 18:52] #690 closed

[2019-03-06 19:26] DeanGross opened #756 "Unable to change users who can associate site"
The note in step 6 states that we should be able to use the Hub Site Settings to change the list of people who can associate sites with the hub site, when I go to a hub site, i do not see this option. Has it been deployed?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc4df1d8-955c-63d2-628e-8359391b8710
* Version Ind

[2019-03-06 20:05] SjoerdV commented on #704
https://sharepoint.uservoice.com/forums/282887-sharepoint-hybrid-or-migration-to-office365/suggestions/37036207-easier-csv-input-for-sharepoint-migration-tool

[2019-03-07 11:29] cblomart commented on #164
The update still isn't publihed.
I still think that things are not clear between the different products.
On Azure AD they speak of a ratio of 1 member to 5 guest but we don't see it here.

What we wan't is to be sure that we can invite how many users we want to SPO (with limited functionalities linked to the guest status).

We would like also to be clear on the invitation workflow: can we use Azur

[2019-03-07 16:45] kaarins commented on #755
Hi @2x4b523p , thanks for asking. There is no limit on the number of sites that can be associated with a hub site. We note this in the article about creating hub sites, but not in this article. That would be a good addition. Thanks again!

[2019-03-07 16:45] #755 closed

[2019-03-07 17:02] kaarins commented on #742
@janis-veinbergs , thank you for your feedback - we are working on this!

[2019-03-07 18:14] kaarins commented on #749
@stoff75 , thanks for reporting this issue. We looked into it and found that it can take a while for the change to be saved. You should be able to see the change if you wait about 15 minutes. If you still don't, please use the Feedback button or open a support ticket to send the issue to the team to investigate. Thank you!

[2019-03-07 18:14] #749 closed

[2019-03-07 23:13] gcrockenberg commented on #673
The Hub Site navigation now moves into the hamburger menu on resize.  Thanks

[2019-03-07 23:58] kaarins commented on #753
@JJbansh , thanks for reporting this. The team is investigating. We recently fixed a different issue, and may have introduced a new problem. I'm sorry I can't help yet, but I'll comment here when I hear more.

[2019-03-08 08:56] pmaeschli opened #768 "Mobile App & Azure AD Application Proxy"
Hi, can you please confirm, if the scenario using the mobile app via an azure ad application proxy is supported?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b42bcdeb-a2a5-e6f1-4779-d7d5b837db1e
* Version Independent ID: 2d2bc902-f138-621f-3fc2-1de76bbe3f22
* Content: [Supporting the SharePoint mobile apps online and

[2019-03-08 14:46] bjdyke commented on #392
@TeamTerry I can also add that for those of us not working in English, you need to specify the local language equivalent in Column E, so in my case in Sweden/Swedish, Dokument. Strangely enough General is to be retained in the English in Column F. Does anyone know if you can specify a 3rd subfolder?

[2019-03-08 16:30] tseward commented on #768
It is not supported. Only NTLM at this time.

[2019-03-08 18:35] #768 closed

[2019-03-08 21:30] vishwalshah opened #770 "Block syncing of specific file types on onedrive"
The page does not load properly. There is a processing/ waiting sign and inaccessible components

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a3a0cebd-7e82-6631-bdee-031b3b84f74d
* Version Independent ID: ee04db29-a6db-2874-2573-d80f0b415308
* Content: [Block syncing of specific file types](https://docs.microsoft.com

[2019-03-09 19:20] LuigiBruno opened #771 "Visual C++ redistributable version"
There are several versions of the Visual C++ Redistributable Package for Visual Studio 2012: which is the right one for SharePoint 2016? Does the redistributable version matter according to the Windows Server version used?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a397fdd2-9945-dd56-2a66-61c6c478f1bb
* Version Ind

[2019-03-09 20:33] tseward commented on #771
The correct links are listed here: https://docs.microsoft.com/en-us/sharepoint/install/hardware-and-software-requirements#links-to-applicable-software

[2019-03-10 03:57] andrewc513 opened #772 "No Way To Block by IP Range?"
In the OneDrive admin center, you can use these docs to only allow access by specific IP ranges, but not block specific IP ranges.  If you use Conditional Access to block by IP ranges, you have to scope the policy to SharePoint Online, which will also blocks access to SharePoint sites, Teams, Planner, Delve, etc.. which is undesirable.

Is there no other way to accomplish merely blocking OneDrive

[2019-03-11 04:22] kaarins commented on #753
@JJbansh , I think we identified and fixed the issue. Please let me know if the sample package still fails to import. Thanks again!

[2019-03-11 04:22] #753 closed

[2019-03-11 04:56] PeteHaigh-MSFT opened #773 "External user definitions"
Howdy - this is not consistent with the licensing definition of an External User. This is likely to cause confusion. Other organisations with the same ownership ('affiliates') cannot be treated as External Users as the licensing treatment is different.

What is an external user?
An external user is someone from outside your Office 365 subscription to whom you have given access to one or more sites

[2019-03-11 07:22] schenardie opened #774 "Configure Team site libraries to sync automatically"
Can you please add support to deploy this setting via Intune CSP utilising the Admx backend policy?? All the other policies can be easily deployed using the admx but this one because the way the url needs to be input and the way the url is parsed by the windows 10 device once received in xml there is apparently no way to use the coded string for - “dash” which is (%2D) without breaking the xml par

[2019-03-11 09:44] ScHwAnG86 opened #775 "ADAL doesn't seem to be disabled on some clients"
I'm getting a "Sorry, OneDrive can't add your folder right now" for some users in my tenant. I've confirmed they have access to the Sharepoint site in the other organisation, and it works on several other PCs in the same domain. I've checked that the EnableADAL registry key is set to 0 and rerun the command a number of times - is it possible that this EnableADAL key is being ignored by a new build

[2019-03-11 13:51] MikePlumleyMSFT commented on #773
@PeteHaigh-MSFT, there is some terminology coherence work going on in this area. Ping me on email if you would like to chat about it.

[2019-03-11 16:43] Techwriter40 commented on #771
@LuigiBruno It appears Trevor has answered your question.  I am closing the comment for now, but feel free to reopen at anytime.  thanks for your feedback.

[2019-03-11 16:43] #771 closed

[2019-03-12 02:28] richlow opened #776 "Love the layout"
Hey, I am a big fan of the three column layout that you guys are running here...

I am keen to use something similar on my companies Sharepoint instance... is there an open template or something else that I could use?

Keep up the nice clean design

Rich

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3c744272-76d3-f60a

[2019-03-12 02:42] kaarins commented on #407
@JormaLinikko , this is great feedback. The SharePoint admin center team is actually working to make it possible to change site URLs, and when the feature comes out, I will link to a new article about it! Thanks again!

[2019-03-12 02:42] #407 closed

[2019-03-12 10:06] robidog commented on #542
Agree with @Eillirand. Need to be able to specify target folder.

[2019-03-12 13:36] LouFarho opened #777 "Sample commands do not work"
I have copied the commands and tried to execute it. I am a global admin for my DEV Tenant. I also downloaded the latest release of SPO Management Shell and installed it.

Get-SPOSite is failing. I am able to successfully connect to the admin tenant using connect-sposervice
C:\WINDOWS\system32&gt;  Get-SPOSite -Identity https://7slots.sharepoint.com
Get-SPOSite : The type of data at position 1629 i

[2019-03-13 11:45] scanum commented on #633
@hyoshioka0128  Thank you for submitting this feedback.

From our understanding the issue has been resolved. If you feel it hasn't been resolved please re-open this issue.

[2019-03-13 11:45] scanum commented on #633
@officedocsbot Close

[2019-03-13 11:52] #633 closed

[2019-03-13 12:41] scanum commented on #662
@officedocsbot assign @scanum

[2019-03-13 12:42] scanum commented on #663
@officedocsbot assign @scanum

[2019-03-13 12:42] scanum commented on #664
@officedocsbot assign @scanum

[2019-03-13 12:43] scanum commented on #668
@officedocsbot assign @scanum

[2019-03-13 12:43] scanum commented on #677
@officedocsbot assign @scanum

[2019-03-13 12:44] scanum commented on #686
@officedocsbot assign @scanum

[2019-03-13 12:46] scanum commented on #698
https://github.com/MicrosoftDocs/OfficeDocs-SharePoint/issues/698

[2019-03-13 12:47] scanum commented on #703
@officedocsbot assign @scanum

[2019-03-13 12:47] scanum commented on #714
@officedocsbot assign @scanum

[2019-03-13 12:50] scanum commented on #717
@libove  - thank you for submitting feedback.

I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.

Please follow this link to contact support for business products:  https://docs.microsoft.com/office365/admin/contact-support-for-business-products

Please k

[2019-03-13 12:50] scanum commented on #717
@officedocsbot close

[2019-03-13 12:50] #717 closed

[2019-03-13 12:51] scanum commented on #720
@officedocsbot assign @scanum

[2019-03-13 12:52] scanum commented on #728
@laurence73  - thank you for engaging with the community here for the docs.

I know the product teams are always looking for user feedback and how to make SharePoint better . They keep a close tab on user feedback and it would be awesome if you could add your voice in User Voice https://sharepoint.uservoice.com/.

You might find others have made a similar request that you can add to, or you can op

[2019-03-13 12:52] scanum commented on #728
@officedocsbot close

[2019-03-13 12:52] #728 closed

[2019-03-13 12:53] scanum commented on #733
@sharmajnu  - thank you for submitting feedback.

I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.

Please follow this link to contact support for business products:  https://docs.microsoft.com/office365/admin/contact-support-for-business-products

Pleas

[2019-03-13 12:53] scanum commented on #733
@officedocsbot close

[2019-03-13 12:53] #733 closed

[2019-03-13 12:54] scanum commented on #737
@Jameswmayberry  - thank you for engaging with the community here for the docs.

I know the product teams are always looking for user feedback and how to make SharePoint* better . They keep a close tab on user feedback and it would be awesome if you could add your voice in User Voice https://sharepoint.uservoice.com/.

You might find others have made a similar request that you can add to, or you c

[2019-03-13 12:54] scanum commented on #737
@officedocsbot close

[2019-03-13 12:54] #737 closed

[2019-03-13 12:55] scanum commented on #750
@officedocsbot assign @scanum

[2019-03-13 12:57] scanum commented on #770
@officedocsbot assign @scanum

[2019-03-13 12:57] scanum commented on #772
@officedocsbot assign @scanum

[2019-03-13 12:58] scanum commented on #773
@officedocsbot assign @scanum

[2019-03-13 12:58] scanum commented on #774
@officedocsbot assign @scanum

[2019-03-13 12:59] scanum commented on #775
@ScHwAnG86  - thank you for submitting feedback.

I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.

Please follow this link to contact support for business products:  https://docs.microsoft.com/office365/admin/contact-support-for-business-products

Pleas

[2019-03-13 12:59] scanum commented on #775
@officedocsbot close

[2019-03-13 12:59] #775 closed

[2019-03-13 13:00] scanum commented on #776
@richlow  - thank you for engaging with the community here for the docs.

I know the product teams are always looking for user feedback and how to make SharePoint better. They keep a close tab on user feedback and it would be awesome if you could add your voice in User Voice https://sharepoint.uservoice.com/.

You might find others have made a similar request that you can add to, or you can open a

[2019-03-13 13:00] scanum commented on #776
@officedocsbot close

[2019-03-13 13:00] #776 closed

[2019-03-13 13:01] scanum commented on #777
@LouFarho  - thank you for submitting feedback.

I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.

Please follow this link to contact support for business products:  https://docs.microsoft.com/office365/admin/contact-support-for-business-products

Please

[2019-03-13 13:01] scanum commented on #777
@officedocsbot close

[2019-03-13 13:01] #777 closed

[2019-03-13 13:01] scanum commented on #661
@officedocsbot assign @scanum

[2019-03-13 13:02] scanum commented on #660
@SheTriedIt  - thank you for engaging with the community here for the docs.

I know the product teams are always looking for user feedback and how to make SharePoint better and they might also be able to answer your question. They keep a close tab on user feedback and it would be awesome if you could add your voice in User Voice https://sharepoint.uservoice.com/.

You might find others have made a

[2019-03-13 13:02] scanum commented on #660
@officedocsbot close

[2019-03-13 13:02] #660 closed

[2019-03-13 14:31] Jcoetsee commented on #668
@kaarins Can you please review the question here. Would making the change on the linked document reflect on the translated document or the documentation that's in a different language?

[2019-03-13 15:03] libove commented on #717
This shouldn't be closed. It's pretty clear that the current product design doesn't support the suggested feature, so I don't know what a support ticket would achieve, other than to be told to make a UserVoice or other suggestion (such as I just did here).
What do you suggest that I ask support? "How do I do this thing that the documentation says that the product doesn't do"?
Or, do I misunderstan

[2019-03-13 20:39] sharvancik opened #781 "Missing nbr of variables for SPD 2013"
So reviewing these limits, I see no mention of the number of variables that SharePoint Designer 2013 on premise has.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 81e0e611-8cbd-1b44-6e09-487b15307c6a
* Version Independent ID: b00c5b8b-c735-6473-a492-b82ae4e8a02f
* Content: [Software boundaries and limits for SharePoin

[2019-03-14 00:08] ScHwAnG86 commented on #775
Note I have now resolved the issue - it looks like disabling ADAL via the registry key listed above doesn't always take effect immediately, on some clients I had to wait a few hours before it took effect. Even rebooting, restarting the OneDrive client etc. did not make it take effect. Hopefully will help someone suffering the same issue!

[2019-03-14 09:38] ajhstn opened #782 "Docs don’t line up to my experience"
When sharing to a work account from another Office365 subscription the user was unable to signin with its work account, instead it was treated as a user requiring a email code each time.

When sharing with a Microsoft Account, the same as above.

When sharing to a gmail account, the same as above.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2019-03-15 12:50] AltCoyne commented on #542
This is a huge requirement.

[2019-03-15 14:43] GraterSolutions opened #785 "SharePoint Migration Tool - Blob exists however the encryption IV does not match file"
Seeing the following two messages in the logs when trying to migrate data to SharePoint Online.  Any assistance would be much appreciated as only three files have uploaded after running for over 24 hours.

Blob exists however the encryption IV does not match file GUID.dat

Upload is timed out for GUID.dat after 208440 ms, will retry

[2019-03-15 15:21] AltCoyne commented on #677
Thanks for posting, I was shocked by the lack of info around OneDrive in this doc.

[2019-03-15 15:25] GraterSolutions opened #786 "Blob exists however the encryption IV does not match file"
Seeing the following two messages in the logs when trying to migrate data to SharePoint Online. Any assistance would be much appreciated as only three files have uploaded after running for over 24 hours.

Blob exists however the encryption IV does not match file GUID.dat

Upload is timed out for GUID.dat after 208440 ms, will retry

---
#### Document Details

⚠ *Do not edit this section. It is req

[2019-03-15 15:26] #785 closed

[2019-03-15 18:49] nickisashkir opened #787 "Metadata Upload"
Hello,

I have over 40,000 files I need to upload into about 500 individual folders. Problem is I'm uploading them in chunks. I can create CSVs easily. But, can I also have it "fill out" the metadata via the CSV? This is the only thing holding me back from using sharepoint instead of springcm

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2019-03-15 18:51] jlriesco commented on #87
@tseward @AndreaBarr Any progress with this? It's been several months now.
Thank you,
Jose

[2019-03-15 19:01] JoanneHendrickson commented on #787
Hi:  Researching this for you now.

[2019-03-15 22:40] scanum commented on #87
@officedocsbot assign @scanum

[2019-03-16 00:43] solinear opened #788 "Download tool... doesn't work"
I was crazy happy when I saw "Download the tool".  Then I ran it... so excited.... then I see in the "From:" field "spmtreleasesus.blob.core.windows.net" and my heart sank.  You provided all the files in the download, then made the build.application go and redownload it all and I am still getting the same error (not surprised).

Thoughts?

---
#### Document Details

⚠ *Do not edit this section. It

[2019-03-16 23:49] uakkab opened #789 "Mount-SPContentDatabase is linked to wrong URL"
Mount-SPContentDatabase is going to the wrong url https://docs.microsoft.com/en-us/powershell/module/sharepoint-server/Get-SPAlternateURL?view=sharepoint-ps

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 752b9f67-0df0-861b-e83b-80c4801162c1
* Version Independent ID: f58c9647-7042-4f12-9986-79f1f025e6bf
* Content: [Copy

[2019-03-17 06:09] boomalator opened #790 "Totally Wrong. Just Wrong"
First, there is no such option under Policies. The only option under policies in Access Control.

There is something under Sites &gt; Active Sites &gt; &lt;Select Site&gt; &gt; Sharing

Not only is the UI incredibly stupid (Do we really, really, need five separate places to enable this?) but the docs are just plain wrong.

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2019-03-18 13:32] JoanneHendrickson commented on #788
Hi Solinear:
Did you remember to  “unblock” the zip file first? Without unblocking, it will behave as you experienced; you being sent to the remote installation site.  Sorry you are having this problem -- can you try this again and let me know.

1.Download SPMT.zip package.
2.Right-click the zip file, and then click properties.
3.On the General tab, select Unblock. Click OK.
4.Open the zip file an

[2019-03-18 13:48] nils-a opened #791 "Clarify the setting of `enable auto-create statistics`"
In the section "Configure specific SQL Server settings before you deploy SharePoint Server" the bulletpoints say (in order):

I'm guessing the first point is outdated and the second and third are correct. Can someone please clarify?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 31588cac-efbb-da8f-8b1f-8f4a21298116
* V

[2019-03-18 15:37] JoanneHendrickson commented on #787
Hi:

Unfortunately, we don't support this.  However, can you suggest this idea on Uservoice? The product team is actively looking at it and looking for the community to vote on what they want to see next.

https://Aka.ms/migrationuservoice

Joanne

[2019-03-18 16:14] pkotov87 opened #792 "info about Analytics Reporting DB is missing"
Here is still missing info how to restore the Analytics Reporting DB.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6d0c1428-d756-3353-887a-3e0b33319c68
* Version Independent ID: 64436001-711f-a29f-15ff-02fcff2dae89
* Content: [Move or rename service application databases in SharePoint Server](https://docs.microsoft.c

[2019-03-18 16:52] chrisweis opened #794 ""Create a permission level" section is inaccurate"
Step #2 is incorrect ("On the Site Settings page, in the Users and Permissions section, choose Site permissions.").  The new navigation path in SharePoint Online seems to be: Gear icon &gt; Site Permissions &gt; Advanced Site Permissions. Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: db58d185-0ee0-84a4-1569-3ff

[2019-03-18 21:16] tseward commented on #794
@chrisweis It will depend on if you're using Classic or Modern sites. Yes, the steps you describe is correct for Modern. We'll have to create a split in content, here.

@AndreaBarr can you assign to me, please?

[2019-03-18 21:16] tseward commented on #792
@AndreaBarr assign to me, please.

[2019-03-18 21:17] tseward commented on #791
@AndreaBarr can you assign to me, please?

@nils-a auto update is supported for 2016/2019.

[2019-03-18 21:17] tseward commented on #789
@AndreaBarr assign to me, please.

[2019-03-18 23:23] SteveMinar opened #796 "Help Content does not match the current new SharePoint admin in our tenant"
From the text above: In the left pane of the new SharePoint admin center, under Policies, select Sharing.

There is no Sharing link/section under Policies in our current version of the new SharePoint admin.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6ed46514-8036-a543-d690-73d48acef690
* Version Independent ID: 854

[2019-03-19 09:45] tristanpen opened #797 "OneDrive Settings"
Just going through this help page and following the instructions to change External sharing for a user's OneDrive.  However, under Users &gt; Active users there is no OneDrive Settings under the new Admin experience.  I have tried clicking on Manage Product Licences to see if I can change the OneDrive settings there but nothing happens when I click on it!

---
#### Document Details

⚠ *Do not edit

[2019-03-19 15:38] Jcoetsee commented on #668
@kaarins Just another follow up on this. As stated I don't see grammatical issues with the document so wanted some insight from you.

[2019-03-19 16:24] solinear commented on #788
I did unblock it and that didn't help and it seemed to keep going out to the internet to pull down the files.  Today I went and tried again (just in case something was updated) and when I ran the build.application, it 'downloaded' in about 1 second (versus the 1-2 minutes when it pulls it from the internet) and *bam!* it installed and is now working.

I had tried the normal installer on the intern

[2019-03-20 00:04] PeteHaigh-MSFT commented on #773
@MikePlumleyMSFT I'll give you a shout ...

[2019-03-20 15:40] tseward commented on #796
@AndreaBarr assign to me, please.

[2019-03-20 15:50] tseward commented on #789
@AndreaBarr this can be closed.

[2019-03-20 17:09] #789 closed

[2019-03-20 18:15] jkoenig-mgm opened #799 "IRM Enabled Document Libraries break Sharing and Collaboration abilities"
when IRM is enabled on a SharePoint Online Group's Document library, Documents that are opened from a Synced library, will not open from windows explorer (a message is received, that states the user does not have rights to view document)... If the same document is opened by using the File Open menu from word (365), the file becomes locked to that user (checked out), even if open as read-only. this

[2019-03-20 18:23] willcodepro opened #800 "Does not handle file and folder moves with incremental runs"
The tool doesn't remove 'deleted' content from SharePoint during incremental runs. If user's 'move' files or folders within the source directory after the initial run and then an incremental run occurs, the moved files or folders will be copied up as new items to SharePoint, but the files and folders will also be retained in their original location within SharePoint creating duplicate data.

---
#

[2019-03-20 19:52] EliWallic commented on #323
Is there now any date when it might be GA? would be really nice to have it via GPO...currently i wrote my own script to automatically start or stop a sync for an SPO document library for the endusers.

[2019-03-20 20:15] njmathews8 opened #802 "Use-CacheCluster is not a valid command"
Use-CacheCluster is not a valid command

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aff8221d-8995-2bd1-9ab4-e0043afe1c5f
* Version Independent ID: 2b157758-daa4-dad2-5edb-891e421d921f
* Content: [Manage the Distributed Cache service in SharePoint Server](https://docs.microsoft.com/en-us/sharepoint/administration/man

[2019-03-20 20:53] tseward commented on #802
It is a valid cmdlet but will only be available on SharePoint servers which have Distributed Cache provisioned.

[2019-03-20 23:03] CraigWalls opened #803 "ADAL Requirement"
Hi there,

Really pleased to see this feature getting rolled out as my clients have been waiting a long time for it. One question - any ideas when we might see the ADAL restriction removed?

Generally we're dealing with non-technical users on the guest side so getting them to work through these requirements is problematic to say the least.

---
#### Document Details

⚠ *Do not edit this section. I

[2019-03-20 23:29] LisaJo48 opened #804 "Creating subsites in modern site [collections]"
Any curious site owner will find that with all the hidden links and pages related to site creation via the Admin Portal leaves a sneaky gap. Go to Site Settings and click on "Sites and workspaces" and voila: there's a lovely 'Create' link that takes you straight to the classic site creation page and includes both classic and modern templates to choose from.

If you're going to hide stuff, Microsof

[2019-03-21 05:25] Prakash-Ramasamy opened #806 "Create a site in SharePoint Online is loading with empty panel"
Select + Create site on the SharePoint homepage.

Instead of showing the Team and Communication site templates, we are getting an empty panel.

![image](https://user-images.githubusercontent.com/18693389/54734653-feaeff00-4bc6-11e9-8185-c5a6983baafe.png)

In the console we are getting the following error message.

![image](https://user-images.githubusercontent.com/18693389/54734682-4897e500-4bc7-1

[2019-03-21 11:08] andyturn31 commented on #323
Still not working on latest Windows (version 1809 Build 17763.379).  As previous comment, when will this feature be GA?

[2019-03-21 15:23] Abenold commented on #663
any updates, still having that issue.

[2019-03-21 16:18] fz2019 opened #809 "No "site migration" in SPMT V3(latest public preview)"
Can't find "site migration" option in SPMT V3(latest public preview), also "Pages" library isn't showing.

[2019-03-21 17:14] andikrueger opened #810 "Article does not align with "Account permissions and security settings in SP Servers""
This article does not align with the naming conventions used in https://docs.microsoft.com/en-us/sharepoint/install/account-permissions-and-security-settings-in-sharepoint-server-2016. For more information about naming conventions for accounts see #319

I will provide a PR for this issue.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2019-03-21 17:25] tseward commented on #791
@nils-a Did this answer your question? Do you believe the doc could be clarified in any way?

[2019-03-21 17:27] tseward commented on #810
@AndreaBarr I'll grab this one.

[2019-03-21 17:28] andikrueger opened #811 "Article does not align with "Account permissions and security settings in SP Servers""
This article does not align with the naming conventions used in https://docs.microsoft.com/en-us/sharepoint/install/account-permissions-and-security-settings-in-sharepoint-server-2016. For more information about naming conventions for accounts see #319

I will provide a PR for this issue.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2019-03-21 17:40] andikrueger commented on #810
@tseward Somehow I feel like we should have a discussion about this article and the one mentioned in #811:

Right now we do have at least three guidance for how account are used and what kind of account you should provide. I feel the most complete article is this one: https://docs.microsoft.com/en-us/sharepoint/install/account-permissions-and-security-settings-in-sharepoint-server-2016

How can we

[2019-03-21 17:44] andikrueger commented on #811
@tseward What do you think about replacing the contents of this article by those two sections:

https://docs.microsoft.com/en-us/sharepoint/install/account-permissions-and-security-settings-in-sharepoint-server-2016#service-account-recommendations

and

https://docs.microsoft.com/en-us/sharepoint/install/account-permissions-and-security-settings-in-sharepoint-server-2016#service-accounts-recommend

[2019-03-21 17:45] andikrueger opened #812 "Article does not align with "Account permissions and security settings in SP Servers""
This article does not align with the naming conventions used in https://docs.microsoft.com/en-us/sharepoint/install/account-permissions-and-security-settings-in-sharepoint-server-2016. For more information about naming conventions for accounts see #319

Also see #810 and #811 for more details on this issue

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.c

[2019-03-21 18:21] tseward commented on #810
@andikrueger can you close 811/812 and just add the links here so we have one common issue to work from since these are interconnected asks?

[2019-03-21 18:23] andikrueger commented on #811
Closed as this is related to #810.

[2019-03-21 18:23] #811 closed

[2019-03-21 18:23] andikrueger commented on #812
Closed as this is related to #810.

[2019-03-21 18:23] #812 closed

[2019-03-21 18:32] tseward commented on #806
@Prakash-Ramasamy as this is a product issue, can you please raise a support case? You can open it in any one of the impacted tenants via admin.microsoft.com.

[2019-03-21 18:44] andikrueger commented on #810
Following an overview on several articles holding recommendations on accounts and permissions in SharePoint Server:

Article | SharePoint Version | modified| Proposed change
--- | --- | --- | ---
|[Account permissions and security settings in SharePoint Servers 2016 and 2019](https://docs.microsoft.com/en-us/sharepoint/install/account-permissions-and-security-settings-in-sharepoint-server-2016) |

[2019-03-21 20:37] killerewok2000 commented on #809
if you try this build https://spmtreleasescus.blob.core.windows.net/betainstall/default.htm
and you create a task for a site and keep the setting as default the full pages, navigation, webpart and structure.
If this doesnt work please reach out to migrationuservoice@microsoft.com
Thanks

[2019-03-21 20:59] kcswe opened #813 "Spelling error"
In the following sentence: "For the Enterprise ring, until recently, the group policy set a reistry key under HKCU." the word "registry" is misspelled.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 087b8ed9-0b08-88a2-825f-727915801554
* Version Independent ID: afd3bb47-f8a7-d1eb-a790-ff49c0794d2f
* Content: [Install t

[2019-03-22 00:06] bovie2k opened #815 "B2B Sync Mac"
This works great for me on Windows but on either of my Mac's defaults write com.microsoft.OneDrive Tier "Insiders" doesn't seem to allow it to work. I keep getting the same error as before. Any ideas?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 69433cdb-79fb-e59d-e208-0c1201b74bfa
* Version Independent ID: e69001d7-

[2019-03-22 00:31] gacarini commented on #404
Public preview is live! You can find the documentation here: https://docs.microsoft.com/en-us/onedrive/per-machine-installation

[2019-03-22 07:13] b0bbyB commented on #404
Awesome! Testing it out ASAP

[2019-03-22 13:19] NeighborGeek opened #816 "More info on updating the per-machine installed client"
Can we get a bit of detail on how the client updates itself when installed at the machine level?
- Does it require admin rights to install the updates?
- If not, how does it handle updating itself in the program files directory without admin rights?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 087b8ed9-0b08-88a2-825f

[2019-03-22 16:09] tseward commented on #646
@MarkvanGurchom Did you have a chance to test this? If so, may we close the issue?

[2019-03-22 16:31] Jcoetsee commented on #664
@tklarsen Can you review the question above and possibly provide insight of possible? Should this be considered as an item to add to the article based on what is requested?

[2019-03-22 17:30] scanum commented on #668
@officedocsbot assign @Officeglobal

[2019-03-22 17:31] scanum commented on #668
@officeglobal Could you please take a look at this issue? Thanks.

[2019-03-22 17:34] scanum commented on #633
@officedocsbot Could you please look at this? Thanks.

[2019-03-22 18:30] MarkvanGurchom commented on #646
Hi Trevor, not yet, but in the next 2-weeks we are going to testdrive with aprox 350GB. I’ll you know how it was

________________________________

Met vriendelijke groet,
Mark van Gurchom
e: mark@cubics.nl
Ringbaan Oost 148a | 5013 CE | Tilburg
t: +31 (0)13 5321486
www.cubics.nl
Onze helpdesk is te bereiken via: +31 (0)13 7507600 of helpdesk@cubics.nl
Denk aan het milieu voordat u deze e-mail pri

[2019-03-22 18:38] vo5tr0 opened #819 "Server OS"
Is Windows Server 2016 or 2019 especially in an RDS environment supported?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 087b8ed9-0b08-88a2-825f-727915801554
* Version Independent ID: afd3bb47-f8a7-d1eb-a790-ff49c0794d2f
* Content: [Install the sync client per machine](https://docs.microsoft.com/en-us/onedrive/per-mac

[2019-03-22 19:20] pyoungberg commented on #819
Would like to know as well. This seems like a direct fix for the "OneDrive not supported in RDS environments" issue - hoping that's the case!

[2019-03-24 22:26] nils-a commented on #791
After reading the Text a couple of times more. I came to the conclusion I got confused by "auto create" and "auto update".

So... The text is fine and the error is mine. :-)
Sorry for the confusion.

[2019-03-24 22:26] #791 closed

[2019-03-24 23:46] CraigHumphrey opened #822 "Display template reference in SharePoint 2013 specifically excludes SharePoint Online"
The reference:
For a full list of available display templates, see Display templates for the Search Results Web Part in Display template reference in SharePoint Server 2013.

The page linked: https://docs.microsoft.com/en-us/SharePoint/technical-reference/display-template-reference-in-sharepoint-server
specifically excludes SharePoint Online.

Is there a separate list for SPOnline?

---
#### Docum

[2019-03-25 07:54] knutale opened #823 "What about the OneDrive client that comes with Windows 10?"
... will it change to per-machine ODFB client as well? If so, when (which Feature Upgrade) will it happen?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 087b8ed9-0b08-88a2-825f-727915801554
* Version Independent ID: afd3bb47-f8a7-d1eb-a790-ff49c0794d2f
* Content: [Install the sync client per machine](https://docs.micr

[2019-03-25 09:03] OfficeGlobal commented on #668
@MollyMalone

Hello @hyoshioka0128 ,

The "guest アカウント" is approved MS term therefore we will not change the translation.

[2019-03-25 09:25] hyoshioka0128 commented on #668
@OfficeGlobal Thanks.
Close #668

[2019-03-25 09:25] #668 closed

[2019-03-25 13:51] nivaldotwtinfo opened #824 "OneDrive Per-Machine - WIndows Server"
Hi guys, does Per-Machine version, will work as a service, meaning that i´ll not need to keep an open session on the machine so the files are synced?

Regards,
Nivaldo Soraggi Fernandes

[2019-03-25 14:42] NeighborGeek commented on #823
OneDrive client per-machine install is an option, the default is still Per-User.  The OneDrive client that ships with Windows 10 will still use the default, installing once for each user.

The OneDrive client is included in Windows 10, but not in the sense that it's pre-installed or integrated into the OS.
 The way that the OneDrive client is included is that OneDriveSetup.exe is included in %wind

[2019-03-25 14:49] smith-ll commented on #819
Keen to know this aswell. Seems like it should have been an obvious thing to support what with roaming profiles etc

[2019-03-25 15:59] jusmig opened #825 "Missing comma"
Visual issue: a comma "," is missing between 'item(s) with scan issues' and 'item(s) filtered out.'

![Screen Shot 2019-03-25 at 11 57 32 AM](https://user-images.githubusercontent.com/8533701/54934662-47cbbf80-4ef5-11e9-94a8-dbee36520429.png)

[2019-03-25 16:30] ogghi opened #826 "Invite to external domains not always sent"
Hi,

we are trying to invite external users by email to some files.
Some are getting the mail, some are not.

Is there any debug info / log we can see when using the online version?

Best regards
David

[2019-03-25 16:52] MarkvanGurchom commented on #646
Hi Trevor,

Thanks for your assistance. This did the trick.

But it is an option from the GUI-tool to (maybe its a new feature). This also works.

Best regards,

Mark

________________________________

Met vriendelijke groet,
Mark van Gurchom
e: mark@cubics.nl
Ringbaan Oost 148a | 5013 CE | Tilburg
t: +31 (0)13 5321486
www.cubics.nl
Onze helpdesk is te bereiken via: +31 (0)13 7507600 of helpdesk@c

[2019-03-25 19:03] scanum commented on #774
@schenardie  - thank you for engaging with the community here for the docs.

I know the product teams are always looking for user feedback and how to make SharePoint* better . They keep a close tab on user feedback and it would be awesome if you could add your voice in User Voice https://sharepoint.uservoice.com/.

You might find others have made a similar request that you can add to, or you can o

[2019-03-25 19:03] scanum commented on #774
@officedocsbot close

[2019-03-25 19:03] #774 closed

[2019-03-25 19:04] scanum commented on #750
@larslynch  - thank you for engaging with the community here for the docs.

I know the product teams are always looking for user feedback and how to make SharePoint better. They keep a close tab on user feedback and it would be awesome if you could add your voice in User Voice https://sharepoint.uservoice.com/.

You might find others have made a similar request that you can add to, or you can open

[2019-03-25 19:04] scanum commented on #750
@officedocsbot close

[2019-03-25 19:04] #750 closed

[2019-03-25 19:32] scanum commented on #826
@ogghi  - thank you for submitting feedback.

I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.

Please follow this link to contact support for business products:  https://docs.microsoft.com/office365/admin/contact-support-for-business-products

Please ke

[2019-03-25 19:32] scanum commented on #826
@officedocsbot close

[2019-03-25 19:32] #826 closed

[2019-03-25 19:51] scanum commented on #825
@offiedocsbot assign @scanum

[2019-03-25 19:54] scanum commented on #823
@knutale  Thank you for submitting this feedback.

From our understanding the issue has been resolved. If you feel it hasn't been resolved please re-open this issue.

[2019-03-25 19:56] scanum commented on #823
@officedocsbot close

[2019-03-25 19:56] #823 closed

[2019-03-25 19:57] scanum commented on #815
@bovie2k  - thank you for submitting feedback.

I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.

Please follow this link to contact support for business products:  https://docs.microsoft.com/office365/admin/contact-support-for-business-products

Please

[2019-03-25 19:58] scanum commented on #815
@officedocsbot close

[2019-03-25 19:58] #815 closed

[2019-03-25 19:59] scanum commented on #813
@officedocsbot assign @scanum

[2019-03-25 20:00] scanum commented on #809
@fz2019  - thank you for submitting feedback.

I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.

Please follow this link to contact support for business products:  https://docs.microsoft.com/office365/admin/contact-support-for-business-products

Please k

[2019-03-25 20:00] scanum commented on #809
@officedocsbot close

[2019-03-25 20:00] #809 closed

[2019-03-25 20:01] scanum commented on #806
@Prakash-Ramasamy - thank you for submitting feedback.

As @tseward said, I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.

Please follow this link to contact support for business products:  https://docs.microsoft.com/office365/admin/contact-support-for-

[2019-03-25 20:01] scanum commented on #806
@officedocsbot close

[2019-03-25 20:01] #806 closed

[2019-03-25 20:02] scanum commented on #804
@LisaJo48  - thank you for engaging with the community here for the docs.

I know the product teams are always looking for user feedback and how to make SharePoint better. They keep a close tab on user feedback and it would be awesome if you could add your voice in User Voice https://sharepoint.uservoice.com/.

You might find others have made a similar request that you can add to, or you can open

[2019-03-25 20:02] scanum commented on #804
@officedocsbot close

[2019-03-25 20:02] #804 closed

[2019-03-25 20:06] scanum commented on #803
@CraigWalls  - thank you for submitting feedback.

I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.

Please follow this link to contact support for business products:  https://docs.microsoft.com/office365/admin/contact-support-for-business-products

Plea

[2019-03-25 20:06] scanum commented on #803
@officedocsbot close

[2019-03-25 20:06] #803 closed

[2019-03-25 20:07] scanum commented on #802
@njmathews8  Thank you for submitting this feedback.

From our understanding the issue has been resolved. If you feel it hasn't been resolved please re-open this issue.

[2019-03-25 20:07] scanum commented on #802
@officedocsbot close

[2019-03-25 20:07] #802 closed

[2019-03-25 20:08] scanum commented on #800
@willcodepro  - thank you for submitting feedback.

I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.

Please follow this link to contact support for business products:  https://docs.microsoft.com/office365/admin/contact-support-for-business-products

Ple

[2019-03-25 20:08] scanum commented on #800
@officedocsbot close

[2019-03-25 20:08] #800 closed

[2019-03-25 20:11] scanum commented on #799
@jkoenig-mgm  - thank you for submitting feedback.

I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.

Please follow this link to contact support for business products:  https://docs.microsoft.com/office365/admin/contact-support-for-business-products

Ple

[2019-03-25 20:11] scanum commented on #799
@officedocsbot close

[2019-03-25 20:11] #799 closed

[2019-03-25 20:12] scanum commented on #797
@tristanpen  - thank you for submitting feedback.

I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.

Please follow this link to contact support for business products:  https://docs.microsoft.com/office365/admin/contact-support-for-business-products

Plea

[2019-03-25 20:12] scanum commented on #797
@officedocsbot close

[2019-03-25 20:12] #797 closed

[2019-03-25 20:16] scanum commented on #788
@solinear  Thank you for submitting this feedback.

From our understanding the issue has been resolved. If you feel it hasn't been resolved please re-open this issue.

[2019-03-25 20:20] scanum commented on #788
@officedocsbot close

[2019-03-25 20:20] #788 closed

[2019-03-25 20:21] scanum commented on #787
@nickisashkir  - thank you for submitting feedback.

As @JoanneHendrickson suggested,I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.

Please follow this link to contact support for business products:  https://docs.microsoft.com/office365/admin/contact-s

[2019-03-25 20:21] scanum commented on #787
@officedocsbot close

[2019-03-25 20:21] #787 closed

[2019-03-25 20:24] scanum commented on #786
@GraterSolutions  - thank you for submitting feedback.

I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.

Please follow this link to contact support for business products:  https://docs.microsoft.com/office365/admin/contact-support-for-business-products

[2019-03-25 20:24] scanum commented on #786
@officedocsbot close

[2019-03-25 20:24] #786 closed

[2019-03-25 21:59] gacarini commented on #813
Good catch, this has been fixed!

[2019-03-25 22:01] gacarini commented on #816
I've added a question to help answer this in the FAQ. See "Do automatic updates of the per-machine sync client require user intervention?" Let me know if that helps to clarify.

[2019-03-25 22:30] jhochwald commented on #819
It’s not working as expected on an RDSH Host. You can install it as described, you can configure it as described... when you log off and back in oneDrive will throw the error that the OneDrive Folder (that you synced before) is not found.
The OneDrive Folder is not synced to the central profile store.

[2019-03-25 23:04] NeighborGeek commented on #816
That's perfect, thanks!

Now, can you teach the Teams devs how to do a proper per machine install?

:)

On Mon, Mar 25, 2019 at 5:01 PM Gaia Carini <notifications@github.com>
wrote:

[2019-03-26 03:36] kaarins commented on #813
Thanks @kcswe and @gacarini

[2019-03-26 03:36] #813 closed

[2019-03-26 03:38] kaarins commented on #816
Thanks @NeighborGeek and @gacarini !

[2019-03-26 03:38] #816 closed

[2019-03-26 05:29] Prakash-Ramasamy commented on #806
@scanum Thank you for your response and solution. We will raise service ticket from our tenant.

[2019-03-26 09:20] kilasuit commented on #342
@tseward any updates on this being added as of yet?

[2019-03-26 09:21] kilasuit commented on #636
Surely this should be "supported with limitations" / "Supported by not recommended"

[2019-03-26 12:16] Harinath-Reddy opened #828 "Not able to sync sharepoint files to onedrive using domain credentials."
Hi,
i followed the below document in link for configuring onedrive for sharepoint 2019 using GPO.

https://docs.microsoft.com/en-us/sharepoint/install/new-onedrive-sync-client.

But i am not able to sync sharepoint files from sites to onedrive using domain credentials and throwing error when i enter domain credentials like below.

![image](https://user-images.githubusercontent.com/39045928/5499608

[2019-03-26 13:56] bertrandpons opened #829 "Error on upload file to SharePoint online tenant using CSOM client in client web api application in .net framework 4.7.1"
When I try to upload file using a valid bearer token to communicate with my SharePoint Online tenant I receive this error :

The URL <URL> is invalid. It may refer to a nonexistent file or folder, or refer to a valid file or folder that is not in the current Web.

To obtain SP bearer I use this method :

[code]

The bearer token works with SPQuery, read and delete commands.

When I use the same co

[2019-03-26 15:10] tangoprjct opened #830 ""Lists & Libraries Doesn't Appear""
I have followed these directions to the letter, but when I select "Settings", I don't have the option for "Lists & Libraries". Any thoughts as to why?

Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4f1bd4ab-c640-1db8-05bb-e249129dfa46
* Version Independent ID: 4ceb7bc8-39c0-61fb-b31c-381cb7a5018b
* Content:

[2019-03-26 20:13] DeanGross opened #831 "Permissions"
What permissions are required to a add an app to the existing catalog?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1bc1e9c0-2e35-3357-7f57-5bd02b0e10bc
* Version Independent ID: 1443a95a-ce5b-024d-d942-001b83bf8d8c
* Content: [Use the App Catalog to make custom business apps available for your SharePoint Online envi

[2019-03-26 21:30] #662 closed

[2019-03-26 22:14] hallje commented on #830
Had a site revert back to classic, came in to make sure this was still set to modern and also gone. What happen to it ?

[2019-03-27 14:32] Svek opened #832 "Cannot create new template under the default "tenant.sharepoint.com" URL."
I was trying to upgrade our SharePoint experience from the old 2013 template to the **newer** ones.

Apparently, it is not possible to recreate it under the new "Create a site" wizard.  I have attached a screenshot of it here.

![bug-report-1](https://user-images.githubusercontent.com/25241292/55084093-33471d00-50d7-11e9-87e7-423f0c6a372e.jpg)

_Note: that I was able to create it using the old 201

[2019-03-27 14:37] bschwetz opened #833 "Simplifying our SharePoint integration story."
Link to info does not work

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d5144c0-b2a7-8fce-e915-28b0e7f44ca0
* Version Independent ID: 3558508e-be15-dfec-5c98-6f2f7e5cba63
* Content: [What's deprecated or removed from SharePoint Server 2019](https://docs.microsoft.com/en-us/sharepoint/what-s-new/what-s-deprecated-or-

[2019-03-27 15:00] VeroniquePalmer opened #834 ""You need to be site collection administrator""
I am Global Admin on the tenant and site collection administrator on the source and target site collections, but it doesn't populate any content in any of the sites I choose, as well as the top level site.  It just keeps saying "you need to be a site collection admin". Any ideas?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2019-03-27 15:48] JoanneHendrickson commented on #834
Hi Veronique:  Sorry you are having issues.   At what point do you get the error that you need to be a site collection admin? When you are entering the target/destination in SPMT?

[2019-03-27 15:49] VeroniquePalmer commented on #834
When entering the source library.

[2019-03-27 16:47] JoanneHendrickson commented on #834
So apologies in advance, but just to be sure
1. Launched SPMT, logging in using your Global Admin O365 credentials for your destination/target.
2. You selected SharePoint as your source, -- and when prompted entered the path of your on-prem site collection and then your credentials for your SharePoint Server (what version?) that are permissioned as Site collection admin
3. Error.

What version of

[2019-03-27 17:18] VeroniquePalmer commented on #834
Oh, no I'm pointing it to SharePoint Online.  I want to move stuff from one online site to another.

[2019-03-27 17:23] JoanneHendrickson commented on #834
Unfortunately, the SPMT tool doesn't support migrating content from one tenant to another tenant.  It's definitely high on the wish list.

[2019-03-27 19:02] VeroniquePalmer commented on #834
I am not trying to migrate between tenants, only between site collections in one tenant.

Sent from my phone, please excuse any brevity or typos

-------- Original message --------
From: JoanneHendrickson <notifications@github.com>
Date: 2019/03/27 19:24 (GMT+02:00)
To: MicrosoftDocs/OfficeDocs-SharePoint <OfficeDocs-SharePoint@noreply.github.com>
Cc: Veronique Palmer <veronique@letscollaborate.co

[2019-03-27 20:03] RickBertuzzi opened #835 "Error in documentation for "Start the service instances" section"
In the "Manage services on server" page in Central Admin (/_admin/Server.aspx) you can't click "Start" to start the services. There are only options to "Stop" or "Restart" depending on the service; most services don't have either option.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 97493854-efe6-3451-d96b-a04b6ac3207

[2019-03-27 23:22] christopherdengler opened #836 "This is a joke, right?"
This is a joke, right?  In order to exclude certain products from installation users must edit XML configuration files?  So, IN ADDITION to the fact that you CANNOT install Office on ANY other drive other than C: with some really obscure registry hack (which can and does screw up your system), people can't uninstall programs from the Office Suite that they NEVER USE?  What happened to Microsoft?

[2019-03-28 10:29] pradiptanayak2007 opened #837 "How to connect to Sharepoint though proxy ?"
I my sinario I can connect to the SPO directly. Can only connect with Proxy as the account don't have internet access.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 36d01d11-eea9-7f49-693d-25c3fecc6253
* Version Independent ID: 6749a619-2b75-1561-81e9-b45888c58c4b
* Content: [How to use the SharePoint Migration Tool](

[2019-03-28 14:39] tseward commented on #835
@AndreaBarr  please assign to me.

[2019-03-28 19:16] eschrader opened #838 "SharePoint Server 2013 - End of Life for SQL and OS older versions"
Since SQL Server 2008 R2 and Windows Server 2008 R2 are nearing end of line (July 2019 and Jan 2020), what are the recommended approaches for upgrading?

SQL can be upgraded via standing up a new SQL Server, restoring the databases and re-connecting the SP Farm.

Similar to the SP 2016 upgrade approach above, Windows Server upgrade on the WFE is a bit more complicated, since any custom WSPs, 3rd p

[2019-03-28 19:39] j-drew opened #839 "OneDrive for Mac "Turn on files on-demand" not working"
In OneDrive on a Mac running Mojave I am trying to activate Files On-Demand. Every time I click "Turn on files on-demand" OneDrive crashes and reboots but the option never activates. Is there a script I can run to force files on demand to activate? It should simply be on by default.

I am syncing a OneDrive of about 800Gb but the iMac only has 500Gb hard drive so it is essential that I get files o

[2019-03-29 09:22] systemsleitner opened #842 "SharePoint Foundation Support"
Does the SharePoint Migration Tool (Version 3.0.108.1) only support the SharePoint 2013 Server edition or also the SharePoint 2013 Foundation?

[2019-03-29 09:54] adalfa opened #843 "clarification on service account permissio"
in the section "Choosing MIM for use with SharePoint Server", step 3:  "Run as a service"  is a policy or any other kind of permission?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4efa9cc0-f34e-5987-5e4e-ed7740af689a
* Version Independent ID: 61dfe25a-aa67-7d00-edab-3b2647f53bab
* Content: [Install Microsoft Identit

[2019-03-29 12:46] anthony-irl commented on #407
Do you know if there an ETA for the delivery of this feature?

[2019-03-29 12:54] ufkz2909 opened #844 "Please add information what license can be increased to 5TB"
Office 365 Enterprise E3 and E5Office 365 Government E3 and E5Office 365 Education and Office 365 Education E5OneDrive for Business Plan 2 and SharePoint Online Plan 2 - only license that can be incresed to 5 Tb

Because from your article look like all clients that have 5 license can increse their storage to 5 TB:

"For help finding out which subscription you have, see What Office 365 for business

[2019-03-29 14:32] tseward commented on #843
@AndreaBarr assign to me, please.

@adalfa Yes, this is a Local Security Policy (secpol.msc) under User Rights Assignments. I will add some verbiage to point people towards that tool.

[2019-03-29 17:18] gacarini commented on #824
@nivaldotwtinfo Can you provide some more context on what you mean by not keeping an open session on the machine?

[2019-03-29 17:22] gacarini commented on #819
I've updated the wording on the supported OS version to link to our min requirements page since the per-machine install is supported on all supported Windows versions, including service. Regarding Windows Server 2019, stay tuned but when we're ready to declare it officially supported, it will be added to that page I linked to.

In terms of VDI environments, the statement on this page is still accu

[2019-03-29 18:03] nivaldotwtinfo commented on #824
Good afternoon Gaia. Today if I want my onedrive to sync with the cloud, my user session has to be open, meaning that it can´t be logout. My question was if with this update, onedrive would be able to work as a service, running on background whenever I´m loged in or not.

Att,
Nivaldo Soraggi Fernandes

Rua Paraíba, 1323  |  2º andar | Savassi

Av. Brig. Luis Antônio 2344 | Conj 111   | Bela Vista

[2019-03-29 18:09] gacarini commented on #824
Ah ok got it. Nothing changes about how OneDrive actually runs. The OneDrive.exe process is still in the context of a user's profile so if they log off, OneDrive will not be running. The service mentioned in the documentation is only for the auto-updates. Hope that helps clarify.

[2019-03-29 18:09] scanum commented on #444
@Skatterbrainz  Thank you for submitting this feedback.

From our understanding the issue has been resolved. If you feel it hasn't been resolved please re-open this issue.

[2019-03-29 18:09] scanum commented on #444
@officedcosbot close

[2019-03-29 18:12] scanum commented on #661
@JoanneHendrickson Wondering if there were any updates on this? Thanks

[2019-03-29 18:13] scanum commented on #644
@JoanneHendrickson any updates on this? Thanks!

[2019-03-29 18:17] scanum commented on #572
@kevinleary  - thank you for submitting feedback.

As @JoanneHendrickson Joanne mentioned, I think the best way forward is if you follow up on the service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.

Please follow this link to contact support for business products:  https://docs.microsoft.com/office365

[2019-03-29 18:17] scanum commented on #572
@officedocs close

[2019-03-29 18:17] #572 closed

[2019-03-29 18:18] scanum commented on #566
@JoanneHendrickson Any updates on this? Thanks.

[2019-03-29 18:20] scanum commented on #555
@JoanneHendrickson Any updates on this? Thanks!

[2019-03-29 18:20] scanum commented on #550
@JoanneHendrickson Any updates on this? Thanks!

[2019-03-29 18:21] scanum commented on #542
@JoanneHendrickson Any updates on this? Thanks!

[2019-03-29 18:22] scanum commented on #479
@kaarins Any updates on this? Thanks!

[2019-03-29 18:24] nivaldotwtinfo commented on #824
Ok, thank you for the clarification.

Att,
Nivaldo Soraggi Fernandes

Rua Paraíba, 1323  |  2º andar | Savassi

Av. Brig. Luis Antônio 2344 | Conj 111   | Bela Vista

Belo Horizonte/MG | CEP 30130-148

São Paulo/SP | CEP 01311-000

Fone +55 (31) 3273-1800

Fone: (11) 3522-3314  | (11) 3284-6691

[rodape-novembro azul (3)]
[Logo TWT em curvas]<http://www.twtinfo.com.br/>         [cid:image002.jpg@0

[2019-03-29 18:26] scanum commented on #706
@kaarins Any updates on this issue? Thanks!

[2019-03-29 18:34] RowdyChildren commented on #706
I would even suggest not uploading an example package and merely providing the detection method and user experience settings that are needed. Its such a simple package that it shouldn't be a big deal for the average SCCM admin to follow the steps to make it.

[2019-03-29 19:27] adalfa commented on #843
@tseward thanks for the response, but while "log on as service" is a well know settings, "run as service" is for what I know absent in "User Right Assignment" or i am missing something.
thanks

[2019-03-30 11:35] vo5tr0 commented on #819
Thank you, that helps a lot! I am looking forward to the final release and the FSLogix Update :)

[2019-03-31 16:36] tseward commented on #835
@RickBertuzzi when a service instance is in a stopped state _and_ it can be managed, it will have a Start option. In certain scenarios, the same service instance may not have a start or stop option, such as when the server is configured with a particular MinRole like WebFrontEnd. Does this help?

[2019-03-31 16:39] tseward commented on #796
@SteveMinar would you mind clarifying? The section is certainly there in the modern admin center.

[2019-03-31 18:12] tseward commented on #838
Recommended path for SharePoint Server would be to add servers with the desired/supported version of Windows Server to the existing farm. Minimal configuration should be required (IIS Bindings and SSL certs, any 3rd party apps you need to install locally). Other artifacts, such as WSPs are stored in the Config database and deployed as part of a Web App/farm deployment. DNS records may need to be a

[2019-03-31 18:13] tseward commented on #833
@bschwetz can you check again? The link is working for me.

[2019-03-31 18:15] tseward commented on #832
There is a [new cmdlet released the other day](https://developer.microsoft.com/en-us/office/blogs/new-sharepoint-csom-version-released-for-sharepoint-online-march-2019/) called `Enable-SPOCommSite` which is used to replace the classic site at the root with a Communications Site (not Modern Team). This cmdlet is currently marked as experimental and may not work with your tenant.

In other words, to

[2019-03-31 22:05] a-zaf opened #854 "Link labels"
Greetings,
It seems that each link to a page in "support.office.com" is automatically displaying the page title as the link label.
Depending on each sentence, the link label might need to be adequately edited.

&gt; Link 1:
In the intro paragraph, at the top of the page:
" [What is a SharePoint hub site?] help you organize your intranet. "
The link label should most probably be "Hub sites", and th

[2019-04-01 00:47] gacarini opened #857 "Improvements to German translation"
Filing based on feedback I received offline on the German translation
- synchronisierungsclient should be capitalized: Synchronisierungsclient
- Ordner% LocalAppData% has incorrect spacing with "%"
- "Anders als bei der Installation des Synchronisierungs Clients bleibt alles anders." --&gt; "Das Verhalten des Synchronisierungsclients ist absolut identisch."
- "Automatische Konvertierung von Benutz

[2019-04-01 13:14] RickBertuzzi commented on #835
Hi @tseward . Thanks. Yes some clarification around why there may not be a Start option helps. Not a huge deal, just thought I'd point it out in case someone new to SharePoint is scratching their head looking for "Start".

[2019-04-01 14:51] scanum commented on #164
@jenkinsns  Thank you for submitting this feedback.

From our understanding the issue has been resolved. If you feel it hasn't been resolved please re-open this issue.

[2019-04-01 14:51] scanum commented on #164
@officedocsbot close

[2019-04-01 14:51] #164 closed

[2019-04-01 14:51] scanum commented on #335
@ffhirata  Thank you for submitting this feedback.

From our understanding the issue has been resolved. If you feel it hasn't been resolved please re-open this issue.

[2019-04-01 14:52] scanum commented on #335
@officedocsbot close

[2019-04-01 14:52] #335 closed

[2019-04-01 14:52] scanum commented on #350
@rhyspaterson  Thank you for submitting this feedback.

From our understanding the issue has been resolved. If you feel it hasn't been resolved please re-open this issue.

[2019-04-01 14:52] scanum commented on #350
@officedocsbot close

[2019-04-01 14:52] #350 closed

[2019-04-01 14:53] scanum commented on #649
@avisuj  Thank you for submitting this feedback.

From our understanding the issue has been resolved. If you feel it hasn't been resolved please re-open this issue.

[2019-04-01 14:56] scanum commented on #649
@officedocsbot close

[2019-04-01 14:56] #649 closed

[2019-04-01 14:57] scanum commented on #646
@MarkvanGurchom  Thank you for submitting this feedback.

From our understanding the issue has been resolved. If you feel it hasn't been resolved please re-open this issue.

[2019-04-01 14:57] scanum commented on #646
@officedocsbot close

[2019-04-01 14:57] #646 closed

[2019-04-01 14:57] scanum commented on #635
@desmondkung Thank you for submitting this feedback.

From our understanding the issue has been resolved. If you feel it hasn't been resolved please re-open this issue.

[2019-04-01 14:57] scanum commented on #635
@officedocsbot close

[2019-04-01 14:57] #635 closed

[2019-04-01 14:57] scanum commented on #619
@JamesRajavarman  Thank you for submitting this feedback.

From our understanding the issue has been resolved. If you feel it hasn't been resolved please re-open this issue.

[2019-04-01 14:58] scanum commented on #619
@officedocsbot close

[2019-04-01 14:58] #619 closed

[2019-04-01 14:58] scanum commented on #613
@obhayes  Thank you for submitting this feedback.

From our understanding the issue has been resolved. If you feel it hasn't been resolved please re-open this issue.

[2019-04-01 14:58] scanum commented on #613
@officedocsbot close

[2019-04-01 14:58] #613 closed

[2019-04-01 14:58] scanum commented on #612
@DennisGoss Thank you for submitting this feedback.

From our understanding the issue has been resolved. If you feel it hasn't been resolved please re-open this issue.

[2019-04-01 14:59] scanum commented on #612
@officedocsbot close

[2019-04-01 14:59] #612 closed

[2019-04-01 14:59] scanum commented on #577
@DougPunchak  Thank you for submitting this feedback.

From our understanding the issue has been resolved. If you feel it hasn't been resolved please re-open this issue.

[2019-04-01 14:59] scanum commented on #577
@officedocsbot close

[2019-04-01 14:59] #577 closed

[2019-04-01 14:59] scanum commented on #509
@repton-infinity  Thank you for submitting this feedback.

From our understanding the issue has been resolved. If you feel it hasn't been resolved please re-open this issue.

[2019-04-01 14:59] scanum commented on #509
@officedocsbot close

[2019-04-01 14:59] #509 closed

[2019-04-01 15:00] scanum commented on #670
@officedocsbot close

[2019-04-01 15:00] #670 closed

[2019-04-01 15:00] scanum commented on #675
@pagejustin Thank you for submitting this feedback.

From our understanding the issue has been resolved. If you feel it hasn't been resolved please re-open this issue.

@officedocsbot close

[2019-04-01 15:00] #675 closed

[2019-04-01 15:00] scanum commented on #716
@santanayana Thank you for submitting this feedback.

From our understanding the issue has been resolved. If you feel it hasn't been resolved please re-open this issue.

@officedocsbot close

[2019-04-01 15:00] #716 closed

[2019-04-01 15:01] scanum commented on #719
@wiktorwandachowicz Thank you for submitting this feedback.

From our understanding the issue has been resolved. If you feel it hasn't been resolved please re-open this issue.

@officedocsbot close

[2019-04-01 15:01] scanum commented on #721
@ttplaya Thank you for submitting this feedback.

From our understanding the issue has been resolved. If you feel it hasn't been resolved please re-open this issue.

@officedocsbot close

[2019-04-01 15:01] #721 closed

[2019-04-01 15:02] scanum commented on #729
@Naxxan60 Thank you for submitting this feedback.

From our understanding the issue has been resolved. If you feel it hasn't been resolved please re-open this issue.

@officedocsbot close

[2019-04-01 15:02] #729 closed

[2019-04-01 15:02] scanum commented on #792
@pkotov87 Thank you for submitting this feedback.

From our understanding the issue has been resolved. If you feel it hasn't been resolved please re-open this issue.

@officedocsbot close

[2019-04-01 20:48] SteveMinar commented on #796
@tseward Let me see if I can clarify a bit.

I was in the process of setting up external sharing for our Office 365 tenant, including creating job aids and a screenshare video. At that moment in time, the website was not offering the Sharing feature in the modern admin center. I tried using Chrome, Safari and Firefox on OS X (High Sierra, all browsers up-to-date). I also tried using Chrome and Edg

[2019-04-02 04:46] jimdavis66 commented on #550
+1

Would love this to be fixed in the next week or so. Does anyone have a workaround that doesn't involve having to add the admin account to every SharePoint user profile?

[2019-04-02 19:03] JonathanHerschel opened #858 "Step # 3 could use details or link to do"
Step #3 says: Optional: Make the Office Online Server accessible outside the corporate network.
I can't find any detailed instructions on how to restrict only traffic from our SharePoint online tenant to access our on Prem OOS farm

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e0a5545f-63bd-ebee-58d3-eedc755d333a
* Ve

[2019-04-02 19:17] tseward commented on #858
@AndreaBarr assign to me, please.

[2019-04-02 20:47] #819 closed

[2019-04-02 22:26] vijaynikam commented on #686
You can Company Administrator as an admin to any site, but you can't add it as a primary admin. If you remove it as the primary admin for your root site, you can't add it back.

This note is incorrect. You can add 'Company administrator' as a primary admin to any site and you can also add back 'Company administrator' as primary admin to your root site.

[2019-04-03 06:12] VLG17 commented on #663
@Abenold from the error i can see that you are trying to install the beta release of the SPMT, right? Could you also try with the current version - https://spmtreleasescus.blob.core.windows.net/install/default.htm?

More info on the 2 SPMT releases - https://docs.microsoft.com/en-us/sharepointmigration/introducing-the-sharepoint-migration-tool

If you get the same error, i would recommend to open

[2019-04-03 06:34] VLG17 commented on #686
@kathyfurtado you can find more information about the permission levels within Sharepoint here - https://docs.microsoft.com/en-us/sharepoint/understanding-permission-levels

Limited Access - Enables a user or group to browse to a site page or library to access a specific content item when they do not have permissions to open or edit any other items in the site or library. This level is automatical

[2019-04-03 07:08] VLG17 commented on #718
@sir79  keeping in mind that the article applies to 2013, if you use a version of Excel that has Co-authoring enabled, then yes, the limits apply - "10 concurrent editors per document" is the recommended value, the hard limit is 99.

[2019-04-03 08:26] VLG17 commented on #703
@itprotj External users, even if they have a Microsoft Account, don't have a llicense to your Office 365 subscription, so they are limited to basic collaboration tasks - hence the missing "Follow" option

More info here - https://docs.microsoft.com/en-us/sharepoint/external-sharing-overview

[2019-04-03 13:58] adalfa opened #863 "Sharepoint 2019 and 2016 with sql 2017"
On the component list for RBS provider there is no note about sharepoint 2019 nor any feature pack for the RBS client that apply to sql 2017

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8c4bfb2a-e225-fad9-5970-ca30acf9d92d
* Version Independent ID: 7cc3baec-8c7e-e5ee-cf16-812a4aa3c035
* Content: [Install and configur

[2019-04-03 14:43] tseward commented on #863
Question is, why would you even want to use RBS with a version of SharePoint that only supports SQL Standard/Enterprise? :-)

@AndreaBarr assign to me, please.

[2019-04-03 17:51] NickLareau commented on #834
Hi Joanne, I'm running into the same issue. Since onedrive to onedrive is not a thing just yet, Is there anyway to download the contents of a onedrive account locally for retention/litigation hold?

[2019-04-03 21:49] clxiong123 opened #866 "How to read data"
I have test in my tenant. But I don't know how to read the data from the two uri : JobQueueUri and AzureContainerManifestUri

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aa19c8fd-ca72-2fef-0be1-859e57b862c4
* Version Independent ID: 629968f3-9317-0c5a-3ea1-48c2ea102ac4
* Content: [Migration Asynchronous Meta

[2019-04-04 17:02] AspenForester opened #867 "Incorrect environment variable syntax in Before You Begin Section"
In the "Before You Begin" section, the UserProfile environment variable is referred to, but it is referred to in CMD syntax `%UserProfile%`, when, since this is in a PowerShell context, after all, it should be `$env:UserProfile`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 83229fe4-a0fc-5d45-1e32-2cf9bee9374b
* Versi

[2019-04-04 17:33] scanum commented on #718
@sir79  Thank you for submitting this feedback.

From our understanding the issue has been resolved. If you feel it hasn't been resolved please re-open this issue.

[2019-04-04 17:33] scanum commented on #718
@officedocsbot close

[2019-04-04 17:33] #718 closed

[2019-04-04 17:34] scanum commented on #713
@officedocsbot assign @scanum

[2019-04-04 17:34] scanum commented on #781
@officedocsbot assign @scanum

[2019-04-04 17:36] scanum commented on #782
@officedocsbot assign @scanum

[2019-04-04 17:37] scanum commented on #790
@officedocsbot assign @scanum

[2019-04-04 17:37] scanum commented on #822
@officedocsbot assign @scanum

[2019-04-04 17:38] scanum commented on #828
@officedocsbot assign @scanum

[2019-04-04 17:39] scanum commented on #830
@officedocsbot assign @scanum

[2019-04-04 17:39] scanum commented on #829
@officedocsbot assign @scanum

[2019-04-04 17:39] scanum commented on #831
@officedocsbot assign @scanum

[2019-04-04 17:40] scanum commented on #836
@officedocsbot assign @scanum

[2019-04-04 17:40] scanum commented on #837
@officedocsbot assign @scanum

[2019-04-04 17:40] scanum commented on #839
@officedocsbot assign @scanum

[2019-04-04 17:40] scanum commented on #842
@officedocsbot assign @scanum

[2019-04-04 17:40] scanum commented on #844
@officedocsbot assign @scanum

[2019-04-04 17:40] scanum commented on #854
@officedocsbot assign @scanum

[2019-04-04 17:40] scanum commented on #857
@officedocsbot assign @scanum

[2019-04-04 17:40] scanum commented on #866
@officedocsbot assign @scanum

[2019-04-04 17:41] scanum commented on #867
@officedocsbot assign @scanum

[2019-04-04 18:34] JoanneHendrickson commented on #867
Thanks for catching that! I have updated the article with the correct syntax.

[2019-04-04 18:34] #867 closed

[2019-04-05 07:47] lindspea commented on #713
@danmyhre thank you for reaching out. Please let me know exactly which versions are out of date so I can add the necessary changes.

[2019-04-05 07:54] lindspea commented on #781
@sharvancik thank you for reaching out and helping improve MS docs.  I'll look into this and have an answer for you soonest.

[2019-04-05 08:06] lindspea commented on #790
@boomalator thank you for reaching out and helping to improve MS docs. We value your contribution.  Could you maybe suggest the changes that you think should be put in place to improve the UI?

[2019-04-05 08:09] lindspea commented on #822
@CraigHumphrey thank you for pointing this out and helping improve MS docs.  I'll investigate and have an answer for you soonest.

[2019-04-05 08:39] lindspea commented on #857
@gacarini Thank you for your help with this and helping improve MS docs.  We will send it to our translation team to sort out as soon as possible.
@OfficeGlobal

[2019-04-05 08:49] lindspea commented on #854
@a-zaf Thank you for your suggestions and improving MS docs.  I'll have them reviewed soonest.

[2019-04-05 09:01] lindspea commented on #844
@ufkz2909 Thank you for reaching out and helping improve MS docs.  Please have a look at this article and see if it answers your questions. https://docs.microsoft.com/office365/servicedescriptions/onedrive-for-business-service-description

[2019-04-05 09:02] lindspea commented on #842
@systemsleitner Thank you for reaching out.  I'll have an answer for you shortly.

[2019-04-05 09:08] lindspea commented on #837
@pradiptanayak2007 Thank you for letting us know, as the document says, "Proxy connections are not supported. Using Proxy connections will yield errors such as "SharePoint login fail" or "cannot load document library". Would you suggest removing that note about proxy errors.

[2019-04-05 09:23] lindspea commented on #831
@DeanGross Thanks for reaching out.  I've done some investigating and it seems you need full control permission to be able to do this.

[2019-04-05 09:28] lindspea commented on #830
@tangoprjct Thank you for reaching out.  There was a previous issue as well if you scroll to the bottom of the document.  This was supposed to be resolved on the 1st April 2019, so please have a look and let me know if you are still having this problem.

[2019-04-05 09:53] ufkz2909 commented on #844
I know the answer, but it is much better when info is showing up in 1 article, and you don’t need to jump from 1 article to another it is very confusing:

Can you please complete article with all info. So cu will be able to see everything in one page. Like here for example:

http://help.dagobertogarcia.com/articles/22137-increase-onedrive-for-business-storage-up-to-5tb

From: Lindsay <notification

[2019-04-05 11:48] OfficeGlobal commented on #857
@MollyMalone , @lindspea Working on a fix (Bug 3276143)

[2019-04-05 13:29] danmyhre commented on #713
It looks like that section of the page has been removed since this was submitted.

[2019-04-05 14:02] NikNak82 commented on #834
I have this problem too. I'm trying to migrate each users home folders from our file server to their OneDrive accounts. I was able to do this before with the previous versions. Now I get the site collection admin error. I am a Global Admin

[2019-04-05 14:09] lindspea commented on #713
@scanum this can be closed thank you.

[2019-04-05 14:44] rpopatia opened #869 "Update Documentation to state that Conditional access is now supported on Chrome with the add-on 'Windows 10 accounts'"
The documentation states that users on managed devices will have limited access when they use chrome browser. But with the add-on 'Windows 10 accounts' released by MS  you are no longer limited access.

More info: https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/17438821-add-support-for-google-chrome-under-azure-ad-condi

---
#### Document Details

⚠ *Do not edit this se

[2019-04-05 19:50] jtrzebuckowski opened #871 "OneDriveSetup.exe /allusers"
Microsoft just released a (preview) article to deploy OneDrive to install OneDrive per machiene rather in the a per user context. In the link below states to execute the file with an /allusers switch to install in a system context. I have the correct version installed, and doing so doesn't install within Program Files x86, and stayed within the user context under App data when launching the progra

[2019-04-05 19:58] jtrzebuckowski opened #872 "OneDrive.exe /allusers"
After following the (Preview) documentation above, I tried to run onedrivesetup.exe /allusers, with the version listed above and this didn't install within the program files (x86).

Also having issues using Group Policy signing the users in silently to OneDrive (assume that this may be because the program is installed in the users profile context rather than the system)?

Thanks

---
#### Document

[2019-04-06 09:09] Aleksa7 opened #875 "SharePoint migration tool - "You need to be site collection administrator""
I am Global Admin on the tenant and site collection administrator on onprem SharePoint2013 .
When I launch SPMT, I can login using my Global Admin O365 credentials for my destination/target.
When I enter sp2013 onprem url, and want to select library (which I plan to migrate), I get login prompt and when I enter credentials get the error : You need to be site collection administrator.
There is no p

[2019-04-07 04:49] itprotj commented on #703
Hi I see your reasoning behind this as then members will not be obliging with an office licence.
However if we were able to assign external users licences from our 365 account then I reckon that would adequately make this work alright. Do you have any plans for this?

Sent from my iPhone

[2019-04-07 15:24] phillipc100 opened #876 "OneDrive / allusers"
Once OneDrive is setup under \Program Files x86. What is the best way to automate the signin for the additional user profiles? (Other than GPO, we don't have Workplace device registration)

Thinking about runonce:  odopen://sync?useremail=youruseremail@organization.com

Thoughts ?

[2019-04-08 03:12] RyanMorash opened #877 "Silent Configuration with Intune"
Under the “Setup silent configuration” section, it is recommended that for Azure AD joined devices we deploy a PowerShell script through Intune. What is the reasoning for this over a custom ADMX backed policy based off of the OneDrive ADMX?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3a21a400-6ad2-b371-0205-9a1b51b3

[2019-04-08 05:12] gnnsekhar commented on #147
As per MSDN, It is suggested that for ease of backup and restore that individual site collections within a content database be limited to 100 GB.
if site collection storage consumption is more than that, then how to restrict the site collection to use new content database rather than old existing one?

[2019-04-08 10:34] lusassl-msft commented on #235
@vpo01: Look at this: https://docs.microsoft.com/en-us/onedrive/per-machine-installation

[2019-04-08 13:49] skilmartin commented on #323
Any word on this yet?  I'd very much like to sync document libraries automatically with OneDrive and Intune.

[2019-04-08 16:20] scanum commented on #828
@Harinath-Reddy  - thank you for submitting feedback.

I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.

Please follow this link to contact support for business products:  https://docs.microsoft.com/office365/admin/contact-support-for-business-products

[2019-04-08 16:20] scanum commented on #828
@officedocsbot close

[2019-04-08 16:20] #828 closed

[2019-04-08 16:22] scanum commented on #839
@j-drew  - thank you for submitting feedback.

I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.

Please follow this link to contact support for business products:  https://docs.microsoft.com/office365/admin/contact-support-for-business-products

Please k

[2019-04-08 16:22] scanum commented on #839
@officedocsbot close

[2019-04-08 16:22] #839 closed

[2019-04-08 23:02] Techwriter40 commented on #781
@sharvancik Thank your for your feedback.  Can you tell me what specific limit you are looking for in regards to SPD 2013 ??

[2019-04-09 10:32] chiners68 opened #879 "Protected folders"
The GPO's and registry keys allow you to turn ON or OFF protection but you cannot set the folders you want to allow for protection. This is only an option when users are presented with the GUI. Can we have a registry key and GPO so we can set the folders we want protected. e.g. I want Documents and Pictures only.

If desktop is protected if you login to another device which auto configured OneDriv

[2019-04-09 11:37] OfficeGlobal commented on #857
@gacarini , @MollyMalone The article has been HumanTranslated and published live

[2019-04-09 13:09] lindspea commented on #857
@scanum this can be closed thank you.

[2019-04-09 14:04] lindspea commented on #842
@scanum this can be closed thank you.

[2019-04-09 14:08] lindspea commented on #836
@christopherdengler Thank you for reaching out.  I'll look into this and get back to you soonest.

[2019-04-09 14:09] lindspea commented on #831
@scanum this can be closed thank you.

[2019-04-09 15:50] tseward commented on #879
Known Folders doesn't allow you to arbitrarily set what folders to protect. Documents, Pictures, and Desktop are the folders that get protected (synced).

[2019-04-09 16:07] chiners68 commented on #879
steward,
You can control whether you want one or all 3 of these on the GUI presented to users on setup or by the settings of the OneDrive Sync client. Would be good to have a GPO and or registry keys to select for Silent configuration what of the 3 folders we want to be protected.

[2019-04-09 18:40] kevball2 opened #880 "Restarting stopped migrations"
Is is possible to restart stopped migrations? it does not appear the the start-SPTMigration cmdlet can restart a stopped migration.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 83229fe4-a0fc-5d45-1e32-2cf9bee9374b
* Version Independent ID: ea237f69-8d65-e3c6-1c77-5f3fdfb73d34
* Content: [Using PowerShell cmdlets to m

[2019-04-09 19:19] EliWallic commented on #323
I finished my script which is doing the same like the GPO (Naming/Start/Stop/cleanup I addition). Not really hard but annoying that this feature is not ready yet. I don't know where the problem is. Maybe Microsoft can post a hint that other people can help?! It is still on GitHub......

[2019-04-09 19:29] CoertK commented on #323
Care to share your script with us? This GitHub is only for the content of the docs page, not the actual feature.

[2019-04-09 19:48] christopherdengler commented on #836
It would really help if there was SOME sort of context in this email?

From: Lindsay <notifications@github.com>
Sent: Tuesday, April 9, 2019 7:08 AM
To: MicrosoftDocs/OfficeDocs-SharePoint <OfficeDocs-SharePoint@noreply.github.com>
Cc: Chris Dengler <losdudechris@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/OfficeDocs-SharePoint] This is a joke, right? (#836)

@ch

[2019-04-10 03:56] scanum commented on #713
@danmyhre  Thank you for submitting this feedback.

From our understanding the issue has been resolved. If you feel it hasn't been resolved please re-open this issue.

[2019-04-10 03:56] scanum commented on #713
@officedocsbot close

[2019-04-10 03:56] #713 closed

[2019-04-10 03:56] scanum commented on #842
@systemsleitner  Thank you for submitting this feedback.

From our understanding the issue has been resolved. If you feel it hasn't been resolved please re-open this issue.

[2019-04-10 03:57] scanum commented on #842
@officedocsbot close

[2019-04-10 03:57] #842 closed

[2019-04-10 03:57] scanum commented on #831
@DeanGross  Thank you for submitting this feedback.

From our understanding the issue has been resolved. If you feel it hasn't been resolved please re-open this issue.

[2019-04-10 03:57] scanum commented on #831
@officedocsbot close

[2019-04-10 03:57] #831 closed

[2019-04-10 03:58] scanum commented on #830
@tangoprjct  We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2019-04-10 03:58] scanum commented on #830
@officedocsbot close

[2019-04-10 03:58] #830 closed

[2019-04-10 11:55] halldororn opened #881 "How to do this in Sharepoint Server"
How do I set the default experience when I am using SharePoint Server and not SharePoint Online ?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4f1bd4ab-c640-1db8-05bb-e249129dfa46
* Version Independent ID: 4ceb7bc8-39c0-61fb-b31c-381cb7a5018b
* Content: [Change the default list and library experience](https://docs.mi

[2019-04-10 14:31] tseward commented on #881
@AndreaBarr assign to me, please.

[2019-04-10 16:31] scanum commented on #832
@Svek  Thank you for submitting this feedback.

From our understanding the issue has been resolved. If you feel it hasn't been resolved please re-open this issue.

[2019-04-10 16:32] scanum commented on #832
@officedocsbot close

[2019-04-10 16:32] #832 closed

[2019-04-10 16:32] scanum commented on #833
@bschwetz  We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2019-04-10 16:32] scanum commented on #833
@officedocsbot close

[2019-04-10 16:32] #833 closed

[2019-04-10 16:32] scanum commented on #838
@eschrader Thank you for submitting this feedback.

From our understanding the issue has been resolved. If you feel it hasn't been resolved please re-open this issue.

[2019-04-10 16:32] scanum commented on #838
@officedocsbot close

[2019-04-10 16:33] #838 closed

[2019-04-10 16:33] scanum commented on #869
@officedocsbot assign @scanum

[2019-04-10 16:33] scanum commented on #871
@officedocsbot assign @scanum

[2019-04-10 16:34] scanum commented on #872
@jtrzebuckowski  - thank you for submitting feedback.

I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.

Please follow this link to contact support for business products:  https://docs.microsoft.com/office365/admin/contact-support-for-business-products

[2019-04-10 16:35] scanum commented on #872
@officedocsbot close

[2019-04-10 16:35] #872 closed

[2019-04-10 16:35] scanum commented on #875
@Aleksa7  - thank you for submitting feedback.

I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.

Please follow this link to contact support for business products:  https://docs.microsoft.com/office365/admin/contact-support-for-business-products

Please

[2019-04-10 16:35] scanum commented on #875
@officedocsbot close

[2019-04-10 16:35] #875 closed

[2019-04-10 16:35] scanum commented on #876
@phillipc100  - thank you for submitting feedback.

I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.

Please follow this link to contact support for business products:  https://docs.microsoft.com/office365/admin/contact-support-for-business-products

Ple

[2019-04-10 16:35] scanum commented on #876
@officedocsbot close

[2019-04-10 16:35] #876 closed

[2019-04-10 16:36] scanum commented on #877
@officedocsbot assign @scanum

[2019-04-10 16:36] scanum commented on #880
@officedocsbot assign @scanum

[2019-04-10 17:35] tangoprjct commented on #830
I just saw this update. I still don't have the "Lists and Libraries" option.

[2019-04-10 18:41] pawp81 opened #882 "Authentication, tenant restrictions and Secure Links sharing"
How is authentication looking when a file is shared via Secure Link (ad-hoc user)? Would Tenant Restrictions policies apply? Imagine organization A has configured tenant restrictions at their web proxy. Now user from organization B invites user from organization A as ad-hoc user via Secure Link. Would tenant restrictions block access to organization B?

---
#### Document Details

⚠ *Do not edit th

[2019-04-10 18:46] pawp81 opened #883 "Secure Link"
Is Secure Link option default sharing behavior for SharePoint Online and OneDrive for Business files and folders? Is Secure Link only used when user from different tenant is invitied? This is what the article implies? Can the customer control when Secure Link is used and when not?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2019-04-11 01:33] ferrety2006 opened #884 "Managing OneDrive Profiles"
Where is the OneDrive profile management? This new admin center does not have the old admin center's section for managing onedrives.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 31f0e99c-724d-9fc3-6b8b-bda185f92c19
* Version Independent ID: d38a6ff9-e4cd-5776-b152-9694fcafbee1
* Content: [What's new in the SharePoint

[2019-04-11 18:43] boby5555 commented on #756
I think this is a mistake from Microsoft. If you want to change the list of users who can associate sites to the hub site, you need to go in the Active sites in the central admin -> Select your site -> List menu Hub Site -> Change hub site settings. If you go directly on the site, you can just edit the hub site navigation name, hub site logo and Site design applied.

[2019-04-11 19:16] boby5555 opened #886 "Hub Site Settings different within a site collection and central admin"
Hello,

Is it normal that Hub Site settings are differents within a site collection and the central admin. In a site coll, you can edit de Logo, Name and Site design applied to associated sites. In central admin, you can just edit the name and the people who can associate sites with this hub site. Why can't we have the same options for both menu?

---
#### Document Details

⚠ *Do not edit this sec

[2019-04-11 22:46] Mark7even opened #888 "App enforced Restrictions vs. MCAS Conditional Access App Control"
This is a great article, but I don't understand the pro/cons best practices to using "App enforced Restrictions" vs. using "MCAS Conditional Access App Control" for Exchange Online and SharePoint Online.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2f2abda5-9273-1a56-91b6-e4e77d5706b0
* Version Independent ID: 6a85f2

[2019-04-12 03:00] schenardie commented on #323
Name: AutoMountTeamSites
OMA-URI: ./User/Vendor/MSFT/Policy/Config/OneDriveNGSC~Policy~OneDriveNGSC/AutoMountTeamSites
Data type: String
Value (exactly how it is below replacing the x's for the values copied on the ID and the weburl replaced with yours:
<enabled/>
<data id="AutoMountTeamSitesListBox" value="MydocstenantId=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx&amp;siteId={xxxxxxxx-xxxx-xxxx-xxxx-xx

[2019-04-12 03:01] schenardie commented on #323
enabled
data id="AutoMountTeamSitesListBox" value="MydocstenantId=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx&amp;siteId={xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx}&amp;webId={xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx}&amp;listId={xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx}&amp;webUrl=https://yourdomain.sharepoint.com/sites/company&amp;version=1"

had to remove the <> and /

*note that between the value name (Mydocs) a

[2019-04-12 13:36] skilmartin commented on #323
Hey schenardie...I've been trying to get this to work the way you indicated, but I've been unsuccessful.  I've tried on 1809 and 1903 without any luck.  Here are my exact values based off of your recommendation:

OMA-URI: ./User/Vendor/MSFT/Policy/Config/OneDriveNGSC/AutoMountTeamSites
Value:
enabled
data id="AutoMountTeamSitesListBox" value="SalestenantId=xxxxxxxx-xxxxxx-xxxxxx-xxxxxx-xxxxxxxxxx

[2019-04-12 15:12] Fredrro commented on #706
Here is a link to the fixed powershell detection check. Otherwise you can always do as @rowdychildren said and just use a reg key or another way of detection.

https://hastebin.com/aruwepibap.pl

[2019-04-12 15:29] RowdyChildren commented on #706
@Fredrro, the need for that script is due to the fact the installer needs to run as system the first time but it installs and we have to check the currently logged on user profile. Registry Keys would not work since it would be looking in the system context

[2019-04-12 16:49] tseward commented on #886
@boby5555 since this is a feature request, you may want to repost this at https://sharepoint.uservoice.com/forums/330318-sharepoint-administration which the SharePoint product group reviews regularly.

[2019-04-12 16:53] tseward commented on #884
@ferrety2006 are you referring to the User Profiles? If so, the new interface does not have certain features (yet!), but the product group is working hard on making sure a vast majority of features from the classic admin center make it into the new admin center experience. If you want to add your feedback regarding the new admin center, I would suggest posting this in the SharePoint UserVoice at h

[2019-04-12 18:29] Fredrro commented on #706
What if you just install the app as user instead of system via sccm? Then the detection check can just be for the current user key. If not there it will install for new user on the workstation. I guess this depends on if you want to do a per machine or user specific push.

[2019-04-12 18:35] RowdyChildren commented on #706
So thats the fun part about the installer. If OneDrive is not installed in any user profile you must run the installer with Admin permissions, even though it installs per user on Windows 7 (on Windows 10 this is not the case)

[2019-04-12 19:58] Fredrro commented on #706
I am just setting this up in SCCM for my org now. I was planning on using the Current user key it generates after install of a user for the detection check. Then doing install as user in the setup of the app instead of install as system. This should install the app per user login correct? It is either that or i still do install as system but use a script such as

$Path = “$env:LOCALAPPDATA\Microso

[2019-04-13 00:25] kaarins commented on #836
@christopherdengler I checked with the Office CTR team and you are correct and Office must be installed on the C drive and you must use the Office Deployment Tool and a configuration XML. You can submit feedback on the Office UserVoice to request to change this. https://office365.uservoice.com/forums/264636-general. If you have a specific scenario that you'd like to share with the team, I'm also h

[2019-04-13 00:25] #836 closed

[2019-04-13 00:36] kaarins commented on #844
@ufkz2909 Thanks for this suggestion to help improve the documentation. I totally agree with you that having the plan info in this article would be way nicer. Unfortunately, because the plans change and we want to make sure we're always communicating the right info, we have to keep it in one place in the service description. :( I did update the note to clarify that the "more than 5 TB" part also d

[2019-04-13 00:36] #844 closed

[2019-04-14 08:06] lindspea commented on #854
@scanum this can be closed thank you.

[2019-04-14 19:53] ajh0912 opened #889 "Silently sign in users to OneDrive, primary Windows account on domain or any account on Azure AD Joined device?"
Currently "Silently sign in users to the OneDrive sync client with their Windows credentials" states:
"If you enable this setting, users who are signed in on a PC with the primary Windows account (the account used to join the PC to the domain) can set up the sync client without entering their account credentials.",
but this page https://docs.microsoft.com/en-us/onedrive/use-silent-account-configur

[2019-04-14 21:35] lehuspohus opened #890 "Microsoft SharePoint Foundation Workflow Timer Service"
Is it required to run Microsoft SharePoint Foundation Workflow Timer Service on app-server, not front-end? Some articles recommend to stop this on app servers and start it only on servers where Foundation Web Application service is running, i.e. front-end servers. What is recommended behaviour about this service?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2019-04-15 00:38] tseward commented on #890
@lehuspohus are they Microsoft articles which make that suggestion, and if so, can you supply the url(s)? Workflow timer, as a batch service, should only run on App.

[2019-04-15 09:34] lindspea commented on #782
@ajhstn Thank you for reaching out and helping improve MS Docs.  I have the team looking into this.  I'll have a reply for you soonest.

[2019-04-15 09:39] lindspea commented on #830
@tangoprjct thanks for letting us know.  I'll have the team look into this and get back to you.

[2019-04-15 12:12] Naxxan60 opened #891 "Missing steps"
Hello,
Nothing is mentioned about the need to change the My site setting in the User Profile Service. You need to change the my site host location (as you created a new web application)
You need also to enable the self-service site creation on your new web application settings.
These two steps need to be done for SP2013, 2016 and 2019.

---
#### Document Details

⚠ *Do not edit this section. It is

[2019-04-15 14:28] lehuspohus commented on #890
@tseward It comes from old [SP2010 article](https://support.microsoft.com/en-us/help/2674684/sharepoint-2010-workflow-fails-to-run-after-pause) on support.microsoft.com.
And also from [topologies for SP2010](https://www.microsoft.com/en-us/download/details.aspx?id=6096) whitepaper. As I understand, reqirements has been changed in SP2016 but it is not clear anyway.

[2019-04-15 15:04] tseward commented on #890
@lehuspohus there have been quite a few changes and no, this KB/topology doc wouldn't apply.

[2019-04-15 15:06] tseward commented on #891
The info for this would fall under https://docs.microsoft.com/en-us/sharepoint/install/create-a-user-profile-service-application. With that said, @AndreaBarr can you assign to me and I'll add a pointer?

[2019-04-15 16:47] beckybertram opened #892 "Not Possible to Assign Licenses to External Users in Admin Center Preview"
It looks to me like it's no longer possible to assign licenses to external users in the new admin center Preview. The documentation will need to be updated accordingly when the new M365 admin center rolls out to GA.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6cadc974-5434-4647-6480-996c1e40a2f8
* Version Independen

[2019-04-15 18:06] lehuspohus commented on #890
Ok, thanks for clarification!

[2019-04-15 18:06] #890 closed

[2019-04-15 20:35] scanum commented on #891
@officedocsbot assign @tseward

[2019-04-15 21:14] scanum commented on #892
@officedocsbot assign @scanum

[2019-04-15 21:14] scanum commented on #889
@officedocsbot assign @scanum

[2019-04-15 21:15] scanum commented on #886
@boby5555  - thank you for engaging with the community here for the docs.

As Trevor suggested, I know the product teams are always looking for user feedback and how to make SharePoint better. They keep a close tab on user feedback and it would be awesome if you could add your voice in User Voice https://sharepoint.uservoice.com/.

You might find others have made a similar request that you can add

[2019-04-15 21:15] scanum commented on #886
@officedocsbot close

[2019-04-15 21:15] #886 closed

[2019-04-15 21:16] scanum commented on #884
@ferrety2006  Thank you for submitting this feedback.

From our understanding the issue has been resolved. If you feel it hasn't been resolved please re-open this issue.

[2019-04-15 21:16] scanum commented on #884
@officedocsbot close

[2019-04-15 21:16] #884 closed

[2019-04-15 21:16] scanum commented on #883
@officedocsbot assign @scanum

[2019-04-15 21:17] scanum commented on #882
@officedocsbot assign @scanum

[2019-04-15 21:18] scanum commented on #879
@officedocsbot assign @scanum

[2019-04-16 13:09] jpalo commented on #863
How should we proceed in the following scenarios, are they even supported?
- SP2016+SQL2017
- SP2019+SQL2016
- SP2019+SQL2017

[2019-04-16 14:32] lindspea commented on #869
@rpopatia Thank you for pointing this out and helping improve MS Docs. Please can you specify under which heading the changes need to be made to make it conditional access.

[2019-04-16 14:53] tseward commented on #863
RBS is supported, but you shouldn't use it. Trying to dig up some info on this and will get back to it as soon as possible.

[2019-04-16 15:43] jpalo commented on #863
Thanks, I'd appreciate some insight regarding the "shouldn't use it" part. Is the suggestion to store GB sized files in DB?

[2019-04-16 15:47] tseward commented on #863
RBS was designed for those coming from SQL Express where there was (originally) a 4GB MDF limit. RBS introduces unnecessary complexity into the environment, primarily related to backup/restores/high availability. It also caps you at a hard 200GB database size limit (including RBS content) where as SharePoint storing docs in SQL supports 4TB+ databases. It is not designed to improve performance.

A

[2019-04-16 16:05] jpalo commented on #863
Others say RBS cap at 200GB is soft limit, like the generic 200GB DB soft limit we've had forever. https://sharepoint.stackexchange.com/questions/138804/why-200gb-content-db-limit-when-using-rbs

[2019-04-16 16:09] tseward commented on #863
https://docs.microsoft.com/en-us/SharePoint/install/software-boundaries-and-limits-0

"Must not" means hard limit.

[2019-04-16 17:20] scanum commented on #781
@sharvancik  We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2019-04-16 17:20] scanum commented on #781
@officedocsbot close

[2019-04-16 17:20] #781 closed

[2019-04-16 17:21] scanum commented on #822
@CraigHumphrey  Thank you for submitting this feedback.

From our understanding the issue has been resolved. If you feel it hasn't been resolved please re-open this issue.

[2019-04-16 17:21] scanum commented on #822
@officedocsbot close

[2019-04-16 17:21] #822 closed

[2019-04-16 17:21] scanum commented on #857
@gacarini  Thank you for submitting this feedback.

From our understanding the issue has been resolved. If you feel it hasn't been resolved please re-open this issue.

[2019-04-16 17:21] scanum commented on #857
@officedocsbot close

[2019-04-16 17:22] #857 closed

[2019-04-16 17:22] scanum commented on #854
@a-zaf  Thank you for submitting this feedback.

From our understanding the issue has been resolved. If you feel it hasn't been resolved please re-open this issue.

[2019-04-16 17:22] scanum commented on #837
@pradiptanayak2007  We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2019-04-16 17:23] scanum commented on #837
@officedocsbot close

[2019-04-16 17:24] #837 closed

[2019-04-16 18:59] scanum commented on #677
@solinear  Thank you for submitting this feedback.

From our understanding the issue has been resolved. If you feel it hasn't been resolved please re-open this issue.

[2019-04-16 18:59] scanum commented on #677
@officedocsbot close

[2019-04-16 18:59] #677 closed

[2019-04-16 19:00] scanum commented on #686
@kathyfurtado  Thank you for submitting this feedback.

From our understanding the issue has been resolved. If you feel it hasn't been resolved please re-open this issue.

[2019-04-16 19:00] scanum commented on #686
@officedocsbot close

[2019-04-16 19:00] #686 closed

[2019-04-16 19:02] scanum commented on #720
@annloftus  Thank you for submitting this feedback.

From our understanding the issue has been resolved. If you feel it hasn't been resolved please re-open this issue.

[2019-04-16 19:02] scanum commented on #720
@officedocsbot close

[2019-04-16 19:02] #720 closed

[2019-04-16 19:05] scanum commented on #527
@JasonTimmins  - thank you for submitting feedback.

I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.

Please follow this link to contact support for business products:  https://docs.microsoft.com/office365/admin/contact-support-for-business-products

Pl

[2019-04-16 19:05] scanum commented on #527
@officedocsbot close

[2019-04-16 19:05] #527 closed

[2019-04-16 19:06] scanum commented on #698
@joliving  - thank you for submitting feedback.

I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.

Please follow this link to contact support for business products:  https://docs.microsoft.com/office365/admin/contact-support-for-business-products

Please

[2019-04-16 19:06] scanum commented on #698
@officedocsbot close

[2019-04-16 19:06] #698 closed

[2019-04-16 19:09] scanum commented on #703
@VLG17

[2019-04-16 19:09] scanum commented on #664
@Saurabh-Chauhan  We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2019-04-16 19:09] scanum commented on #664
@officedocsbot close

[2019-04-16 19:09] #664 closed

[2019-04-16 19:10] scanum commented on #663
@Abenold  We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2019-04-16 19:10] scanum commented on #663
@officedocsbot close

[2019-04-16 19:10] #663 closed

[2019-04-16 19:13] scanum commented on #773
@PeteHaigh-MSFT We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2019-04-16 19:13] scanum commented on #773
@officedocsbot close

[2019-04-16 19:13] #773 closed

[2019-04-16 19:15] scanum commented on #825
@jusmig Hi Justin, thank you for submitting feedback. I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.

Please follow this link to contact support for business products:  https://docs.microsoft.com/office365/admin/contact-support-for-business-products

P

[2019-04-16 19:15] scanum commented on #825
@officedocsbot close

[2019-04-16 19:15] #825 closed

[2019-04-16 19:18] j0rt3g4 commented on #825
Hi, @Justfyn  Following what @scanum  says, basically we work on the documentation department, and we can't do changes in an application level, we can change just the documentation, not the apps. Thank you for reporting this.

[2019-04-16 19:20] scanum commented on #553
@kaarins Hi Kaarin, any updates on this issue? Thanks

[2019-04-16 19:20] scanum commented on #550
@JoanneHendrickson Any updates on this? Thanks!

[2019-04-16 19:21] scanum commented on #454
@kaarins Any updates on this? Thanks!

[2019-04-16 19:21] #444 closed

[2019-04-16 19:21] scanum commented on #365
@kaarins Any updates on this? Thanks!

[2019-04-16 19:22] scanum commented on #342
@fowl2  We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2019-04-16 19:22] scanum commented on #342
@officedocsbot close

[2019-04-16 19:22] #342 closed

[2019-04-16 19:23] scanum commented on #340
@kaarins Hi Kaarin, any updates on this?

[2019-04-16 19:23] scanum commented on #336
@kaarins Hi Kaarin, any updates on this?

[2019-04-16 19:24] scanum commented on #323
@IoTJonL Hi! Any updates on this? Thanks!

[2019-04-16 19:26] scanum commented on #322
@kaarins Hi Kaarin, any updates on this? Thanks!

[2019-04-16 19:27] scanum commented on #321
@kaarins Hi Kaarin, any updates on this? Thanks!

[2019-04-16 19:27] scanum commented on #318
@kaarins Any update on this? Thanks!

[2019-04-16 19:32] scanum commented on #562
@kaarins Any updates on this issue? Thanks!

[2019-04-16 19:32] scanum commented on #563
@RiccardoAmadi  - thank you for submitting feedback.

I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.

Please follow this link to contact support for business products:  https://docs.microsoft.com/office365/admin/contact-support-for-business-products

P

[2019-04-16 19:32] scanum commented on #563
@officedocsbot close

[2019-04-16 19:32] #563 closed

[2019-04-16 19:33] scanum commented on #647
@kaarins Any updates on this? Thanks!

[2019-04-16 19:34] scanum commented on #694
@kaarins Hi Kaarins, any updates on this? Thanks!

[2019-04-16 19:35] scanum commented on #719
@officedocsbot close

[2019-04-16 19:35] #719 closed

[2019-04-16 19:35] scanum commented on #740
@alwalters We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2019-04-16 19:35] scanum commented on #740
@officedocsbot close

[2019-04-16 19:35] #740 closed

[2019-04-16 19:36] scanum commented on #748
@Naxxan60  We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2019-04-16 19:36] scanum commented on #748
@officedocsbot close

[2019-04-16 19:36] #748 closed

[2019-04-16 19:38] scanum commented on #794
@chrisweis We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2019-04-16 19:38] scanum commented on #794
@officedocsbot close

[2019-04-16 19:38] #794 closed

[2019-04-16 19:38] scanum commented on #824
@nivaldotwtinfo  We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2019-04-16 19:38] scanum commented on #824
@officedocsbot close

[2019-04-16 19:38] #824 closed

[2019-04-16 19:39] scanum commented on #854
@officedocsbot close

[2019-04-16 19:39] #854 closed

[2019-04-16 19:41] kevball2 commented on #880
@lindspea thank you for the update. Is there any way to expose those features from the GUI?

[2019-04-16 20:24] skilmartin commented on #323
I'd love an update as well!! =)

[2019-04-16 21:11] scanum commented on #871
@jtrzebuckowski  - thank you for submitting feedback.

I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.

Please follow this link to contact support for business products:  https://docs.microsoft.com/office365/admin/contact-support-for-business-products

[2019-04-16 21:11] scanum commented on #871
@officedocsbot close

[2019-04-16 21:11] #871 closed

[2019-04-16 21:42] brenle opened #893 "Exchange Versions"
Exchange 2015 is a typo - the correct version is Exchange 2016

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d66c4b90-6314-e356-d752-021ee48d5aab
* Version Independent ID: 0d73e841-ca55-f726-df21-bb9be17ecb3e
* Content: [Configure eDiscovery in SharePoint Server](https://docs.microsoft.com/en-us/sharepoint/governance/

[2019-04-16 21:43] brenle commented on #893
To discover content in Exchange Server from a SharePoint eDiscovery Center, you must be running ***Exchange Server 2019, 2015, or 2013***.

[2019-04-16 22:55] alwalters commented on #740
What response are you waiting for?  I don't see any questions for me.

[2019-04-17 00:02] fowl2 commented on #342
@scanum note there is no notification of commits/PRs referencing issues on Github.

This update still doesn't cover "Edit List".

But I'd argue that the way this information is presented could be more useful if it was written for the perspective of someone trying to phase out IE and evaluating the impact. As it is now it's like it's trying to help allow/block activex controls or something.

While

[2019-04-17 01:20] manojkke opened #894 "What is the best way to migrate SharePoint 2013 On Prim to SharePoint 2019 on prim ?"
What is the best way to migrate SharePoint 2013 On Prim to SharePoint 2019 on prim?

We are currently using SharePoint 2013 on prim. We want to migrate it to SharePoint 2019 On Prim(Not SPO).
It seems **[SharePoint Migration Tool](https://docs.microsoft.com/en-us/sharepointmigration/introducing-the-sharepoint-migration-tool# )**  is equipped only to migrate from 2013 to SharePoint Online, not on p

[2019-04-17 02:18] SanjoyanM commented on #888
App enforce restriction applied to only SPO and EXO and it means for device based CA policy AAD is handing over the responsibility to SPO and EXO to do the enforcement --- at a resource level.

[2019-04-17 06:20] chrisweis commented on #794
Why was this closed?  The comment above from tseward acknowledged the issue, no?

[2019-04-17 07:28] OfficeGlobal opened #896 "[LOC] Invalid link in an article"
**Repro steps**:
1. Go to https://docs.microsoft.com/en-us/sharepoint/administration/manage-the-distributed-cache-service
2. Search for "Best Practices for using Windows Azure Cache/Windows Server Appfabric Cache"
3. Click on the linke

**Actual results**:
Link does not work
**Expected results**:
Link should work or should be removed

**GH article**:
https://github.com/MicrosoftDocs/OfficeDocs-Sha

[2019-04-17 07:32] OfficeGlobal opened #897 "[LOC] Invalid link in an article"
**Repro steps**:
1. Go to https://docs.microsoft.com/en-us/sharepoint/search/manage-the-search-schema
2. Search for "Manage the search schema in SharePoint Online"
3. Click on the link

**Actual results**:
Link does not work
**Expected results**:
Link should work or should be removed

**GH article**:
https://github.com/MicrosoftDocs/OfficeDocs-SharePoint/blob/live/SharePoint/SharePointServer/searc

[2019-04-17 07:50] VLG17 commented on #703
@itprotj although technically possible, it's not supported to add licenses to external users. Should you require this, i recommend providing this feedback on the official channel (it's your best bet of getting something changed): https://office365.uservoice.com/