[2020-03-30 19:29] dariomws commented on #1866
Hi @CThreadgill, thank you for your feedback.

I think this issue is related to this article:
https://docs.microsoft.com/sharepoint/control-access-from-unmanaged-devices#limit-access-using-powershell
Please confirm.

[2020-03-30 19:48] robertcaretta commented on #1860
The documentation doesn't make a reference to OneDrive usage. So as a reader I can not assume it is supported. I think some basic examples of usage would help, or even add another Q&A to the FAQs section.

[2020-03-30 19:57] dariomws commented on #1868
Hi @Disorganise, thank you for your feedback.

OneDrive is a Personal Cloud Storage. You can share files with colleagues, instead of attaching in an email, but if you want to share files with your team and collaborate on them you need to use SharePoint Online.
I can add that you can assign this Personal Cloud Storage to another user:
https://docs.microsoft.com/microsoft-365/admin/add-users/get-acc

[2020-03-30 20:23] Canis-Lupis opened #1891 "What do new sites created default to?"
If I have organization-level setting set to Anyone, will new sites created be automatically set to Anyone as well?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3106844b-caae-38c5-3c88-fb17a9d67536
* Version Independent ID: 3e88e60e-24a3-cd83-9bfc-8bc3037a86ce
* Content: [Change the external sharing setting for a site

[2020-03-30 20:32] dariomws commented on #1860
Understood now!

[2020-03-30 20:45] cclarke3 opened #1893 "Site Address Change - Huge Issue - Site Collection left in ERROR STATE - CANNOT UNDUE."
I changed a site address through the Admin Console.  Then on dev - Changed it in Admin Console and powershell and recreated the same issue.  The site is stuck saying its updating the url.  It times out on the process apparently and then never completes.  The new site seems to be up, the old site redirects to the new site, but the power app we had on the new site is broken and can not be recovered.

[2020-03-30 20:47] vjones-bowiestate opened #1894 "SharePoint URL Change - Teams - Planner Files"
This is related to Viewing Team Files after a SharePoint URL Change.

- Team Planner Attachments links are redirected in Planner Web App, but not in Teams App.
- Team Planner Attachments links open blank from Teams Web App.

[2020-03-30 20:49] cclarke3 opened #1895 "test"
test

[2020-03-30 20:50] vjones-bowiestate opened #1896 "SharePoint URL Change - Teams - Class Materials Folder"
This is related to viewing Team files after a SharePoint URL change:

Class Materials Folder produces the error: “The specified list is invalid” in Teams Desktop and Web.

[2020-03-30 23:39] tseward commented on #1896
This is documented at https://docs.microsoft.com/en-us/sharepoint/change-site-address#effects-of-changing-a-site-address.

[2020-03-30 23:41] tseward commented on #1894
@vjones-bowiestate you should raise these issues with the product group; if you're part of the preview program, raise with that specific group, otherwise file a ticket via admin.microsoft.com.

[2020-03-30 23:41] tseward commented on #1893
Please open a case via admin.microsoft.com for support on technical issues.

[2020-03-30 23:54] vjones-bowiestate commented on #1896
Hello Trevor,

I was attempting to submit a couple of additional issues to the list (of 8) at the bottom of that page.‎ It says to do this through github and provides a link.

What is the process?

Thanks!
From: Trevor Seward
Sent: Monday, March 30, 2020 7:40 PM
To: MicrosoftDocs/OfficeDocs-SharePoint
Reply To: MicrosoftDocs/OfficeDocs-SharePoint
Cc: Vernon Jones; Author
Subject: Re: [MicrosoftDoc

[2020-03-31 00:12] tseward commented on #1896
These repositories are for the docs themselves (i.e. out of date info, incorrect formatting, and so forth). For actual product issues, those need to be addressed via the proper support channels such as the support options via the M365 Admin Center.

[2020-03-31 00:18] vjones-bowiestate commented on #1896
OK. Now I need a place to suggest they make that clear on the page. Thanks.

From: Trevor Seward
Sent: Monday, March 30, 2020 8:12 PM
To: MicrosoftDocs/OfficeDocs-SharePoint
Reply To: MicrosoftDocs/OfficeDocs-SharePoint
Cc: Vernon Jones; Author
Subject: Re: [MicrosoftDocs/OfficeDocs-SharePoint] SharePoint URL Change - Teams - Class Materials Folder (#1896)

These repositories are for the docs them

[2020-03-31 00:47] Disorganise commented on #1868
Thanks.  I had read OneDrive and SharePoint utilise the same back-end blob storage and assumed they were essentially alternative front-ends to each other, especially as the share link interface is identical.
So just to be clear...
If I store and share a file via OneDrive, the retention policy engine applies and file is deleted some time after my account is deleted.
If I store and files via SharePo

[2020-03-31 06:16] bebobebo opened #1898 "Error 0x01110011 not listed"
Scan File Failure:The item created time or modified time is not supported

I got this on a bunch of PDF files (product manuals) all of which had a created date of 11/07/2019 and a blank modified date. I am guessing that SPMT can't deal with an empty modified date field.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cf

[2020-03-31 07:40] jantoney opened #1899 "This is extremely confusing"
The examples on this page relate to a future version of the application not in current public preview and should be hidden or marked as not-current.
For example, the current version of Migration Manager only supports file shares, but this gives examples on how to migrate from an On-Prem SharePoint server to SharePoint Online

---
#### Document Details

⚠ *Do not edit this section. It is required f

[2020-03-31 08:14] AndyTuke commented on #1860
Its the formatting of the csv file for OneDrive that isn't clear.  A previous github question that is now closed gives an example, otherwise I doubt I would have worked it out

[2020-03-31 12:49] dariomws commented on #1868
If you store files in SharePoint and remove a user, only OneDrive files will be removed after retention period, not SharePoint files.

[2020-03-31 13:05] vjones-bowiestate opened #1900 "SharePoint URL Change - Teams - Class Materials Folder"
After a SharePoint URL change, Class Materials Folder produces the error: “The specified list is invalid” in Teams Desktop and Web.
![capture-20200331-teams-url-rename-class-materials](https://user-images.githubusercontent.com/62909346/78029477-a6105700-732e-11ea-848f-64fb39bed3a7.PNG)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2020-03-31 13:10] vjones-bowiestate commented on #1896
I see what happened.  I didn't click on the correct link to submit directly to this project, but I see it now.  Sorry for the confusion.

From: Vernon Jones
Sent: Monday, March 30, 2020 8:18 PM
To: Trevor Seward <reply@reply.github.com>
Subject: Re: [MicrosoftDocs/OfficeDocs-SharePoint] SharePoint URL Change - Teams - Class Materials Folder (#1896)

OK. Now I need a place to suggest they make that

[2020-03-31 13:16] vjones-bowiestate opened #1901 "SharePoint URL Change - Teams - Planner Files"
After changing the URL:
- Planner attachment links are redirected in Planner Web App, but not in Teams App.
- Planner attachment links open blank from Teams Web App.
![capture-20200331-teams-url-rename-planner-files](https://user-images.githubusercontent.com/62909346/78030468-25eaf100-7330-11ea-9b29-74ce88c5504f.PNG)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.

[2020-03-31 13:24] MikePlumleyMSFT commented on #1891
@Canis-Lupis it depends on what kind of site is being created. See [Default site sharing settings](https://docs.microsoft.com/microsoft-365/solutions/microsoft-365-guest-settings?view=o365-worldwide#default-site-sharing-settings) for info.

[2020-03-31 14:22] Canis-Lupis commented on #1891
Thanks, but that's a little confusing in that doesn't every non-classic site create a group connection if you haven't already?  So, wouldn't all non-classic SP sites then default to what's listed under "Group-connected sites?"

________________________________
From: Mike Plumley <notifications@github.com>
Sent: Tuesday, March 31, 2020 8:24 AM
To: MicrosoftDocs/OfficeDocs-SharePoint <OfficeDocs-Sha

[2020-03-31 14:45] PChipVIA opened #1902 "GraphAPI"
Any way to do this via GraphAPI? Specifically, updating the "Allowed Domain" list.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f3e6adf5-c322-b7f1-9359-1f9e0723374b
* Version Independent ID: 0071fb22-d32b-da3f-aec1-60772b341bd0
* Content: [Restrict sharing of SharePoint and OneDrive content by domain - SharePoint Onl

[2020-03-31 14:50] dariomws commented on #1860
Hi @AndyTuke,

You just need to add the OneDrive Personal URL, Documents as target library and an optional subfolder. It's no more than that. I tested it and works in this way.

[2020-03-31 17:44] dariomws commented on #1873
Hi @prashant1380, thank you for your feedback.

In this case, you should monitor your storage and when you are running out of storage for your tenant/organization, you should buy more:
https://docs.microsoft.com/microsoft-365/commerce/add-storage-space

[2020-03-31 19:27] ruairidhlc commented on #1751
Perfect :) Thank you.

[2020-03-31 19:27] #1751 closed

[2020-03-31 19:31] dariomws commented on #1876
Hi @jacobmoran, thank you for your feedback.

@JoanneHendrickson could you kindly help?

This is what I see:
![image](https://user-images.githubusercontent.com/33589238/78067313-e2fb3e80-736c-11ea-99a5-4a6b956497a8.png)
![image](https://user-images.githubusercontent.com/33589238/78067336-ed1d3d00-736c-11ea-9d4e-132e6599dd30.png)
![image](https://user-images.githubusercontent.com/33589238/78067354-

[2020-03-31 20:23] jacobmoran commented on #1876
That is correct, but the documentation does not reference the SharePoint Disk-Based Cache counter group when discussing BLOB cache performance but instead references the SharePoint Publishing Cache counter group:[cid:d26b994c-5a09-413b-8959-8a0fc1556610]

Thank you,
Jacob Moran

________________________________
From: Dario Woitasen <notifications@github.com>
Sent: Tuesday, March 31, 2020 12:31 PM

[2020-03-31 21:19] kaarins commented on #1655
The feature owner verified that create, read, update, and delete operations on attachments are audited.

[2020-03-31 21:19] #1655 closed

[2020-04-01 05:13] scanum commented on #1885
@robertcaretta thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please ke

[2020-04-01 05:13] #1885 closed

[2020-04-01 05:14] #1893 closed

[2020-04-01 05:14] #1894 closed

[2020-04-01 05:14] #1895 closed

[2020-04-01 05:14] scanum commented on #1896
@vjones-bowiestate Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-04-01 05:14] #1896 closed

[2020-04-01 05:15] scanum commented on #1901
@vjones-bowiestate thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Pleas

[2020-04-01 05:15] #1901 closed

[2020-04-01 05:15] scanum commented on #1902
@PChipVIA thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us

[2020-04-01 05:15] #1902 closed

[2020-04-01 05:15] scanum commented on #1898
@bebobebo  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-04-01 05:15] scanum commented on #1899
@jantoney  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-04-01 05:16] scanum commented on #1900
@vjones-bowiestate  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-04-01 08:21] sebmatthews opened #1904 "Microsoft Message Analyzer is no longer available."
Just an observation requiring a small change - Microsoft Message Analyzer as cited above is no longer available since lagte 2019.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a5288caa-2ae0-8a92-507f-d28427aae3cc
* Version Independent ID: a2673258-2eb0-2aba-28ad-b1e0895a4620
* Content: [Network utilization planning fo

[2020-04-01 08:44] albegut opened #1905 "Error 0x0300001E not listed"
This is the error when try to migrate calculated field with date field referenced

"Failure","Skip migrate the content of the list because the required field(s) FechaCalculada cannot be created or updated","0x0300001E"

I have tried to migrate other calculated field with numeric fields referenced and I had have not problems

[2020-04-01 10:42] AndyTuke commented on #1860
@dariomws Thanks, I know that now.
But the issue was logged here because this is the official Microsoft documentation on this process, and for someone who doesn't know how to do this, they're going to struggle to learn from reading this page.  I was suggesting that the documentation is updated to include a clear csv file and json example for a OneDrive migration.

[2020-04-01 11:28] prashant1380 commented on #1873
Thanks for your comment. But if we have not utilized the full quota then why we need to buy extra? Lets take this example:
- Total quota available for SPO tenant = 10 TB (with automated quota management)
- Due to automated quota management : 10 SPO sites x 25 TB = 250 TB
- Actual space utilization of each site: 10 SPO sites x ~1 GB =  ~5 GB
So based on this given example, do you think we have to b

[2020-04-01 11:48] PChipVIA commented on #1902
Wait, I am asking how to do it with GraphAPI as there are no instructions in the document and you're referring me to a service ticket?  What is the relevancy?  Worse yet, you immediately close the issue without waiting for my confirmation or at least some time for me to respond.  What kind of process is this?

Now I will ask again:

- CAN this be done using GraphAPI?
- if yes HOW can this be done

[2020-04-01 14:10] robertcaretta commented on #1860
I am in agreement with this statement.

On Wed, Apr 1, 2020, 5:43 AM Andy Tuke <notifications@github.com> wrote:

[2020-04-01 14:11] dariomws commented on #1860
@AndyTuke I added an OneDrive example in the CSV section 2 days ago. You can see it in the PR above.

[2020-04-01 14:17] dariomws commented on #1873
@prashant1380 you need to buy extra storage if you reach your tenant limit. In your example, you didn't reach it yet. Just one correction: "Actual space utilization of each site: 10 SPO sites x ~1GB = ~10GB"

Similar example but in this case you reach the quota limit:
- Total quota available for SPO tenant = 10TB (with automated quota management)
- Due to automated quota management : 10 SPO sites

[2020-04-01 14:18] dariomws commented on #1873
This information is in the paragraph:
"By default, your SharePoint storage is available in a central pool from which all sites can draw. You, as a global or SharePoint admin, don't need to divvy up storage space or reallocate space based on usage. That's all handled automatically: sites use what they need when they need it. If you previously set storage limits manually and switch to using pooled s

[2020-04-01 17:07] DesignerGeeking opened #1907 "How would redirects work if I rename a site to another's old name?"
Here's the situation: one SharePoint/O365 group was created through Yammer, and another SharePoint/O365 group was created through Teams with the same name.

One got the the [Name] for the URL, the other got [Name]475 as the URL. We would like to change the [Name] URL to something different, like [Name]Announcements and change [Name]475 to just [Name]. What will happen with the redirects in this si

[2020-04-01 17:12] DesignerGeeking commented on #1907
Even better would be to merge the two O365 groups for Yammer and Teams, but that doesn't appear to be an option at this time.

[2020-04-01 18:48] AndyTuke commented on #1860
Thanks, I can see it in the PR.  How long till it appears in the docs?  Its not there yet.

[2020-04-01 18:54] dariomws commented on #1860
Once the state changes from Open to Merged, it would take a couple of hours.

[2020-04-02 15:24] cloudgreen commented on #1496
Thanks @scanum! Porting the SharePoint feature "Open with Explorer" to Edge has indeed been requested multiple times at Uservoice.

One of the suggestions were denied already back in 2018:

I added my support to another suggestion below, for what it's worth...

https://sharepoint.uservoice.com/forums/329214-sites-and-collaboration/suggestions/33196501-view-in-file-explorer-for-edge

Thanks for lis

[2020-04-02 17:19] vjones-bowiestate commented on #1901
I did some more testing and from what I’ve found, I believe that the nature of both issues is how Teams now interacts with Planner Files.
- When Planner uploads a file, it’s placed outside of channel folders.
- Planner within Teams no longer allows files to be uploaded.  You must first place the file in a channel, then locate and link it or use the link option to access a file from anywhere.
- It

[2020-04-03 06:13] scanum commented on #1904
@sebmatthews Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-04-03 06:13] #1904 closed

[2020-04-03 06:15] scanum commented on #1905
@albegut thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us

[2020-04-03 06:15] #1905 closed

[2020-04-03 06:15] scanum commented on #1907
@DesignerGeeking thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please

[2020-04-03 06:15] #1907 closed

[2020-04-04 08:27] #1801 closed

[2020-04-04 15:07] danmyhre commented on #1208
I am not seeing anything on this page for Access Services yet.  #reopen

[2020-04-06 03:37] Pentao commented on #1795
I can confirm that the "Copy library ID" option appears. But only if you are using an administrator account.

[2020-04-06 04:01] Pentao opened #1910 ""Apparently" there is an undocumented character limit for the value you can provide to this GPO on your SharePoint Synchronization URL."
Hi all,

I had 2 tickets open with Microsoft support regarding the implementation of the Group Policy "Configure team site libraries to sync automatically".

I my case I had mixed experience configuring team site libraries to sync automatically, some of the mapped, and some others never, ever did.

Luckily, I stumbled upon a YouTube Channel called Intune.Training, where the guys there mention an "

[2020-04-06 05:29] Ritty5 opened #1911 "Scenarios where the Powershell script to pre-provision multiple users will miss users"
[OneDrive Pre-provision Accounts](https://docs.microsoft.com/en-us/onedrive/pre-provision-accounts)

The script at the bottom of the page under the heading

In some scenarios will miss users.

If your tenant has 599 users it will miss 199 of them
- _foreach_ will go through each user
- do the first _if_ statement until _$i_ equals 199
- when _$i_ equals 199 it will run both _if_ statements, there

[2020-04-06 05:42] jeopardize95 commented on #1795
I can confirm it still does not appear, admin or not. Seems to be tenant specific.

[2020-04-06 06:22] scanum commented on #1910
@Pentao Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-04-06 06:22] scanum commented on #1911
@Ritty5 Please link the documentation you are referring to.

[2020-04-06 06:23] Ritty5 commented on #1911
Apologies, did not realise this was not specific to the Docs.

https://docs.microsoft.com/en-us/onedrive/pre-provision-accounts

[2020-04-06 09:06] andocromn commented on #1795
Hi @Pentao I have been testing licensed account with global admin permissions.  None of my tenants have the Copy Library ID option.  I suspect it may have to do with the time period in which the tenant or sharepoint site was created

[2020-04-06 11:00] T-office65 opened #1912 "Files with characters not supported by SharePoint"
What happens to files that don't confirm to SharePoints file naming requirements?
If there are invalid characters, are these flagged in advance of the migration and is there the facility to change them en masse?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 193d7cc4-4270-f69e-262b-6384a273f835
* Version Independent ID

[2020-04-06 13:49] dariomws commented on #1795
@kaarins could you kindly help? There are people who are still experiencing this issue. Thanks!

[2020-04-06 15:20] takawazo opened #1913 "Better clarification about OS requirement"
This is about Minimum requirements for a single server with built-in database and for front-end web servers and application servers in a farm

It is better to clarify 2008 R2 SP1 is minimum req and it is supported up to 2012 R2 including 2012.
Also, it might be better to mention 2012 R2 is recommended based on the issue [1492](https://github.com/MicrosoftDocs/OfficeDocs-SharePoint/issues/1492).

*

[2020-04-06 16:19] andocromn commented on #1795
I don't pretend to be an expert on SharePoint, but from my experience the site is created from a template... And this would be part of the template, right? So if it was removed from them template, these changes wouldn't apply to pre-existing sites created from the template, only sites created after this change was made to the template

[2020-04-08 04:29] bramdejager opened #1914 "Consumer version of OneDrive article incorrect location under OneDrive for Business"
Hello support,

the article is referring to the URLs and ports for the consumer version of OneDrive. Which is a bit odd and confusing since the document is part of the OneDrive for Business documentation based on the menu navigation. Breadcrumb: OneDrive for Business » OneDrive » Sharing and security » Required URLs and ports.

Maybe this document needs to be move to another location?

Regards Bra

[2020-04-08 05:53] scanum commented on #1912
@T-office65 thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep

[2020-04-08 05:53] #1912 closed

[2020-04-08 05:54] scanum commented on #1914
@bramdejager Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-04-08 05:54] scanum commented on #1913
@takawazo Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-04-08 07:22] stalks commented on #1885
I'd also like this answered. I don't expect to be told to go find out the info myself when submitting feedback to the document that should answer this question.

[2020-04-08 10:13] panjkov opened #1915 "Invalid FWLINK - page moved from sqlmag.com to itprotoday.com"
Affected page: https://github.com/MicrosoftDocs/OfficeDocs-SharePoint/blob/live/SharePoint/SharePointServer/administration/plan-for-high-availability.md

Affected FWLINK in text block: "For help deciding which SQL Server availability technology to use, see Choosing a SQL Server Availability Technology."

FWLINK https://go.microsoft.com/fwlink/?LinkID=799828&clcid=0x409
points to "http://sqlmag.com

[2020-04-08 13:12] gp92 opened #1916 "Disable "Help Menu" section into OneDrive client"
I followed your guide to disable the help section into OneDrive client without success:
https://support.office.com/en-us/article/how-to-disable-get-help-and-send-feedback-in-onedrive-for-business-edf62c21-a30f-4330-b98a-f6d482f69f8b. Configured both GPO and tenant settings but still I have the option. How to completely disable it?

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2020-04-08 15:03] tfurstms opened #1917 "B2B OTP replacing the the ad-hoc external sharing experience used in OD4B/SPO"
Hello- Thanks for this article! I had a question on following statement, "After preview, this feature will replace the ad-hoc external sharing experience used in OneDrive and SharePoint today for all tenants."

Question -&gt; Since the B2B OTP will replace the the ad-hoc external sharing experience used in OD4B/SPO, can you put a placeholder in this article that will link to the future guidance on

[2020-04-08 15:49] tseward commented on #1910
This is a very, very well documented limit (400 characters, encoded). By default, Win32 applications such as Windows Explorer have a limit of 260 characters but that can be adjusted (MAX_PATH) to the maximum limit of NTFS of 32k characters.

_However_ even if you adjust MAX_PATH, Office applications do not use the correct API and are limited to a 260 character path in Windows.

https://support.off

[2020-04-08 18:36] v-mianth opened #1918 "URL incorrect"
the URL here doesn't seem to match the page description

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 116a7d33-b79a-f07d-b9de-d032d805c8d5
* Version Independent ID: 94908ca2-5edc-eb8c-b8a2-72cf61969dc7
* Content: [Set Files On-Demand states](https://docs.microsoft.com/en-us/onedrive/files-on-demand-mac)
* Content Sour

[2020-04-09 12:50] MikePlumleyMSFT commented on #1917
@MSFTRafLop can you comment?

[2020-04-09 20:24] baconbum opened #1920 "Where is the crawl log actually viewed?"
This document details how to configure permissions, but how do you actually see crawl logs?

The description at the top of this article mentions eDiscovery, but when I was in the Security and Compliance Center I created a case in the eDiscovery section and didn't see any option to view the crawl log.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2020-04-09 20:45] MSFTRafLop commented on #1917
For the most part, customers don't need to re-share content that was already shared externally. Just like when you enable the preview. The reason is that when an "old" link is clicked again then we create a B2B Invite on-demand in that moment on behalf of the user who originally created the "old" link. There are instances where this on-deman B2B Invite won't work, like if it conflicts with an AAD

[2020-04-10 00:52] ashokgop opened #1921 "Secure Channel SSL certificates requirement"
The section "About Secure Channel SSL Certificate" states as below...

"This certificate must be either a wildcard or a SAN certificate and be issued by a public root certification authority. The subject field of this certificate must contain the host name of the external endpoint of the reverse proxy server or a wildcard URL that covers all host names in the namespace."

In the section below it u

[2020-04-12 22:21] DmitryVorobyov opened #1923 "How do we determine the optimal number of agents?"
&gt; Based on the size of the content you want to migrate, you can setup as many agents as you need

But how do we determine the number of agents needed?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 624f51bf-bf14-03ae-099b-2ee8b8657bf2
* Version Independent ID: 71bc428f-3fe9-1e9b-a996-871407127f96
* Content: [Setup M

[2020-04-13 08:12] scanum commented on #1916
@gp92 thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us pos

[2020-04-13 08:12] #1916 closed

[2020-04-13 08:13] scanum commented on #1923
@DmitryVorobyov thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please k

[2020-04-13 08:13] #1923 closed

[2020-04-13 08:13] scanum commented on #1921
@ashokgop Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-04-13 08:13] scanum commented on #1920
@baconbum Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-04-13 08:13] scanum commented on #1918
@v-mianth Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-04-13 08:13] scanum commented on #1915
@panjkov Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-04-13 08:13] scanum commented on #1917
@tfurstms Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-04-13 08:13] #1917 closed

[2020-04-13 19:19] Canis-Lupis opened #1924 "What about anonymous users?"
It seems that all SharePoint site sharing revolves around getting an emailed 'link' or logging in.  What if I create an information site with some pdf files that anyone in the world can download freely?  Isn't there a setting where I can let anyone go to https://mydomain.sharepoint.com/sites/Info without needing to be emailed a link? That is, just by typing https://mydomain.sharepoint.com/sites/In

[2020-04-13 23:42] D3w4yne commented on #392
You used to be able to specify a sub folder of a channel by using "General/Subfolder" syntax but now (doing a migration tonight) I find that it's not working...

[2020-04-14 03:56] scanum commented on #1924
@Canis-Lupis thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep

[2020-04-14 03:56] #1924 closed

[2020-04-14 03:57] scanum commented on #1095
@StephenRiceMSFT Any updates on this? Thanks

[2020-04-14 03:57] scanum commented on #1122
@sowjanya365 Any updates on this? Thanks

[2020-04-14 04:00] scanum commented on #1722
@kk-sdsu Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-04-14 04:00] #1722 closed

[2020-04-14 04:02] scanum commented on #1554
@jordonthreadgill Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-04-14 04:02] #1554 closed

[2020-04-14 04:02] scanum commented on #1834
@obhayes Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-04-14 04:02] #1834 closed

[2020-04-14 04:02] scanum commented on #1855
@brent-smith-msft Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-04-14 04:02] #1855 closed

[2020-04-14 04:03] scanum commented on #1866
@CThreadgill Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-04-14 04:03] #1866 closed

[2020-04-14 04:03] scanum commented on #1867
@Disorganise Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-04-14 04:03] #1867 closed

[2020-04-14 04:03] scanum commented on #1868
@Disorganise Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-04-14 04:03] #1868 closed

[2020-04-14 04:03] scanum commented on #1871
@junterpfe Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-04-14 04:03] #1871 closed

[2020-04-14 04:03] scanum commented on #1873
@prashant1380 Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-04-14 04:03] #1873 closed

[2020-04-14 04:03] scanum commented on #1874
@srinivasamyneni Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-04-14 04:03] #1874 closed

[2020-04-14 04:03] scanum commented on #1878
@burtzz Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-04-14 04:03] #1878 closed

[2020-04-14 04:03] scanum commented on #1880
@mikelee-msft Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-04-14 04:03] #1880 closed

[2020-04-14 04:03] scanum commented on #1891
@Canis-Lupis Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-04-14 04:03] #1891 closed

[2020-04-14 04:04] scanum commented on #1898
@bebobebo thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us

[2020-04-14 04:04] #1898 closed

[2020-04-14 04:04] scanum commented on #1910
@Pentao Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-04-14 04:04] #1910 closed

[2020-04-14 04:45] bebobebo commented on #1898
It's not a tenant issue! I'll forward this to Chris Pratley. He'll
understand

On Tue, 14 Apr 2020 at 14:04, Manuela Scanu <notifications@github.com>
wrote:

[2020-04-14 13:19] mikelee-msft commented on #1880
Thank you!!   Looks Great!

[2020-04-14 22:21] jamesamayes opened #1926 "What is governance? poster"
This poster makes reference to SharePoint 2013. Is there a more current version of this poster?  If not, and the content is still relative, can the "2013" piece be removed?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 08ef16cf-db32-9d8f-8282-55490518ffef
* Version Independent ID: b07676fd-f360-54f9-e539-68e6e9f4e987

[2020-04-15 01:01] rsulliva opened #1928 "missing error message: The folder name is invalid, 0x0171000D"
"The folder name is invalid, 0x0171000D" was observed.

It turns out that source folder name for the migration was copied onto NTFS disk from a Mac, and it's first character was a space (0x20).  Didn't know the Mac would allow that.

Anyway, it worked on the mac it was copied from, but was caught and reported as an error by SPMT.  Files in that folder got 0x01710009 error messages, since the targe

[2020-04-15 06:45] sheepson opened #1929 "Option to run this on all sites at once."
We have tenants with a lot of sites and I would like to do the reporting on all sites at once, either via powershell or the admin portal. Is this possible, or will it be possible in the near future?

For now i've also created a uservoice entry:
https://sharepoint.uservoice.com/forums/330318-sharepoint-administration/suggestions/40174579-create-a-report-for-all-shared-files-and-folders-o

Thanks!

[2020-04-15 07:56] BlazeOfFeathers opened #1930 "Integration between Home Site & SharePoint Start Page"
Hi,

Is the integration between the home site and the SharePoint Start Page being cancelled or postponed?

This was finally a good way to not completely separate the SharePoint Start Page from the rest of the Intranet. Users get confused when they suddenly end up on a completely different page when they click on "SharePoint". Admin cannot control this page as well. What's the point of a root home

[2020-04-15 09:50] albegut commented on #1905
The error was due to an error in the formula of the calculated field. I cannot confirm that the error code is specific to this problem.

[2020-04-15 21:27] jjohnkc commented on #1929
Second this request 100%. We absolutely need to be able to see files and folders shared externally across all sites, not just individual ones. We limit external sharing simply because we do not have this visibility currently.

Sheepson, I voted on your SharePoint UV entry also - thanks!

[2020-04-16 02:24] scanum commented on #1928
@rsulliva thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us

[2020-04-16 02:24] #1928 closed

[2020-04-16 02:24] scanum commented on #1929
@sheepson thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us

[2020-04-16 02:24] #1929 closed

[2020-04-16 02:24] scanum commented on #1930
@BlazeOfFeathers thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please

[2020-04-16 02:24] #1930 closed

[2020-04-16 02:25] scanum commented on #1926
@jamesamayes  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-04-16 13:08] MikeMittonBio commented on #1900
@scanum Any update on this? I'm in this situation I would like to know if I have to recreate the site to get it working again.

[2020-04-16 20:13] kaarins commented on #1705
This has been fixed. Thanks!

[2020-04-16 20:13] #1705 closed

[2020-04-16 20:19] kaarins commented on #1900
@AdwoodMicrosoft can you help this customer, or should they file a support ticket?

[2020-04-17 07:15] BakkerJan opened #1935 "MFA for all apps breaks Onedrive (guest users)"
I have the next setup: I have CA configured to force MFA for all guest and external users. Since this, guest users' Onedrive client wont sync anymore, giving this error: AADSTS50076: Due to a configuration change made by your administrator, or because you moved to a new location, you must use multi-factor authentication to access '00000003-0000-0ff1-ce00-000000000000

Is this by design? Do we have

[2020-04-17 09:20] msftfdbk opened #1936 "Site collection feature may affect anonymous sharing of folders"
When the site collection feature [“Limited-access user permission lockdown mode”](https://docs.microsoft.com/en-us/sharepoint/troubleshoot/sharing-and-permissions/cannot-access-shared-folder) is active, existing anonymous sharing links to folders may not work, and new links can’t be created.  This is not mentioned in the article.  See O365 support ticket #19584248 for reference.

---
#### Document

[2020-04-17 11:43] MikeMittonBio commented on #1900
@kaarins @AdwoodMicrosoft No need for a support ticket. I just deleted the group and made a new one. I am curious what the fix would be though.

[2020-04-17 13:14] JonesMikael commented on #1860
Still no example? I'd love to see once, specially if it has a scenario when copying to a subfolder in the path.

[2020-04-17 22:02] DDog80sRocked opened #1937 "Format of CSV is incorrectly show on this page"
The SharePoint Migration Manager bulk import process doesn't allow you to import the sample as shown with the local drive path.  You have to use a UNC path for it to accept it.  This needs to be updated in the documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 27475eb6-82f5-1f75-a304-e5696092a3e1
* Version I

[2020-04-17 23:39] scanum commented on #1935
@BakkerJan thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep u

[2020-04-17 23:39] #1935 closed

[2020-04-17 23:39] scanum commented on #1936
@msftfdbk  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-04-17 23:39] scanum commented on #1937
@DDog80sRocked  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-04-18 20:09] avidpontoon opened #1939 "My Documents and Documents Bug"
I have two 1909 PC's with the latest version of OneDrive. While using silent KFM via GPO. When i login to the fist PC, it creates the 'Desktop', 'Documents' and 'Pictures' folders within onedrive and redirects my folders to them.

However when i login to another PC, The desktop stays the same but instead of redirecting my documents to the already created' documents' folder within onedrive, it crea

[2020-04-19 20:17] DmitryVorobyov commented on #1923
My question was theoretical at this point. Just wanted to point out that since this article already states that the number of agents should be based on the volume of content being migrated, it should also include guidance on how to calculate the said number... Thank you!

[2020-04-20 07:35] AdamJB19 commented on #392
Is there a resolution for this? I also want to be able to provide subfolder mapping under General in the CSV format

[2020-04-20 07:46] AdamJB19 opened #1940 "CSV syntax for multi-level target subfolder"
Hi, could you please give instructions on how to map to a target destination that is not the top-level of documents (i.e. General/Subfolder)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 27475eb6-82f5-1f75-a304-e5696092a3e1
* Version Independent ID: e9bd89b2-a04d-5509-5c76-fc0602cc8515
* Content: [Format JSON or CSV

[2020-04-20 18:29] mbenadiba opened #1941 "Converting copied Library ID from Unicode to ASCII - Is it really Necessary?"
Hello.
I have been able to successfully push Team Sites for the last few months using the GPO item "Configure team site libraries to sync automatically" without converting the Unicode charactars to ASCII charactars.  I have visited this article page several times over the last year and do not recall this requirement.
As of a few days ago, i am successfully able to push document libraries to comput

[2020-04-20 21:11] ashokgop commented on #1921
Hello,
Checking in to see if there is any update on this.  Thank you!
-AG

[2020-04-20 21:13] scanum commented on #1939
@avidpontoon thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep

[2020-04-20 21:13] #1939 closed

[2020-04-20 23:18] Amyversa opened #1942 "Cannot set a site as a home site"
The following does not work
Set-SPOHomeSite -HomeSiteUrl <siteUrl>
Set-SPOHomeSite : The requested operation is part of an experimental feature that is not supported in the current
environment

[2020-04-21 02:43] spg-iwilson opened #1943 "TotalItemCount - for site collection or content database?"
TotalItemCount - this seems to be reporting the total number of items in the content database, not the site collection. My report is showing the same TotalItemCount for each of the personal site collections. These are all in the same content database. SMAT version 1.0.1804.23001

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-04-21 07:17] scanum commented on #1940
@AdamJB19
thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us

[2020-04-21 07:17] #1940 closed

[2020-04-21 07:17] scanum commented on #1941
@mbenadiba
thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep u

[2020-04-21 07:17] #1941 closed

[2020-04-21 07:17] scanum commented on #1942
@Amyversa
thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us

[2020-04-21 07:17] #1942 closed

[2020-04-21 07:17] scanum commented on #1943
@spg-iwilson
thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep

[2020-04-21 07:17] #1943 closed

[2020-04-21 07:18] scanum commented on #1217
@mattwak Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-04-21 07:18] #1217 closed

[2020-04-21 13:32] Amyversa commented on #1942
Hi @scanum - I'm referring to this document -
https://docs.microsoft.com/en-us/powershell/module/sharepoint-online/set-spohomesite?view=sharepoint-ps
When I do that, it says - The requested operation is part of an experimental feature that is not supported in the current environment

[2020-04-21 15:47] rgshah26 opened #1945 "Please mention SQL 2019 in this document for SP19."
Please mention SQL 2019 in this document for SP19.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 530a4fe6-b750-c975-8492-c574936b254f
* Version Independent ID: 6fccbcbb-4499-51eb-9be4-9260b485add1
* Content: [Supported high availability and disaster recovery options for SharePoint databases](https://docs.microsoft.com

[2020-04-21 16:04] luxzg opened #1946 "Sharepoint 2019 ON PREMISE / OneDrive sync"
Got to say, docs are confusing as hell.

First of all, despite most / all docs being tagged as Sharepoint 365, Sharepoint 2019 this is NOT true. Most of them only describe walkthroughs for 365 version such as LINKS to SharePoint 365 Admin page, and not saying WHICH admin interface that should be on-premise. So the whole docs should get a review from the on-premise viewpoint.

Anyway, I was trying

[2020-04-21 17:07] rgshah26 opened #1947 "Please mention SQL 2019 in this document for SP19."
Please mention SQL 2019 in this document for SP19.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 530a4fe6-b750-c975-8492-c574936b254f
* Version Independent ID: 6fccbcbb-4499-51eb-9be4-9260b485add1
* Content: [Supported high availability and disaster recovery options for SharePoint databases](https://docs.microsoft.com

[2020-04-21 17:09] rgshah26 opened #1948 "Please mention SQL 2019 in this document for SP19."
Please mention SQL 2019 in this document for SP19.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a8065895-eb6b-e4a5-967a-73bee4605d50
* Version Independent ID: ce168605-1ed4-d626-476d-d4120be2a6cf
* Content: [Database types and descriptions in SharePoint Server](https://docs.microsoft.com/en-us/SharePoint/technical-re

[2020-04-21 17:09] rgshah26 opened #1949 "Please mention SQL 2019 in this document for SP19."
Please mention SQL 2019 in this document for SP19.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f70a2b05-ceef-af7f-78b2-18100771af3c
* Version Independent ID: 2fa1c886-a3cf-4c90-7d36-5257ea4d593a
* Content: [Storage and SQL Server capacity planning and configuration (SharePoint Server)](https://docs.microsoft.com/en-

[2020-04-21 17:18] Sdean1234 opened #1950 "Spelling Error - First sentence"
See "you can use either of the folloiwng tools" --- following is misspelled.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8673a55f-50c6-bd98-6b4f-d54db859216d
* Version Independent ID: 571c56c2-0be7-0296-ab36-3a75ff3874a9
* Content: [Migrate content to OneDrive in Office 365 - Migrate to SharePoint and OneDrive](http

[2020-04-21 18:59] aaron-medrano opened #1951 "Choose Drive to Install on"
I'm looking to see if there is a way to specify which drive this tool is installed and the local cache it stores it on. I've got a file share install with 200 GB to migrate and i'm worried i'll run into issues with my local C drive getting full since it can only go to 160 GB. i have another drive i added with 300 GB of storage i would rather use instead on another letter drive.

---
#### Document

[2020-04-21 20:38] chanansh opened #1952 "Sharepoint site name change causes total failure of teams to work!"
This is an insult to software design. Fix this, please.

After the site address is changed, users won't be able to view the team's files within the Teams app, but they can access them from Teams by selecting Open in SharePoint. This issue is actively being worked on and will be addressed soon.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2020-04-21 20:52] chanansh commented on #1952
also the url change takes forever cycling "Updating site address..."
I tried to "Add Cloud Storage" to try to reconnect the teams to sharepoint but it doesn't seem to be working

[2020-04-22 11:48] Pentao opened #1955 "Please add a reference to Mover on the Migration section."
In the section
# Migration
## How to migrate content from file shares, SharePoint Server, or other cloud providers to OneDrive in Microsoft 365
* Please add a link to the Mover articles, this tool is way more powerful than the SharePoint migration tool:
** https://docs.microsoft.com/en-us/sharepointmigration/mover-fileshare-to-o365

---
#### Document Details

⚠ *Do not edit this section. It is req

[2020-04-22 12:03] JTB25 opened #1956 "Ip addresses"
Hi!

We have setup the Network access control and add a few ip-addresses.
We have now setup 20 ip-addresses but we cannot add anymore. Is 20 the maximum for this?

[2020-04-22 13:10] PhilippZumdohme commented on #1470
Hello @scanum
On behalf of the original poster, I'd like to reopen this issue.
The current situation is, that a customer wants to shift from legacy OnPremises AD Enviroments to a clean new EASE Golden/Red-Forest construct.
In the new construct all clients will be autopilot-enrolled via Intune and only Azure AD Joined, not Hybrid joined, as they should have never contact to the Domain Controller.
T

[2020-04-22 13:25] JimMoyle opened #1957 "Links go to old site"
Hi the links are going to fslogix.com and should be to https://docs.microsoft.com/en-us/fslogix/overview  There also seems to be some confusion over the name, unless it's changing the current name is Office 365 container.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: acc677c5-4514-fb8b-a864-4edd7

[2020-04-22 13:52] dariomws commented on #1470
Hi @PhilippZumdohme, thank you for your comment.

Docs.microsoft.com is available to improve Microsoft documentation. I don't have the information that you are requesting, so I cannot provide it.
I think the right place to get this kind of help is support, consulting services, or even https://techcommunity.microsoft.com/.

[2020-04-22 14:19] PhilippZumdohme commented on #1470
Hello @dariomws
No Problem, but then I would advise not to add the passus about Azure AD Joined or state, that this will currently block all Azure AD Joined devices from synchronizing, as they have no local Domain GUID that can be added to the allowed list.
It is confusing and leads people into the wrong direction.

[2020-04-22 15:21] dariomws commented on #1470
If you have devices which are only Azure AD joined, you should use Conditional Access. I understand that the note at the end doesn't tell us that we can block devices to sync OneDrive based on their Azure AD Domain.

You can use Conditional Access policies to ensure syncing is only done with compliant devices:
https://docs.microsoft.com/onedrive/enable-conditional-access

[2020-04-22 17:00] HilaryStoupa opened #1958 "Minor typo in Prerequisites section"
There is trailing slash instead of a period at the end of this sentence:
"We cover how to configure the separate app domain and the service applications in the apps for SharePoint configuration article/"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f09c46e-a0cf-709d-96d5-b5ab30250727
* Version Independent ID: 4bf78e

[2020-04-22 19:13] Vittorio4 opened #1959 "Guidance for our users"
We are just starting to rollout out 0365 and are in the planning stages. Correct me if I'm wrong, but after reading the documentation (and all of these very helpful comments), and until there is definitive guidance from Microsoft, the net is **we should expect to NOT change site names or URLs anytime soon**. It just seems like

- it's either NOT possible, as in the case of Hub sites (not sure why

[2020-04-22 20:54] tech4ce opened #1960 "SPMT - Update this week causes error migrating to subfolders."
We ran a successful initial migration on Monday for a customer using the CSV method. In column F we had a subfolder within a subfolder defined for many of the destinations in Teams (e.g. General/Folder). The initial migration completed successfully and we saw it build out the folder structure for those subfolders as intended and populate them with data. Today, the SPMT installed an update, and we

[2020-04-23 02:07] scanum commented on #1946
@luxzg vthank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us p

[2020-04-23 02:07] #1946 closed

[2020-04-23 02:07] scanum commented on #1951
@aaron-medrano thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please ke

[2020-04-23 02:07] #1951 closed

[2020-04-23 02:07] scanum commented on #1956
@JTB25 thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us po

[2020-04-23 02:07] #1956 closed

[2020-04-23 02:07] scanum commented on #1959
@Vittorio4 thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep u

[2020-04-23 02:07] #1959 closed

[2020-04-23 02:08] scanum commented on #1960
@tech4ce thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us

[2020-04-23 02:08] #1960 closed

[2020-04-23 02:08] scanum commented on #1945
@rgshah26 Thank you for submitting feedback and contributing to the docs. We are currently investigating this

[2020-04-23 02:08] scanum commented on #1947
Duplicate

[2020-04-23 02:08] #1947 closed

[2020-04-23 02:08] #1948 closed

[2020-04-23 02:08] #1949 closed

[2020-04-23 02:08] scanum commented on #1950
@Sdean1234 Thank you for submitting feedback and contributing to the docs. We are currently investigating this

[2020-04-23 02:09] scanum commented on #1952
@chanansh Thank you for submitting feedback and contributing to the docs. We are currently investigating this

[2020-04-23 02:09] scanum commented on #1955
@Pentao Thank you for submitting feedback and contributing to the docs. We are currently investigating this

[2020-04-23 02:09] scanum commented on #1957
@JimMoyle Thank you for submitting feedback and contributing to the docs. We are currently investigating this

[2020-04-23 02:17] scanum commented on #1958
@HilaryStoupa Thank you for submitting feedback and contributing to the docs. We are currently investigating this

[2020-04-23 12:34] pkothree opened #1962 "Files larger than 15GB are not migrated?"
OneDrive for Business only allows 10GB per file. Is this section only for SharePoint Online?
Or is it allowed to migrate more than 10GB files to OneDrive for Business with Mover?

Section: https://docs.microsoft.com/en-us/sharepointmigration/mover-box-to-o365#will-there-be-unsupported-files-and-characters

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2020-04-23 14:44] Vittorio4 commented on #1959
Ok but this doesn't answer my question and why would the answer lie in the Tenant when the issue is in the foundation? We will escalate through another channel then.

[2020-04-23 17:28] hsantan commented on #1920
I have the same doubt!

[2020-04-23 20:43] lindspea commented on #1764
@TroyStarr any update perhaps?

[2020-04-23 22:37] get-itips commented on #1958
Hello @HilaryStoupa 👍 Thanks for noticing and reporting.

[2020-04-23 22:49] get-itips commented on #1945
Hello @MikePlumleyMSFT
Can you kindly confirm if SQL Server 2019 is **supported** in the scenarios described by this article?
Thanks

[2020-04-23 23:04] jay1050 opened #1965 "Continuous crawl randomly misses items"
We have continuous crawl enabled for our sharepoint content

We find it will randomly miss items. These items are not picked up unless they are edited again

Is this expected behaviour

[2020-04-23 23:08] get-itips commented on #1952
Hello @chanansh Hanan, how are you?
I understand your request, however, here we are limited to documentation fixes, for this kind of issues, we recommend uservoice, I searched and I found [this one](https://microsoftteams.uservoice.com/forums/555103-public/suggestions/38951875-renaming-sp-site-breaks-files-tab) that talks about it, and voted for it.
Hope this information helps you.

[2020-04-23 23:33] jay1050 commented on #35
It looks like crawl logs are only available after full crawl has completed
https://docs.microsoft.com/en-us/sharepoint/search/view-search-diagnostics

However i think what has been suggested above is that we do not really need full crawl schedule. So would we never have logs available for continuous crawls ?

[2020-04-24 00:03] get-itips commented on #1955
Hello @Pentao Humberto, how are you? Created a pr to propose adding the link to the article. Thanks!

[2020-04-24 04:21] scanum commented on #1962
@pkothree thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us

[2020-04-24 04:21] #1962 closed

[2020-04-24 04:21] scanum commented on #1965
@jay1050 thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us

[2020-04-24 04:21] #1965 closed

[2020-04-24 08:46] VLG17 commented on #1921
@ashokgop I will create a pull request and remove this part "**_> The Subject or Subject Name field of the certificate must contain a wildcard entry of the domain name in the External URL. For example, if your external URL is https://spexternal.public.adventureworks.com, the subject of your wildcard certificate should be *.public.adventureworks.com. >_**" which was already handled in the Note abov

[2020-04-24 09:54] ioshi13 opened #1968 "InfoPath forms"
Does this also support migrating InfoPath forms?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2d8dd218-a3cd-85e8-bdea-f491b98e9e48
* Version Independent ID: 1acc3912-f82b-510e-262b-785040d28795
* Content: [What does SPMT support? - Migrate to SharePoint and OneDrive](https://docs.microsoft.com/en-gb/sharepointmigrati

[2020-04-24 10:43] VLG17 commented on #1920
@baconbum As far as i know there are 2 ways to get the crawl log in SPO:

1. eDiscovery as you mentioned, but there are a few more things you need to configure before you can view the crawl log. You need to specify the correct source and a few more things. Although not an official MS article, you can find the details [here](https://exploresharepointfeatures.com/2016/11/05/view-sharepoint-online-sp

[2020-04-24 13:26] VLG17 commented on #1915
@panjkov Thank you for providing this feedback. Keeping in mind that "https://www.itprotoday.com/business-resources/choosing-sql-server-availability-technology" is not an official MS documentation, i will create a request to reference this article, which includes all the information of the above document, and much more - https://docs.microsoft.com/en-us/sharepoint/administration/plan-for-high-avai

[2020-04-24 13:33] panjkov commented on #1915
@VLG17 I agree that it is not official documentation, but it is behind our official link shortener (FWLINK) – so we should either update the FWLINK or use direct link to the article, or  equivalent article that we own on that topic.

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

From: VLG17<mailto:notifications@github.com>
Sent: Freitag, 24. April 2020 15:26
To: Mi

[2020-04-24 15:17] tseward commented on #1915
I would link to the official docs at https://docs.microsoft.com/sql/database-engine/sql-server-business-continuity-dr?view=sql-server-ver15.

[2020-04-24 15:39] MikePlumleyMSFT commented on #1915
Agreed - we should link to the Microsoft docs for this.

[2020-04-25 05:35] sowjanya365 commented on #1122
Hi @flaviuc

Thank you for your patience!

After the investigation, we understand that DNS Alias is now the MS recommended approach to configuring SQL Server instances for SharePoint.

If you are specifically looking for how to add SQL Alias, please refer to the following article.

https://docs.microsoft.com/en-us/sharepoint/troubleshoot/administration/how-to-change-the-database-in-farms#step-1-cr

[2020-04-25 09:18] tsegato commented on #1055
Would it maybe be an option you update the documentation as there is nothing anywhere about this topic. Then we dont have to create a support case all of us?

[2020-04-25 13:19] scerazy commented on #871
Does EVEYTHING has to be Closed with "solution" = open a service ticket ?

[2020-04-26 21:34] ldusolier opened #1971 "Should App Mngmt and subs be included in the list of 3 at the beginning of the article?"
At the beginning of the article these 3 services are mentioned as prereqs for hybrid as SP Services, however later on, App Management and Subscription Settings Service are also included but not listed in the list at the beginning of the article

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1671c351-27e4-e726-858d-c3d6

[2020-04-26 23:11] DMZ011 opened #1972 "Access denied after site swap using central admin page"
I tried the site swap as mentioned in this article: https://docs.microsoft.com/en-us/sharepoint/modern-root-site#feedback

I followed the steps as mentioned in the article using the admin center:

- Go to the Active sites page of the new SharePoint admin center, and sign in with an account that has admin permissions for your organization.

- In the upper right, make sure the All sites view is sele

[2020-04-27 03:21] scanum commented on #1095
@StephenRiceMSFT Any updates on this? Thanks

[2020-04-27 03:22] scanum commented on #1122
@flaviuc
Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-04-27 03:22] #1122 closed

[2020-04-27 03:22] scanum commented on #1232
@bentoncity Hi! Could you please aid us in the next steps? Thanks!

[2020-04-27 03:22] scanum commented on #1476
@kaarins Following up on this, any updates? Thanks!

[2020-04-27 03:22] scanum commented on #1481
@kaarins Following up on this, any updates? Thanks!

[2020-04-27 03:22] scanum commented on #1492
@JoanneHendrickson Could you please help on this issue? Thanks.

[2020-04-27 03:22] scanum commented on #1513
@JoanneHendrickson Following up on this issue. Thanks!

[2020-04-27 03:22] scanum commented on #1520
@JoanneHendrickson Following up on this issue. Thanks!

[2020-04-27 03:22] scanum commented on #1524
@TroyStarr @MikePlumleyMSFT Following up on this issue. Thanks

[2020-04-27 03:23] scanum commented on #1716
@gacarini Hi! Any updates on @kaarins question? Thanks

[2020-04-27 03:23] scanum commented on #1735
@JoanneHendrickson Can you help us here? Thank you!

[2020-04-27 03:23] scanum commented on #1737
v

[2020-04-27 03:23] scanum commented on #1764
@TroyStarr any update perhaps?

[2020-04-27 03:23] scanum commented on #1795
@kaarins could you kindly help? There are people who are still experiencing this issue. Thanks!

[2020-04-27 03:23] scanum commented on #1796
@TroyStarr Wondering if there is an update on this issue? Thanks

[2020-04-27 03:23] scanum commented on #1813
@MikePlumleyMSFT could you kindly help to get this information? Thanks!

[2020-04-27 03:24] scanum commented on #1876
@JoanneHendrickson could you kindly help?

[2020-04-27 03:25] scanum commented on #1920
@baconbum
Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-04-27 03:25] #1920 closed

[2020-04-27 03:25] scanum commented on #1921
@ashokgop
Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-04-27 03:25] #1921 closed

[2020-04-27 03:25] scanum commented on #1945
@MikePlumleyMSFT Could you please help with this issue? thanks

[2020-04-27 03:25] scanum commented on #1950
@Sdean1234
Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-04-27 03:25] #1950 closed

[2020-04-27 03:25] scanum commented on #1952
@chanansh We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-04-27 03:25] #1952 closed

[2020-04-27 03:26] scanum commented on #1958
@HilaryStoupa Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-04-27 03:26] #1958 closed

[2020-04-27 03:26] scanum commented on #1968
@ioshi13 thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us

[2020-04-27 03:26] #1968 closed

[2020-04-27 03:26] scanum commented on #1972
@DMZ011 thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us p

[2020-04-27 03:26] #1972 closed

[2020-04-27 03:26] scanum commented on #1971
@ldusolier thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep u

[2020-04-27 03:26] #1971 closed

[2020-04-27 12:43] MikePlumleyMSFT commented on #1813
@TroyStarr do you know?

[2020-04-27 12:44] MikePlumleyMSFT commented on #1945
@TroyStarr do you know?

[2020-04-27 15:39] ioshi13 commented on #1968
I don't need support. I am just asking a question."Does SPMT also support migrating InfoPath forms?"

[2020-04-27 15:42] tseward commented on #1945
2019 is supported for SharePoint 2016/2019; that may make this article messy. 2013 only supports up to SQL 2014.

[2020-04-27 16:05] jonwbstr opened #1973 "Location based control vs. conditional access policy"
Hello,
Would you include something in this article that talks about Conditional Access. Conditional Access has an extra license requirement. It would be useful if this page answered the following questions,

If we are using conditional access should we also setup a sharepoint location based policy as well because they work differently?

Or,
A conditional access policy accomplishes the same thing t

[2020-04-27 18:06] tnewton1 opened #1974 "You cannot replace the root site with anything other than a communications site"
If you create a modern team site not connected to an Office 365 group and then try to replace the root site following these instructions (https://docs.microsoft.com/en-us/sharepoint/modern-root-site#use-the-new-sharepoint-admin-center), you will get an error that it can't be completed and try again in 10 minutes. If you wait and try again, it will give you the same message, failing each time.

I t

[2020-04-27 18:38] get-itips commented on #1945
Agreed.

[2020-04-27 19:10] jamesryanmoat opened #1975 "OneDrive: Enable silent account configuration will join device to Azure AD?"
According to this OneDrive URL,
https://docs.microsoft.com/en-us/onedrive/use-silent-account-configuration, it states that using the OneDrive group policy it can silently sign in users to the OneDrive sync app with their Windows credentials. **If a device is not already joined to Azure AD, enabling this setting will join it.**

Is this still correct? It seems like it does NOT join the device to Az

[2020-04-28 04:32] scanum commented on #1973
@jonwbstr Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-04-28 04:32] scanum commented on #1974
@tnewton1 thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us

[2020-04-28 04:32] #1974 closed

[2020-04-28 04:32] scanum commented on #1975
@jamesryanmoat thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please ke

[2020-04-28 04:32] #1975 closed

[2020-04-28 15:00] Vittorio4 commented on #1952
Closed does not mean resolved in this forum. That much is clear.

[2020-04-28 15:16] iabide opened #1979 "Where is the More Features Link"
OK. Where is the link to MORE FEATURES in the admin center?  I can get to it through the More features links in this page but not directly from the admin center.  How do I get to the More Features page without searching for More Features Help?  Very frustrating to read the instructions and they do not match what I see in real life.  I am Global Admin for the O365 environment.

---
#### Document De

[2020-04-28 15:21] chanansh commented on #1952
It should be bolded red at top of the page

On Fri, Apr 24, 2020, 02:08 Andres Mariano Gorzelany <
notifications@github.com> wrote:

[2020-04-28 17:26] TroyStarr commented on #1945
@MikePlumleyMSFT, I think we should remove any mention of specific SQL Server version numbers from this article.  From a quick scan of the article there are no differences in supported functionality between the various SQL Server versions.  We should just rely on the "hardware and software requirements" article for each version of SharePoint Server to explain which versions of SQL Server are suppo

[2020-04-28 17:45] tnewton1 commented on #1974
No need for me to open a ticket because I fixed the issue faster than support would have found the fix. I'm providing the fix so the documentation can be updated for anyone else who might have this issue.

The documentation states (first bullet point on the top of the page):

This is incorrect. It should read:

You cannot swap the root site with anything other than a communications site. If it is

[2020-04-28 18:20] get-itips commented on #1957
Hello @kaarins I see that the name was changed from FSLogix Office 365 Container to FSLogix Microsoft 365 Container, it seems this was done as part of a [general rebranding change](https://github.com/MicrosoftDocs/OfficeDocs-SharePoint/commit/4a3f85c0500e7445038d7a01d4529ab74307b733#diff-6947eb04741e590b839eb408b29fc7f0), can you kindly confirm if this change should be maintained for this product?

[2020-04-28 18:20] kaarins commented on #1979
There was an issue today with the left navigation, and some customers weren't seeing the More features page. Thanks for reporting this. The issue should be fixed now. You can also access the page by going to Admin.microsoft.com/SharePoint?page=classicFeatures&modern=true.

[2020-04-28 18:20] #1979 closed

[2020-04-28 22:41] pwr42 opened #1981 "Replace root site option not showing in tenant"
Logged in with tenant admin/spo admin account and not seeing the option to Replace Root Site.  Is this is still being rolled out?

[2020-04-29 02:38] scanum commented on #1981
@pwr42 thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us po

[2020-04-29 02:38] #1981 closed

[2020-04-29 08:55] DennisGoss opened #1982 "Local Security Policy / User Rights Assignment"
Any reason why the Local User Rights like "Impersonate a client after authentication" are not reflected in this page? Feels like this should be guidance coming from the vendor for justification of the needed exceptions to Security Hardening (i.e. STIGs).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c73d53bc-485a-a5d8

[2020-04-29 15:04] BBKing77 opened #1983 "I don't have the "Replace site" option"
When I follow the above steps for replacing the site using the new SharePoint admin center, I select the root site, but I cannot find a Replace site option anywhere. Is there something I'm missing, or did this option go away with the latest refresh of the admin center a couple months ago?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2020-04-30 08:27] ChristianGalla opened #1984 "Effect on Recycle bin on URL change outdated"
In my recent tests, the content of the recycle bin was moved and I was able to restore files from it, so the documentation is outdated.
Is there any special content of the recycle bin that is not moved?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5475fd83-52fa-6d49-d08f-fc75fabee09c
* Version Independent ID: 19ede24

[2020-04-30 16:39] chaplic opened #1986 "Pre-requisites are not detailed enought"
The pre-reqs suggest we just need an up to date OS is all that's required.  This is missing detail

Silent sign in does NOT work if explorer is not the shell. This can be see by running a normal config, setitng up onedrive normally  procmon and you can see onedrive consult the Silent Sign in keys to get the tennant ID and so on.

If explorer is not the shell, (for example a Citrix Xenapp published

[2020-04-30 17:23] JaniceLu-cos opened #1987 "Be nice to have information regarding second-stage Recycle Bin"
I feel there could be some elaborated information regarding the second-stage recycle bin.  I read that, when a file has been moved to (first-stage) recycle bin, 93 days recycle bin retention period starts.  For whatever reason when a file is deleted from the first-stage recycle bin, the file will be moved to the second-stage, where the file will stay for the remaining 93 days period.

[2020-05-01 05:56] scanum commented on #1987
@JaniceLu-cos thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please kee

[2020-05-01 05:56] #1987 closed

[2020-05-01 05:56] scanum commented on #1984
@ChristianGalla thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please k

[2020-05-01 05:56] #1984 closed

[2020-05-01 05:56] scanum commented on #1983
@BBKing77 thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us

[2020-05-01 05:56] #1983 closed

[2020-05-01 05:56] scanum commented on #1982
@DennisGoss thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep

[2020-05-01 05:56] #1982 closed

[2020-05-01 05:57] scanum commented on #1986
@chaplic  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-05-01 07:13] DennisGoss commented on #1982
My feedback is that the documentation is incomplete.  How is a service ticket going to help? Maybe my original post was unclear but the document should list information about the user rights assignments required for SharePoint (on premises) service accounts as in something like this - https://docs.microsoft.com/en-us/archive/blogs/leesab/how-to-determine-what-user-rights-assignments-are-required-b

[2020-05-01 08:40] SP-lbe opened #1988 "Link to Roadmap is not working"
In the section:
" Note
Integration between the home site and SharePoint start page (where the branding, theming, header, navigation, and footer elements from the home site are applied to the start page and users can easily navigate between the pages) is not available at this time. Please watch for updates in the Microsoft 365 roadmap."

The link to the Microsoft 365 Roadmap navigates a page with t

[2020-05-01 08:50] vonhumbold opened #1989 "OneNote in Bulk Migration"
why isn't there an option for OneNote Notebook Migration in bulk Migrations?
In the GUI i have the option.

[2020-05-01 08:57] #1989 closed

[2020-05-01 08:58] vonhumbold commented on #1989
sorry im an Idiot, Settings pop up after .csv is read

[2020-05-01 09:05] devhead67 opened #1990 "Starting Full Profile Synchronization in SharePoint 2013 switches to Incremental"
When I select 'Start Full Profile Synchronization' from the 'Start Profile Synchronization' page, after it starts running, it is switched to or replaced by the Incremental synchronization on the Timer job.  No matter what I do, it never completes a full synchronization.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 36

[2020-05-01 14:45] IfEyeOnlyKnew opened #1991 "Azure Active Directory Only"
I am asking if we only have On-Prem Active Directory setting up a SharePoint 2019 on a VM in Azure and creating an Azure Sql Managed Instance is not going to work? Authentication will not work unless accounts are ALL AAD? SharePoint Admin accounts need to be AAD?

Testing access to SQL server/instance/alias: zsqlname.database.windows.net
  - Trying to connect to 'zsqlname.database.windows.net'
  -

[2020-05-01 20:37] dariomws commented on #1936
Hi @msftfdbk, thank you for your feedback.

Maybe we should reference the article you provided. Are you agree? I don´t have access to check support ticket #19584248.

Thanks!

[2020-05-01 21:25] rachoksh opened #1993 "Question about the 100 limit"
1. Is the 100 limit for domains on a site only for the admin center UI or PowerShell also?
2. Can I add a max of 3000 domains on a site in batches of 100?
3. Are these limits same for classic, modern, group connected and standalone sites?
4. Can the documentation specify this for more clarity?
Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2020-05-02 12:10] dariomws commented on #1914
Hi @bramdejager,

Thank you for your feedback.

This article is intended for organizations/companies, this is why it´s there I think. And there is a reference to the article about the URLs and IPs for OneDrive for Business in M365.

Maybe it can be moved to another place, but I think it's not bad here, and to be honest I'm not sure if there is a better place to move it.

[2020-05-02 12:27] dariomws commented on #1926
Hi @jamesamayes, thank you for your feedback.

I think there is no more current version and it´s still relative to 2016 and 2019. I don´t have access to update the PDF.

@JoanneHendrickson could you kindly help? Is there a way to update (remove 2013) from the PDF and Visio? Thanks!

[2020-05-02 12:31] dariomws commented on #1937
Hi @DDog80sRocked, thank you for your feedback.

I tested and could migrate files from C:\Temp to my OneDrive for Business storage using a CSV file. SPMT is installed on my Windows 10 machine.

[2020-05-04 05:24] scanum commented on #1988
@SP-lbe Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-05-04 05:25] scanum commented on #1990
@devhead67 thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep u

[2020-05-04 05:25] #1990 closed

[2020-05-04 05:25] scanum commented on #1991
@IfEyeOnlyKnew thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please ke

[2020-05-04 05:25] #1991 closed

[2020-05-04 05:25] scanum commented on #1993
@rachoksh thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us

[2020-05-04 05:25] #1993 closed

[2020-05-04 12:22] ryanharnwell commented on #1937
I confirm the same. The path does need to exist though.

[2020-05-04 13:51] DDog80sRocked commented on #1937
Are we talking about SPMT or SPMM?  I was trying to import the CSV into SPMM and I also have a C:\temp folder but it wouldn't work.

[2020-05-04 13:54] ryanharnwell commented on #1937
This doc is for SPMT.

I think you should post feedback in https://docs.microsoft.com/en-US/sharepointmigration/mm-bulk-upload-format-csv-json

[2020-05-04 14:03] dariomws commented on #1937
@ryanharnwell thank you for confirming this information.

@DDog80sRocked this article is related to SharePoint Migration tool (SPMT).

[2020-05-04 14:16] DDog80sRocked opened #1994 "Format of CSV is incorrectly show on this page"
The SharePoint Migration Manager bulk import process doesn't allow you to import the sample as shown with the local drive path. You have to use a UNC path for it to accept it. This needs to be updated in the documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7331acc8-e10a-d41b-2f8d-0bc991987f3c
* Version Ind

[2020-05-04 16:41] djpirocchi commented on #1326
How was this resolved?

I am not getting the copy library id link with my Global Administrator account.  I've had mixed success with a PowerShell script connecting to the PnPCmdlets.  For some sites the cmdlets do not have access.  I am using the trick to get it to communicate via TLS1.2 and we have Modern Auth enabled, so I am using the -SPOManagementShell switch.

I even have Microsoft Case #: 1

[2020-05-04 23:27] TroyStarr commented on #1524
Hi @Mr-Nivek, I took a look and I believe the product is behaving correctly, and the documentation is also correct.  The "Claims to Windows Token Service" is compatible with the following MinRole server roles:

- Application
- Application with Search
- Custom
- Front-end
- Front-end with Distributed Cache
- Single-Server Farm

The "Claims to Windows Token Service" is not compatible with the follow

[2020-05-04 23:32] get-itips commented on #1524
Thanks @TroyStarr for great explanation and tests made.

[2020-05-05 01:16] gacarini commented on #1716
PST files are supported by differential sync. We still don't recommend syncing them given the frequent updates and since Outlook keeps a lock on the file while it's open but they are supported.

[2020-05-05 01:56] legendgod opened #1995 "User Profile Service related timer job never run on WFE server role"
Our SP2016 farm only have 1 WFE role server and 1 custom role server. By default,  UPS only started in WFE server and stopped in custom server. Because of some bug or unknown issue, the related timer jobs (e.g. User Profile Service Application - User Profile ActiveDirectory Import Job ) never trigger. Nothing will happen if you click "Run now" button.
However, after we "started" the custom role UP

[2020-05-05 05:57] scanum commented on #1994
@DDog80sRocked  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-05-05 05:57] scanum commented on #1995
@legendgod thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep u

[2020-05-05 05:57] #1995 closed

[2020-05-05 10:23] stche opened #1996 "Transition from the Windows Folder Redirection Group Policy objects"
These instructions dont work. Disable GPO is not being respected and KFM cant be enabled as it still kind of "detects" the former policy. So we need a better description in detail on how to get off successfully from the previous policy to be able to use KFM at the end.

The process of getting rid of the old policy is currently really insane and it would be appreciated if MS could provide a much be

[2020-05-05 10:55] msftfdbk commented on #1936
When “Limited-access user permission lockdown mode” is active, users can’t _create_ anonymous sharing links to folders.  As far as I know there’s currently no documentation about this behavior.  The troubleshooting article I linked to only addresses the inability to _use_ sharing links to folders (which have already been created), although I believe underlying cause is the same.  @dariomws

[2020-05-05 12:19] legendgod commented on #1995
I am not SP online user. What "tenant" do you mean?

[2020-05-05 16:07] jwojan opened #1997 "Link in Note at bottom of the page points to a dead URL."
The following note at the bottom of the page has a pointer to a dead/incorrect URL:
"For info about removing a user's license, see Remove licenses from users in Microsoft 365 for business."
The linked text points to: https://docs.microsoft.com/en-us/office365/admin/subscriptions-and-billing/remove-licenses-from-users

This link is no longer valid.

Correct, current URL is: https://docs.microsoft.c

[2020-05-05 17:32] dariomws commented on #1936
What do you suggest? Adding a note in the article and referring to the troubleshooting article?

Or maybe adding the troubleshooting article to the "See also" section? I think this could work.

Thanks!

[2020-05-05 18:19] MickH3 opened #1998 "JSON Format functionality degredation"
I have lost the ability to use TargetListRelativePath and provide a path other than a single folder at the top of the library.  I used to be able to supply a value like "Subfolder/SubFolderA/SubFolderA_B" and it would work.  As of the latest version of the tool, 3.2.118.0, I am now getting a Task Validation Error telling me the path is invalid.

Full Example below.  This worked 3 months ago.

[2020-05-05 18:45] MickH3 commented on #1998
As an update, I rolled back to 3.2.115.3 and I am now able to migrate to n-depth subfolder paths.

[2020-05-05 19:46] ImmortalFeb opened #1999 "Minor error in content"
Hi,
In the section "Install and configure OneDrive on a mobile device", you have:
"
To learn how to perform tasks in OneDrive on an iOS device, see Use OneDrive on iOS.

To learn how to perform tasks in OneDrive on an iOS device, see Use OneDrive for Android.
"

Second entry should be "on an Android device" instead.

Thx

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2020-05-06 00:08] kaarins commented on #1435
Team sites and group sites can still be created. They are independent settings.

Even if the Site pages feature is activated at the site level, it does not supersede the organization-level setting.

When you disable the creation of modern pages, it hides most entry points for creating pages, regardless of site type. The creation of new modern pages isn't completely blocked. Users can still create

[2020-05-06 00:08] #1435 closed

[2020-05-06 00:11] scanum commented on #1996
@stche Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-05-06 04:06] scanum commented on #1997
@jwojan  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-05-06 04:06] scanum commented on #1999
@ImmortalFeb  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-05-06 04:19] scanum commented on #1998
@MickH3 thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us p

[2020-05-06 04:19] #1998 closed

[2020-05-06 04:22] scanum commented on #1095
√

[2020-05-06 04:22] scanum commented on #1232
@bentoncity Hi! Could you please aid us in the next steps? Thanks!

[2020-05-06 04:23] scanum commented on #1476
@kaarins Following up on this, any updates? Thanks!

[2020-05-06 04:23] scanum commented on #1481
@kaarins Following up on this, any updates? Thanks!

[2020-05-06 04:23] scanum commented on #1492
@JoanneHendrickson Could you please help on this issue? Thanks.

[2020-05-06 04:23] scanum commented on #1513
@JoanneHendrickson Following up on this issue. Thanks!

[2020-05-06 04:23] scanum commented on #1520
@JoanneHendrickson Following up on this issue. Thanks!

[2020-05-06 04:23] scanum commented on #1524
@Mr-Nivek Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-05-06 04:23] #1524 closed

[2020-05-06 04:24] scanum commented on #1716
@Lou240 Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-05-06 04:24] #1716 closed

[2020-05-06 04:24] scanum commented on #1735
v

[2020-05-06 04:24] scanum commented on #1737
@JoanneHendrickson Hi Joanne! Any updates on this? Thanks!

[2020-05-06 04:24] scanum commented on #1744
@JoanneHendrickson @MikePlumleyMSFT can you kindly confirm what Andres experienced in his tests? Thank you

[2020-05-06 04:25] scanum commented on #1764
@TroyStarr any update on this issue?

[2020-05-06 04:27] scanum commented on #1785
@vitaprimo We understand your frustration, we are actively working on getting this worked on. Thanks for your patience.

[2020-05-06 04:27] scanum commented on #1795
@kaarins could you kindly help? There are people who are still experiencing this issue. Thanks!

[2020-05-06 04:28] scanum commented on #1860
@robertcaretta Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-05-06 04:28] #1860 closed

[2020-05-06 04:29] scanum commented on #1876
@JoanneHendrickson could you kindly help?

[2020-05-06 04:30] scanum commented on #1914
@bramdejager Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-05-06 04:30] #1914 closed

[2020-05-06 04:30] scanum commented on #1915
@tseward Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-05-06 04:30] #1915 closed

[2020-05-06 04:30] scanum commented on #1918
@v-mianth Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-05-06 04:30] #1918 closed

[2020-05-06 04:30] scanum commented on #1937
@DDog80sRocked Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-05-06 04:30] #1937 closed

[2020-05-06 04:31] scanum commented on #1955
@Pentao Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-05-06 04:31] #1955 closed

[2020-05-06 07:48] Rupalikothawade commented on #1994
Bulk input csv does not take local drive path, neither single source migration allows local drive path. And error message simply says error in line1.
Please update the documentation

[2020-05-06 10:19] fkalyva opened #2001 "Delve F3 Licensing"
According to official licensing documentation, Delve is not available for F3 users. When I sign in as an F3 user however, I can still access Delve normally from the M365 navigation bar, by clicking on my user name (top right corner) and then "My Office Profile", which redirects me to Delve.

What I would expect, is that F3 users are not able to see that link at all, just like Delve is (understanda

[2020-05-06 17:04] kaarins commented on #1476
Thank you. I have passed along this feedback to the owner of the linked guide. We will either update the guide or update the link within this article to point to a different resource.

[2020-05-06 17:04] #1476 closed

[2020-05-06 18:12] BBKing77 commented on #1983
After contacting support, it appears you need the Global admin role to have the "Replace site" function (I don't have Global admin), so perhaps this can be specified in the doc.
Thanks!

[2020-05-07 00:49] loosus456 opened #2002 "Does silent config work on latest OneDrive?"
We have been using silent configuration with OneDrive for some time.  However, it no longer works.  We have verified that other organizations are having the issue; we have not misconfigured our environment.

Is silent configuration still supported?  Do the docs need to be updated to indicate that the feature is deprecated?

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2020-05-07 02:54] scanum commented on #2001
@fkalyva thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us

[2020-05-07 02:54] #2001 closed

[2020-05-07 02:54] scanum commented on #2002
@loosus456 thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep u

[2020-05-07 02:54] #2002 closed

[2020-05-07 03:00] loosus456 commented on #2002
@scanum  Why would I open a service ticket if I don't even know if there is a problem?  I am asking if this feature is still supported.  Do you know **for sure** that silent config is still supported in the OneDrive client?

[2020-05-07 11:07] Larryngolog opened #2004 "Setting for multiple sites"
Hi! Looks like there is an error in Powershell for setting access level for multiple sites. This setting:
"To update multiple sites at once, use the following command as an example":
,(Get-SPOSite -IncludePersonalSite $true -Limit all -Filter "Url -like '-my.sharepoint.com/personal/'") | Set-SPOTenant -ConditionalAccessPolicy AllowLimitedAccess

I think it should be Set-SPOSite instead of Set-SPOT

[2020-05-07 13:46] fkalyva commented on #2001
This is not a support request neitheir is specific to my tenant. This should be feeback sent to the product group as the way we offer this feature to our customers needs to be redesigned.

[2020-05-07 16:40] dariomws commented on #1876
@JoanneHendrickson could you kindly help?

[2020-05-07 19:32] loosus456 commented on #1105
I would like to know if this is still a supported feature.  This is *literally* why these documents exist.
 But @scanum closes the issue without addressing the question.  I am guessing this person is required to meet a monthly quota of closed issues, even if the issues are not addressed.

[2020-05-07 21:10] MikePlumleyMSFT commented on #1481
@TroyStarr can you help?

[2020-05-08 02:25] scanum commented on #2004
@Larryngolog thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep

[2020-05-08 02:25] #2004 closed

[2020-05-08 07:46] HansBrender opened #2005 "manage OneDrive using Group policy"
Browse to **%localappdata%\Microsoft\OneDrive\BuildNumber\adm** is not the only location of the files, if you have a vault in OneDrive Personal installed, it changed the location so:

you should add:

**%programfiles(x86)%\Microsoft OneDrive\[Build number]\adm**

Hans
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 04ad2

[2020-05-08 09:24] albegut opened #2006 "Missing error Code 0x01310007"
Unreported error code 0x01310007.
The result file indicates the following:
READ FAILURE Failed to Read the file:Could not retrieve file's metadata

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cfa08336-690e-0d21-6491-3f14f6d13391
* Version Independent ID: 8927975a-7956-fc72-055e-36603e4eddaf
* Content: [Troubleshoot S

[2020-05-08 18:19] kaarins commented on #1795
@andocromn and any others, if you are still experiencing this issue, please contact Support because the team would like to investigate. We don't want to add the PowerShell instructions to this article because the feature should work as described. We will need you to collect and provide a Fiddler trace. When you contact support, please include a link to this issue. Thank you.

[2020-05-08 18:19] #1795 closed

[2020-05-11 02:15] nikmanzotti commented on #323
Same here! I've successfully created a working GPO without converting Unicode to ASCII. As this issue is closed, quite dated and focused on a different matter, I will open a new one just for the ASCII/Unicode issue. I'll edit this comment as I have an issue number to link!

[2020-05-11 05:15] scanum commented on #2005
@HansBrender thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep

[2020-05-11 05:15] #2005 closed

[2020-05-11 05:15] scanum commented on #2006
@albegut thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us

[2020-05-11 05:15] #2006 closed

[2020-05-11 06:31] HansBrender commented on #2005
Hi all,

So that’s not what I thought. The documentation is not correct.
And I will not open a ticket.
I do not will write anything, that’s not my JOB

@Gaia Carini<mailto:gacarini@microsoft.com>
so that I often heard about github.
The responsible people has no idea of about the product, they close the ticket (maybe there were paid about it)
and its no my thing, to open a ticket.

If this is my wo

[2020-05-11 11:03] EEmpire opened #2010 "Typo in section Improving your connectivity to 0ffice 365 and Azure"
[Enter feedback here]
![image](https://user-images.githubusercontent.com/19501870/81554814-05479980-93ba-11ea-96f0-0444a84af00f.png)
Typo: "0ffice"
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 30e1dc7e-46ae-1b74-a205-e6f75a1f4cdd
* Version Independent ID: e1e8803a-0190-429e-fa3f-4a410bf580c0
* Content: [Improving your

[2020-05-11 11:03] EEmpire opened #2011 "Typo in section "Improving your connectivity to 0ffice 365 and Azure""
[Enter feedback here]
![image](https://user-images.githubusercontent.com/19501870/81554814-05479980-93ba-11ea-96f0-0444a84af00f.png)
Typo: "0ffice"
Should be "Office"
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 30e1dc7e-46ae-1b74-a205-e6f75a1f4cdd
* Version Independent ID: e1e8803a-0190-429e-fa3f-4a410bf580c0
* Conte

[2020-05-11 11:04] #2011 closed

[2020-05-11 13:20] nikmanzotti commented on #1941
I was wondering the same, and it seems I'm not alone (see #323).

@scanum unfortunately, due to the current situation, the Support team has been quite busy lately and their response times are long. I think it would be better not to bother them with this kind of questions which it's unlikely they will able to solve directly.

I've started a [new conversation on the Tech Community](https://techcommu

[2020-05-11 17:38] bjpohl opened #2012 "Bad Link"
In "See also" section, Policy recommendations for securing SharePoint sites and files (https://docs.microsoft.com/en-us/office-365/enterprise/sharepoint-file-access-policies) is 404.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2f2abda5-9273-1a56-91b6-e4e77d5706b0
* Version Independent ID: 6a85f2a5-b892-55f7-b49a-4ab

[2020-05-11 19:43] JoanneHendrickson commented on #1737
yes, this topic has been updated.

[2020-05-11 19:43] #1737 closed

[2020-05-11 21:07] solinear opened #2013 "Trying to transfer on beefy machine and taking WEEKS"
I've used the SPMT previously for migrations to OneDrive and am currently trying to transfer to SharePoint.  I have a folder with a few million files and it is taking weeks to transfer and will eventually fail out.  I don't expect that the "send files to us" option will work any better, as that just uses a VM in Azure and this isn't a file transfer issue.

What can we do to speed up these migratio

[2020-05-12 01:33] gacarini commented on #2005
@scanum  I asked Hans to submit this as feedback since I confirmed it was a gap we forgot to fill when we rolled out support for the per machine install. There is no need to open a ticket for it.

[2020-05-12 03:45] scanum commented on #2010
@EEmpire Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-05-12 03:45] scanum commented on #2012
@bjpohl Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-05-12 03:45] scanum commented on #2013
@solinear thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us

[2020-05-12 03:45] #2013 closed

[2020-05-12 03:47] scanum commented on #1095
@StephenRiceMSFT Any updates on this? Thanks

[2020-05-12 03:47] scanum commented on #1232
@bentoncity Hi! Could you please aid us in the next steps? Thanks!

[2020-05-12 04:49] hwkwicre opened #2016 "Typo"
more tha Microsoft search

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: abb4771c-6c09-daca-5a88-e6f0b2e08175
* Version Independent ID: 5156d0e5-1a97-b722-a8dd-f6c7a2ecd1e1
* Content: [SharePoint Online classic search administration overview - SharePoint Online](https://docs.microsoft.com/en-us/sharepoint/manage-search

[2020-05-12 08:07] rstilekar commented on #1996
Following, I have a same issue in our environment. I changed folder redirection from home drive back to default "Redirect to local userprofile location" then when all were changed backed to default the change the policy back to not configured for folder redirection and then implementing Known folder move for onedrive using silent config as well as prompt user to move known folders but nothing work

[2020-05-12 09:47] Ellestad1995 commented on #1554
About the script:
The script doesn't provision the leftover users if the count never reaches greater than 199.
After the loop finishes, if there are less than 199 users counted in the variable $ii ($j in the doc) they will not get provisioned. I did something similar when provisioning about 1200 users for a new client of mine.
What must be done is to check **after the loop** if there are leftover

[2020-05-12 11:18] Simon-de-V opened #2019 "Adherence to the settings for allowing users to add new guests to the organization"
Does the new method of securely sharing files and folders with external users adhere to the settings in the tenant and Azure Active Directory for allowing users to add new guests to the organization?

A short test from my side indicates it doesn't. I don't allow users to add new guests to the organization, but I'm still able to share a file with an external user who has a work account. And consequ

[2020-05-12 12:27] MikePlumleyMSFT commented on #2019
@Simon-de-V the experience described in this article does not adhere to the Azure AD settings. However, you can use [SharePoint and OneDrive integration with Azure AD B2B (Preview)](https://docs.microsoft.com/sharepoint/sharepoint-azureb2b-integration-preview) which will.

[2020-05-12 12:47] TristanJamesBall opened #2020 "Organisational Asset Library license clarification."
Can you please clarify the license terms? Does "Office.com" mean the the web versions of the office applications?
Is this available for - for example, for an Microsoft 365 Business Premium user, running the desktop app?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5bacce83-65f6-b862-e413-09122aee356d
* Version Indepe

[2020-05-12 14:01] jordonthreadgill commented on #1554
My only objection to trying to immediately check right after is that this can take up to 24 hours to work on a user's account.

I see what you're saying about the last 199 though...

It could also be said to just loop all users, since we no longer have to upload files of 200 users at a time.
$list = @()
#Counters
$i = 0; $j = 0

#Get licensed users
$users=get-msoluser -All | ? {$_.islicensed -eq $

[2020-05-12 16:52] StephenRiceMSFT commented on #1095
@Jeff<mailto:jmcdowe@microsoft.com>, have you had a chance to answer this by chance?

<http://aka.ms/weboutlook>

________________________________
From: Manuela Scanu <notifications@github.com>
Sent: Monday, May 11, 2020 8:47 PM
To: MicrosoftDocs/OfficeDocs-SharePoint <OfficeDocs-SharePoint@noreply.github.com>
Cc: Stephen Rice <srice@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re

[2020-05-12 17:10] NileshGhodekar opened #2022 "Picture export From SharePoint to Active Directory"
Hi,
 The SPMA supports either import -only (from SharePoint to MIM) or export-only (from MIM to SharePoint)  operation on Picture / Photo attribute, just not both at the same time. So the statement "There is no support of picture export from SharePoint to Active Directory, so you need to plan for this migration." looks out of context here. Can this be confirmed and the document updated correctly?

[2020-05-12 18:04] Simon-de-V commented on #2019
Ok, so it is only governed by the settings for external sharing in the SharePoint admin center?

[2020-05-12 18:11] ralph-snart opened #2023 "Back, not Bach"
Under the "Modern attachments" section, "*bach* and forth" should read as "*back* and forth" instead.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9c7781f0-fe4d-c88b-1870-0c22a8e94449
* Version Independent ID: 79faccce-8e41-ae27-5a44-a66ab93b0df1
* Content: [OneDrive QuickStart guide for small businesses](https://doc

[2020-05-12 19:06] MikePlumleyMSFT commented on #2019
Yes, file and folder sharing are only governed by the SharePoint settings unless you've enabled integration with Azure B2B.

[2020-05-12 19:11] monteroman opened #2024 "ErrorCode 0x2010024 not in documentation."
I'm having an issue with the SPMT error code 0x2010024.
The locale Id '0' of the site 'http://sitename' cannot be recognized (ErrorCode: 0x2010024)
I don't see anything in your documentation covering this error code or how to resolve it.

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cfa08336-690e-0d21-6491-3f

[2020-05-12 23:29] JoanneHendrickson commented on #1744
Sorry for delay.

The line that describes Column C has been updated to clarify that this is an AD group, not a SharePoint group.  After checking with the product team, they said it is also not possible to map an AD group to a SharePoint group in the target site. Currently it is also not possible to map a SharePoint group to a SharePoint group in SPMT.

I have updated the topic to reflect this.

[2020-05-12 23:29] #1744 closed

[2020-05-12 23:50] JoanneHendrickson commented on #1899
Thank you for seeing this.  The document has been updated to reflect only  file shares only.

[2020-05-12 23:50] #1899 closed

[2020-05-13 00:10] JoanneHendrickson commented on #1994
Thanks for your feedback!  I have updated the article.  For an individual tasks:  You can only specify the site URL. The site always defaults to the documents library.

For bulk task upload: You can specify both the site URL and the document library folder.

[2020-05-13 00:10] #1994 closed

[2020-05-13 04:37] scanum commented on #2019
@MikePlumleyMSFT Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-05-13 04:37] #2019 closed

[2020-05-13 04:37] scanum commented on #2020
@TristanJamesBall Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-05-13 04:37] scanum commented on #2024
@monteroman thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep

[2020-05-13 04:37] #2024 closed

[2020-05-13 04:38] scanum commented on #2022
@NileshGhodekar Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-05-13 12:01] lindspea commented on #2022
@MikePlumleyMSFT could you perhaps confirm and I'll do the PR.

[2020-05-13 12:32] MikePlumleyMSFT commented on #2022
@TroyStarr can you confirm?

[2020-05-13 12:36] lindspea commented on #2020
@TristanJamesBall thank you for reaching out. Yes, as far as I know, that means the web version. Here is the link to show what is included with Microsoft 365 Business Premium plan -https://www.microsoft.com/microsoft-365/business/microsoft-365-business-premium?market=af

[2020-05-13 13:11] itelligentllc opened #2028 "Sharepoint list version history not visible from unmanaged devices"
Using the same company/business account with two separate Windows 10 devices I can access and view versions in SharePoint list items from the company (Intune) managed device but I can't see any version information using the same browser from an unmanaged device. Unmanaged devices are set to have limited, web-only access. My account also has edit permissions to the list itself.

---
#### Document D

[2020-05-13 19:30] acewmu commented on #1232
Hi, I was able to provision a Web Application using Powershell. (it failed via Central Admin site)

Using SQL account:
$DBCredential = Get-Credential -Message "Provide the user name and password for the Azure SQL Managed Instance database login."

Then:
New-SPWebApplication -Name "**sitename**" -Port 80 -HostHeader sitename -URL "**http://sitename**" -ApplicationPool "**sitename**" -ApplicationPoo

[2020-05-14 12:41] solinear commented on #2013
Did so.  With Document  Libraries, you can include subfolders.  Example:

Source,SourceDocLib,SourceSubFolder,TargetWeb,TargetDocLib,TargetSubFolder
C:\MigrationTests\testfiles,,,https://contoso.sharepoint.com/sites/Sample/,DocLibraryName,DocLibraryName_subfolder/subsubfolder

This properly places the files another level deep.  This can be useful for migrating document libraries with an exceptiona

[2020-05-14 13:54] ravick4u opened #2030 "Modern Team Site Without Group"
I created a new site with the template "Modern Team Site Without Group"(STS#3). The flag value for "DenyAddAndCustomizePages" is "Disabled" but at the same time, I can see a lot of the settings which should not be there as per this document.

Under the section "Features affected when custom script is blocked" it says that "The following site settings are unavailable when users are prevented from r

[2020-05-14 15:01] KarlaK-fl commented on #1735
When migrating from file shares to SharePoint online or to OneDrive or Teams, is the file metadata retained? I'm specifically needing created by, created on, modified by, modified on.
And are the file and folder permissions retained from file share and NTFS permissions?

[2020-05-14 16:29] DaveWitwicki opened #2031 "Default sharing link type options have changed"
Default sharing link type options now include option for People with existing access. Launched Q1 CY2020 - Feature ID: 60335.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d4d52c4-16bf-1a8c-ae40-e19e82976c8a
* Version Independent ID: 1d13e7f9-8c1d-043a-5929-3d4622b3d9e5
* Content: [Change the default sharing link for

[2020-05-14 17:09] mattdreher opened #2032 "It doesn't work."
The steps above do not work.  It completes but doesn't actually provision it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8b1227a8-793e-aa70-7ff1-bf51c523ffaf
* Version Independent ID: a040d269-6f8f-ca49-fd63-5fa388207e1f
* Content: [Pre-provision OneDrive for users in your organization](https://docs.microsoft.com/e

[2020-05-14 19:06] bharto opened #2033 "Missing admin piece in documentation"
I've found that one needs to be an owner of the document library when adding the asset library.  If this is correct I believe documentation should be updated to reflect

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5bacce83-65f6-b862-e413-09122aee356d
* Version Independent ID: 5c4e1169-1d5d-6e0d-d574-f3aaba0a5d92
* Co

[2020-05-15 01:27] Rupalikothawade opened #2034 "How to resume task on password change"
What to expect if the connection between the agent and Migration Manager is stopped due to password change of SharePoint admin account connecting to target path.
Will the migration agent need to be open and configure again with new password, and task will be automatically picked from manager or need to activate/resume from admin center interface?

[2020-05-15 03:19] scanum commented on #2028
@itelligentllc thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please ke

[2020-05-15 03:19] #2028 closed

[2020-05-15 03:20] scanum commented on #2030
@ravick4u thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us

[2020-05-15 03:20] #2030 closed

[2020-05-15 03:20] scanum commented on #2032
@mattdreher thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep

[2020-05-15 03:20] #2032 closed

[2020-05-15 03:20] scanum commented on #2034
@Rupalikothawade thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please

[2020-05-15 03:20] #2034 closed

[2020-05-15 03:33] scanum commented on #2023
@ralph-snart Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-05-15 03:33] #2023 closed

[2020-05-15 03:33] scanum commented on #2031
@DaveWitwicki  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-05-15 03:33] scanum commented on #2033
@bharto  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-05-15 05:58] lindspea commented on #2033
@bharto Thank you for reaching out and helping improve MS Docs. I think this link in the article provides more clarity https://support.office.com/article/customize-permissions-for-a-sharepoint-list-or-library-02d770f3-59eb-4910-a608-5f84cc297782?ui=en-US&rs=en-GB&ad=GB. Let me know if you agree.

[2020-05-15 05:59] hwkwicre commented on #1807
I think it would be a good idea to provide why the Get-PnPSearchCrawlLog link is in the article.

[2020-05-15 06:06] lindspea commented on #2031
@DaveWitwicki Thank you for reaching out and helping improve MS Docs. As far as I can see the article reflects this, or am I maybe missing something? Please clarify so I can double check and add a note. Thanks again.

[2020-05-15 11:50] dariomws commented on #1807
Hi @hwkwicre, thank you for your feedback. It was added to the **See also** section.

[2020-05-15 13:10] jhayesksb commented on #1996
+1 for this issue. Same issue here.

[2020-05-15 13:58] joerifeyen opened #2036 "Alerting for automatic storage limit"
"By default, your SharePoint storage is available in a central pool from which all sites can draw. You, as a global or SharePoint admin, don't need to divvy up storage space or reallocate space based on usage. That's all handled automatically: sites use what they need when they need it. If you previously set storage limits manually and switch to using pooled storage, SharePoint resets all the limi

[2020-05-15 14:15] mattdreher commented on #2032
I figured out the issue.  Even though you can create the one drive manually by going to your online portal and clicking on OneDrive, you cannot do it through the provisioning steps in this documentation without having the SharePoint Online license.  You may want to adjust the instructions to indicate that this does not working in such circumstances.

[2020-05-15 15:43] DaveWitwicki commented on #2031
@lindspea In the "Change the default link type for the site" section - item 4, the screenshot doesn't show the new option added recently:
![image](https://user-images.githubusercontent.com/17456364/82069072-d32b8580-96a0-11ea-866d-59c2c0c8377e.png)

Also, the Note on using Set-SPOSite should mention that this only works with sites that are not connected to an Office 365 Group. Hopefully that gets

[2020-05-15 17:34] bramdejager opened #2037 "Broken link"
The 2nd link in Related Topics is broken, this is the link "Configure and deploy mobile application management policies in the Microsoft Intune console" which links to https://go.microsoft.com/fwlink/?linkid=2003554.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eb73e568-9145-abd7-a0fe-4b03bdb875ee
* Version Independe

[2020-05-15 21:02] tbebekis opened #2038 "How to get a list of those new Active Sites using CSOM?"
How to get a list of those new Active Sites using CSOM?

Can I have a Remote Event Receiver in a site like that?

[2020-05-17 06:18] Rupalikothawade opened #2039 "The Application will exit because of sign-in failure"
hi Team,

We are facing issues while opening an existing install SharePoint migration tool. Error message as mentioned below
The application will exit because of sign-in failure.
Please double check and try again.

Can you suggest- where to double check, any specific config file?
This error is coming on opening the application.

[2020-05-18 02:38] hwkwicre opened #2040 "Limit type"
Limit type for Maximum number of on-premises items indexed in Microsoft 365 is Threshold.
Should it be either Boundary or Supported?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 171ee42a-95a9-6543-dd99-696ba7025cd0
* Version Independent ID: a3b3b40f-b808-7ac6-b420-a9b7bb0361fb
* Content: [Search limits for SharePoint

[2020-05-18 04:58] scanum commented on #2037
@bramdejager  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-05-18 04:59] scanum commented on #2040
@hwkwicre thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us

[2020-05-18 04:59] #2040 closed

[2020-05-18 04:59] scanum commented on #2039
@Rupalikothawade thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please

[2020-05-18 04:59] #2039 closed

[2020-05-18 04:59] scanum commented on #2038
@tbebekis thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us

[2020-05-18 04:59] #2038 closed

[2020-05-18 04:59] scanum commented on #2036
@joerifeyen thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep

[2020-05-18 04:59] #2036 closed

[2020-05-18 05:06] hwkwicre commented on #2040
I was actually referring to something in the document though. It's not a problem on my tenant.

[2020-05-18 08:50] lindspea commented on #2031
Hi @MikePlumleyMSFT, is this updated screenshot in the pipeline? Let me know if you'd like me to do the PR.

[2020-05-18 10:00] lindspea commented on #2037
@bramdejager thank you for pointing this out and helping improve MS Docs. I think the article has possibly been updated and renamed. Please have a look at these two links and let me know if one could be correct. https://docs.microsoft.com/mem/intune/apps/app-management and https://docs.microsoft.com/mem/intune/apps/app-lifecycle

[2020-05-19 07:41] robdegekste opened #2042 "Can't import any csv file"
Hi all,
I wanna use the csv file to import all the path for the migration. Around the 400 lines.
Every csv file i try, doens't work. I tried it with two different tenants but none of my csv file works.

I use just three columns:

Column A: networksource of drive letter:
Column C: Site in SharePoint
Column D: Name of the library

I don't see whats wrong?

![Import](https://user-images.githubusercon

[2020-05-19 10:23] albegut commented on #1694
@dneimke any updates with the error? I have the same error

 PACK FAILURE | Packaging Failure:Cannot open the file | 0x01410001

thank you in advance!!

[2020-05-19 12:12] Arthur-Avanesyan opened #2043 "The SharePoint Migration Assessment Tool"
As I see SharePoint Migration Tool (Preview) supports SharePoint 2016.
What about The SharePoint Migration Assessment Tool? Will it ever support SP2016?

[2020-05-19 14:15] cabtilx commented on #1885
This is a FAQ page and robertcaretta asked what is I suspect a very frequently asked question.
@scanum  Product capabilities are not part of the remit of support.  This isn't an incident or troubleshooting request. It is related to the features of the product which should be documented within these support pages. You should be ashamed for such an unhelpful copy+paste response, that is also not the

[2020-05-19 14:15] cabtilx opened #2044 "Typo in Improving your connectivity to 0ffice 365 and Azure"
Pedantic, but the product name is Office 365, not 0ffice 365

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bdbc84db-7466-2e82-44c9-97a9047a6adf
* Version Independent ID: 1add53aa-0ace-3309-4e4d-8146ee4331f9
* Content: [Improving your Migration Manager performance - Migrate to SharePoint and OneDrive](https://docs.micr

[2020-05-19 14:17] cabtilx opened #2045 "Supported Destinations"
Please make it clear that OneDrive or Teams are supported destinations. This is not documented anywhere here and is only obvious when users click through the Migration Manager task wizard.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 210e3fb6-665e-a4e6-7b5e-fe3776ec1635
* Version Independent ID: 80b1c7f6-736f-70a4-ae

[2020-05-20 02:36] dneimke commented on #1694
Hi @albegut, I never quite got to the bottom of this.  There was some issue regarding certain files (between 3 and 5% overall) where they wouldn't migrate due to this failure.  Even re-running the migration would show that the same files would fail repeatedly.

I ended up developing my own workaround solution using Powershell scripts which involved:

- Identify all failures and extract them to a .

[2020-05-20 05:32] scanum commented on #2044
@cabtilx Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-05-20 05:32] scanum commented on #2045
@cabtilx Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-05-20 05:33] scanum commented on #2043
@Arthur-Avanesyan thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please

[2020-05-20 05:33] #2043 closed

[2020-05-20 05:33] scanum commented on #2042
@robdegekste thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep

[2020-05-20 05:33] #2042 closed

[2020-05-20 06:04] Arthur-Avanesyan commented on #2043
I'd already opened a service ticket, but didn't get any confirmation, that this will be resolved ever. They don't have any estimations and cannot even confirm, whether there will be SMAT support for SharePoint 2016 or not.

[2020-05-20 09:25] icelava opened #2046 "MDM Intune?"
Is this configuration profile available for control this with Intune? All I see in the Administrative Templates are blank nodes under Computer Configuration/User Configuration &gt; System &gt; OneDrive

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a9fd3d64-02a4-74dd-1f2a-a25ed9a8cef8
* Version Independent ID: cc17b035

[2020-05-20 09:28] icelava opened #2047 "OneDrive Manage backup"
How different is this mode from the manual Manage backup option in the OneDrive client? The UI looks the same with "Back up your folders" title instead of "Your IT department wants you to protect your important folders".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a9fd3d64-02a4-74dd-1f2a-a25ed9a8cef8
* Version Indep

[2020-05-20 09:30] sarikapawar26 opened #2048 "Full Control permission not migrating from File Share to SharePoint Online"
We have done migration from File share to SharePoint Online in our testing environment and found that we are able to migrate Read, Read and execute, modify permissions to SPO, But we are unable to migrate Full Control permissions from File Share to SharePoint online.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 33316

[2020-05-20 09:53] icelava opened #2049 "Ransomware protection"
Why isn't there any page here (especially the Sharing and security section) that discusses ransomware protection issues?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9733a774-90dc-8726-3300-4660a092e427
* Version Independent ID: 3ab12184-9b19-1686-e9d9-a96a93e3fea4
* Content: [OneDrive guide for enterprises - OneDriv

[2020-05-20 14:33] kpropell opened #2050 "OneDrive shows two folders in navigation pane"
The default installation created a OneDrive-folder and is visible in Explorer navigation pane.
When we use the Per-machine installation and users log in (non-persistant VDI), our organizational OneDrive folder get's created, but the default OneDrive does not get removed and users unfortunately move files to the wrong folder and then nothing is saved to the real OneDrive.

Can this be fixed?

---
#

[2020-05-20 15:20] tanktopArmy opened #2051 "Typo"
There's a typo in "Permanently Delete a Site" Step 3 - it says "yo" instead of "to".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a3bd11d3-f2a4-2811-09bd-449c3c3607da
* Version Independent ID: 2f47da99-02e6-3357-ed41-b28bd5190907
* Content: [Delete a site - SharePoint Online](https://docs.microsoft.com/en-us/sharepoi

[2020-05-20 15:47] aurasa opened #2052 "Please add more details on Exclude Settings"
1. How to separate subsites if I want to exclude more than one? Same for 'Filter lists and libraries' and 'Filter content type'

2. What exactly does it expect? URLs? relative, site-relative, absolute? (localized) display names or technical name (Lists can be renamed but the Object Model refers to the original name as far as I know? GUIDs?

Thank you for clarification.

---
#### Document Details

[2020-05-21 04:22] scanum commented on #2046
@icelava thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us

[2020-05-21 04:22] #2046 closed

[2020-05-21 04:22] scanum commented on #2047
@icelava thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us

[2020-05-21 04:22] #2047 closed

[2020-05-21 04:22] scanum commented on #2048
@sarikapawar26 thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please ke

[2020-05-21 04:22] #2048 closed

[2020-05-21 04:22] scanum commented on #2049
@icelava thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us

[2020-05-21 04:22] #2049 closed

[2020-05-21 04:23] scanum commented on #2050
@kpropell thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us

[2020-05-21 04:23] #2050 closed

[2020-05-21 04:24] scanum commented on #2051
@tanktopArmy  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-05-21 04:24] scanum commented on #2052
@aurasa  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-05-21 05:00] jpg0 opened #2053 "Guests & Custom Domains"
Hi,

If I set up a custom domain URL for my sharepoint site (say, docs.acme.org) then I invite a guest user to collaborate on content there, will they also access the site at my custom domain URL?

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6cadc974-5434-4647-6480-996c1e40a2f8
* Version Independent ID: 7953c

[2020-05-21 10:16] icelava commented on #2049
This isn't a tech support issue; it's about the documentation making no mention of the feature. Only a few pages from support.microsoft.com, and other 3rd-party technical communities dominate the topic. If docs.microsoft.com is supposed to be the _authoritative_ source, more writing work needs to be done.

[2020-05-21 13:02] richardjgreen opened #2054 "Time required for CDN set-up and Publication"
The documentation should give an idea how long this will take to come into effect and start working. I've set-up two Organizational Assets Libraries and after several hours, they still aren't visible anywhere. Even if it's just a broad range to give customers an idea how long it could potentially take.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2020-05-21 16:54] kaarins commented on #1957
Yes, it should be changed back to "Office Container" and the link should go to the destination Jim specified. Thanks!

[2020-05-21 16:59] kaarins commented on #1957
A different pull request just came in on this article, and I made this change. Thanks!

[2020-05-21 16:59] #1957 closed

[2020-05-21 18:45] Jeep16 commented on #1996
Additionally "Disable the Window Folder Redirection Group Policy" is not helpful when there is not a "Disable" option on these policies.  They are either configured or not.  So if it is/was configured is it to be just set to 'not configured'?

[2020-05-22 02:10] Rupalikothawade commented on #2039
Seems like it was related to end point pre-requisites, fixed with IE proxy settings.

[2020-05-22 04:26] kaarins commented on #2049
Hi @icelava, thanks for this feedback. We have articles about ransomware, but they are part of other M365 security documentation and don't live with the SharePoint articles. I hope these links help: https://docs.microsoft.com/en-us/windows/security/threat-protection/intelligence/ransomware-malware
https://docs.microsoft.com/en-us/microsoft-365/security/office-365-security/atp-for-spo-odb-and-teams

[2020-05-22 05:30] hwkwicre commented on #1984
I don't think this is a problem with the tenant and therefore does not need a service ticket. I have seen the same thing too

[2020-05-22 07:53] ChristianGalla commented on #1984
According to the support, the documentation can not be entirely correct. Primary aim of the documentation is to prevent data loss. If data is lost, the 3rd level support is able to restore data within 14 days.

[2020-05-22 08:15] rsoakford opened #2057 ""Example_CSV_Map.csv" is not hyperlinked"
In the section "Migrate Users" (anchor https://docs.microsoft.com/en-us/sharepointmigration/mover-o365-to-o365#migrate-users) the text reads: "Download an example CSV: Example_CSV_Map.csv".

However, "Example_CSV_Map.csv" is not hyperlinked.  Could you please either remove that text, or provide a suitable example CSV?  Meanwhile, I appreciate that the section does include the format the CSV file m

[2020-05-22 20:13] JeighBI opened #2059 "Site Settings being migrated"
Even when "Migrate Site Settings" is set to false, Site Features are still being activeated.
Also, when just migrating a single library (with the same settings), Site Features are still being activated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 193d7cc4-4270-f69e-262b-6384a273f835
* Version Independent ID: 6625a0f

[2020-05-22 20:45] lawrencefrias commented on #1900
This would be handy for Teams that need to be truncated due to long SharePoint site names. Any update on this issue?

[2020-05-23 15:46] khairop opened #2060 "The link https://docs.microsoft.com/office-365/compliance/retention-policies is missing"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23c77b51-93e6-ddaf-d49f-6e703ced3b84
* Version Independent ID: 79ecbd91-f096-e6b6-4561-96b41ebe005b
* Content: [SharePoint governance overview - SharePoint Online](https://docs.microsoft.com/en-us/sharepoint/governance-overview)
* Content Source: [Sha

[2020-05-24 11:20] subodhpatil commented on #1509
I don't think this is resolved.
I think the Azure AD conditional access can control only managed/unmanaged devices restriction at site level.
Although conditional access allows specifying public IP address , SharePoint site does not hour that setting.

[2020-05-24 14:11] 3novsan opened #2061 "Local Files Migration to ODFB"
This document mentions that "If you have **files and folders on your computer** or on a network drive, you can use either of the following tools to to migrate that content to your own OneDrive for FREE!"
But Migration Manager and SPMT can be used to migrates files from file shares. I couldn't find any way to migrate files from individual computer to their respective OneDrive.

Can you please provi

[2020-05-25 02:04] Vishni92 opened #2062 "In People Search Result, how can we display user account only?"
Hi,

In a people search result page, we have 1500+ user accounts. But there are several services
accounts added by the company needed.  We want to creat to display only user accounts on people search results page.
For instance; test@xxxx.com,info@xxx.com, helpdesk@xxxx.com, and name@yyy.com
The problem is there are so many accounts we want to exclude and preview. If we use -accountname:test*, but

[2020-05-25 05:43] scanum commented on #2053
@jpg0 thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us pos

[2020-05-25 05:43] #2053 closed

[2020-05-25 05:44] scanum commented on #2054
@richardjgreen @kevball2 thank you for engaging with the community here for the docs.

I know the product teams are always looking for user feedback and how to make SharePoint better. They keep a close tab on user feedback and it would be awesome if you could add your voice in User Voice https://sharepoint.uservoice.com/.

[2020-05-25 05:44] #2054 closed

[2020-05-25 05:44] scanum commented on #2059
@JeighBI thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us

[2020-05-25 05:44] #2059 closed

[2020-05-25 05:44] scanum commented on #2062
@Vishni92 thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us

[2020-05-25 05:44] #2062 closed

[2020-05-25 05:45] scanum commented on #2057
@rsoakford  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-05-25 05:45] scanum commented on #2060
@khairop  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-05-25 05:45] scanum commented on #2061
@3novsan  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-05-25 05:47] scanum commented on #1492
@JoanneHendrickson Could you please help on this issue? Thanks.

[2020-05-25 05:48] scanum commented on #1913
@officedocspr Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-05-25 05:48] #1913 closed

[2020-05-25 05:49] scanum commented on #1936
@msftfdbk  We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-05-25 05:49] #1936 closed

[2020-05-25 05:49] scanum commented on #1988
@SP-lbe Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-05-25 05:49] #1988 closed

[2020-05-25 05:49] scanum commented on #2016
@hwkwicre Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-05-25 05:49] #2016 closed

[2020-05-25 05:49] scanum commented on #2012
@bjpohl Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-05-25 05:49] #2012 closed

[2020-05-25 05:50] scanum commented on #2020
@TristanJamesBall Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-05-25 05:50] #2020 closed

[2020-05-25 05:50] scanum commented on #2033
@bharto Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-05-25 05:50] #2033 closed

[2020-05-25 05:50] scanum commented on #2037
@bramdejager Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-05-25 05:50] #2037 closed

[2020-05-26 03:30] swapz17 opened #2064 "Applies To section"
Applies to section like the one currently available in SharePoint server docs would help to understand which of the SharePoint online documentation applies to SharePoint 2019 server and SharePoint 2016

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6bc5a61a-6ec4-319b-ef96-4c4ed022995c
* Version Independent ID: 9ba50dad

[2020-05-26 05:48] scanum commented on #2064
@swapz17 Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-05-26 05:53] 4x0v7 opened #2065 ""Site"/"Site Collections" naming consistency"
Hi there!

The wiki page mentions

and the M365DSC [page here](https://github.com/microsoft/Microsoft365DSC/wiki/SPOSite) calls them Site Collections

It would be nice to have the naming conventions consistent for SharePoint Online

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7461c2ef-3439-2c86-4dde-8992b62bf9a7
* Ve

[2020-05-26 08:37] osmanteyeb opened #2066 "How to switch SQL Managed Instance hosted in one region to another in case of DR??"
let's assume that I have a SharePoint farm hosted as IaaS, and SQL Managed Instance in a primary region.
also, I have a DR environment in another region that will fallback in case of Disaster.
How the failover of SQL MI will occur in this scenario?

[2020-05-26 15:41] MikePlumleyMSFT commented on #2031
New screenshot should be published sometime tomorrow.

[2020-05-26 18:09] useyourblinker commented on #606
Did this issue find a resolution for anyone? I am experiencing the same thing on two Sharepoint 2010 sites, and the documentation for troubleshooting is scant (read: doesn't exist). We have lots of sites that were using SBS2011 that need to finally move to the cloud, but are stuck with manual migrations and dealing with whatever troubleshooting needs to be done, due to the lack of SMAT.

[2020-05-27 02:56] scanum commented on #2065
@4x0v7  thank you for engaging with the community here for the docs.

I know the product teams are always looking for user feedback and how to make SharePoint better. They keep a close tab on user feedback and it would be awesome if you could add your voice in User Voice https://sharepoint.uservoice.com/.

[2020-05-27 02:56] #2065 closed

[2020-05-27 02:56] scanum commented on #2066
@osmanteyeb thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep

[2020-05-27 02:56] #2066 closed

[2020-05-27 09:25] lindspea commented on #2060
@khairop thank you for reaching out and helping improve MS Docs. Please can you clarity what is missing from the article and in which section. The link you mentioned returns 404 - page not found.

[2020-05-27 09:41] khairop commented on #2060
Hello,

the link https://docs.microsoft.com/en-us/office-365/compliance/retention-policies is missing from titled "Overview of the retention policies" is missing from the page  https://docs.microsoft.com/en-us/sharepoint/governance-overview

[2020-05-27 11:21] radukg opened #2081 "Default document size threshold value misleading"
There are two sections in [article](https://docs.microsoft.com/en-us/sharepoint/install/software-boundaries-and-limits-0) around default document size threshold, in first case it is 250 MB:
"the default document size threshold is set to 250 megabyte (MB)", and in second it is 2 GB: "The default file size is 2 gigabytes (GB) (2,047 MB)". The request is to update 1st sentence in the article as far a

[2020-05-27 12:14] GitUser47 opened #2082 "Home Site and Multi-Geo?"
How do SharePoint home sites work in multi-geo scenarios?
Can I define a home site for each geo-location root or is it still only one home site for the whole organization?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4d251803-3835-ca8f-f664-1a056496fbbe
* Version Independent ID: 58bb7de2-7f44-d53d-8026-0f5023dcd9f9
*

[2020-05-27 13:43] MikePlumleyMSFT commented on #2064
@swapz17 the SharePoint Online documentation is meant only for SharePoint Online. It does not apply to SharePoint Server.

[2020-05-27 22:36] JoanneHendrickson commented on #1735
Addressing a number of comments from above.
SPMT does not delete content from the source -- it copies.
Incremental passes are handled depending on your settings. See here:  https://docs.microsoft.com/en-us/sharepointmigration/how-to-use-the-sharepoint-migration-tool#incremental-migration

The migration of content types and term stores is supported. Global term store migration requires global tenan

[2020-05-27 22:50] JoanneHendrickson commented on #1492
confirming with product, will update shortly

[2020-05-27 23:07] JoanneHendrickson commented on #1492
Yes -- later versions of the OS are supported. updating topic now.

[2020-05-27 23:07] #1492 closed

[2020-05-27 23:17] JoanneHendrickson commented on #1735
updated topic.

[2020-05-27 23:17] #1735 closed

[2020-05-27 23:21] JoanneHendrickson commented on #1520
Found the original art (its in AI) and am updating it.

[2020-05-27 23:42] gregbnz commented on #1735
Thanks Joanne, my question was not about SPMT deleting from source - rather SPMT removing files from SPO when they are deleted from the source.

The requirement stems from large file shares needing several days to upload. By the time they have finished, some of the files in the source have been deleted or moved. I am looking for SPMT to add the functionality (potentially as a selectable option) to

[2020-05-28 00:21] JoanneHendrickson commented on #1520
Art fixed.

[2020-05-28 00:21] #1520 closed

[2020-05-28 00:59] JoanneHendrickson commented on #1735
Hi Greg:  I am going to pull in a PM on this -- can you email me at jhendr@microsoft.com and we can take this conversation from there.

[2020-05-28 02:10] Aynyuh opened #2083 "Missed logincdn.msauth.net in list of endpoints required for OneDrive"
The article doesn't contain endpoint logincdn.msauth.net:443 although it's required to load page https://login.live.com/ correctly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4308cb37-c2e4-e751-c62f-07bef7b50c14
* Version Independent ID: 29ae5f3f-50e4-a9fb-7c1c-0b56f236e214
* Content: [Required URLs and ports for O

[2020-05-28 05:28] scanum commented on #2081
@radukg Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-05-28 05:28] scanum commented on #2083
@Aynyuh Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-05-28 05:29] scanum commented on #2082
@GitUser47 thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep u

[2020-05-28 05:29] #2082 closed

[2020-05-28 09:57] habex-ch opened #2085 "How to change the search scope back to site wide?"
Is there a way to change back the search scope to site?
E.g. we have an Intranet so we wonna have the home-button in the SharePoint-App but the search scope should still be our Intranet site

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4d251803-3835-ca8f-f664-1a056496fbbe
* Version Independent ID: 58bb7de2-7f44-d53d-

[2020-05-28 11:12] satyamg448 opened #2086 "Limited Access Not working on OneDrive user accounts"
We would like enable the web-limited access for all of our OneDrive files. We do not want the restrictions to apply to other SharePoint collections.
I ran the below mentioned command and its executed successfully.
PS C:\WINDOWS\system32> Set-SPOSite -Identity https://CompanyName-my.sharepoint.com -ConditionalAccessPolicy AllowLimitedAccess

Now when I ran the below command to check the conditional

[2020-05-28 14:18] get-itips commented on #2083
Hello @Aynyuh
The article lists the endpoints needed by the OneDrive client (OneDrive.exe), not the endpoints needed for the web browser to login to login.live.com.

Also checked with a http sniffer.

You also can find *.msauth.net in the [referenced article](https://docs.microsoft.com/en-us/office365/enterprise/urls-and-ip-address-ranges)

[2020-05-28 18:03] junterpfe opened #2087 "Need a statement that this is not Supported by Microsoft."
after contacting support due to an issue with deploying these sample sites we have been told that in no way is any of this supported by Microsoft. it should state this clearly on this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 524a79c8-760d-3141-9840-17fc7d55c279
* Version Independent ID: 2681ae66-d048-5c2e-6

[2020-05-28 23:16] get-itips commented on #2081
Thanks for noticing and reporting @radukg

[2020-05-29 04:29] dsghi opened #2090 "Error codes not listed"
0x01110010
0x0111000F

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 05218c9e-0104-3116-2f0e-b5a53b2c9b75
* Version Independent ID: b680d4fa-78e9-6a3d-cd3e-0686c187018d
* Content: [Troubleshooting Migration Manager - Migrate to SharePoint and OneDrive](https://docs.microsoft.com/en-us/sharepointmigration/mm-troubleshoo

[2020-06-01 04:05] scanum commented on #1911
@Ritty5 thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us p

[2020-06-01 04:05] #1911 closed

[2020-06-01 04:18] scanum commented on #2044
@cabtilx Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-06-01 04:18] #2044 closed

[2020-06-01 04:18] scanum commented on #2051
@tanktopArmy Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-06-01 04:18] #2051 closed

[2020-06-01 04:18] scanum commented on #2060
@khairop Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-06-01 04:18] #2060 closed

[2020-06-01 04:20] scanum commented on #2081
@radukg Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-06-01 04:20] #2081 closed

[2020-06-01 04:20] scanum commented on #2083
@Aynyuh Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-06-01 04:20] #2083 closed

[2020-06-01 04:20] scanum commented on #2085
@habex-ch thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us

[2020-06-01 04:20] #2085 closed

[2020-06-01 04:20] scanum commented on #2086
@satyamg448 thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep

[2020-06-01 04:20] #2086 closed

[2020-06-01 04:20] #2087 closed

[2020-06-01 04:20] scanum commented on #2090
@dsghi Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-06-01 10:12] lindspea commented on #2090
@dsghi thank you for reaching out and helping improve MS Docs. @JoanneHendrickson are these two error codes still to be updated here?

[2020-06-01 10:15] lindspea commented on #1997
@jwojan Thank you for reaching out and helping improve MS Docs. It looks like the link has been fixed in the interim. Please could you check and confirm from your side. Thanks again.

[2020-06-01 22:40] dsghi opened #2092 "How does scripting affect cross-site copy?"
Support pages from both [OneDrive](https://support.microsoft.com/en-gb/office/copy-files-and-folders-between-onedrive-and-sharepoint-sites-67a6323e-7fd4-4254-99a8-35613492a82f?ui=en-us&rs=en-gb&ad=gb) and [SharePoint](https://support.office.com/en-us/article/move-or-copy-files-in-sharepoint-00e2f483-4df3-46be-a861-1f5f0c1a87bc) regarding file copying/moving between sites reference this page for ad

[2020-06-02 00:00] cartergreen commented on #1996
Thank you all for your feedback.  I followed up with the Windows Folder Redirection policies and here are the two pieces of support ([link](https://docs.microsoft.com/en-us/previous-versions/windows/it-pro/windows-server-2012-R2-and-2012/dn789199(v%3dws.11))) around configuring and disabling the policies.

1. Set the Policy Removal option to "Leave the folder in the new location when policy is rem

[2020-06-02 10:23] lindspea commented on #2052
@aurasa thank you for reaching out. Please have a look at this article and let me know if it helps at all - https://docs.microsoft.com/sharepointmigration/how-to-format-your-csv-file-for-data-content-migration

[2020-06-02 10:26] lindspea commented on #2045
@cabtilx thank you for reaching out and helping improve MS Docs. Please can you be a bit more specific about which section of this article needs to be updated with that information so that I can assist further.

[2020-06-02 11:32] lindspea commented on #2061
@3novsan Thank you for reaching out and helping improve MS Docs. Please have a look at this article and let me know if it helps at all. https://techcommunity.microsoft.com/t5/microsoft-onedrive-blog/migrate-your-files-to-onedrive-easily-with-known-folder-move/ba-p/207076

[2020-06-02 12:08] cabtilx commented on #2045
Hi @lindspea

Where it says "Access to the destination: You must either be a global admin or SharePoint admin to the Microsoft 365 tenant where you want to migrate your content." This suggests the destination has to be SharePoint. OneDrive is not mentioned on the document at all yet this is also a valid destination.

[2020-06-02 23:49] IGotKids opened #2097 "SharePoint 2019 with Azure SQL Managed Instance"
Unable to create SharePoint Content/Service application databases without using the SQL MI Account. I followed the limited instruction here: https://docs.microsoft.com/en-us/sharepoint/administration/deploy-azure-sql-managed-instance-with-sharepoint-servers-2016-2019

Is this be design?

[2020-06-03 02:41] scanum commented on #2092
@dsghi thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us po

[2020-06-03 02:41] #2092 closed

[2020-06-03 02:41] scanum commented on #2097
@IGotKids thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us

[2020-06-03 02:41] #2097 closed

[2020-06-03 05:48] 3novsan opened #2098 "OneDrive- Silent Account Configuration"
This Article mentions "If you federate your on-premises Active Directory with Azure AD, you must use AD FS to enable this feature." You should provide more clarity there, such as :
1. Does that mean that if we have ADFS in our environment then we don't need to setup this GPO Settings?
2. Do we need to have Hybrid AD Joined devices even if we have ADFS in our environment?
3. If Hybrid AD Joined con

[2020-06-03 09:50] hwkwicre opened #2100 "Suggestion"
Site permissions: Use Remote Interfaces
It might be a good idea to explain here what remote interfaces are.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2f072d4a-23e6-d73f-397e-4ffc000570a9
* Version Independent ID: 1ee08317-82cd-9f23-a1e9-d2380fb7ff78
* Content: [Understanding permission levels in SharePoint - Share

[2020-06-03 09:53] trajano opened #2101 "Put a link to the UserVoice entry for this one so people can get an update"
Add a link on the page to https://sharepoint.uservoice.com/forums/329214-sites-and-collaboration/suggestions/13217277-enable-renaming-the-site-collection-urls

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7fff5ef6-b4cc-5a18-10a8-7b5182e2deae
* Version Independent ID: 8176e436-b25b-e455-09ac-be08bea2bfcb
* Content: [Ch

[2020-06-03 12:29] loaderladdy opened #2102 "OneDrive.admx file is broken"
the onedrive.admx file supplied with version 19.222.1110.0011 doesn't work in either GPMC or GPEdit because of an error at Line 337 column 308, i.e.

`  <policy name="LocalMassDeleteFileDeleteThreshold" class="Machine" displayName="$(string.LocalMassDeleteFileDeleteThreshold)" explainText="$(string.LocalMassDeleteFileDeleteThreshold_help)" presentation="$(presentation.LocalMassDeleteFileDeleteThre

[2020-06-03 17:02] nvgni opened #2103 "example URL is not working - https://microsoft-my.sharepoint.com/personal/user1_contoso_com"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4bca1c5d-b73f-1780-b002-81c8f7ef4c0a
* Version Independent ID: 8a98d773-6bb4-8182-5405-2ce80c5b54ea
* Content: [Change a specific user's OneDrive storage space - OneDrive](https://docs.microsoft.com/en-us/onedrive/change-user-storage)
* Content Source

[2020-06-03 17:15] nvgni opened #2104 "the command is not woring"
[Enter feedback here]
when i use this command , I am getting the below errror

of site collection are '-Identity', '-AllowDownloadingNonWebViewableFiles', '-AllowEditing', '-ConditionalAccessPolicy', '-DefaultLinkPermission',
'-DefaultSharingLinkType', '-DisableCompanyWideSharingLinks', '-LimitedAccessFileType', '-LockState', '-Owner', '-SharingAllowedDomainList', '-SharingBlockedDomainList',
'-Sh

[2020-06-03 17:54] eschrader opened #2105 "Admin rights"
Is there a way to deploy a list site design (or apply one) without SP Tenant Admin or Global Admin rights? Such as SCA or Owner? PowerShell connection is to the tenant, but even REST SP Context gets access denied when trying to add the template (I can GET templates however)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2020-06-04 06:21] legendgod opened #2107 "What do you mean by 'STS' and 'WSS' packages?"
I have not seen the term 'STS' long time. Is it indicate SharePoint Team Server?
Should the term ['STS' and 'WSS' packages] replaced by [Cumulative update packages]?

[2020-06-04 10:07] lindspea commented on #1872
@hisuzuki thank you for reaching out and helping improve MS Docs. This article was recently updated. Please let me know if you still need help.

[2020-06-04 10:17] PhilB-MSFT opened #2108 "Phase 2 - References SQL VM image that is no longer available."
The existing Azure PowerShell is incorrect:

`$vm=Set-AzVMSourceImage -VM $vm -PublisherName MicrosoftSQLServer -Offer SQL2014SP1-WS2012R2 -Skus Standard -Version "latest"`

This results in the error:
ErrorCode: PlatformImageNotFound
ErrorMessage: The platform image 'MicrosoftSQLServer:SQL2014SP1-WS2012R2:Standard:latest' is not available. Verify that all fields in the storage profile are correct.

[2020-06-04 10:20] lindspea commented on #1879
@swatt6400 thank you for reaching out and helping improve MS Docs. I see the article has recently been updated. From what I've researched I think the correct term is site collection administrator, so I don't think they are separate entities (site administrator/collection administrator) Please let me know if you need further help.

[2020-06-04 10:35] lindspea commented on #1973
@jonwbstr Thank you for reaching out and helping improve MS Docs. This article has also been updated recently, so please let me know if you still need help. Here is another page to have a look at - https://techcommunity.microsoft.com/t5/azure-active-directory-identity/conditional-access-8220-limited-access-8221-policies-for/ba-p/245228.

[2020-06-04 10:43] lindspea commented on #1986
@chaplic thank you for pointing this out. This article has been updated recently and a few changes made, so please let me know if you still need assistance.

[2020-06-04 10:47] lindspea commented on #1996
@stche thank you for reaching out and helping improve MS Docs. Thanks also @cartergreen.  Please let me know if this issue is solved and can be closed.

[2020-06-04 11:21] FadelH opened #2112 "No IPs Provided"
Hi team,

We need to whitelist mover's IPs but I can't find these is the article

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 655d8e8e-ff4d-ad9a-4962-417499d583f6
* Version Independent ID: 1b333710-811a-4fdd-d51f-81e3f9027135
* Content: [How to Migrate from On-premises file shares to Microsoft 365 - Migrate to ShareP

[2020-06-04 14:56] paololec opened #2113 "SharePoint Migration Tool support"
Please add clear indication that the tool contains many bug and there is no support and no fix from Microsoft (es. some lists copied with wrong data for all versions of the tools).  I try also some MS official forum and other methods but not have any answer on bug that I have. After eight months!! no solution/no improvements. Also missing sp2019 support.
So it's neeed to use other pay tools for re

[2020-06-05 01:48] scanum commented on #2098
@3novsan thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us

[2020-06-05 01:48] #2098 closed

[2020-06-05 01:48] scanum commented on #2102
@loaderladdy thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep

[2020-06-05 01:48] #2102 closed

[2020-06-05 01:49] scanum commented on #2104
@nvgni thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us po

[2020-06-05 01:49] #2104 closed

[2020-06-05 01:50] scanum commented on #2105
@eschrader thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep u

[2020-06-05 01:50] #2105 closed

[2020-06-05 01:50] scanum commented on #2107
@legendgod thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep u

[2020-06-05 01:50] #2107 closed

[2020-06-05 01:50] scanum commented on #2108
@PhilB-MSFT Hi Phil, thanks for your feedback. Could you link the article you are referring to? Thanks!

[2020-06-05 01:53] scanum commented on #2101
@trajano Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-06-05 01:53] scanum commented on #2100
@hwkwicre Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-06-05 01:53] scanum commented on #2112
@FadelH Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-06-05 01:53] scanum commented on #2113
@paololec Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-06-05 02:16] eschrader commented on #2105
I used PnP templates.
$siteURL = "https://companyname.sharepoint.com/sites/contoso"
cd C:\users\User1\Desktop\
Connect-PnPOnline -Url $siteURL
$template = Read-PnPProvisioningTemplate -Path .\MyModernTemplate.xml
$template
$template.Lists
Save-PnPProvisioningTemplate -Template $template -Out .\template.pnp

Apply-PnPProvisioningTemplate -Path template.pnp -TemplateId TEMPLATE-BIGOLDIDHERE -Verbose

[2020-06-05 07:17] richard-artes opened #2114 "How to change the language for the e-mails sent out from shares"
If you share a document, it sends an email to the person the document is shared with. In the wrong language.
How do you change the language of the e-mails sent out?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3106844b-caae-38c5-3c88-fb17a9d67536
* Version Independent ID: 3e88e60e-24a3-cd83-9bf

[2020-06-05 08:00] HansGrunberg opened #2115 "Please update this document concerning if this feature is supported for Office package on MAC."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5bacce83-65f6-b862-e413-09122aee356d
* Version Independent ID: 5c4e1169-1d5d-6e0d-d574-f3aaba0a5d92
* Content: [Create an organization assets library - SharePoint Online](https://docs.microsoft.com/en-us/sharepoint/organization-assets-library)
* Conte

[2020-06-05 08:01] PhilB-MSFT commented on #2108
My bad - I assumed that the issue linked to the page I was viewing. For the SQL docs I usually just go ahead and edit and create a PR, but thought there should be some sanity checks by the SP team in case there is an issue with using the Service Pack 3 image for some reason.

The docs page that references an image that is no longer available is [https://docs.microsoft.com/en-us/sharepoint/administ

[2020-06-05 18:21] iburg opened #2116 "What are the available Intune Policies for OneDrive"
Please add the available Intune policies for OneDrive.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 04ad2f16-c861-7a1b-5c1d-e4601e8f3855
* Version Independent ID: c47df4cd-f706-d807-5eac-172fba1e500f
* Content: [Use Group Policy to control OneDrive sync settings - OneDrive](https://docs.microsoft.com/en-us/onedrive/u

[2020-06-05 20:26] swatt6400 commented on #1879
Thanks for following it up and improving the docs!

    On 6/4/2020 7:20 AM, Lindsay wrote:

      @swatt6400
        thank you for reaching out and helping improve MS Docs. I see
        the article has recently been updated. From what I've researched
        I think the correct term is site collection administrator, so I
        don't think they are separate entities (site
        administrator/

[2020-06-05 23:13] mpsprouse commented on #1361
Do you have any other information on managing the OneDrive updates using System Center? We do not see the product "OneDrive" listed as an available product in on the Software Update Point.

Thank you

[2020-06-08 02:36] scanum commented on #2114
@richard-artes I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us posted here on the resolution

[2020-06-08 02:36] #2114 closed

[2020-06-08 02:37] scanum commented on #2115
@scanum Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-06-08 02:37] scanum commented on #2116
@iburg Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-06-08 14:48] VinceyNoir commented on #1996
I suspect @stche is having problems as he's on a VPN, where the documents that @cartergreen is referring to is assuming you're sat on the corporate network "at the office" so to speak. As the folder redirection policy applies at boot/log on, the policy doesn't apply as the vpn tunnel isn't up at this point. I'm seeing the same thing.

[2020-06-08 15:24] paololec opened #2117 "Need to be more specific"
docs page report:
"However, during evening and weekend hours for the region, the service will be ready to process a significantly higher volume of requests from background apps."

Please specify more details, example:
-in europe region evening (from 6pm to 8am), weekend (saturday,sun).
-higher volume of request (throttling is active or not during evening ?): I want details similar as expect at lea

[2020-06-08 17:21] Sekers opened #2118 "Preprovision Code Incomplete"
The sample PowerShell code does not provision oneddrive for users if it there are fewer than 200 or for the last x number of users above a multiple of 200.

This command needs to be run one more time after the foreach loop finishes:

Request-SPOPersonalSite -UserEmails $list

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2020-06-08 17:22] Sekers commented on #2118
I also recommend adding in some verification code such as the following:

$provisioned_accounts_list = Get-SPOSite -IncludePersonalSite $true -Limit all -Filter "Url -like '-my.sharepoint.com/personal/'" | Select-Object -ExpandProperty Url
Write-Host Count is $provisioned_accounts_list.count
Write-Host $provisioned_accounts_list -Separator ([environment]::NewLine)

[2020-06-09 04:42] scanum commented on #2103
@nvgni Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-06-09 04:42] scanum commented on #2117
@paololec Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-06-09 04:42] scanum commented on #2118
@Sekers Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-06-09 07:20] MagnusGoksoyr opened #2119 "Required Office Build"
Which Office Build must the users be on in order to use this funtionality?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5bacce83-65f6-b862-e413-09122aee356d
* Version Independent ID: 5c4e1169-1d5d-6e0d-d574-f3aaba0a5d92
* Content: [Create an organization assets library - SharePoint in Microsoft 365](https://docs.micr

[2020-06-09 12:30] yvesrosius opened #2120 "Note 2 describes incompatibility, but is not clear about built-in enforced MFA"
_"""
Silent account configuration won't work on devices for users who require multi-factor authentication. Select third-party identity providers (IdPs) are supported, but there are caveats. For more information, make sure to check out the Azure AD federation compatibility list._
"""_

Is this only an issue for third-party or is Microsoft MFA also blocking?

[Enter feedback here]

---
#### Document

[2020-06-09 15:59] nielsranosch opened #2121 "Multi-user clients and Transition from the Windows Folder Redirection"
Hi!

While I agree with the general idea of using a background copy job for migrating from a Folder Redirection scenario to OneDrive, there seems to be a design gap when multi-user clients are in use. The main cause for these issues is that OneDrive's KFM GPO settings are machine settings, although they should be user settings.

For example: If "Silently move Windows known folders to OneDrive" (KF

[2020-06-09 22:43] ric-HTS commented on #1885
can i use JSON or csv to mass migrate data from user folders in sharepoint to their onedrive in the same tenant?

source : sharepoint/folder
destination onedrive_user/folder

[2020-06-10 02:58] scanum commented on #2119
@MagnusGoksoyr Thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please ke

[2020-06-10 02:58] #2119 closed

[2020-06-10 02:58] scanum commented on #2120
@yvesrosius Thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep

[2020-06-10 02:58] #2120 closed

[2020-06-10 02:59] scanum commented on #2121
@nielsranosch Thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please kee

[2020-06-10 02:59] #2121 closed

[2020-06-10 02:59] scanum commented on #1232
@xuguang-sp Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-06-10 02:59] #1232 closed

[2020-06-10 03:00] #1872 closed

[2020-06-10 03:00] scanum commented on #1879
@swatt6400 Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-06-10 03:00] #1879 closed

[2020-06-10 03:00] scanum commented on #1882
@Disc0veryX Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-06-10 03:00] #1882 closed

[2020-06-10 03:00] scanum commented on #1883
@Disc0Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.
veryX

[2020-06-10 03:00] #1883 closed

[2020-06-10 03:01] scanum commented on #1973
@jonwbstr Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-06-10 03:01] #1973 closed

[2020-06-10 03:01] scanum commented on #1986
@chaplic Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-06-10 03:01] #1986 closed

[2020-06-10 03:01] scanum commented on #1997
@jwojan Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-06-10 03:01] #1997 closed

[2020-06-10 03:01] scanum commented on #1999
@ImmortalFeb Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-06-10 03:01] #1999 closed

[2020-06-10 03:01] scanum commented on #2010
@EEmpire Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-06-10 03:01] #2010 closed

[2020-06-10 03:01] scanum commented on #2052
@aurasa Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-06-10 03:01] #2052 closed

[2020-06-10 03:02] scanum commented on #2061
@3novsan Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-06-10 03:02] #2061 closed

[2020-06-10 10:38] ChristianGalla opened #2122 "Change a site address documentation of Recent lists misleading"
Hello,

I think the following paragraph should be extended or a new one created:

Updated is only the recent list in the home screen **inside** the app. If you for example right click on the app in the taskbar, there is still the old location linked in the list of pinned or recent opened files. If you try to open such a link, for example Excel is prompting that it is unable to open the file becaus

[2020-06-10 12:56] causeway74 opened #2123 "Records Management"
Can you please add some clarity on the records management feature. Does this preserve record declaration settings in the target? Do files need to be undeclared as records in advance of migration? Thanks

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3c911d1d-3570-6e0a-cfa7-77b7516a1f55
* Version Independent ID: 261252f

[2020-06-10 23:24] cartergreen commented on #2047
There is no difference between the two Manual vs Policy-enabled.  They perform the same operation they are just controlled or rather triggered from two different sources.  If an admin would like to deploy Known Folder Move across their environment they would use these policies instead of relying on user's manually enabling the feature.

[2020-06-10 23:33] neiljackson1984 opened #2125 "missing commas in example json"
The example json content is not valid json; several commas are missing, there is an extra comma, and the the backslashes in the strings are not escaped.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7331acc8-e10a-d41b-2f8d-0bc991987f3c
* Version Independent ID: e42887fd-650c-259d-706a-635eacc08a76
* Content: [How to f

[2020-06-11 05:39] beaucoup1980 opened #2126 "bad link: Configure and deploy mobile application management policies in the Microsoft Intune console"
link: Configure and deploy mobile application management policies in the Microsoft Intune console (https://go.microsoft.com/fwlink/?linkid=2003554)

resolves to a 404: https://docs.microsoft.com/en-us/intune/deploy-use/configure-and-deploy-mobile-application-management-policies-in-the-microsoft-intune-console

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2020-06-11 05:46] scanum commented on #2122
@ChristianGalla  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-06-11 05:46] scanum commented on #2123
@causeway74  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-06-11 05:46] scanum commented on #2125
@neiljackson1984  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-06-11 05:46] scanum commented on #2126
@beaucoup1980  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-06-12 18:56] kaarins commented on #2116
@iburg thank you. We're working on this! (Long overdue, I know)

[2020-06-12 19:02] cartergreen commented on #1996
@PaulLeRoy1028 I recognize that working right now is difficult since a lot of us are working from home.  Applying policies that are applied on boot/log on can be difficult due to VPM tunneling. Try running ‘gpupdate /force’ is almost equal to boot/log on experience and should solve your problem. GP will blindly re-apply all the policies and further periodic refresh will not alter them if they are